<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ux="http://java.sun.com/jsf/composite/ux"
      xmlns:f="http://java.sun.com/jsf/core">

    <body>

        <ui:composition template="./../../WEB-INF/Template-ADMIN.xhtml">
            <ui:define name="conteudo">
                <f:metadata>  
                    <f:event type="preRenderComponent" listener="#{vendasMB.carregarEmpresaSessao(controleSessaoMB.usuarioLogado.idEmpresa)}" />  
                </f:metadata> 
                <p:panel header="Vendas">
                    <h3>Pedidos</h3>
                    <p:messages closable="true" id="mess" />
                    <hr/>
                    <p:dataTable  value="#{vendasMB.vendasLazy}" 
                                  paginator="true" rows="10" lazy="true" var="vend" 
                                  id="vendas" emptyMessage="Nenhuma venda encontrada!" paginatorPosition="bottom" paginatorAlwaysVisible="false" >
                        <p:column  style="width: 16px">
                            <p:rowToggler />
                        </p:column>
                        <p:column headerText="Pedido" width="5%" style="font-size: 10px; text-align: center;">
                            <h:outputText value="#{controleSessaoMB.subString(vend.lote,4)}" />
                        </p:column>
                        <p:column headerText="Cliente" width="20%" style="font-size: 10px;">
                            <h:outputText value="#{vend.usuario.idCliente.primeiroNome} #{vend.usuario.idCliente.sobrenome} " />
                        </p:column>
                        <p:column headerText="Valor" width="10%" style="font-size: 10px;">
                            <ux:outputMoney value="#{vend.valor}" />
                        </p:column>

                        <p:column headerText="Data"  width="10%" style="font-size: 10px;">
                            <ux:outputDate value="#{vend.dt_venda}" />
                        </p:column>
                        <p:column headerText="Status"  width="8%" style="font-size: 10px;">
                            <h:outputText value="#{vend.status == 'IN_ANALISYS' ? 'Em Análise': vend.status}"   />
                        </p:column>
                        <p:column headerText="Entrega"  width="8%" style="font-size: 10px;">
                            <h:outputText value="#{vend.situacaoEntrega}"  />
                        </p:column>
                        <p:column   width="10%">
                            <p:commandButton icon="Frete" action="#{vendasMB.selecionarPedidos(vend.lote)}" disabled="#{vendasMB.checkEntrega(vend.situacaoEntrega)}" update=":frmRatreio" 
                                             oncomplete="PF('dlgConfirmarEnvio').show();" title="Confirmar Envio"  styleClass="btn btn-success" />
                            <p:commandButton icon="Excluir" title="Cancelar Pedido" disabled="#{vend.status != 'Aguardando pagamento'}" 
                                             styleClass="btn btn-danger" />
                        </p:column>
                        <p:rowExpansion>
                            <p:rowExpansion>
                                <h3>Produtos</h3>
                                <p:dataTable value="#{deliveryMB.listarComprasPorLote(vend.lote)}" var="prod">
                                    <p:column headerText="Produto" width="35%">
                                        <table>
                                            <tr >
                                                <td style="border: none !important; width: 120px;"><p:graphicImage value="/upload/Produto/#{prod.idProduto.idProduto}/#{prod.idProduto.fotoPrincipal}"  styleClass="img-responsive" style="width: 100px; height: 100px;" /></td>
                                                <td style="border: none !important;"><h:outputText value="#{prod.idProduto.nome}" /></td>
                                            </tr>
                                        </table>
                                    </p:column>
                                    <p:column headerText="Quantidade"  width="10%" styleClass="text-center">
                                        <h:outputText value="#{prod.quantidade}" />
                                    </p:column>
                                    <p:column  headerText="Valor" width="10%" styleClass="text-center">
                                        <h:outputText value="#{prod.valorCompra}" >
                                            <f:convertNumber type="currency" />
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="Total" width="10%"  styleClass="text-center">
                                        <h:outputText value="#{prod.valorCompra.multiply(prod.quantidade)}" >
                                            <f:convertNumber type="currency" />
                                        </h:outputText>
                                    </p:column>
                                </p:dataTable>
                            </p:rowExpansion>
                        </p:rowExpansion>
                    </p:dataTable>
                </p:panel>
                <p:dialog id="dlg" widgetVar="dlgConfirmarEnvio" header="Confirmar Envio de Marcadoria" width="50%" modal="true" draggable="false" resizable="false" position="top center" >
                    <script>
                        function tes1(clas){
                            $("button."+clas+" > .ui-button-text").html('Aguarde');
                            $("button."+clas+" > .ui-icon").removeClass('confirmar').addClass( 'Carregando' );
                            document.getElementById('frm:btn').disabled = true;
                        }
                        function tes2(clas){
                            $("button."+clas+" > .ui-button-text").html('Confirmar Envio de Mercadoria');
                            $("button."+clas+" > .ui-icon").removeClass( 'Carregando' ).addClass( 'confirmar' );
                            document.getElementById('frm:btn').disabled = false;
                        }
                    </script>
                    <h:form id="frmRatreio">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4>Confirmação do envio/retirada destas mercadorias?</h4>
                                <h:outputText value="Você " />
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Produto</th>
                                            <th>Quantidade</th>
                                            <th>Valor</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ui:repeat value="#{vendasMB.comprasSelecionadas}" var="cmp" >
                                            <tr>
                                                <td><h:outputText value="#{cmp.idProduto.nome}" /></td>
                                                <td><h:outputText value="#{cmp.quantidade}" /></td>
                                                <td><ux:outputMoney value="#{cmp.valorCompra}" /></td>
                                                <td><ux:outputMoney value="#{cmp.valorTotal}" /></td>
                                            </tr>
                                        </ui:repeat>
                                    </tbody>
                                </table>
                                <h4>Endereço de Entrega</h4>
                                <div class="col-lg-12">
                                    <div class="well" style="width: 100% !important;">
                                        <h:outputText value="#{vendasMB.enderecoEntrega()}" />
                                    </div>
                                </div>
                                <p:outputLabel for="cod" value="Código de Rastreamento/Mensagem"/>
                                <p:inputText id="cod" value="#{vendasMB.compra.codigoRastreamentoEntrega}"  required="true"/>
                                <hr/>
                                <p:commandButton id="btnEnvio" value="Confirmar Envio de Mercadoria"  icon="confirmar" styleClass="btn btn-primary bot" update=":vendas, @form, :mess" action="#{vendasMB.atualizarEntrega()}" onclick="tes1('bot')"
                                                 oncomplete="tes2('bot'); if(!args.validationFailed )PF('dlgConfirmarEnvio').hide();"/>
                            </div>
                        </div>
                    </h:form>
                </p:dialog>
            </ui:define>

        </ui:composition>

    </body>
</html>
