<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ux="http://java.sun.com/jsf/composite/ux">

     <body>

          <ui:composition template="./../../WEB-INF/Template-ADMIN.xhtml">

               <ui:define name="conteudo">
                    <p:panel header="Configurações">
                         <h:form id="frmConfig">
                              <div class="row">
                                   <div class="col-lg-12">
                                        <div style="float: left">
                                             <p:commandButton value="Salvar" icon="Salvar" action="#{configuracaoMB.salvar()}" update="@form" styleClass="btn btn-success" >
                                                  <f:param name="mode" value="true"  />
                                             </p:commandButton>
                                        </div>
                                        <div style="float: right">
                                        </div>
                                   </div>
                              </div>
                              <div class="row">
                                   <div class="col-xs-12 ">
                                        <hr/>
                                   </div>
                                   <div class="col-lg-12">
                                        <p:messages closable="true" />
                                   </div>
                                   <div class="col-lg-12">
                                        <p:tabView >
                                             <p:tab title="Configurações do Site" >
                                                  <div class="row">
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
                                                            <p:outputLabel for="titulo" value="Titulo do Site" />
                                                            <p:inputText id="titulo" value="#{configuracaoMB.configuracao.title}"  />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
                                                            <p:outputLabel for="slogan" value="Slogan do Site" />
                                                            <p:inputText id="slogan" value="#{configuracaoMB.configuracao.slogan}"  />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
                                                            <p:outputLabel for="metatag" value="Meta Tag Description" />
                                                            <p:inputText id="metatag" value="#{configuracaoMB.configuracao.metatagDescription}"  />
                                                       </div>

                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
                                                            <p:outputLabel for="missao" value="Missão" />
                                                            <p:inputText id="missao" value="#{configuracaoMB.configuracao.missao}"  />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
                                                            <p:outputLabel for="visao" value="Visão" />
                                                            <p:inputText id="visao" value="#{configuracaoMB.configuracao.visao}"  />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
                                                            <p:outputLabel for="valores" value="Valores" />
                                                            <p:inputText id="valores" value="#{configuracaoMB.configuracao.valores}"  />
                                                       </div>

                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
                                                            <p:outputLabel for="nossos_servicos1" value="Nossos Serviços 1" />
                                                            <p:inputText id="nossos_servicos1" value="#{configuracaoMB.configuracao.nossosServicosTexto1}"  />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
                                                            <p:outputLabel for="nossos_servicos2" value="Nossos Serviços 2" />
                                                            <p:inputText id="nossos_servicos2" value="#{configuracaoMB.configuracao.nossosServicosTexto2}"  />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
                                                            <p:outputLabel for="nossos_servicos3" value="Nossos Serviços 3" />
                                                            <p:inputText id="nossos_servicos3" value="#{configuracaoMB.configuracao.nossosServicosTexto3}"  />
                                                       </div>

                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
                                                            <p:outputLabel for="email_contato" value="Email de Contato" />
                                                            <p:inputText id="email_contato" value="#{configuracaoMB.configuracao.emailContato}"  />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
                                                            <p:outputLabel for="facebook" value="Facebook" />
                                                            <p:inputText id="facebook" value="#{configuracaoMB.configuracao.facebook}"  />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
                                                            <p:outputLabel for="google_plus" value="Google Plus" />
                                                            <p:inputText id="google_plus" value="#{configuracaoMB.configuracao.googlePlus}"  />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
                                                            <p:outputLabel for="instagram" value="Instagram" />
                                                            <p:inputText id="instagram" value="#{configuracaoMB.configuracao.instagram}"  />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
                                                            <p:outputLabel for="twitter" value="Twitter" />
                                                            <p:inputText id="twitter" value="#{configuracaoMB.configuracao.twitter}"  />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-2">
                                                            <p:outputLabel for="cep" value="CEP" />
                                                            <p:inputText id="cep" value="#{configuracaoMB.configuracao.cep}"  />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-2">
                                                            <p:outputLabel for="tipo_logradouro" value="Tipo de Logradouro" />
                                                            <p:inputText id="tipo_logradouro" value="#{configuracaoMB.configuracao.tipoLogradouro}"  />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
                                                            <p:outputLabel for="logradouro" value="Logradouro" />
                                                            <p:inputText id="logradouro" value="#{configuracaoMB.configuracao.logradouro}"  />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-1">
                                                            <p:outputLabel for="numero" value="Número" />
                                                            <p:inputText id="numero" value="#{configuracaoMB.configuracao.numero}"  />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-2">
                                                            <p:outputLabel for="bairro" value="Bairro" />
                                                            <p:inputText id="bairro" value="#{configuracaoMB.configuracao.bairro}"  />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-2">
                                                            <p:outputLabel for="complemento" value="Complemento" />
                                                            <p:inputText id="complemento" value="#{configuracaoMB.configuracao.complemento}"  />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-2">
                                                            <p:outputLabel for="telefones" value="Telefones" />
                                                            <p:inputText id="telefones" value="#{configuracaoMB.configuracao.telefones}"  />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-2">
                                                            <p:outputLabel for="codigo_correios" value="Codigo dos Correios" />
                                                            <p:inputText id="codigo_correios" value="#{configuracaoMB.configuracao.codigoCorreios}"  />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
                                                            <p:outputLabel for="metatag_keywords" value="Meta Tag Keywords" />
                                                            <p:inputTextarea id="metatag_keywords" value="#{configuracaoMB.configuracao.title}" style="width: 100% !important;"  autoResize="false" rows="5" />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
                                                            <p:outputLabel for="quem_somos" value="Quem Somos" />
                                                            <p:inputTextarea id="quem_somos" value="#{configuracaoMB.configuracao.quemSomos}" style="width: 100% !important;"  autoResize="false" rows="5"  />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
                                                            <p:outputLabel for="privacidade" value="Privacidade" />
                                                            <p:inputTextarea id="privacidade" value="#{configuracaoMB.configuracao.privacidade}" style="width: 100% !important;"  autoResize="false" rows="5" />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
                                                            <p:outputLabel for="termos_uso" value="Termos de Uso" />
                                                            <p:inputTextarea id="termos_uso" value="#{configuracaoMB.configuracao.termosUso}" style="width: 100% !important;"  autoResize="false" rows="5" />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
                                                            <p:outputLabel for="nossos_servicos" value="Nossos Serviços" />
                                                            <p:inputTextarea id="nossos_servicos" value="#{configuracaoMB.configuracao.nossosServicos}" style="width: 100% !important;"  autoResize="false" rows="5" />
                                                       </div>
                                                  </div>
                                             </p:tab>
                                             <p:tab title="Banners" >
                                                  <div class="row">
                                                       <h:panelGroup id="grpImagens">
                                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                                 <p:outputLabel for="labPromo" value="Topo da Promoção" />
                                                                 <p:fileUpload id="labPromo"  fileUploadListener="#{configuracaoMB.uploadTopo}" 
                                                                               update="grpImagens" label="Escolha"
                                                                               allowTypes="/(\.|\/)(gif|jpe?g|png)$/"/>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                                 <h:graphicImage id="image" value="/upload/Banner/#{configuracaoMB.configuracao.bannerTopoPromocao}" style="display: #{configuracaoMB.configuracao.bannerTopoPromocao!= null ? 'block' : 'none'}"  alt="sem imagem" width="150" height="150"/>
                                                                 <p:commandButton id="remove1" value="Remover" action="#{configuracaoMB.removerTopo()}" update="grpImagens"  rendered="#{configuracaoMB.configuracao.bannerTopoPromocao!= null}"/>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                                 <p:outputLabel for="latPromo1" value="Lateral da Promoção 1" />
                                                                 <p:fileUpload id="latPromo1"  fileUploadListener="#{configuracaoMB.uploadLateral1}" 
                                                                               label="Escolha" update="grpImagens"
                                                                               allowTypes="/(\.|\/)(gif|jpe?g|png)$/"/>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                                 <h:graphicImage id="image2" value="/upload/Banner/#{configuracaoMB.configuracao.bannerLateralPromocao1}" style="display: #{configuracaoMB.configuracao.bannerTopoPromocao!= null ? 'block' : 'none'}"  alt="sem imagem" width="150" height="150"/>
                                                                 <p:commandButton  value="Remover" action="#{configuracaoMB.removerLateral()}" update="grpImagens"  rendered="#{configuracaoMB.configuracao.bannerLateralPromocao1 != ''}"/> 
                                                            </div>



                                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                                 <p:outputLabel for="latPromo2" value="Lateral da Promoção 2" />
                                                                 <p:fileUpload id="latPromo2" fileUploadListener="#{configuracaoMB.uploadLateral2}" 
                                                                               label="Escolha" update="grpImagens"
                                                                               allowTypes="/(\.|\/)(gif|jpe?g|png)$/"/>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                                 <h:graphicImage id="image3" value="/upload/Banner/#{configuracaoMB.configuracao.bannerLateralPromocao2}" style="display: #{configuracaoMB.configuracao.bannerLateralPromocao2!= null ? 'block' : 'none'}"  alt="sem imagem" width="150" height="150"/>
                                                                 <p:commandButton  value="Remover" action="#{configuracaoMB.removerLateral2()}" update="grpImagens"  rendered="#{configuracaoMB.configuracao.bannerLateralPromocao2 != ''}"/> 
                                                            </div>




                                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                                 <p:outputLabel for="busca" value="Busca 1" />
                                                                 <p:fileUpload id="busca" fileUploadListener="#{configuracaoMB.uploadBusca1}" 
                                                                               label="Escolha" update="grpImagens"
                                                                               allowTypes="/(\.|\/)(gif|jpe?g|png)$/"/>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                                 <h:graphicImage id="image4" value="/upload/Banner/#{configuracaoMB.configuracao.bannerBusca1}" style="display: #{configuracaoMB.configuracao.bannerBusca1!= null ? 'block' : 'none'}"  alt="sem imagem" width="150" height="150"/>
                                                                 <p:commandButton  value="Remover" action="#{configuracaoMB.removerBusca()}" update="grpImagens"  rendered="#{configuracaoMB.configuracao.bannerBusca1 != ''}"/> 
                                                            </div>


                                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                                 <p:outputLabel for="busca2" value="Busca 2" />
                                                                 <p:fileUpload id="busca2" fileUploadListener="#{configuracaoMB.uploadBusca2}" 
                                                                               label="Escolha" update="grpImagens"
                                                                               allowTypes="/(\.|\/)(gif|jpe?g|png)$/"/>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                                 <h:graphicImage id="image5" value="/upload/Banner/#{configuracaoMB.configuracao.bannerBusca2}" style="display: #{configuracaoMB.configuracao.bannerBusca2!= null ? 'block' : 'none'}"  alt="sem imagem" width="150" height="150"/>
                                                                 <p:commandButton  value="Remover" action="#{configuracaoMB.removerBusca2()}" update="grpImagens"  rendered="#{configuracaoMB.configuracao.bannerBusca2 != ''}"/> 
                                                            </div>
                                                       </h:panelGroup>
                                                  </div>
                                             </p:tab>
                                             <p:tab title="Restrições" >
                                                  <div class="row">
                                                       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                            <p:outputLabel for="xingamentos" value="Chingamentos/Ofensas" />
                                                            <p:inputTextarea id="xingamentos" value="#{configuracaoMB.configuracao.ofensas}"  placeholder="Separe por virgula!" style="width: 100% !important;" autoResize="false" rows="5"/>
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                                            <p:outputLabel for="email_notificacao" value="Email notificação" />
                                                            <p:inputText id="email_notificacao" value="#{configuracaoMB.configuracao.emailNotificacao}"  />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                                            <p:outputLabel for="host_notificacao" value="host notificação" />
                                                            <p:inputText id="host_notificacao" value="#{configuracaoMB.configuracao.hostNotificacao}"  />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                                            <p:outputLabel for="nome_notificacao" value="Nome notificação" />
                                                            <p:inputText id="nome_notificacao" value="#{configuracaoMB.configuracao.nomeNotificacao}"  />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                                            <p:outputLabel for="senha_notificacao" value="Senha notificação" />
                                                            <p:password id="senha_notificacao" value="#{configuracaoMB.configuracao.senhaNotificacao}"  />
                                                       </div>
                                                  </div>
                                             </p:tab>
                                        </p:tabView>
                                   </div>


                              </div>
                         </h:form>



                    </p:panel>
               </ui:define>
          </ui:composition>
     </body>
</html>
