<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ux="http://java.sun.com/jsf/composite/ux"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">

    <body>

        <ui:composition template="./../../WEB-INF/Template-ADMIN.xhtml">

            <ui:define name="conteudo">
                <p:panel header="Taxas de Entregas">
                    <h:form id="frmTaxas">
                        <div class="row">
                            <div class="col-lg-12">
                                <div style="float: left">
                                    <p:commandButton value="Salvar" icon="Salvar"  styleClass="btn btn-success" action="#{entregaMB.salvar(controleSessaoMB.empresaLogada)}" update=":frmTaxas">
                                        <f:param name="mode" value="true"  />
                                    </p:commandButton>
                                    <p:commandButton value="Nova Taxa" icon="Novo" styleClass="btn btn-primary" >
                                        <p:ajax update="@form, :frmTaxas" listener="#{entregaMB.novo()}"  resetValues="true"  />
                                    </p:commandButton>
                                </div>
                                <div style="float: right">
                                    <p:commandButton value="Consultar" icon="Consultar" styleClass="btn btn-info"  oncomplete="PF('dlgTaxas').show()" update=":frmConsultar" />
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <hr/>
                            <div class="col-lg-2">
                                <p:outputLabel  value="Valor Taxa" />
                                <pe:inputNumber id="val" value="#{entregaMB.entrega.custo}" symbol="R$ " 
                                                decimalSeparator="," thousandSeparator=".">  
                                </pe:inputNumber>  
                            </div>
                            <div class="col-lg-6">
                                <p:outputLabel for="bairros" value="Informe os bairros" />
                                <p:inputTextarea id="bairros" placeholder="Separados por virgula. Ex: Centro, Novo Horizonte, Novo Bairro" value="#{entregaMB.entrega.bairro}" />
                            </div>
                            <div class="col-lg-2">
                                <p:outputLabel for="n" value="Não entregamos" /><br/>
                                <p:selectBooleanCheckbox id="n" value="#{entregaMB.entrega.naoentrega}" />
                            </div>
                        </div>
                    </h:form>

                    <p:dialog widgetVar="dlgTaxas" modal="true" header="Taxas de Entregas" width="70%" >
                        <h:form id="frmConsultar">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p:dataTable value="#{entregaMB.listarEntregas(controleSessaoMB.empresaLogada)}" var="ents" paginator="true" rows="8" paginatorPosition="bottom" paginatorAlwaysVisible="false" >
                                        <p:column headerText="Código"  width="10%">
                                           
                                            <h:outputText value="#{ents.idTaxa}" />
                                        </p:column>
                                        <p:column headerText="Valor" width="15%">
                                            
                                            <ux:outputMoney value="#{ents.custo}" />
                                        </p:column>
                                        <p:column  headerText="Bairros" width="45%">
                                            
                                            <h:outputText  value="#{ents.bairro}" />
                                        </p:column>
                                        <p:column headerText="N/Entrega"  width="15%">
                                            <h:outputText value="#{ents.naoentrega == '0' ? 'Entregamos' : 'Não Entregamos'}" />
                                        </p:column>
                                        <p:column  style="width: 100px;">
                                            <ux:actionButtons actionEdit="#{entregaMB.setEntrega(ents)}" updateEdit=":frmTaxas" oncompleteEdit="PF('dlgTaxas').hide()" 
                                                              actionRemove="#{entregaMB.excluir(ents)}" updateRemove="@form" oncompleteRemove="PF('dlgTaxas').hide()" />
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </div>
                        </h:form>
                    </p:dialog>
                </p:panel>
            </ui:define>

        </ui:composition>

    </body>
</html>
