<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ux="http://java.sun.com/jsf/composite/ux">

    <body>

        <ui:composition template="./../../WEB-INF/Template-ADMIN.xhtml">

            <ui:define name="conteudo">
                <p:panel header="Sub Categoria">
                    <h:form id="frmSubCategoria">
                        <div class="row">
                            <div class="col-lg-12">

                                <div style="float: left">
                                    <p:commandButton value="Salvar" icon="Salvar"  styleClass="btn btn-success" action="#{subCategoriaMB.salvar()}" update=":frmSubCategoria, :frmConsultar, mess"  oncomplete="$(function(){PrimeFaces.focus('frmSubCategoria:descricao');});">
                                        <f:param name="mode" value="true" />
                                    </p:commandButton>
                                    <p:commandButton value="Nova Subcategoria" icon="Novo" styleClass="btn btn-primary" >
                                        <p:ajax update="@form, :frmSubCategoria" listener="#{subCategoriaMB.novo()}"  resetValues="true"  />
                                    </p:commandButton>
                                </div>
                                <div style="float: right">
                                    <p:commandButton value="Consultar" icon="Consultar" styleClass="btn btn-info" update=":frmConsultar" oncomplete="PF('dlgConsulta').show()"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 ">
                                <hr/>
                            </div>
                            <div class="col-lg-12">
                                <p:messages id="mess" closable="true" />
                            </div>
                            <p:hotkey bind="ctrl+shift+s" update="mess, :frmSubCategoria:descricao"  action="#{subCategoriaMB.salvar()}"/>
                            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
                                <p:outputLabel for="categoria" value="Categoria" />
                                <p:selectOneMenu id="categoria" value="#{subCategoriaMB.subCategoria.idCategoria}" filter="true" 
                                                 converter="Converter" filterMatchMode="contains" required="true" requiredMessage="Categoria é obrigatório!">
                                    <f:selectItem itemLabel="Selecione a Categoria" itemValue="" />
                                    <f:selectItems value="#{categoriaMB.listarCategorias()}" var="categoria" 
                                                   itemLabel="#{categoria.descricao}" itemValue="#{categoria}" />
                                </p:selectOneMenu>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
                                <p:outputLabel value="Descrição" for="descricao"/>
                                <p:inputText   value="#{subCategoriaMB.subCategoria.descricao}" id="descricao" required="true" requiredMessage="Informe a Descrição!"/>
                            </div>

                        </div>
                    </h:form>



                    <p:dialog widgetVar="dlgConsulta" modal="true" header="Consulta de Subcategorias" width="60%" resizable="false" position="center top" >
                        <p:messages id="msg2" closable="true"/>
                        <h:form id="frmConsultar">

                            <p:dataTable id="cidades" value="#{subCategoriaMB.listarSubCategorias()}" var="subCategoria" paginator="true" rows="10" paginatorAlwaysVisible="false" 
                                         paginatorPosition="bottom" emptyMessage="Nenhum registro encontrado!"
                                         rowKey="#{subCategoria.idSubCategoria}" selection="#{subCategoriaMB.subCategoria}" selectionMode="single">
                                <f:facet name="header">
                                    Sub Categorias
                                </f:facet>
                                <f:facet name="footer">
                                    #{subCategoriaMB.listarSubCategorias().size()} Registros encontrados.
                                </f:facet>

                                <p:column headerText="Código" filterBy="#{subCategoria.idSubCategoria}" width="8%" sortBy="#{subCategoria.idSubCategoria}" filterMatchMode="contains" >
                                    <center>
                                        <h:outputText value="#{subCategoria.idSubCategoria}" />
                                    </center>
                                </p:column>
                                <p:column headerText="Descrição" filterBy="#{subCategoria.descricao}" width="20%" sortBy="#{subCategoria.descricao}" filterMatchMode="contains" >
                                    <h:outputText value="#{subCategoria.descricao}" />
                                </p:column>
                                <p:column headerText="Categoria" filterBy="#{subCategoria.idCategoria.descricao}" width="20%"  sortBy="#{subCategoria.idCategoria.descricao}" filterMatchMode="contains">
                                    <h:outputText value="#{subCategoria.idCategoria.descricao}" />
                                </p:column>
                                <p:column  width="10%" >
                                    <ux:actionButtons renderedInfo="false" actionEdit="#{subCategoriaMB.setSubCategoria(subCategoria)}" updateEdit=":frmSubCategoria" oncompleteEdit="PF('dlgConsulta').hide();"
                                                      actionRemove="#{subCategoriaMB.setSubCategoria(subCategoria)}"  oncompleteRemove="PF('dlgConfirm').show();" updateRemove=":frmConfirm2:frmConfirm"/>
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </p:dialog>
                    <ux:confirm widgetVar="dlgConfirm" id="frmConfirm2"  mensagem="#{subCategoriaMB.subCategoria.descricao}" actionRemove="#{subCategoriaMB.excluir()}" updateRemove=":frmConsultar"/>







                </p:panel>
            </ui:define>

        </ui:composition>

    </body>
</html>
