<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ux="http://java.sun.com/jsf/composite/ux">

    <body>

        <ui:composition template="./../../WEB-INF/Template-ADMIN.xhtml">

            <ui:define name="conteudo">
                <p:panel header="Tipo de Empresas">
                    <h:form id="frmCategoria">
                        <div class="row">
                            <div class="col-lg-12">
                                <div style="float: left">
                                    <p:commandButton value="Salvar" icon="Salvar"  styleClass="btn btn-success" action="#{tipoEmpresaMB.salvar()}" update=":frmCategoria,:frmConsultar">
                                        <f:param name="mode" value="true"  />
                                    </p:commandButton>
                                    <p:commandButton value="Novo Tipo" icon="Novo" styleClass="btn btn-primary" >
                                        <p:ajax update="@form, :frmCategoria" listener="#{tipoEmpresaMB.novo()}"  resetValues="true"  />
                                    </p:commandButton>
                                </div>
                                <div style="float: right">
                                    <p:commandButton value="Consultar" icon="Consultar" styleClass="btn btn-info"  oncomplete="PF('dlgConsulta').show()" />
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 ">
                                <hr/>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
                                <p:outputLabel value="Descrição" for="descricao"/>
                                <p:inputText   value="#{tipoEmpresaMB.tipoEmpresa.descricao}" id="descricao" required="true" requiredMessage="Informe a Descrição!"/>
                            </div>
                            <div class="col-lg-12">
                                <p:messages closable="true" />
                            </div>
                        </div>
                    </h:form>
                    
                    <p:dialog widgetVar="dlgConsulta" modal="true" header="Consulta de Categorias" width="60%" resizable="false" position="center top" >
                        <h:form id="frmConsultar">
                            <p:messages id="msg2" closable="true"/>
                            <p:dataTable id="categorias" value="#{tipoEmpresaMB.listarTiposEmpresa()}" var="categoria" paginator="true" rows="10" paginatorAlwaysVisible="false" 
                                         paginatorPosition="bottom" emptyMessage="Nenhum registro encontrado!">
                                <f:facet name="header">
                                    Tipos de Empresas
                                </f:facet>
                                <f:facet name="footer">
                                    #{tipoEmpresaMB.listarTiposEmpresa().size()} Registros encontrados.
                                </f:facet>

                                <p:column headerText="Código" filterBy="#{categoria.idTipoEmpresa}" width="8%" sortBy="#{categoria.idTipoEmpresa}">
                                    <center>
                                        <h:outputText value="#{categoria.idTipoEmpresa}" />
                                    </center>
                                </p:column>
                                <p:column headerText="Descrição" filterBy="#{categoria.descricao}" width="20%" sortBy="#{categoria.descricao}">
                                    <h:outputText value="#{categoria.descricao}" />
                                </p:column>
                                <p:column  width="10%" >
                                    <ux:actionButtons renderedInfo="false" actionEdit="#{tipoEmpresaMB.setTipoEmpresa(categoria)}" updateEdit=":frmCategoria" oncompleteEdit="PF('dlgConsulta').hide();"
                                                      actionRemove="#{tipoEmpresaMB.setTipoEmpresa(categoria)}"  oncompleteRemove="PF('dlgConfirm').show();" updateRemove=":frmConfirm2:frmConfirm"/>
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </p:dialog>
                    <ux:confirm widgetVar="dlgConfirm" id="frmConfirm2"  mensagem="#{tipoEmpresaMB.tipoEmpresa.descricao}" actionRemove="#{tipoEmpresaMB.excluir()}" updateRemove=":frmConsultar"/>
                </p:panel>
            </ui:define>

        </ui:composition>

    </body>
</html>
