/* * * PrimeFaces Aristo Theme* http://wijmo.com/* * Based on the Aristo theme concept created by 280 North and Pinvoke (https://github.com/280north/aristo).* */a {
    outline: none;
}
.ui-icon {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

label {
    padding: 5px 0 !important;
    margin: 0 !important;
}
/** jQuery UI CSS Framework @VERSION** Copyright 2010,  AUTHORS.txt (http://jqueryui.com/about)* Dual licensed under the MIT or GPL Version 2 licenses.* http://jquery.org/license** http://docs.jquery.com/UI/Theming/API** To view and modify this theme,  visit http://jqueryui.com/themeroller/?ffDefault=Arial, 
sans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=3px&bgColorHeader=c4c4c4&bgTextureHeader=03_highlight_soft.png&bgImgOpacityHeader=100&borderColorHeader=a8a8a8&fcHeader=4f4f4f&iconColorHeader=898989&bgColorContent=ffffff&bgTextureContent=01_flat.png&bgImgOpacityContent=100&borderColorContent=a8a8a8&fcContent=4f4f4f&iconColorContent=616161&bgColorDefault=c4c4c4&bgTextureDefault=04_highlight_hard.png&bgImgOpacityDefault=80&borderColorDefault=a8a8a8&fcDefault=4f4f4f&iconColorDefault=ffffff&bgColorHover=c4c4c4&bgTextureHover=04_highlight_hard.png&bgImgOpacityHover=80&borderColorHover=a8a8a8&fcHover=4f4f4f&iconColorHover=ffffff&bgColorActive=c4c4c4&bgTextureActive=06_inset_hard.png&bgImgOpacityActive=65&borderColorActive=aaaaaa&fcActive=4f4f4f&iconColorActive=ffffff&bgColorHighlight=fbf9ee&bgTextureHighlight=02_glass.png&bgImgOpacityHighlight=55&borderColorHighlight=fcefa1&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=fef1ec&bgTextureError=05_inset_soft.png&bgImgOpacityError=95&borderColorError=cd0a0a&fcError=cd0a0a&iconColorError=cd0a0a&bgColorOverlay=aaaaaa&bgTextureOverlay=01_flat.png&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=4f4f4f&bgTextureShadow=01_flat.png&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px*//* Component containers----------------------------------*/.ui-widget {
    font-family: Arial, sans-serif;
    font-size: 1.1em;
}
.ui-widget .ui-widget {
    font-size: 1em;
}
.ui-widget input,  .ui-widget select,  .ui-widget textarea,  .ui-widget button {
    font-family: Arial, sans-serif;
    font-size: 1em;
}
.ui-widget-content {
    border: 1px solid #CCC;
    background: #ffffff;
    color: #4f4f4f;
}
.ui-widget-content a {
    color: #4f4f4f;
}
.ui-widget-header {
    color: #333;
    font-weight: bold;
}
.ui-widget-header a {
    color: #4f4f4f;
}
/* Interaction states----------------------------------*/
.ui-state-default,  .ui-widget-content .ui-state-default,  .ui-widget-header .ui-state-default {
    border: 1px solid #CCCCCC;
    font-weight: bold;
    color: #4f4f4f;
}

.ui-state-default a,  .ui-state-default a:link,  .ui-state-default a:visited {
    color: #4f4f4f;
    text-decoration: none;
}
.ui-state-hover,  .ui-widget-content .ui-state-hover,  .ui-widget-header .ui-state-hover,  .ui-state-focus,  .ui-widget-content .ui-state-focus,  .ui-widget-header .ui-state-focus {
    border: 1px solid #CCCCCC;
    font-weight: bold;
    color: #313131;
}
.ui-selectonemenu-panel .ui-selectonemenu-filter{
    width: 100% !important;
}
.ui-selectonemenu-panel .ui-selectonemenu-filter-container{
    width: 100% !important;
}
.ui-state-hover a,  .ui-state-hover a:hover {
    color: #2f556a;
    text-decoration: none;
}
.ui-state-active,  .ui-widget-content .ui-state-active,  .ui-widget-header .ui-state-active {
    border: 1px solid #7096ab;
    font-weight: bold;
    color: #1C4257;
}
.ui-state-active a,  .ui-state-active a:link,  .ui-state-active a:visited {
    color: #2f556a;
    text-decoration: none;
}
.ui-widget:active {
    outline: none;
}
.ui-state-active {

}
/* Interaction Cues----------------------------------*/
.ui-state-highlight,  .ui-widget-content .ui-state-highlight,  .ui-widget-header .ui-state-highlight {
    /*    border: 1px solid #666666;*/
    color: #ffffff;
}
.ui-state-highlight a,  .ui-widget-content .ui-state-highlight a,  .ui-widget-header .ui-state-highlight a {
    color: #363636;
}
.ui-state-error,  .ui-widget-content .ui-state-error,  .ui-widget-header .ui-state-error {
    /*border: 1px solid #cd0a0a;*/
    color: #cd0a0a;
}
.ui-state-error a,  .ui-widget-content .ui-state-error a,  .ui-widget-header .ui-state-error a {
    color: #cd0a0a;
}
.ui-state-error-text,  .ui-widget-content .ui-state-error-text,  .ui-widget-header .ui-state-error-text {
    color: #cd0a0a;
}
.ui-priority-primary,  .ui-widget-content .ui-priority-primary,  .ui-widget-header .ui-priority-primary {
    font-weight: bold;
}
.ui-priority-secondary,  .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary {
    opacity: .7;
    filter: Alpha(Opacity=70);
    font-weight: normal;
}
.ui-state-disabled,  .ui-widget-content .ui-state-disabled,  .ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none;
}
.ui-icon {
    width: 16px;
    height: 16px;
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/admin-assets/img/ui-icons_616161_256x240.png.xhtml?ln=primefaces-aristo") ;
}
.ui-widget-content .ui-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/javax.faces.resource/images/ui-icons_616161_256x240.png.xhtml?ln=primefaces-aristo");
}
.ui-widget-header .ui-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/javax.faces.resource/images/ui-icons_898989_256x240.png.xhtml?ln=primefaces-aristo");
}
.ui-state-default .ui-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/javax.faces.resource/images/ui-icons_38667f_256x240.png.xhtml?ln=primefaces-aristo");
}
.ui-state-hover .ui-icon,  .ui-state-focus .ui-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/javax.faces.resource/images/ui-icons_38667f_256x240.png.xhtml?ln=primefaces-aristo");
}
.ui-state-active .ui-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/javax.faces.resource/images/ui-icons_38667f_256x240.png.xhtml?ln=primefaces-aristo");
}
.ui-state-highlight .ui-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/javax.faces.resource/images/ui-icons_2e83ff_256x240.png.xhtml?ln=primefaces-aristo");
}
.ui-state-error .ui-icon,  .ui-state-error-text .ui-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/javax.faces.resource/images/ui-icons_cd0a0a_256x240.png.xhtml?ln=primefaces-aristo");
}
/* positioning */.ui-icon-carat-1-n {
    background-position: 0 0;
}
.ui-icon-carat-1-ne {
    background-position: -16px 0;
}
.ui-icon-carat-1-e {
    background-position: -32px 0;
}
.ui-icon-carat-1-se {
    background-position: -48px 0;
}
.ui-icon-carat-1-s {
    background-position: -64px 0;
}
.ui-icon-carat-1-sw {
    background-position: -80px 0;
}
.ui-icon-carat-1-w {
    background-position: -96px 0;
}
.ui-icon-carat-1-nw {
    background-position: -112px 0;
}
.ui-icon-carat-2-n-s {
    background-position: -128px 0;
}
.ui-icon-carat-2-e-w {
    background-position: -144px 0;
}
.ui-icon-triangle-1-n {
    background-position: 0 -16px;
}
.ui-icon-triangle-1-ne {
    background-position: -16px -16px;
}
.ui-icon-triangle-1-e {
    background-position: -32px -16px;
}
.ui-icon-triangle-1-se {
    background-position: -48px -16px;
}
.ui-icon-triangle-1-s {
    background-position: -64px -16px;
}
.ui-icon-triangle-1-sw {
    background-position: -80px -16px;
}
.ui-icon-triangle-1-w {
    background-position: -96px -16px;
}
.ui-icon-triangle-1-nw {
    background-position: -112px -16px;
}
.ui-icon-triangle-2-n-s {
    background-position: -128px -16px;
}
.ui-icon-triangle-2-e-w {
    background-position: -144px -16px;
}
.ui-icon-arrow-1-n {
    background-position: 0 -32px;
}
.ui-icon-arrow-1-ne {
    background-position: -16px -32px;
}
.ui-icon-arrow-1-e {
    background-position: -32px -32px;
}
.ui-icon-arrow-1-se {
    background-position: -48px -32px;
}
.ui-icon-arrow-1-s {
    background-position: -64px -32px;
}
.ui-icon-arrow-1-sw {
    background-position: -80px -32px;
}
.ui-icon-arrow-1-w {
    background-position: -96px -32px;
}
.ui-icon-arrow-1-nw {
    background-position: -112px -32px;
}
.ui-icon-arrow-2-n-s {
    background-position: -128px -32px;
}
.ui-icon-arrow-2-ne-sw {
    background-position: -144px -32px;
}
.ui-icon-arrow-2-e-w {
    background-position: -160px -32px;
}
.ui-icon-arrow-2-se-nw {
    background-position: -176px -32px;
}
.ui-icon-arrowstop-1-n {
    background-position: -192px -32px;
}
.ui-icon-arrowstop-1-e {
    background-position: -208px -32px;
}
.ui-icon-arrowstop-1-s {
    background-position: -224px -32px;
}
.ui-icon-arrowstop-1-w {
    background-position: -240px -32px;
}
.ui-icon-arrowthick-1-n {
    background-position: 0 -48px;
}
.ui-icon-arrowthick-1-ne {
    background-position: -16px -48px;
}
.ui-icon-arrowthick-1-e {
    background-position: -32px -48px;
}
.ui-icon-arrowthick-1-se {
    background-position: -48px -48px;
}
.ui-icon-arrowthick-1-s {
    background-position: -64px -48px;
}
.ui-icon-arrowthick-1-sw {
    background-position: -80px -48px;
}
.ui-icon-arrowthick-1-w {
    background-position: -96px -48px;
}
.ui-icon-arrowthick-1-nw {
    background-position: -112px -48px;
}
.ui-icon-arrowthick-2-n-s {
    background-position: -128px -48px;
}
.ui-icon-arrowthick-2-ne-sw {
    background-position: -144px -48px;
}
.ui-icon-arrowthick-2-e-w {
    background-position: -160px -48px;
}
.ui-icon-arrowthick-2-se-nw {
    background-position: -176px -48px;
}
.ui-icon-arrowthickstop-1-n {
    background-position: -192px -48px;
}
.ui-icon-arrowthickstop-1-e {
    background-position: -208px -48px;
}
.ui-icon-arrowthickstop-1-s {
    background-position: -224px -48px;
}
.ui-icon-arrowthickstop-1-w {
    background-position: -240px -48px;
}
.ui-icon-arrowreturnthick-1-w {
    background-position: 0 -64px;
}
.ui-icon-arrowreturnthick-1-n {
    background-position: -16px -64px;
}
.ui-icon-arrowreturnthick-1-e {
    background-position: -32px -64px;
}
.ui-icon-arrowreturnthick-1-s {
    background-position: -48px -64px;
}
.ui-icon-arrowreturn-1-w {
    background-position: -64px -64px;
}
.ui-icon-arrowreturn-1-n {
    background-position: -80px -64px;
}
.ui-icon-arrowreturn-1-e {
    background-position: -96px -64px;
}
.ui-icon-arrowreturn-1-s {
    background-position: -112px -64px;
}
.ui-icon-arrowrefresh-1-w {
    background-position: -128px -64px;
}
.ui-icon-arrowrefresh-1-n {
    background-position: -144px -64px;
}
.ui-icon-arrowrefresh-1-e {
    background-position: -160px -64px;
}
.ui-icon-arrowrefresh-1-s {
    background-position: -176px -64px;
}
.ui-icon-arrow-4 {
    background-position: 0 -80px;
}
.ui-icon-arrow-4-diag {
    background-position: -16px -80px;
}
.ui-icon-extlink {
    background-position: -32px -80px;
}
.ui-icon-newwin {
    background-position: -48px -80px;
}
.ui-icon-refresh {
    background-position: -64px -80px;
}
.ui-icon-shuffle {
    background-position: -80px -80px;
}
.ui-icon-transfer-e-w {
    background-position: -96px -80px;
}
.ui-icon-transferthick-e-w {
    background-position: -112px -80px;
}
.ui-icon-folder-collapsed {
    background-position: 0 -96px;
}
.ui-icon-folder-open {
    background-position: -16px -96px;
}
.ui-icon-document {
    background-position: -32px -96px;
}
.ui-icon-document-b {
    background-position: -48px -96px;
}
.ui-icon-note {
    background-position: -64px -96px;
}
.ui-icon-mail-closed {
    background-position: -80px -96px;
}
.ui-icon-mail-open {
    background-position: -96px -96px;
}
.ui-icon-suitcase {
    background-position: -112px -96px;
}
.ui-icon-comment {
    background-position: -128px -96px;
}
.ui-icon-person {
    background-position: -144px -96px;
}
.ui-icon-print {
    background-position: -160px -96px;
}
.ui-icon-trash {
    background-position: -176px -96px;
}
.ui-icon-locked {
    background-position: -192px -96px;
}
.ui-icon-unlocked {
    background-position: -208px -96px;
}
.ui-icon-bookmark {
    background-position: -224px -96px;
}
.ui-icon-tag {
    background-position: -240px -96px;
}
.ui-icon-home {
    background-position: 0 -112px;
}
.ui-icon-flag {
    background-position: -16px -112px;
}
.ui-icon-calendar {
    background-position: -32px -112px;
}
.ui-icon-cart {
    background-position: -48px -112px;
}
.ui-icon-pencil {
    background-position: -64px -112px;
}
.ui-icon-clock {
    background-position: -80px -112px;
}
.ui-icon-disk {
    background-position: -96px -112px;
}
.ui-icon-calculator {
    background-position: -112px -112px;
}
.ui-icon-zoomin {
    background-position: -128px -112px;
}
.ui-icon-zoomout {
    background-position: -144px -112px;
}
.ui-icon-search {
    background-position: -160px -112px;
}
.ui-icon-wrench {
    background-position: -176px -112px;
}
.ui-icon-gear {
    background-position: -192px -112px;
}
.ui-icon-heart {
    background-position: -208px -112px;
}
.ui-icon-star {
    background-position: -224px -112px;
}
.ui-icon-link {
    background-position: -240px -112px;
}
.ui-icon-cancel {
    background-position: 0 -128px;
}
.ui-icon-plus {
    background-position: -16px -128px;
}
.ui-icon-plusthick {
    background-position: -32px -128px;
}
.ui-icon-minus {
    background-position: -48px -128px;
}
.ui-icon-minusthick {
    background-position: -64px -128px;
}
.ui-icon-close {
    background-position: -80px -128px;
}
.ui-icon-closethick {
    background-position: -96px -128px;
}
.ui-icon-key {
    background-position: -112px -128px;
}
.ui-icon-lightbulb {
    background-position: -128px -128px;
}
.ui-icon-scissors {
    background-position: -144px -128px;
}
.ui-icon-clipboard {
    background-position: -160px -128px;
}
.ui-icon-copy {
    background-position: -176px -128px;
}
.ui-icon-contact {
    background-position: -192px -128px;
}
.ui-icon-image {
    background-position: -208px -128px;
}
.ui-icon-video {
    background-position: -224px -128px;
}
.ui-icon-script {
    background-position: -240px -128px;
}
.ui-icon-alert {
    background-position: 0 -144px;
}
.ui-icon-info {
    background-position: -16px -144px;
}
.ui-icon-notice {
    background-position: -32px -144px;
}
.ui-icon-help {
    background-position: -48px -144px;
}
.ui-icon-check {
    background-position: -64px -144px;
}
.ui-icon-bullet {
    background-position: -80px -144px;
}
.ui-icon-radio-off {
    background-position: -96px -144px;
}
.ui-icon-radio-on {
    background-position: -112px -144px;
}
.ui-icon-pin-w {
    background-position: -128px -144px;
}
.ui-icon-pin-s {
    background-position: -144px -144px;
}
.ui-icon-play {
    background-position: 0 -160px;
}
.ui-icon-pause {
    background-position: -16px -160px;
}
.ui-icon-seek-next {
    background-position: -32px -160px;
}
.ui-icon-seek-prev {
    background-position: -48px -160px;
}
.ui-icon-seek-end {
    background-position: -64px -160px;
}
.ui-icon-seek-start {
    background-position: -80px -160px;
}
/* ui-icon-seek-first is deprecated,  use ui-icon-seek-start instead */.ui-icon-seek-first {
    background-position: -80px -160px;
}
.ui-icon-stop {
    background-position: -96px -160px;
}
.ui-icon-eject {
    background-position: -112px -160px;
}
.ui-icon-volume-off {
    background-position: -128px -160px;
}
.ui-icon-volume-on {
    background-position: -144px -160px;
}
.ui-icon-power {
    background-position: 0 -176px;
}
.ui-icon-signal-diag {
    background-position: -16px -176px;
}
.ui-icon-signal {
    background-position: -32px -176px;
}
.ui-icon-battery-0 {
    background-position: -48px -176px;
}
.ui-icon-battery-1 {
    background-position: -64px -176px;
}
.ui-icon-battery-2 {
    background-position: -80px -176px;
}
.ui-icon-battery-3 {
    background-position: -96px -176px;
}
.ui-icon-circle-plus {
    background-position: 0 -192px;
}
.ui-icon-circle-minus {
    background-position: -16px -192px;
}
.ui-icon-circle-close {
    background-position: -32px -192px;
}
.ui-icon-circle-triangle-e {
    background-position: -48px -192px;
}
.ui-icon-circle-triangle-s {
    background-position: -64px -192px;
}
.ui-icon-circle-triangle-w {
    background-position: -80px -192px;
}
.ui-icon-circle-triangle-n {
    background-position: -96px -192px;
}
.ui-icon-circle-arrow-e {
    background-position: -112px -192px;
}
.ui-icon-circle-arrow-s {
    background-position: -128px -192px;
}
.ui-icon-circle-arrow-w {
    background-position: -144px -192px;
}
.ui-icon-circle-arrow-n {
    background-position: -160px -192px;
}
.ui-icon-circle-zoomin {
    background-position: -176px -192px;
}
.ui-icon-circle-zoomout {
    background-position: -192px -192px;
}
.ui-icon-circle-check {
    background-position: -208px -192px;
}
.ui-icon-circlesmall-plus {
    background-position: 0 -208px;
}
.ui-icon-circlesmall-minus {
    background-position: -16px -208px;
}
.ui-icon-circlesmall-close {
    background-position: -32px -208px;
}
.ui-icon-squaresmall-plus {
    background-position: -48px -208px;
}
.ui-icon-squaresmall-minus {
    background-position: -64px -208px;
}
.ui-icon-squaresmall-close {
    background-position: -80px -208px;
}
.ui-icon-grip-dotted-vertical {
    background-position: 0 -224px;
}
.ui-icon-grip-dotted-horizontal {
    background-position: -16px -224px;
}
.ui-icon-grip-solid-vertical {
    background-position: -32px -224px;
}
.ui-icon-grip-solid-horizontal {
    background-position: -48px -224px;
}
.ui-icon-gripsmall-diagonal-se {
    background-position: -64px -224px;
}
.ui-icon-grip-diagonal-se {
    background-position: -80px -224px;
}
/* Misc visuals----------------------------------*//* Corner radius */
.ui-corner-tl {
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
}
.ui-corner-tr {
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
}
.ui-corner-bl {
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.ui-corner-br {
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.ui-corner-top {
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
}
.ui-corner-bottom {
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.ui-corner-right {
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.ui-corner-left {
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.ui-corner-all {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.ui-round-all {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/* Overlays */
.ui-widget-overlay {
    /*background: #2d5972 url("/Template-R/javax.faces.resource/images/ui-bg_flat_0_2d5972_40x100.png.xhtml?ln=primefaces-aristo") 50% 50% repeat-x;*/
    opacity: .30;
    filter: Alpha(Opacity=30);
}
.ui-widget-shadow {
    margin: -8px 0 0 -8px;
    padding: 8px;
    /*background: #4f4f4f url("/Template-R/javax.faces.resource/images/ui-bg_flat_0_4f4f4f_40x100.png.xhtml?ln=primefaces-aristo") 50% 50% repeat-x;*/
    opacity: .30;
    filter: Alpha(Opacity=30);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
/*** Widget Extensions*/.ui-accordion .ui-accordion-header {
    margin: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.ui-accordion .ui-accordion-content {
    margin-bottom: 0;
}
.ui-dialog .ui-dialog-titlebar {
    border-top: none;
    border-right: none;
    border-left: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.ui-slider {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #cbcbcb;
}
.ui-slider .ui-slider-handle {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.ui-slider .ui-slider-range {
    background: #a3cae0;
}
.ui-slider-vertical {
    background: #cbcbcb;

}
.ui-slider-vertical .ui-slider-range {
    background: #a3cae0;
}
.ui-slider .ui-slider-handle span {
    height: 16px !important;
    width: 16px !important;
    float: none !important;
    margin: 0 auto !important;
}
.ui-slider .ui-slider-handle {
    background: #85b2cb;
}
.ui-tabs .ui-tabs-nav li {
    border: 1px solid #a8a8a8;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    border: 1px solid #a8a8a8;
}
.ui-tabs.ui-tabs-top .ui-tabs-nav li.ui-tabs-selected {
    border-bottom: 0;
}
.ui-tabs .ui-tabs-panel {
    border-width: 0;
    padding: 1em 1.4em;
    background: none;
}
.ui-tabs .ui-tabs-nav {
    background: #e3e3e3;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.ui-tabs .ui-tabs-nav .ui-tabs-selected {
    background: #fff;
    border-bottom: none;
}
.ui-datepicker .ui-datepicker-prev,  .ui-datepicker .ui-datepicker-next {
    cursor: pointer;
}
.ui-datepicker table {
    table-layout: fixed;
}
.ui-datepicker .ui-datepicker-calendar .ui-state-default {
    background: none;
    border: none;
    color: #5F83B9;
}
.ui-datepicker .ui-datepicker-calendar .ui-state-hover {
    color: #1C4257;
}
.ui-datepicker .ui-datepicker-current-day .ui-state-highlight,  .ui-datepicker .ui-datepicker-current-day .ui-state-default {
    background: #5F83B9;
    color: #FFFFFF !important;
    font-weight: bold;
}
.ui-datepicker .ui-datepicker-header {
    background: #e3e3e3;
    border-right: none;
    border-left: none;
    border-top: none;
    -moz-border-radius: 0;
    border-radius: 0;
}
.ui-datepicker .ui-datepicker-next-hover,  .ui-datepicker .ui-datepicker-prev-hover {
    background: none;
    border: solid 1px transparent;
}
.ui-progressbar {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.ui-progressbar .ui-widget-header {
    background: #85b2cb;

    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF,  endColorstr=#00FFFFFF)";
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/* PrimeFaces Extensions */.ui-inputfield,  .ui-widget-content .ui-inputfield,  .ui-widget-header .ui-inputfield {
    background: #ffffff;
    color: #313131;
    border-radius: 0 !important;

}
.ui-inputfield.ui-state-focus,  .ui-widget-content .ui-inputfield.ui-state-focus,  .ui-widget-header .ui-inputfield.ui-state-focus {
    box-shadow: -2px 2px 1px #CCC !important;
}
.ui-menu,  .ui-menu .ui-menu-child {
    background: #c4c4c4 ;
}
*html .ui-menu .ui-menu-list {
    background: none;
}
*html .ui-menubar .ui-menu-child {
    background: #ffffff;
}
*html .ui-menu .ui-menuitem-link {
    border-color: #c4c4c4;
    filter: chroma(color=#c4c4c4);
}
.ui-datatable-odd {
    background: none repeat scroll 0 0 #F2F5F9;
}
/** Liferay Support **/.aui .ui-helper-hidden {
    display: none;
}
/*Autocomplete*/.aui .ui-helper-reset {
    margin: 0;
}
/*Menubar*/.aui .ui-widget-content .ui-widget a {
    color: #4f4f4f;
}
/*SelectOneMenu*/.aui .ui-selectonemenu .ui-widget {
    font-size: 1.1em;
}
.aui .ui-selectonemenu-label .ui-inputfield {
    color: #313131;
}
.aui .ui-selectonemenu-label {
    margin-bottom: 0px;
}
/*Spinner*/.aui .ui-spinner .ui-corner-all {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.aui .ui-spinner .ui-inputfield {
    color: #313131;
    margin: 0;
    padding: 4px;
    font-weight: normal;
}
.aui .ui-spinner .ui-spinner-input {
    vertical-align: middle;
    padding-right: 20px;
}
.aui .ui-widget input {
    font-size: 1em;
}
.aui .ui-spinner .ui-inputfield.ui-state-focus {

}
/*Tabs*/.aui .ui-tabs .ui-state-default a {
    color: #4f4f4f;
}

input{
    display: block !important;
    width: 100% !important;
    height: 34px !important;
    padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    color: #555 !important;
    background-color: #fff !important;
    background-image: none !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s !important;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
}

input:focus {
    border-color: #66afe9!important;
    outline: 0!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)!important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)!important;
}
input::-moz-placeholder {
    color: #999!important;
    opacity: 1!important;
}
input:-ms-input-placeholder {
    color: #999!important;
}
input::-webkit-input-placeholder {
    color: #999!important;
}
input[disabled], input[readonly], fieldset[disabled] .form-control {
    background-color: #eee!important;
    opacity: 1!important;
}
input[disabled], fieldset[disabled] input {
    cursor: not-allowed!important;
}

button{
    display: inline-block!important;
    padding: 6px 12px!important;
    margin-bottom: 0!important;
    font-size: 14px!important;
    font-weight: normal!important;
    line-height: 1.42857143!important;
    text-align: center!important;
    white-space: nowrap!important;
    vertical-align: middle!important;
    -ms-touch-action: manipulation!important;
    touch-action: manipulation!important;
    cursor: pointer!important;
    -webkit-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
    background-image: none!important;
    border: 1px solid transparent!important;
    border-radius: 4px!important;
}

button:focus, button:active:focus, button:focus,  button:active.focus, button.active.focus {
    outline: thin dotted!important;
    outline: 5px auto -webkit-focus-ring-color!important;
    outline-offset: -2px!important;
}
button:hover, button:focus, button.focus {
    color: #333!important;
    text-decoration: none!important;
}
button:active, button.active {
    background-image: none!important;
    outline: 0!important;
    /*-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)!important;*/
    /*box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)!important;*/
}
button.disabled, button[disabled], fieldset[disabled] button {
    pointer-events: none!important;
    cursor: not-allowed!important;
    filter: alpha(opacity=65)!important;
    /*-webkit-box-shadow: none!important;*/
    /*box-shadow: none!important;*/
    opacity: .65!important;
}

.ui-button-text{
    color: white !important;
    text-shadow: none !important;
}

.ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-footer{
    background: #3C434D;
    color: white;
}
.ui-panel .ui-panel-title{
    /*color: #9e9e9e;*/
    font-size: 13px;
    font-weight: 700;
    padding: 14px 0 14px;
    margin: 0;
    line-height: 20px;
    text-transform: uppercase;
    margin-left: 7px !important;
    display: none !important;
}
.ui-panel{
    border-radius: 0px;
    border-color: #eeeeee;
    padding: 0 !important;
}

.ui-panel-titlebar{
    color: #607d8b !important;
    background-color: #ffffff !important;
    border-color: #eeeeee !important;
    border-radius: 0px;
    padding: 0 !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight{
    color: black !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger{
    width: 23px !important;
    padding-top: 5px !important;
}
.ui-selectonemenu{
    width: 100% !important;
    display: block !important;
}
.ui-datepicker .ui-datepicker-header{
    background: #90A4AE !important;
    color: white !important;
    font-size: 13px !important;
    font-weight: 700 !important;
}
.ui-datepicker{
    border-radius: 0px !important;
    border-color: #CCCCCC;
}

.ui-datepicker-days-cell-over  ui-datepicker-today a{
    color: white !important;
    background: #424242 !important;
}
.ui-messages-error, .ui-message-error{
    background-color: #fde0dc !important;
    border: none !important;
    border-radius: 0px;

}

.ui-selectonemenu-panel .ui-selectonemenu-list-item:hover{
    color: #000 !important;
    background: #EEE !important;
    border-radius: 0 !important;

}

.ui-selectonemenu-item ui-selectonemenu-list-item ui-corner-all ui-state-highlight{
    background: #90A4AE !important;
}

.ui-tabs{
    padding: 0 !important;
    border-radius: 0px!important;
    border: none !important;
}
.ui-tabs .ui-tabs-nav{
    background: white !important;
}
.ui-tabs.ui-tabs-top > .ui-tabs-nav{
    padding: 0px !important;
    border-radius: 0px !important;
    margin-bottom: -1px !important;
    z-index: 9999 !important;
}
.ui-tabs.ui-tabs-top > .ui-tabs-nav li{
    border-radius: 0px;
    /*border-bottom: 1px solid #e0e0e0 !important;*/
    border-color: #e0e0e0 !important;
}

.ui-tabs.ui-tabs-top .ui-tabs-nav li.ui-tabs-selected{
    border-bottom: 0 !important;
    border-top: 3px solid #03A9F4 !important;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a{
    color: black !important;
    text-shadow: none !important;
}
.ui-tabs .ui-tabs-panel{
    border: 1px solid #e0e0e0 !important;
}
input[type="checkbox"]:focus{
    border: none !important;
    box-shadow: none !important;
}
.fc-today{
    background: #424242 !important;
}
.ui-autocomplete, .ui-spinner{
    /*display: block !important;*/
    width: 100% !important;
}

.fc-toolbar .ui-state-active {
    z-index: 4;
    border-top: 3px solid #90A4AE !important;
    background: #03A9F4;
    color: white !important;
}
.fc-event-time{
    padding: 0 3px !important;
}
.ui-button{
    border-radius: 0px !important;
}

.btn-default ui-button-text ui-c{
    color: black !important;
}

.ui-chkbox-icon.ui-icon {
    margin-top: -1px !important;
    margin-left: -1px !important;
}
.ui-tabs .ui-tabs-nav li{
    margin: 0 0 1px 0 !important;
}

.ui-autocomplete-multiple-container.ui-inputfield{
    width: 100% !important;
    height: 34px !important;
}
.ui-selectonemenu{
    /*margin-top: 8px !important;*/
}
.ui-autocomplete-input-token input{
    margin: 1px !important;
    height: 29px !important;
}
.ui-selectmanycheckbox label{
    margin-top: -10px !important;
    margin-right: 10px !important;
}
.ui-wizard-step-title{
    font-size: 15px !important;;
    margin: 0 0px 0 0 !important;;
    padding: 0.4em !important;;
    float: left !important;;
    border-radius: 0px !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight{
    /*border-top: 3px solid #4DD0E1 !important;*/
    border-bottom: none !important;
}
.ui-wizard-nav-next, .ui-wizard-nav-back{
    background: #03A9F4 !important;
}
input[type=checkbox]{
    display: block !important;
}
.ui-inputtextarea-resizable{
    width: 100% !important;
}
.ui-fileupload-buttonbar .ui-button{
    background: #03A9F4;
}

.ui-chkbox{
    display: inline-block !important;
    /*height: 34px !important;*/
    margin-bottom: -3px!important;
    margin-right: 3px!important;
}
.ui-chkbox .ui-chkbox-box{
    display: block !important;
}
.ui-selectonemenu{
    height: 34px !important;
    border-radius: 0 !important;
}
.ui-carousel{
    width: 100% !important;
}
.ui-carousel .ui-carousel-header{
    height: 35px !important;
}

.ui-fileupload-content{
    border: none !important;
}

.ui-fileupload-buttonbar .ui-button{
    height: 30px !important;
}
.ui-carousel .ui-carousel-viewport{
    height: 200px !important;
    width: 100% !important;
}
.ui-wizard-step-title ui-state-default ui-state-highlight ui-corner-all{
    background:  black !important;
}
.navbar-brand > img {
    width: 100%;
}
.ui-datatable thead th{
    overflow: initial !important;
}
.ui-datatable thead th{
    border: 1px solid #ccc !important;
    background: #EEE !important;
}
.ui-datatable .ui-sortable-column-icon{
    float: right !important;
    margin: 2px 0px -5px 2px !important;
}
.ui-panel .ui-panel-content{
    padding: 1em !important;
}
.ui-selectonemenu .ui-selectonemenu-label{
    padding-top: 6px !important;
    padding-left: 10px !important;
}
.ui-datatable .ui-row-toggler{
    margin-left: -7px;
}

.ui-datatable thead th{
    text-align: left !important;
}

.static-content-wrapper, .page-content > .breadcrumb {
    background: #EEE;
}
.ui-dialog{
    top: 0px !important;
    left: 1% !important;
    /*position:absolute !important;*/
}

.ui-colunm-title{
    font-size: 12px !important;
}

.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev{
    border-radius: 0px !important;
}