.ui-icon.Novo{
    background-image: url('#{facesContext.externalContext.request.contextPath}/resources/admin-assets/icons/Novo.png');
    margin-right: 4px;
}
.ui-icon.Carregando{
    background-image: url('#{facesContext.externalContext.request.contextPath}/resources/admin-assets/icons/reload.gif');
    margin-right: 4px;
}
.ui-icon.Salvar{
    background-image: url('#{facesContext.externalContext.request.contextPath}/resources/admin-assets/icons/Salvar.png');
    margin-right: 4px;
}
.ui-icon.Consultar{
    background-image: url('#{facesContext.externalContext.request.contextPath}/resources/admin-assets/icons/Consultar.png');
    margin-right: 4px;
}
.ui-icon.Limpar{
    background-image: url('#{facesContext.externalContext.request.contextPath}/resources/admin-assets/icons/Limpar.png');
    margin-right: 4px;
}
.ui-icon.Sucesso{
    background-image: url('#{facesContext.externalContext.request.contextPath}/resources/admin-assets/icons/Sucesso.png');
    margin-right: 4px;
}
.ui-icon.Excluir{
    background-image: url('#{facesContext.externalContext.request.contextPath}/resources/admin-assets/icons/excluir.png');
    margin-right: 4px;
}
.ui-icon.Info{
    background-image: url('#{facesContext.externalContext.request.contextPath}/resources/admin-assets/icons/Info.png');
    margin-right: 4px;
}
.ui-icon.Editar{
    background-image: url('#{facesContext.externalContext.request.contextPath}/resources/admin-assets/icons/Editarr.png');
    margin-right: 4px;
}
.ui-icon.Moip{
    background-image: url('#{facesContext.externalContext.request.contextPath}/resources/admin-assets/icons/moip-icon.png');
    margin-right: 4px;
}
.ui-icon.Sms{
    background-image: url('#{facesContext.externalContext.request.contextPath}/resources/admin-assets/icons/sms.png');
    margin-right: 4px;
}
.ui-icon.Email{
    background-image: url('#{facesContext.externalContext.request.contextPath}/resources/admin-assets/icons/email.png');
    margin-right: 4px;
}
.ui-icon.Pergunta{
    background-image: url('#{facesContext.externalContext.request.contextPath}/resources/admin-assets/icons/answers.png');
    margin-right: 4px;
}
.ui-icon.confirmar{
    background-image: url('#{facesContext.externalContext.request.contextPath}/resources/admin-assets/icons/confirmar.png');
    margin-right: 4px;
}
.ui-icon.Configurar{
    background-image: url('#{facesContext.externalContext.request.contextPath}/resources/admin-assets/icons/Configurar.png');
    margin-right: 4px;
}
.ui-icon.Frete{
    background-image: url('#{facesContext.externalContext.request.contextPath}/resources/admin-assets/icons/Frete.png');
    margin-right: 4px;
}
.ui-messages-error-icon{
    background-image: url('#{facesContext.externalContext.request.contextPath}/resources/admin-assets/icons/Error.png') !important;
     background-position: 0px 0px !important;
}

.ui-messages-info-icon{
    background-image: url('#{facesContext.externalContext.request.contextPath}/resources/admin-assets/icons/Info_1.png') !important;
     background-position: 0px 0px !important;
}


.ui-messages-info-icon, .ui-messages-warn-icon, .ui-messages-error-icon, .ui-messages-fatal-icon{
    margin-top: 0px !important;
}