<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ux="http://java.sun.com/jsf/composite/ux">

    <body>

        <ui:composition template="./../../WEB-INF/Template-ADMIN.xhtml">

            <ui:define name="conteudo">
                <p:panel header="Estado">
                    <h:form id="frmEstado">
                        <script>
                            function up(lstr){ 
                                var str=lstr.value; 
                                lstr.value=str.toUpperCase(); 
                            }
                        </script>
                        <div class="row">

                            <div class="col-lg-12">
                                <div style="float: left">
                                    <p:commandButton value="Salvar" icon="Salvar"  styleClass="btn btn-success" action="#{estadoMB.salvar()}" update="frmEstado,:frmConsultar">
                                        <f:param name="mode" value="true"  />
                                    </p:commandButton>
                                    <p:commandButton value="Novo Estado" icon="Novo" styleClass="btn btn-primary">
                                        <p:ajax update="@form, :frmEstado" listener="#{estadoMB.novo()}"  resetValues="true"  />
                                    </p:commandButton>
                                </div>
                                <div style="float: right">
                                    <p:commandButton value="Consultar" icon="Consultar" styleClass="btn btn-info" oncomplete="PF('dlgConsulta').show()" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 ">
                                <hr/>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
                                <p:outputLabel value="Nome" for="nome"/>
                                <p:inputText   value="#{estadoMB.estado.nome}" id="nome" required="true" requiredMessage="Informe o Nome!"/>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-2">
                                <p:outputLabel value="Sigla" for="sigla"/>
                                <p:inputText   value="#{estadoMB.estado.sigla}" id="sigla" required="true" onkeyup="up(this);" requiredMessage="Informe a Sigla!" maxlength="2"/>
                            </div>

                        </div>
                    </h:form>
                    <p:dialog widgetVar="dlgConsulta" modal="true" header="Consulta de Estados" width="60%" resizable="false" position="center top" >
                        <p:messages id="msg2" closable="true"/>
                        <h:form id="frmConsultar">

                            <p:dataTable id="categorias" value="#{estadoMB.listarEstados()}" var="estado" paginator="true" rows="10" paginatorAlwaysVisible="false" 
                                         paginatorPosition="bottom" emptyMessage="Nenhum registro encontrado!"
                                         rowKey="#{estado.idEstado}" selection="#{estadoMB.estado}" selectionMode="single">
                                <f:facet name="header">
                                    Estados
                                </f:facet>
                                <f:facet name="footer">
                                    #{estadoMB.listarEstados().size()} Registros encontrados.
                                </f:facet>

                                <p:column headerText="Código" filterBy="#{estado.idEstado}" width="8%" sortBy="#{estado.idEstado}">
                                    <center>
                                        <h:outputText value="#{estado.idEstado}" />
                                    </center>
                                </p:column>
                                <p:column headerText="Nome" filterBy="#{estado.nome}" width="20%" sortBy="#{estado.nome}">
                                    <h:outputText value="#{estado.nome}" />
                                </p:column>
                                <p:column headerText="Sigla" filterBy="#{estado.sigla}" width="20%" sortBy="#{estado.sigla}">
                                    <h:outputText value="#{estado.sigla}" />
                                </p:column>
                                <p:column  width="10%" >
                                    <ux:actionButtons renderedInfo="false" actionEdit="#{estadoMB.setEstado(estado)}" updateEdit=":frmEstado" oncompleteEdit="PF('dlgConsulta').hide();"
                                                      actionRemove="#{estadoMB.setEstado(estado)}"  oncompleteRemove="PF('dlgConfirm').show();" updateRemove=":frmConfirm2:frmConfirm"/>
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </p:dialog>
                    <ux:confirm widgetVar="dlgConfirm" id="frmConfirm2"  mensagem="#{estadoMB.estado.nome}" actionRemove="#{estadoMB.excluir()}" updateRemove=":frmConsultar"/>
                </p:panel>
            </ui:define>

        </ui:composition>

    </body>
</html>
