<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ux="http://java.sun.com/jsf/composite/ux">

    <body>

        <ui:composition template="./../../WEB-INF/Template-ADMIN.xhtml">

            <ui:define name="conteudo">
                <p:panel header="Cidade">
                    <h:form id="frmCidade">
                        <div class="row">
                            <div class="col-lg-12">
                                <div style="float: left">
                                    
                                    <p:commandButton value="Salvar" icon="Salvar"  styleClass="btn btn-success" action="#{cidadeMB.salvar()}" update=":frmCidade, :frmConsultar">
                                        <f:param name="mode" value="true" />
                                    </p:commandButton>
                                    <p:commandButton value="Nova Cidade" icon="Novo" styleClass="btn btn-primary" >
                                        <p:ajax update="@form, :frmCidade" listener="#{cidadeMB.novo()}"  resetValues="true"  />
                                    </p:commandButton>
                                </div>
                                <div style="float: right">
                                    <p:commandButton value="Consultar" icon="Consultar" styleClass="btn btn-info" oncomplete="PF('dlgConsulta').show()"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 ">
                                <hr/>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
                                <p:outputLabel value="Nome" for="nome"/>
                                <p:inputText   value="#{cidadeMB.cidade.nome}" id="nome" required="true" requiredMessage="Informe o Nome!"/>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
                                <p:outputLabel for="uf" value="Estado" />
                                <p:selectOneMenu id="uf" value="#{cidadeMB.estado}" filter="true" converter="Converter" filterMatchMode="contains" required="true" requiredMessage="Estado obrigatório!">
                                    <f:selectItem itemLabel="Selecione o estado" itemValue="" />
                                    <f:selectItems value="#{estadoMB.listarEstados()}" var="estado" 
                                                   itemLabel="#{estado.nome} | #{estado.sigla}" itemValue="#{estado}" />
                                </p:selectOneMenu>
                            </div>
                        </div>
                    </h:form>
                    
                    <p:dialog widgetVar="dlgConsulta" modal="true" header="Consulta de Cidades" width="60%" resizable="false" position="center top" >
                        <p:messages id="msg2" closable="true"/>
                        <h:form id="frmConsultar">

                            <p:dataTable id="cidades" value="#{cidadeMB.listarCidades()}" var="cidade" paginator="true" rows="10" paginatorAlwaysVisible="false" 
                                         paginatorPosition="bottom" emptyMessage="Nenhum registro encontrado!"
                                         rowKey="#{cidade.idCidade}" selection="#{cidadeMB.cidade}" selectionMode="single">
                                <f:facet name="header">
                                    Cidades
                                </f:facet>
                                <f:facet name="footer">
                                    #{cidadeMB.listarCidades().size()} Registros encontrados.
                                </f:facet>

                                <p:column headerText="Código" filterBy="#{cidade.idCidade}" width="8%" sortBy="#{cidade.idCidade}">
                                    <center>
                                        <h:outputText value="#{cidade.idCidade}" />
                                    </center>
                                </p:column>
                                <p:column headerText="Nome" filterBy="#{cidade.nome}" width="20%" sortBy="#{cidade.nome}" filterMatchMode="contains">
                                    <h:outputText value="#{cidade.nome}" />
                                </p:column>
                                <p:column headerText="Estado" filterBy="#{cidade.idEstado.nome}" width="20%"  sortBy="#{cidade.idEstado.nome}" filterMatchMode="contains">
                                    <h:outputText value="#{cidade.idEstado.nome}" />
                                </p:column>
                                <p:column  width="10%" >
                                    <ux:actionButtons renderedInfo="false" actionEdit="#{cidadeMB.setCidade(cidade)}" updateEdit=":frmCidade" oncompleteEdit="PF('dlgConsulta').hide();"
                                                      actionRemove="#{cidadeMB.setCidade(cidade)}"  oncompleteRemove="PF('dlgConfirm').show();" updateRemove=":frmConfirm2:frmConfirm"/>
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </p:dialog>
                    <ux:confirm widgetVar="dlgConfirm" id="frmConfirm2"  mensagem="#{cidadeMB.cidade.nome}" actionRemove="#{cidadeMB.excluir()}" updateRemove=":frmConsultar"/>
                </p:panel>
            </ui:define>

        </ui:composition>

    </body>
</html>
