<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ux="http://java.sun.com/jsf/composite/ux"
      xmlns:pe="http://primefaces.org/ui/extensions">

     <body>

          <ui:composition template="./../../WEB-INF/Template-ADMIN.xhtml">

               <ui:define name="conteudo">
                    <p:panel header="Produtos">
                         <h:form id="frmProdutos">
                              <div class="row">
                                   <div class="col-lg-12">
                                        <div style="float: left">
                                             <p:commandButton value="Salvar " icon="Salvar"  styleClass="btn btn-success" action="#{produtoMB.salvar()}" update="@form">
                                                  <f:param name="mode" value="true" />
                                             </p:commandButton>
                                             <p:commandButton value="Novo Produto" icon="Novo" styleClass="btn btn-primary" >
                                                  <p:ajax update="@form"   resetValues="true"  />
                                             </p:commandButton>
                                        </div>
                                        <div style="float: right">
                                             <p:commandButton value="Consultar" icon="Consultar" styleClass="btn btn-info" update=":frmConsultarProdutos" oncomplete="PF('dlgProdutos').show()"/>
                                        </div>

                                   </div>
                              </div>
                              <div class="row">
                                   <div class="col-lg-12">
                                        <hr/>
                                        <p:messages closable="true" />
                                        <p:tabView id="tabProduto">
                                             <p:tab title="Dados" >
                                                  <div class="row">
                                                       <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                                                            <p:outputLabel for="nome" value="Nome" />
                                                            <p:inputText id="nome" value="#{produtoMB.produto.nome}" required="#{param['mode']}" requiredMessage="O Nome é obrigatório!" />
                                                       </div>



                                                       <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                                            <p:outputLabel  value="Preço" />
                                                            <pe:inputNumber id="preco" value="#{produtoMB.produto.preco}"    required="#{param['mode']}" requiredMessage="O Preço é obrigatório!" /> 
                                                       </div>

                                                       <div class="col-xs-6 col-sm-6 col-md-2 col-lg-1">
                                                            <p:outputLabel for="promo" value="Promoção" />
                                                            <p:selectBooleanCheckbox id="promo" value="#{produtoMB.produto.promocao}" >
                                                                 <p:ajax event="change" update="grpPromo" />
                                                            </p:selectBooleanCheckbox>
                                                       </div>
                                                       <h:panelGroup id="grpPromo">
                                                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2" style="display: #{produtoMB.produto.promocao == true ? 'block':'none'}">
                                                                 <p:outputLabel for="precoPromo" value="Preço Promocional " />
                                                                 <p:inputText id="precoPromo" value="#{produtoMB.produto.precoPromocional}"    /> 
                                                            </div>
                                                       </h:panelGroup>

                                                       <div class="col-xs-6 col-sm-6 col-md-2 col-lg-1">
                                                            <p:outputLabel for="ativo" value="Ativo" /><br/>
                                                            <p:selectBooleanCheckbox id="ativo" value="#{produtoMB.produto.ativo}" />
                                                       </div>

                                                       <div class="col-xs-6 col-sm-6 col-md-2 col-lg-1">
                                                            <p:outputLabel for="enc" value="Encomenda" />
                                                            <p:selectBooleanCheckbox id="enc" value="#{produtoMB.produto.encomenda}"  />
                                                       </div>

                                                  </div>
                                                  <div class="row">
                                                       <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                                            <p:outputLabel for="cat" value="Categoria" />
                                                            <p:selectOneMenu id="cat" value="#{produtoMB.produto.idCategoria}" converter="Converter" filter="true" filterMatchMode="contains" required="#{param['mode']}" requiredMessage="A Categoria é obrigatório!">
                                                                 <f:selectItem itemLabel="Selecione a categoria" itemValue="" />
                                                                 <f:selectItems value="#{categoriaMB.listarCategorias()}" var="cat"
                                                                                itemLabel="#{cat.descricao}" itemValue="#{cat}" />
                                                                 <p:ajax event="change" update="sub" />
                                                            </p:selectOneMenu>
                                                       </div>
                                                       <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                                            <p:outputLabel for="sub" value="Sub Categoria" />
                                                            <p:selectOneMenu id="sub" value="#{produtoMB.produto.idSubCategoria}" converter="Converter" filter="true" filterMatchMode="contains" required="#{param['mode']}" requiredMessage="A Sub Categoria é obrigatório!">
                                                                 <f:selectItem itemLabel="Selecione a sub categoria" itemValue="" />
                                                                 <f:selectItems value="#{produtoMB.produto.idCategoria.subCategoriaList}" var="su"
                                                                                itemLabel="#{su.descricao}" itemValue="#{su}"  />
                                                            </p:selectOneMenu>
                                                       </div>
                                                       <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                                                            <p:outputLabel for="MetaTag" value="Meta Tag"/>
                                                            <p:inputText id="MetaTag" value="#{produtoMB.produto.metaTag}" placeholder="Separe por ," />
                                                       </div>
                                                       <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                                            <p:outputLabel for="dispo" value="Disponibilidade" /><br/>
                                                            <p:selectOneMenu id="dispo" value="#{produtoMB.produto.disponibilidade}" >
                                                                 <f:selectItem itemLabel="Disponível" itemValue="Disponível" />
                                                                 <f:selectItem itemLabel="Sob Demanda" itemValue="Sob Demanda" />
                                                                 <f:selectItem itemLabel="Indisponível" itemValue="Indisponível" />
                                                            </p:selectOneMenu>
                                                       </div>
                                                       <div class="col-xs-12">
                                                            <p:outputLabel for="desc" value="Descrição" />
                                                            <p:editor id="desc" value="#{produtoMB.produto.descricao}" />
                                                       </div>
                                                  </div>
                                             </p:tab>
                                             <p:tab title="Entrega/Frete" rendered="#{controleSessaoMB.usuarioLogado.idEmpresa.segmento  != 'Serviços/Contato' }" >
                                                  <div class="row">
                                                       <div class="col-xs-12">
                                                            <p:messages id="mess" closable="true" />
                                                       </div>
                                                       <h:panelGroup rendered="#{controleSessaoMB.usuarioLogado.idEmpresa.segmento =='Produtos'}" >
                                                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                                                 <p:outputLabel for="format" value="Formato" /><br/>
                                                                 <p:selectOneMenu id="format" value="#{produtoMB.produto.formatoEncomenda}" >
                                                                      <f:selectItem itemLabel="Caixa/Pacote" itemValue="1" />
                                                                      <f:selectItem itemLabel="Rolo/Prisma" itemValue="2" />
                                                                      <f:selectItem itemLabel="Envelope" itemValue="3" />
                                                                      <p:ajax event="change" update="peso, altura" listener="#{produtoMB.regrasCorreios()}" />
                                                                 </p:selectOneMenu>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                                                 <p:outputLabel for="comprimento" value="Comprimento (CM)" />
                                                                 <p:inputText id="comprimento" value="#{produtoMB.produto.comprimentoCm}" placeholder="Informe em CM" >
                                                                      <p:ajax event="change" listener="#{produtoMB.validarComprimento()}" update="@this, mess" />
                                                                 </p:inputText>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                                                 <p:outputLabel for="altura" value="Altura (CM)" />
                                                                 <p:inputText id="altura" value="#{produtoMB.produto.alturaCm}" placeholder="Informe em CM" >
                                                                      <p:ajax event="change" listener="#{produtoMB.regrasCorreiosAltura()}" update="@this, mess" />
                                                                 </p:inputText>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                                                 <p:outputLabel for="largura" value="Largura (CM)" />
                                                                 <p:inputText id="largura" value="#{produtoMB.produto.larguraCm}" placeholder="Informe em CM" >
                                                                      <p:ajax event="change" listener="#{produtoMB.regrasCorreiosLargura()}" update="@this, mess" />
                                                                 </p:inputText>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                                                 <p:outputLabel for="diametro" value="Diametro (CM)" />
                                                                 <p:inputText id="diametro" value="#{produtoMB.produto.diametroCm}" placeholder="Informe em CM" >
                                                                      <p:ajax event="change" listener="#{produtoMB.regrasCorreiosDiametro()}" update="@this, mess" />
                                                                 </p:inputText>
                                                            </div>v
                                                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                                                 <p:outputLabel for="peso" value="Peso (KG)" />
                                                                 <p:inputText id="peso" value="#{produtoMB.produto.pesoKg}" placeholder="Informe em KG" >
                                                                      <p:ajax event="change" listener="#{produtoMB.regrasCorreiosPeso()}" update="@this, mess"/>
                                                                 </p:inputText>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                                                 <p:outputLabel for="aviso" value="Aviso Recebimento" /><br/>
                                                                 <p:selectOneMenu id="aviso" value="#{produtoMB.produto.avisoRecebimento}" >
                                                                      <f:selectItem itemLabel="Sim" itemValue="S" />
                                                                      <f:selectItem itemLabel="Não" itemValue="N" />
                                                                 </p:selectOneMenu>
                                                            </div>
                                                       </h:panelGroup>
                                                       <h:panelGroup rendered="#{controleSessaoMB.usuarioLogado.idEmpresa.segmento =='Delivery'}" >
                                                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                                                 <p:outputLabel  value="Custo Entrega: " />
                                                                 <p:inputText value="#{controleSessaoMB.empresaLogada.valorEntrega}" readonly="true" >
                                                                      <f:convertNumber type="currency" />
                                                                 </p:inputText>
                                                            </div>
                                                       </h:panelGroup>
                                                  </div>
                                             </p:tab>
                                             <p:tab title="Tags"  rendered="false">
                                                  <div class="row">
                                                       <div class="col-lg-4">
                                                            <p:outputLabel for="tag" value="Tag" />
                                                            <script>
                                                                 function inputGrp(){
                                                                      document.getElementById('frmProdutos:tabProduto:tag:idinput').value= '';
                                                                      $(function(){PrimeFaces.focus('frmProdutos:tabProduto:tag:idinput');});
                                                                 }
                                                            </script>
                                                            <ux:inputGroup id="tag"  idinput="idinput" icon="Novo" styleClass="btn btn-primary" valueInput="#{produtoMB.tag}" action="#{produtoMB.addTag()}"  oncomplete="inputGrp()"  update=":frmProdutos:tabProduto:updtTableTags" />
                                                       </div>
                                                       <div class="col-lg-6">
                                                            <p:dataTable value="#{produtoMB.produto.tagsList}" id="updtTableTags" var="tag" rowIndexVar="tagIndex" paginator="true" paginatorAlwaysVisible="false" rows="10" emptyMessage="Nenhuma tag adicionada!">
                                                                 <f:facet name="header">
                                                                      Tags
                                                                 </f:facet>
                                                                 <p:column headerText="Tag" width="80%" filterBy="#{tag.descricao}">
                                                                      <h:outputText value="#{tag.descricao}"  />
                                                                 </p:column>
                                                                 <p:column width="20%">
                                                                      <ux:actionButtons renderedEdit="false" renderedInfo="false" actionRemove="#{produtoMB.excluirTag(tag, tagIndex)}"   />
                                                                 </p:column>
                                                            </p:dataTable>
                                                       </div>
                                                  </div>
                                             </p:tab>
                                             <p:tab title="Fotos" >
                                                  <div class="row">
                                                       <div class="col-lg-12">
                                                            <h:outputText value="Foto Principal (400 Largura x 300 Altura)" />
                                                            <p:fileUpload  fileUploadListener="#{produtoMB.uploadProdutoPrincipal}" mode="advanced"
                                                                           update="image"  auto="true"  
                                                                           allowTypes="/(\.|\/)(gif|jpe?g|jpg|png)$/"  >
                                                            </p:fileUpload>
                                                            &nbsp;
                                                            <p:graphicImage id="image" value="/upload/Produto/#{produtoMB.getidTemp()}/#{produtoMB.produto.fotoPrincipal}"  style="display: #{produtoMB.produto.fotoPrincipal != null ? 'block' : 'none'}"  alt="sem imagem" styleClass="img-responsive"  width="100" height="100" />
                                                       </div>
                                                       <div class="col-lg-6">
                                                            <h:outputText value="Fotos (400 Largura x 300 Altura)" />
                                                            <p:fileUpload  fileUploadListener="#{produtoMB.uploadFotosProdutoPrincipal}" mode="advanced" multiple="true"
                                                                           update="carrousel"  cancelLabel="Cancelar" uploadLabel="Enviar"
                                                                           allowTypes="/(\.|\/)(gif|jpe?g|jpg|png)$/"   />
                                                       </div>
                                                       <div class="col-lg-12">
                                                            <p:carousel id="carrousel"  value="#{produtoMB.produto.fotoList}"   headerText="Fotos de Produtos" var="fot" >
                                                                 <h:panelGrid columns="2" style="width:100%;margin:10px 0px" columnClasses="label,value"  styleClass="ui-panelgrid-blank">
                                                                      <f:facet name="header">
                                                                           <h:graphicImage  value="/upload/Produto/#{produtoMB.getidTemp()}/#{fot.url}"  alt="sem imagem" width="100" height="100" />
                                                                      </f:facet>
                                                                      <center>
                                                                           <p:commandButton icon="Excluir" action="#{produtoMB.excluirFoto(fot)}" update="carrousel" />
                                                                      </center>
                                                                 </h:panelGrid>
                                                            </p:carousel>
                                                       </div>
                                                  </div>
                                             </p:tab>
                                        </p:tabView>

                                   </div>
                              </div>
                         </h:form>

                         <p:dialog widgetVar="dlgProdutos" header="Consulta de Produtos" modal="true" width="80%" >
                              <h:form id="frmConsultarProdutos">
                                   <p:dataTable value="#{produtoMB.listaDeProdutos(controleSessaoMB.usuarioLogado.idEmpresa)}" id="tblProds" var="prod" paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom" emptyMessage="Nenhum produto encontrado!" >
                                        <p:column headerText="Produto" filterBy="#{prod.nome}" width="35%" style="font-size: 11px;" >
                                             <h:outputText value="#{prod.nome}" />
                                        </p:column>
                                        <p:column  width="10%">
                                            <f:facet name="header">
                                                <h:outputText value="Preço" styleClass="tete" /> 
                                            </f:facet>
                                             <ux:outputMoney value="#{prod.preco}" />
                                        </p:column>
                                        <p:column    width="10%">
                                             <f:facet name="header">
                                                <h:outputText value="Preço Prom" styleClass="tete" /> 
                                            </f:facet>
                                             <ux:outputMoney value="#{prod.precoPromocional}" />
                                        </p:column>
                                        <p:column headerText="Categoria" filterBy="#{prod.idCategoria.descricao}" width="15%" >
                                             <h:outputText value="#{prod.idCategoria.descricao}" />
                                        </p:column>
                                        <p:column headerText="Sub Categoria" filterBy="#{prod.idSubCategoria.descricao}" width="15%" >
                                             <h:outputText value="#{prod.idSubCategoria.descricao}" />
                                        </p:column>
                                        <p:column headerText="Disponibilidade" filterBy="#{prod.disponibilidade}" width="10%" >
                                             <h:outputText value="#{prod.disponibilidade}" />
                                        </p:column>
                                        <p:column width="10%"  >
                                             <p:commandButton action="#{produtoMB.setProduto(prod)}" update=":frmProdutos" oncomplete="PF('dlgProdutos').hide();" styleClass="btn btn-success btn-sm" icon="Editar" title="Editar">
                                                  <f:param name="mode" value="false"  />
                                             </p:commandButton>
                                             <ux:actionButtons renderedInfo="false" 
                                                               renderedEdit="false"
                                                               actionRemove="#{produtoMB.excluirProduto(prod)}" updateRemove="@form"/>
                                        </p:column>
                                   </p:dataTable>
                              </h:form>
                         </p:dialog>
                    </p:panel>
               </ui:define>

          </ui:composition>

     </body>
</html>
