<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ux="http://java.sun.com/jsf/composite/ux"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <body>

         <ui:composition template="./../../WEB-INF/Template-ADMIN.xhtml">
            <ui:define name="conteudo">
                <p:panel header="Controle de Empresas" rendered="#{controleSessaoMB.usuarioLogado.idPerfil.descricao == 'Administrador'}"  >
                    <ui:include src="../Administrador/index.xhtml" />
                </p:panel>
            </ui:define>

        </ui:composition>

    </body>
</html>
