<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ux="http://java.sun.com/jsf/composite/ux"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

     <body>

          <ui:composition template="./../../WEB-INF/Template-ADMIN.xhtml">


               <ui:define name="conteudo">
                    <p:panel header="Configurações da Empresa #{controleSessaoMB.empresaLogada.nome}" >
                         <h:form>
                              <div class="row">
                                   <ux:col xs="12">
                                        <p:commandButton value="Atualizar Informações" icon="Salvar" styleClass="btn btn-primary" action="#{controleSessaoMB.atualizarConfiguracoes()}" update="@form"/>
                                        <hr/>
                                        <p:messages id="msgInside" closable="true" />
                                   </ux:col>
                              </div>
                              <div class="row">
                                   <ux:col xs="12">
                                        <p:tabView id="accord">
                                             <p:tab title="Informações da Empresa">
                                                  <div class="row">
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-2">
                                                            <p:outputLabel for="seg" value="Segmento" />
                                                            <p:selectOneMenu id="seg" value="#{controleSessaoMB.empresaLogada.segmento}" required="true" disabled="true" requiredMessage="O Segmento é obrigatório!" >
                                                                 <f:selectItem itemLabel="Selecione o segmento" itemValue="" />
                                                                 <f:selectItem itemLabel="Delivery" itemValue="Delivery" />
                                                                 <f:selectItem itemLabel="Produtos" itemValue="Produtos" />
                                                                 <f:selectItem itemLabel="Serviços/Contato" itemValue="Serviços/Contato" />
                                                                 <p:ajax   event="change" update="accord"  listener="#{empresaMB.versegmento()}"/>
                                                            </p:selectOneMenu>
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
                                                            <p:outputLabel for="nome" value="Nome Empresa" />
                                                            <p:inputText id="nome" value="#{controleSessaoMB.empresaLogada.nome}" required="true" requiredMessage="O Nome da empresa é obrigatório!" />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
                                                            <p:outputLabel for="slogan" value="Slogan" />
                                                            <p:inputText id="slogan" value="#{controleSessaoMB.empresaLogada.slogan}" />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-2">
                                                            <p:outputLabel for="cnpj" value="CNPJ" />
                                                            <p:inputMask id="cnpj" mask="99.999.999/9999-99" value="#{controleSessaoMB.empresaLogada.cnpj}" required="true" requiredMessage="O CNPJ é obrigatório!" />
                                                       </div>

                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-2">
                                                            <p:outputLabel for="ie" value="IE" />
                                                            <p:inputText id="ie" value="#{controleSessaoMB.empresaLogada.ie}" />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-2">
                                                            <p:outputLabel for="im" value="IM" />
                                                            <p:inputText id="im" value="#{controleSessaoMB.empresaLogada.im}" />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-2">
                                                            <p:outputLabel for="cpf" value="CPF" />
                                                            <p:inputText id="cpf" value="#{controleSessaoMB.empresaLogada.cpf}"  />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-2 col-lg-1">
                                                            <p:outputLabel for="ativo" value="Ativo" /><br/>
                                                            <p:selectBooleanCheckbox id="ativo"  value="#{controleSessaoMB.empresaLogada.ativo}" />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-2 col-lg-1">
                                                            <p:outputLabel for="bloq" value="Bloqueado" /><br/>
                                                            <p:selectBooleanCheckbox id="bloq"  value="#{controleSessaoMB.empresaLogada.bloqueado}" />
                                                       </div>
                                                  </div>
                                                  <div class="row">
                                                       <div class="col-xs-4 col-sm-3 col-md-1 col-lg-1">
                                                            <p:outputLabel for="ddd1" value="DDD" />
                                                            <p:inputText id="ddd1" value="#{controleSessaoMB.empresaLogada.dddTelefone}" maxlength="3" required="true" requiredMessage="O ddd 1 é obrigatório!"/>
                                                       </div>
                                                       <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                                                            <p:outputLabel for="phone" value="Telefone" />
                                                            <p:inputText id="phone" value="#{controleSessaoMB.empresaLogada.telefone}" required="true" requiredMessage="O telefone 1 é obrigatório!" />
                                                       </div>
                                                       <div class="col-xs-4 col-sm-3 col-md-1 col-lg-1">
                                                            <p:outputLabel for="ddd2" value="DDD 2" />
                                                            <p:inputText id="ddd2" value="#{controleSessaoMB.empresaLogada.dddSegundoTelefone}" maxlength="3"/>
                                                       </div>
                                                       <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                                                            <p:outputLabel for="phone2" value="Telefone 2" />
                                                            <p:inputText id="phone2" value="#{controleSessaoMB.empresaLogada.segundoTelefone}" />
                                                       </div>
                                                       <div class="col-xs-4 col-sm-3 col-md-1 col-lg-1">
                                                            <p:outputLabel for="whatsddd" value="DDD wap" />
                                                            <p:inputText id="whatsddd" value="#{controleSessaoMB.empresaLogada.ddTelefoneWhatsapp}" maxlength="3"/>
                                                       </div>
                                                       <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                                                            <p:outputLabel for="phoneWhats" value="Whatsapp" />
                                                            <p:inputText id="phoneWhats" value="#{controleSessaoMB.empresaLogada.telefoneWhatsapp}" />
                                                       </div>
                                                       <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                                                            <p:outputLabel for="emailEmpresa" value="Email Empresa" />
                                                            <p:inputText id="emailEmpresa" value="#{controleSessaoMB.empresaLogada.email}" required="true" requiredMessage="Informe o email!" readonly="true" />
                                                       </div>
                                                       <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                                                            <p:outputLabel for="site" value="Site" />
                                                            <p:inputText id="site" value="#{controleSessaoMB.empresaLogada.site}" />
                                                       </div>
                                                       <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                                                            <p:outputLabel for="siteComp" value="Site Compra" />
                                                            <p:inputText id="siteComp" value="#{controleSessaoMB.empresaLogada.siteCompra}" />
                                                       </div>
                                                       <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                                                            <p:outputLabel for="face" value="Facebook" />
                                                            <p:inputText id="face" value="#{controleSessaoMB.empresaLogada.facebook}" />
                                                       </div>
                                                       <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                                                            <p:outputLabel for="gplus" value="Google Plus" />
                                                            <p:inputText id="gplus" value="#{controleSessaoMB.empresaLogada.googlePlus}" />
                                                       </div>
                                                       <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                                            <p:outputLabel for="twitter" value="Twitter" />
                                                            <p:inputText id="twitter" value="#{controleSessaoMB.empresaLogada.twitter}" />
                                                       </div>


                                                       <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                                            <p:outputLabel for="horarioAberto" id="lbAberto" value="Horário Início" rendered="#{controleSessaoMB.empresaLogada.segmento == 'Delivery' or controleSessaoMB.empresaLogada.segmento == 'Serviços'}" />
                                                            <p:calendar id="horarioAberto" pattern="HH:mm:ss" timeOnly="true" locale="pt"  value="#{controleSessaoMB.empresaLogada.horarioFuncionamentoInicio}"  rendered="#{controleSessaoMB.empresaLogada.segmento == 'Delivery' or controleSessaoMB.empresaLogada.segmento == 'Serviços'}" required="true" requiredMessage="O Horário de Abertura é obrigatório!"/>
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                                            <p:outputLabel for="horarioFechado" id="lbHorarioFechado" value="Horário Fechado" rendered="#{controleSessaoMB.empresaLogada.segmento == 'Delivery' or controleSessaoMB.empresaLogada.segmento == 'Serviços'}"/>
                                                            <p:calendar id="horarioFechado" pattern="HH:mm:ss" timeOnly="true" locale="pt" value="#{controleSessaoMB.empresaLogada.horarioFuncionamentoFinal}" rendered="#{controleSessaoMB.empresaLogada.segmento == 'Delivery' or controleSessaoMB.empresaLogada.segmento == 'Serviços'}"  required="true" requiredMessage="O Horário de Fechamento é obrigatório!"/>
                                                       </div>
                                                       <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                                            <p:outputLabel for="custoEntrega" value="Custo Entrega"  rendered="#{controleSessaoMB.empresaLogada.segmento == 'Delivery'}"/>
                                                            <p:inputText id="custoEntrega" value="#{controleSessaoMB.empresaLogada.valorEntrega}" rendered="#{controleSessaoMB.empresaLogada.segmento == 'Delivery'}" required="true" >
                                                            </p:inputText>
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
                                                            <p:outputLabel id="lbFechado" for="diaFechado"  value="Dias Funcionamento" rendered="#{controleSessaoMB.empresaLogada.segmento == 'Delivery' or controleSessaoMB.empresaLogada.segmento == 'Serviços'}" />
                                                            <p:selectManyMenu id="diaFechado" value="#{controleSessaoMB.diasFuncionamento}" showCheckbox="true"  rendered="#{controleSessaoMB.empresaLogada.segmento == 'Delivery' or controleSessaoMB.empresaLogada.segmento == 'Serviços'}">
                                                                 <f:selectItem itemLabel="Domingo" itemValue="Domingo" />
                                                                 <f:selectItem itemLabel="Segunda" itemValue="Segunda" />
                                                                 <f:selectItem itemLabel="Terça" itemValue="Terça" />
                                                                 <f:selectItem itemLabel="Quarta" itemValue="Quarta" />
                                                                 <f:selectItem itemLabel="Quinta" itemValue="Quinta" />
                                                                 <f:selectItem itemLabel="Sexta" itemValue="Sexta" />
                                                                 <f:selectItem itemLabel="Sabado" itemValue="Sabado" />
                                                                 <p:ajax event="change" listener="#{controleSessaoMB.verDia()}" />
                                                            </p:selectManyMenu>
                                                       </div>
                                                  </div>
                                             </p:tab>
                                             <p:tab  title="Configurações e Segurança">
                                                  <div class="row">
                                                       <p:messages id="msgInside3" closable="true" />
                                                       <h:panelGroup rendered="false">
                                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                                 <p:outputLabel for="emailVendas" value="Email de Vendas" />
                                                                 <p:inputText id="emailVendas" value="#{controleSessaoMB.empresaLogada.emailVendas}" />
                                                            </div>
                                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                                 <p:outputLabel for="emailCompras" value="Email de Pagamento" />
                                                                 <p:inputText id="emailCompras" value="#{controleSessaoMB.empresaLogada.emailPagamento}" />
                                                            </div>
                                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                                 <p:outputLabel for="tokenSeg" value="Token de Segurança" />
                                                                 <p:inputText id="tokenSeg" value="#{controleSessaoMB.empresaLogada.tokenSeguranca}" />
                                                            </div>
                                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                                 <p:outputLabel for="userSMS" value="Usuário SMS" />
                                                                 <p:inputText id="userSMS" value="#{controleSessaoMB.empresaLogada.principalUserSmsMobi}" />
                                                            </div>
                                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                                 <p:outputLabel for="credSms" value="Credencial SMS" />
                                                                 <p:inputText id="credSms" value="#{controleSessaoMB.empresaLogada.credencialSmsMobi}" />
                                                            </div>
                                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                                 <p:outputLabel for="tokenSeg2" value="Token de Segurança SMS" />
                                                                 <p:inputText id="tokenSeg2" value="#{controleSessaoMB.empresaLogada.tokenSmsMobi}" />
                                                            </div>
                                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                                 <p:outputLabel for="tagDesc" value="Tag Description" />
                                                                 <p:inputText id="tagDesc" value="#{controleSessaoMB.empresaLogada.tagDescription}" />
                                                            </div>
                                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                                 <p:outputLabel for="tagkey" value="Tag keyword" />
                                                                 <p:inputText id="tagkey" value="#{controleSessaoMB.empresaLogada.tagKeywords}" />
                                                            </div>
                                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                                                 <p:outputLabel for="idade" value="Menor de Idade" /><br/>
                                                                 <p:selectBooleanCheckbox id="idade" value="#{controleSessaoMB.empresaLogada.janelaConfirmacaoMenorIdade}" />
                                                            </div>
                                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                                                 <p:outputLabel for="enviaSms" value="Enviar SMS" /><br/>
                                                                 <p:selectBooleanCheckbox id="enviaSms" value="#{controleSessaoMB.empresaLogada.enviarSms}" />
                                                            </div>
                                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                                                 <p:outputLabel for="enviaEmail" value="Enviar Email" /><br/>
                                                                 <p:selectBooleanCheckbox id="enviaEmail" value="#{controleSessaoMB.empresaLogada.enviarEmail}" />
                                                            </div>
                                                       </h:panelGroup>
                                                  </div>
                                                  <div class="row">
                                                       <h:panelGroup id="grpMoip">
                                                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="display: #{controleSessaoMB.empresaLogada.segmento=='Serviços/Contato'?'none':'block'}">
                                                                 <p:outputLabel for="LoginMoip" value="Login Moip" />
                                                                 <p:inputText id="LoginMoip" value="#{controleSessaoMB.empresaLogada.loginMoip}" readonly="true" />
                                                            </div>
                                                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="display: #{controleSessaoMB.empresaLogada.segmento=='Serviços/Contato'?'none':'block'}">
                                                                 <p:outputLabel for="SenhaMoip" value="Senha Moip" />
                                                                 <p:inputText id="SenhaMoip" value="#{controleSessaoMB.empresaLogada.senhaMoip}" readonly="true" />
                                                            </div>
                                                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="display: #{controleSessaoMB.empresaLogada.segmento=='Serviços/Contato'?'none':'block'}">
                                                                 <p:outputLabel for="IDMoip" value="ID Moip" />
                                                                 <p:inputText id="IDMoip" value="#{controleSessaoMB.empresaLogada.idMoip}" readonly="true" />
                                                            </div>
                                                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="display: #{controleSessaoMB.empresaLogada.segmento=='Serviços/Contato'?'none':'block'}">
                                                                 <p:outputLabel for="oAuth" value="oAuth" />
                                                                 <p:inputText id="oAuth" value="#{controleSessaoMB.empresaLogada.oauth}" type="password" readonly="true" />
                                                            </div>
                                                       </h:panelGroup>
                                                       <div class="col-xs-6">
                                                            <p:outputLabel for="descEmp" value="Descrição empresa" />
                                                            <p:editor id="descEmp" value="#{controleSessaoMB.empresaLogada.texto}"  />
                                                       </div>
                                                       <div class="col-xs-6">
                                                            <p:outputLabel for="termos" value="Termos" />
                                                            <p:editor id="termos" value="#{controleSessaoMB.empresaLogada.termosUso}"  />
                                                       </div>
                                                       <div class="col-xs-6">
                                                            <p:outputLabel for="textoDev" value="Texto Devolução" />
                                                            <p:inputTextarea id="textoDev" value="#{controleSessaoMB.empresaLogada.termosUso}"  />
                                                       </div>
                                                       <div class="col-xs-6">
                                                            <p:outputLabel for="textoRodape" value="Texto Rodapé" />
                                                            <p:inputTextarea id="textoRodape" value="#{controleSessaoMB.empresaLogada.termosUso}"  />
                                                       </div>
                                                  </div>
                                             </p:tab>
                                             <p:tab  title="Endereço">
                                                  <div class="row">
                                                       <p:messages id="msgInside4" closable="true" />
                                                       <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                                            <p:outputLabel for="uf" value="Estado" />
                                                            <p:selectOneMenu id="uf" filter="true" filterMatchMode="contains" value="#{controleSessaoMB.empresaLogada.idEstado}" converter="Converter" required="true" requiredMessage="O Estado é obrigatório!" >
                                                                 <f:selectItem itemLabel="Selecione o estado" itemValue=""  />
                                                                 <f:selectItems value="#{estadoMB.listarEstados()}" var="est"
                                                                                itemLabel="#{est.nome}" itemValue="#{est}" />
                                                                 <p:ajax event="change" update="cidade" />
                                                            </p:selectOneMenu>
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
                                                            <p:outputLabel for="cidade" value="Cidade" />
                                                            <p:selectOneMenu id="cidade" filter="true" filterMatchMode="contains"  value="#{controleSessaoMB.empresaLogada.idCidade}" converter="Converter" required="true" requiredMessage="A Cidade é obrigatório!">
                                                                 <f:selectItem itemLabel="Selecione a Cidade" itemValue=""  />
                                                                 <f:selectItems value="#{controleSessaoMB.empresaLogada.idEstado.cidadeList}" var="city"
                                                                                itemLabel="#{city.nome}" itemValue="#{city}"  />
                                                            </p:selectOneMenu>
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-2">
                                                            <p:outputLabel for="tipoLog" value="Tipo Logradouro" />
                                                            <p:inputText id="tipoLog" value="#{controleSessaoMB.empresaLogada.tipoLogradouro}" placeholder="Ex: Rua, Av" />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
                                                            <p:outputLabel for="logradouro" value="Logradouro" />
                                                            <p:inputText id="logradouro" value="#{controleSessaoMB.empresaLogada.logradouro}" required="true" requiredMessage="O Logradouro é obrigatório!" />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-1">
                                                            <p:outputLabel for="num" value="Nº" />
                                                            <p:inputText id="num" value="#{controleSessaoMB.empresaLogada.numero}" required="true" requiredMessage="O Nº é obrigatório!" />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-2">
                                                            <p:outputLabel for="bairro" value="Bairro" />
                                                            <p:inputText id="bairro" value="#{controleSessaoMB.empresaLogada.bairro}" required="true" requiredMessage="O Bairro é obrigatório!" />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-5 col-lg-2">
                                                            <p:outputLabel for="compl" value="Complemento" />
                                                            <p:inputText id="compl" value="#{controleSessaoMB.empresaLogada.complemento}" />
                                                       </div>
                                                  </div>
                                             </p:tab>
                                             <p:tab  title="Logo e Fotos">
                                                  <div class="row">
                                                       <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                                            <p:outputLabel  value="Empresa Logo (400 Largura x 300 Altura)" />
                                                            <p:fileUpload  fileUploadListener="#{controleSessaoMB.uploadEmpresaLogo}" mode="advanced"
                                                                           update="logo" auto="true" 
                                                                           allowTypes="/(\.|\/)(gif|jpe?g|jpg|png)$/"  />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                            <h:graphicImage id="logo" value="/upload/Empresa/#{controleSessaoMB.empresaLogada.idEmpresa}/#{controleSessaoMB.empresaLogada.logo}" style="display: #{controleSessaoMB.empresaLogada.logo != null ? 'block' : 'none'}"  alt="sem imagem" width="300" height="300" styleClass="img-responsive"/>
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                                            <p:outputLabel  value="Empresa Capa (750x255)" />
                                                            <p:fileUpload  fileUploadListener="#{controleSessaoMB.uploadEmpresaCapa}" mode="advanced"
                                                                           update="capa" auto="true" 
                                                                           allowTypes="/(\.|\/)(gif|jpe?g|jpg|png)$/"  />
                                                       </div>
                                                       <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                            <h:graphicImage id="capa" value="/upload/Empresa/#{controleSessaoMB.empresaLogada.idEmpresa}/#{controleSessaoMB.empresaLogada.capa}" style="display: #{controleSessaoMB.empresaLogada.capa != null ? 'block' : 'none'}"  alt="sem imagem" width="750" height="255" styleClass="img-responsive"/>
                                                       </div>
                                                       <div class="col-xs-12 ">
                                                            <p:outputLabel  value="Fotos da Empresa (400x300)" />
                                                            <p:fileUpload  fileUploadListener="#{controleSessaoMB.uploadFotosEmpresa}" mode="advanced"
                                                                           update="carrouselEmpresa" auto="true"  disabled="#{controleSessaoMB.empresaLogada.fotoList.size()>=5}"
                                                                           allowTypes="/(\.|\/)(gif|jpe?g|jpg|png)$/"  />
                                                            <hr/>
                                                            <p:carousel id="carrouselEmpresa"  value="#{controleSessaoMB.empresaLogada.fotoList}"   headerText="Fotos da Empresa" var="foto" >
                                                                 <h:panelGrid columns="2" style="width:100%;margin:10px 0px" columnClasses="label,value"  styleClass="ui-panelgrid-blank">
                                                                      <f:facet name="header">
                                                                           <h:graphicImage  value="/upload/Empresa/#{controleSessaoMB.empresaLogada.idEmpresa}/#{foto.url}"  alt="sem imagem" width="100" height="100" />
                                                                      </f:facet>
                                                                      <center>
                                                                           <p:commandButton icon="Excluir" action="#{controleSessaoMB.excluirFotoEmpresa(foto)}" update="carrouselEmpresa" />
                                                                      </center>
                                                                 </h:panelGrid>
                                                            </p:carousel>
                                                       </div>
                                                  </div>  
                                             </p:tab>
                                        </p:tabView>
                                   </ux:col>
                              </div>
                         </h:form>
                    </p:panel>
               </ui:define>

          </ui:composition>

     </body>
</html>
