<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ux="http://java.sun.com/jsf/composite/ux"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">

    <body>

        <ui:composition template="./../../WEB-INF/Template-ADMIN.xhtml">

            <ui:define name="conteudo">
                <p:panel header="Pedidos">
                    <h:form id="frmPedidos">
                        <p:dataTable value="#{deliveryMB.listarPedisoAbertos(controleSessaoMB.usuarioLogado.idEmpresa)}" var="ped" >
                            <p:column style="width:28px">
                                <p:rowToggler />
                            </p:column>
                            <p:column headerText="Pedido"  style="width: 100px; font-size: 10px" filterBy="#{ped.lote}" filterMatchMode="contains">
                                <h:outputText value="...#{ped.lote.substring(ped.lote.length()-4, ped.lote.length())}" />
                            </p:column>
                            <p:column headerText="Cliente" width="25%" style="font-size: 10px" filterBy="#{ped.usuario.idCliente.primeiroNome} #{ped.usuario.idCliente.sobrenome}" filterMatchMode="contains">
                                <h:outputText value="#{ped.usuario.idCliente.primeiroNome} #{ped.usuario.idCliente.sobrenome}" />
                            </p:column>
                            <p:column headerText="Telefone" width="10%" style="font-size: 10px" >
                                <h:outputText value="#{ped.telefone} " />
                            </p:column>
                            <p:column headerText="Data" width="15%" style="font-size: 10px">
                                <ux:outputDate value="#{ped.dt_venda}" />
                            </p:column>
                            <p:column headerText="Valor" width="15%" style="font-size: 10px" >
                                <ux:outputMoney value="#{ped.valor}" />
                            </p:column>
                            <p:column headerText="Status" width="10%" style="font-size: 10px" >
                                <ux:outputMoney value="#{ped.status}" styleClass="#{ped.verificaSituacao()}"/>
                            </p:column>
                            <p:column headerText="Entrega" width="15%" style="font-size: 10px" >
                                <ux:outputMoney value="#{ped.situacaoEntrega}" styleClass="#{ped.verificaEntrega()}" />
                            </p:column>
                            <p:column headerText="Codigo Ret." width="10%" style="font-size: 10px" filterBy="#{ped.codRetirada}" filterMatchMode="contains">
                                <ux:outputMoney value="#{ped.codRetirada}" />
                            </p:column>
                            <p:column  style="width: 80px" >
                                <p:commandButton icon="Sucesso" styleClass="btn btn-primary btn-sm" title="Confirmar envio/retirada" update="@all" action="#{deliveryMB.confirmarPedido(ped)}" />
                                <p:commandButton icon="Excluir"  disabled="true" styleClass="btn btn-warning btn-sm" title="Cancelar"/>
                            </p:column>
                            <p:rowExpansion>
                                <h2>Produtos</h2>
                                <hr/>
                                <p:dataTable value="#{deliveryMB.listarComprasPorLote(ped.lote)}" var="prod">
                                    <p:column headerText="Produto" width="35%">
                                        <table>
                                            <tr >
                                                <td style="border: none !important; width: 120px;"><p:graphicImage value="/upload/Produto/#{prod.idProduto.idProduto}/#{prod.idProduto.fotoPrincipal}"  styleClass="img-responsive" style="width: 100px; height: 100px;" /></td>
                                                <td style="border: none !important;"><h:outputText value="#{prod.idProduto.nome}" /></td>
                                            </tr>
                                        </table>
                                    </p:column>
                                    <p:column headerText="Quantidade"  width="10%" styleClass="text-center">
                                        <h:outputText value="#{prod.quantidade}" />
                                    </p:column>
                                    <p:column  headerText="Valor" width="10%" styleClass="text-center">
                                        <h:outputText value="#{prod.valorCompra}" />
                                    </p:column>
                                    <p:column headerText="Total" width="10%"  styleClass="text-center">
                                        <h:outputText value="#{prod.valorCompra.multiply(prod.quantidade)}" />
                                    </p:column>
                                </p:dataTable>
                            </p:rowExpansion>
                        </p:dataTable>

                    </h:form>
                </p:panel>
            </ui:define>

        </ui:composition>

    </body>
</html>
