<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ux="http://java.sun.com/jsf/composite/ux">

     <p:tabView id="wizard"   >
          <p:tab title="Dados Básicos">
               <div class="row">
                    <div class="row">
                         <div class="col-md-2">
                              <p:outputLabel for="seg" value="Segmento" />
                              <p:selectOneMenu id="seg" value="#{empresaMB.empresa.segmento}" required="#{param['mode']}" requiredMessage="O Segmento é obrigatório!" >
                                   <f:selectItem itemLabel="" itemValue="" />
                                   <f:selectItem itemLabel="Delivery" itemValue="Delivery" />
                                   <f:selectItem itemLabel="Produtos" itemValue="Produtos" />
                                   <f:selectItem itemLabel="Serviços/Contato" itemValue="Serviços/Contato" />
                                   <p:ajax update="wizard, grpMoip "  event="change"  listener="#{empresaMB.versegmento()}"/>
                              </p:selectOneMenu>
                         </div>
                         <div class="col-xs-3 col-sm-6 col-md-2 col-lg-2">
                              <p:outputLabel for="ecommerce" value="ecommerce?" /><br/>
                              <p:selectBooleanCheckbox id="ecommerce"  value="#{empresaMB.empresa.ecommerce}" >
                                   <p:ajax event="change" update="cpf , cpflabel" />
                              </p:selectBooleanCheckbox>
                         </div>
                         <div class="col-xs-3 col-sm-6 col-md-2 col-lg-2">
                              <p:outputLabel for="ativo" value="ativo?" /><br/>
                              <p:selectBooleanCheckbox id="ativo"  value="#{empresaMB.empresa.ativo}" />
                         </div>
                         <div class="col-xs-3 col-sm-6 col-md-2 col-lg-2">
                              <p:outputLabel for="bloq" value="bloqueado?" /><br/>
                              <p:selectBooleanCheckbox id="bloq"  value="#{empresaMB.empresa.bloqueado}" />
                         </div>
                         <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2" title="Lojas sugeridas são aquelas que aparecem no página inicial no site.">
                              <p:outputLabel for="lojaSUb" value="sugerida?" /><br/>
                              <p:selectBooleanCheckbox value="#{empresaMB.empresa.lojaSugerida}" id="lojaSUb" />
                         </div>
                         <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2" title="Lojas patrocinadas são aquelas que aparecem no rodapé da página de busca.">
                              <p:outputLabel for="linkPatro" value="patrocinado?" /><br/>
                              <p:selectBooleanCheckbox value="#{empresaMB.empresa.linkPatrocinado}" id="linkPatro" />
                         </div>
                    </div>
                    <div class="row">
                         <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
                              <p:outputLabel for="nome" value="Nome Empresa" />
                              <p:inputText id="nome" value="#{empresaMB.empresa.nome}" required="#{param['mode']==null ? 'false' : param['mode']}" requiredMessage="O Nome da empresa é obrigatório!" />
                         </div>
                         <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
                              <p:outputLabel for="slogan" value="Slogan" />
                              <p:inputText id="slogan" value="#{empresaMB.empresa.slogan}" />
                         </div>
                         <div class="col-xs-12 col-sm-6 col-md-5 col-lg-2">
                              <p:outputLabel for="cnpj" value="CNPJ" />
                              <p:inputMask id="cnpj" mask="99.999.999/9999-99" value="#{empresaMB.empresa.cnpj}" required="#{param['mode']}" requiredMessage="O CNPJ é obrigatório!" />
                         </div>   
                         <div class="col-xs-12 col-sm-6 col-md-5 col-lg-2">
                              <p:outputLabel for="ie" value="IE" />
                              <p:inputText id="ie" value="#{empresaMB.empresa.ie}" />
                         </div>
                    </div>
                    <div class="row">
                         <div class="col-xs-12 col-sm-6 col-md-5 col-lg-2">
                              <p:outputLabel for="cpf" value="CPF responsável" id="cpflabel" />
                              <p:inputMask mask="999.999.999-99" id="cpf" value="#{empresaMB.empresa.cpf}" required="#{empresaMB.empresa.ecommerce}" />
                         </div>
                         <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                              <p:outputLabel for="emailEmpresa" value="Email Empresa" />
                              <p:inputText id="emailEmpresa" value="#{empresaMB.empresa.email}" required="#{param['mode']}" />
                         </div>
                         <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                              <p:outputLabel for="site" value="Site" />
                              <p:inputText id="site" value="#{empresaMB.empresa.site}" />
                         </div>
                         <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                              <p:outputLabel for="siteComp" value="Site Compra" />
                              <p:inputText id="siteComp" value="#{empresaMB.empresa.siteCompra}" />
                         </div>

                    </div>

               </div>
          </p:tab>
          <p:tab title="Contatos" >
               <div class="row">
                    <div class="col-xs-4 col-sm-3 col-md-1 col-lg-1">
                         <p:outputLabel for="ddd1" value="DDD" />
                         <p:inputText id="ddd1" value="#{empresaMB.empresa.dddTelefone}" maxlength="2" required="#{param['mode']}" requiredMessage="O ddd 1 é obrigatório!"/>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                         <p:outputLabel for="phone" value="Telefone" />
                         <p:inputText id="phone" value="#{empresaMB.empresa.telefone}" required="#{param['mode']}" requiredMessage="O telefone 1 é obrigatório!" />
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-1 col-lg-1">
                         <p:outputLabel for="ddd2" value="DDD 2" />
                         <p:inputText id="ddd2" value="#{empresaMB.empresa.dddSegundoTelefone}" maxlength="3"/>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                         <p:outputLabel for="phone2" value="Telefone 2" />
                         <p:inputText id="phone2" value="#{empresaMB.empresa.segundoTelefone}" />
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-1 col-lg-1">
                         <p:outputLabel for="whatsddd" value="DDD W" />
                         <p:inputText id="whatsddd" value="#{empresaMB.empresa.ddTelefoneWhatsapp}" maxlength="3"/>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                         <p:outputLabel for="phoneWhats" value="Whatsapp" />
                         <p:inputText id="phoneWhats" value="#{empresaMB.empresa.telefoneWhatsapp}" />
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                         <p:outputLabel for="face" value="Facebook" />
                         <p:inputText id="face" value="#{empresaMB.empresa.facebook}" />
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                         <p:outputLabel for="gplus" value="Google Plus" />
                         <p:inputText id="gplus" value="#{empresaMB.empresa.googlePlus}" />
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                         <p:outputLabel for="twitter" value="Twitter" />
                         <p:inputText id="twitter" value="#{empresaMB.empresa.twitter}" />
                    </div>


                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                         <p:outputLabel for="horarioAberto" id="lbAberto" value="Horário Início" rendered="#{empresaMB.empresa.segmento == 'Delivery' or empresaMB.empresa.segmento == 'Serviços'}" />
                         <p:calendar id="horarioAberto" pattern="HH:mm:ss" timeOnly="true" locale="pt"  value="#{empresaMB.empresa.horarioFuncionamentoInicio}"  rendered="#{empresaMB.empresa.segmento == 'Delivery' or empresaMB.empresa.segmento == 'Serviços'}" required="#{param['mode']}" requiredMessage="O Horário de Abertura é obrigatório!"/>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                         <p:outputLabel for="horarioFechado" id="lbHorarioFechado" value="Horário Fechado" rendered="#{empresaMB.empresa.segmento == 'Delivery' or empresaMB.empresa.segmento == 'Serviços'}"/>
                         <p:calendar id="horarioFechado" pattern="HH:mm:ss" timeOnly="true" locale="pt" value="#{empresaMB.empresa.horarioFuncionamentoFinal}" rendered="#{empresaMB.empresa.segmento == 'Delivery' or empresaMB.empresa.segmento == 'Serviços'}"  required="#{param['mode']}" requiredMessage="O Horário de Fechamento é obrigatório!"/>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                         <p:outputLabel for="custoEntrega" value="Custo Entrega" rendered="#{empresaMB.empresa.segmento == 'Delivery'}"/>
                         <p:inputText id="custoEntrega" value="#{empresaMB.empresa.valorEntrega}" rendered="#{empresaMB.empresa.segmento == 'Delivery'}" required="#{param['mode']}" >
                         </p:inputText>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
                         <p:outputLabel id="lbFechado" for="diaFechado"  value="Dias Funcionamento" rendered="#{empresaMB.empresa.segmento == 'Delivery' or empresaMB.empresa.segmento == 'Serviços'}" />
                         <p:selectManyMenu id="diaFechado" value="#{empresaMB.diasFuncionamento}" showCheckbox="true"  rendered="#{empresaMB.empresa.segmento == 'Delivery' or empresaMB.empresa.segmento == 'Serviços'}">
                              <f:selectItem itemLabel="Domingo" itemValue="Domingo" />
                              <f:selectItem itemLabel="Segunda" itemValue="Segunda" />
                              <f:selectItem itemLabel="Terça" itemValue="Terça" />
                              <f:selectItem itemLabel="Quarta" itemValue="Quarta" />
                              <f:selectItem itemLabel="Quinta" itemValue="Quinta" />
                              <f:selectItem itemLabel="Sexta" itemValue="Sexta" />
                              <f:selectItem itemLabel="Sabado" itemValue="Sabado" />
                         </p:selectManyMenu>
                    </div>
               </div>
          </p:tab>
          <p:tab  title="Endereço">
               <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                         <p:outputLabel for="uf" value="Estado" />
                         <p:selectOneMenu id="uf" filter="true" filterMatchMode="contains" value="#{empresaMB.empresa.idEstado}" converter="Converter" required="#{param['mode']}" requiredMessage="O Estado é obrigatório!" >
                              <f:selectItem itemLabel="" itemValue=""  />
                              <f:selectItems value="#{estadoMB.listarEstados()}" var="est"
                                             itemLabel="#{est.nome}" itemValue="#{est}" />
                              <p:ajax event="change" update="cidade" />
                         </p:selectOneMenu>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
                         <p:outputLabel for="cidade" value="Cidade" />
                         <p:selectOneMenu id="cidade" filter="true" filterMatchMode="contains"  value="#{empresaMB.empresa.idCidade}" converter="Converter" required="#{param['mode']}" requiredMessage="A Cidade é obrigatório!">
                              <f:selectItem itemLabel="" itemValue=""  />
                              <f:selectItems value="#{empresaMB.empresa.idEstado.cidadeList}" var="city"
                                             itemLabel="#{city.nome}" itemValue="#{city}"  />
                         </p:selectOneMenu>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-2">
                         <p:outputLabel for="tipoLog" value="Tipo Logradouro" />
                         <p:inputText id="tipoLog" value="#{empresaMB.empresa.tipoLogradouro}" placeholder="Ex: Rua, Av" />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
                         <p:outputLabel for="logradouro" value="Logradouro" />
                         <p:inputText id="logradouro" value="#{empresaMB.empresa.logradouro}" required="#{param['mode']}" requiredMessage="O Logradouro é obrigatório!" />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-1">
                         <p:outputLabel for="num" value="Nº" />
                         <p:inputText id="num" value="#{empresaMB.empresa.numero}" required="#{param['mode']}" requiredMessage="O Nº é obrigatório!" />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-2">
                         <p:outputLabel for="bairro" value="Bairro" />
                         <p:inputText id="bairro" value="#{empresaMB.empresa.bairro}" required="#{param['mode']}" requiredMessage="O Bairro é obrigatório!" />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-2">
                         <p:outputLabel for="cep" value="CEP" />
                         <p:inputText id="cep" value="#{empresaMB.empresa.cep}" required="#{param['mode']}" requiredMessage="O CEP é obrigatório!" />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-2">
                         <p:outputLabel for="compl" value="Complemento" />
                         <p:inputText id="compl" value="#{empresaMB.empresa.complemento}" />
                    </div>
               </div>
               <hr/>
          </p:tab>
          <p:tab title="MOIP e Textos" >
               <div class="row">
                    <h:panelGroup rendered="false">
                         <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                              <p:outputLabel for="emailVendas" value="Email de Vendas" />
                              <p:inputText id="emailVendas" value="#{empresaMB.empresa.emailVendas}" />
                         </div>
                         <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                              <p:outputLabel for="emailCompras" value="Email de Pagamento" />
                              <p:inputText id="emailCompras" value="#{empresaMB.empresa.emailPagamento}" />
                         </div>
                         <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                              <p:outputLabel for="tokenSeg" value="Token de Segurança" />
                              <p:inputText id="tokenSeg" value="#{empresaMB.empresa.tokenSeguranca}" />
                         </div>
                         <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                              <p:outputLabel for="userSMS" value="Usuário SMS" />
                              <p:inputText id="userSMS" value="#{empresaMB.empresa.principalUserSmsMobi}" />
                         </div>
                         <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                              <p:outputLabel for="credSms" value="Credencial SMS" />
                              <p:inputText id="credSms" value="#{empresaMB.empresa.credencialSmsMobi}" />
                         </div>
                         <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                              <p:outputLabel for="tokenSeg2" value="Token de Segurança SMS" />
                              <p:inputText id="tokenSeg2" value="#{empresaMB.empresa.tokenSmsMobi}" />
                         </div>
                         <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                              <p:outputLabel for="tagDesc" value="Tag Description" />
                              <p:inputText id="tagDesc" value="#{empresaMB.empresa.tagDescription}" />
                         </div>
                         <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                              <p:outputLabel for="tagkey" value="Tag keyword" />
                              <p:inputText id="tagkey" value="#{empresaMB.empresa.tagKeywords}" />
                         </div>
                         <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                              <p:outputLabel for="idade" value="Menor de Idade" /><br/>
                              <p:selectBooleanCheckbox id="idade" value="#{empresaMB.empresa.janelaConfirmacaoMenorIdade}" />
                         </div>
                         <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                              <p:outputLabel for="enviaSms" value="Enviar SMS" /><br/>
                              <p:selectBooleanCheckbox id="enviaSms" value="#{empresaMB.empresa.enviarSms}" />
                         </div>
                         <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                              <p:outputLabel for="enviaEmail" value="Enviar Email" /><br/>
                              <p:selectBooleanCheckbox id="enviaEmail" value="#{empresaMB.empresa.enviarEmail}" />
                         </div>
                    </h:panelGroup>
               </div>

               <div class="row">
                    <h:panelGroup id="grpMoip">
                         <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="display: #{empresaMB.empresa.segmento=='Serviços/Contato'?'none':'block'}">
                              <p:outputLabel for="LoginMoip" value="Login Moip" />
                              <p:inputText id="LoginMoip" value="#{empresaMB.empresa.loginMoip}" readonly="true" />
                         </div>
                         <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="display: #{empresaMB.empresa.segmento=='Serviços/Contato'?'none':'block'}">
                              <p:outputLabel for="SenhaMoip" value="Senha Moip" />
                              <p:inputText id="SenhaMoip" value="#{empresaMB.empresa.senhaMoip}" readonly="true" />
                         </div>
                         <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="display: #{empresaMB.empresa.segmento=='Serviços/Contato'?'none':'block'}">
                              <p:outputLabel for="IDMoip" value="ID Moip" />
                              <p:inputText id="IDMoip" value="#{empresaMB.empresa.idMoip}" readonly="true" />
                         </div>
                         <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="display: #{empresaMB.empresa.segmento=='Serviços/Contato'?'none':'block'}">
                              <p:outputLabel for="oAuth" value="oAuth" />
                              <p:inputText id="oAuth" value="#{empresaMB.empresa.oauth}" type="password" readonly="true" />
                         </div>
                    </h:panelGroup>
                    <div class="col-xs-6">
                         <p:outputLabel for="descEmp" value="Descrição empresa" />
                         <p:editor id="descEmp" value="#{empresaMB.empresa.texto}"  />
                    </div>
                    <div class="col-xs-6">
                         <p:outputLabel for="termos" value="Termos" />
                         <p:editor id="termos" value="#{empresaMB.empresa.termosUso}"  />
                    </div>
                    <div class="col-xs-6">
                         <p:outputLabel for="textoDev" value="Texto Devolução" />
                         <p:inputTextarea id="textoDev" value="#{empresaMB.empresa.textoDevolucao}"  />
                    </div>
                    <div class="col-xs-6">
                         <p:outputLabel for="textoRodape" value="Texto Rodapé" />
                         <p:inputTextarea id="textoRodape" value="#{empresaMB.empresa.textoRodape}"  />
                    </div>
               </div>
               <hr/>
          </p:tab>        
          <p:tab title="Responsáveis">
               <div class="row">
                    <p:messages id="msgInside" closable="true"  globalOnly="true"/>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                         <p:outputLabel for="email2" value="Email" />
                         <p:inputText id="email2" value="#{empresaMB.usuario.email}" required="#{param['mode']}" requiredMessage="Email do usuário é obrigatório!" autocomplete="off" >
                              <p:ajax update="msgInside" event="change" listener="#{empresaMB.verificarEmailExiste()}" />
                         </p:inputText>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                         <p:outputLabel for="senha2" value="Senha" />
                         <p:inputText id="senha2" value="#{empresaMB.usuario.senha}" type="password" required="#{param['mode']}" requiredMessage="Informe a senha do usuário" autocomplete="off" />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                         <p:outputLabel for="inativo" value="Inativo" />
                         <p:selectBooleanCheckbox id="inativo" value="#{empresaMB.usuario.inativo}" />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                         <p:outputLabel  value="Imagem" />
                         <p:fileUpload  fileUploadListener="#{empresaMB.upload}" mode="advanced"
                                        update="image" auto="true" 
                                        allowTypes="/(\.|\/)(gif|jpe?g|png)$/" sizeLimit="1000000" />

                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                         <h:graphicImage id="image" value="/upload/Usuario/#{empresaMB.getidUsuarioTemp()}/#{empresaMB.usuario.imagem}" style="display: #{empresaMB.usuario.imagem != null ? 'block' : 'none'}"  alt="sem imagem" width="150" height="150"/>
                    </div>
               </div>
               <hr/>
          </p:tab>

     </p:tabView>
</html>

