<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ux="http://java.sun.com/jsf/composite/ux"
      xmlns:pe="http://primefaces.org/ui/extensions">

     <p:dialog widgetVar="dlgConsultarEmpresas" header="Consulta de Empresas" modal="true" 
               resizable="false" width="90%" position="left top" >
          <h:form id="frmConsultar">
               <p:messages closable="true" />
              
               <p:dataTable id="tblEmpresas" value="#{empresaMB.empresasLazy}" lazy="true" var="empr"
                            rows="10" paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom">
                    <p:column headerText="ID" filterBy="#{empr.idEmpresa}"  width="8%">
                         <center>
                              <h:outputText value="#{empr.idEmpresa}" />
                         </center>                    
                    </p:column>
                    <p:column headerText="Nome" filterBy="#{empr.nome}" width="20%" >
                         <h:outputText value="#{empr.nome}" />
                    </p:column>
                    <p:column headerText="CNPJ" filterBy="#{empr.cnpj}" width="15%" >
                         <h:outputText value="#{empr.cnpj}" />
                    </p:column>
                    <p:column headerText="Segmento" filterBy="#{empr.segmento}" width="15%" >
                         <h:outputText value="#{empr.segmento}" />
                    </p:column>
                    <p:column headerText="Email" filterBy="#{empr.email}" width="20%" >
                         <h:outputText value="#{empr.email}" />
                    </p:column>
                    <p:column headerText="Telefone" filterBy="#{empr.telefone}" width="10%" >
                         <h:outputText value="(#{empr.dddTelefone}) #{empr.telefone}" />
                    </p:column>
                    <p:column width="10%">
                         <p:commandButton  action="#{empresaMB.setEmpresa(empr)}" update=":frmPrincipal" oncomplete="PF('dlgConsultarEmpresas').hide();" styleClass="btn btn-success btn-sm" icon="Editar" title="Editar"  >
                              <f:param name="mode" value="false"  />
                         </p:commandButton>
                         <ux:actionButtons renderedInfo="false" 
                                           actionRemove="#{empresaMB.excluirEmpresa(empr)}" updateRemove=":frmPrincipal, @form" 
                                           renderedEdit="false" />

                         <p:commandButton rendered="#{empr.segmento != 'Serviços/Contato'}" icon="Moip" styleClass="btn btn-default btn-sm" title="Registrar no MOIP" action="#{empresaMB.cadastrarContaMoip(empr)}" disabled="#{empr.idMoip != null}"  update="@form" />
                    </p:column>
               </p:dataTable>
               <hr/>
                <p:ajaxStatus  >
                    <f:facet name="start">
                         <center>
                              <span>Aguarde...</span><br/>
                              <h:graphicImage name="admin-assets/icons/loading.GIF" />
                         </center>
                    </f:facet>
               </p:ajaxStatus>
          </h:form>
     </p:dialog>
</html>

