<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ux="http://java.sun.com/jsf/composite/ux"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <p:dialog widgetVar="dlgCadastroProduto" header="Cadastro de Produtos" modal="true" 
              resizable="false" width="90%"  draggable="true">
        <h:form id="frmCadastroProduto" >
            <div class="col-lg-12">
                <p:messages closable="true" />
                <p:tabView id="tabProduto">
                    <p:tab title="Dados" >
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                                <p:outputLabel for="nome" value="Nome" />
                                <p:inputText id="nome" value="#{empresaMB.produto.nome}" required="true" requiredMessage="O Nome é obrigatório!" />
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                <p:outputLabel  value="Preço" />
                                <pe:inputNumber id="preco2" value="#{empresaMB.produto.preco}" />
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-1">
                                <p:outputLabel for="promo" value="Promoção" /><br/>
                                <p:selectBooleanCheckbox id="promo" value="#{empresaMB.produto.promocao}"  styleClass="form-control">
                                    <p:ajax event="change" update="grpPromo" />
                                </p:selectBooleanCheckbox>
                            </div>
                            <h:panelGroup id="grpPromo">
                                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2" style="display: #{empresaMB.produto.promocao == true ? 'block':'none'}">
                                    <p:outputLabel  value="Preço Promocional" />
                                    <pe:inputNumber id="precoPromo" styleClass="money" value="#{empresaMB.produto.precoPromocional}" /> 
                                </div>
                            </h:panelGroup>
                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-1">
                                <p:outputLabel for="ativo" value="Ativo" /><br/>
                                <p:selectBooleanCheckbox id="ativo" value="#{empresaMB.produto.ativo}" styleClass="form-control" />
                            </div>

                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                <p:outputLabel for="enc" value="Encomenda" /><br/>
                                <p:selectBooleanCheckbox id="enc" value="#{empresaMB.produto.encomenda}"  styleClass="form-control" />
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                <p:outputLabel for="cat" value="Categoria" />
                                <p:selectOneMenu id="cat" value="#{empresaMB.produto.idCategoria}" converter="Converter" filter="true" filterMatchMode="contains">
                                    <f:selectItem itemLabel="Selecione a categoria" itemValue="" />
                                    <f:selectItems value="#{categoriaMB.listarCategorias()}" var="cat"
                                                   itemLabel="#{cat.descricao}" itemValue="#{cat}" />
                                    <p:ajax event="change" update="sub" />
                                </p:selectOneMenu>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                <p:outputLabel for="sub" value="Sub Categoria" />
                                <p:selectOneMenu id="sub" value="#{empresaMB.produto.idSubCategoria}" converter="Converter" filter="true" filterMatchMode="contains">
                                    <f:selectItem itemLabel="Selecione a sub categoria" itemValue="" />
                                    <f:selectItems value="#{empresaMB.produto.idCategoria.subCategoriaList}" var="su"
                                                   itemLabel="#{su.descricao}" itemValue="#{su}"  />
                                </p:selectOneMenu>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                                <p:outputLabel for="MetaTag" value="Meta Tag"/>
                                <p:inputText id="MetaTag" value="#{empresaMB.produto.metaTag}" placeholder="Separe por ," />
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                <p:outputLabel for="disponiblidade" value="Disponibilidade" /><br/>
                                <p:selectOneMenu id="disponiblidade" value="#{empresaMB.produto.disponibilidade}" >
                                    <f:selectItem itemLabel="Disponível" itemValue="Disponível" />
                                    <f:selectItem itemLabel="Sob Demanda" itemValue="Sob Demanda" />
                                    <f:selectItem itemLabel="Indisponível" itemValue="Indisponível" />
                                </p:selectOneMenu>
                            </div>
                            <div class="col-xs-6">
                                <p:outputLabel for="resu" value="Resumo" />
                                <p:inputTextarea id="resu" value="#{empresaMB.produto.resumo}" maxlength="200" />
                            </div>
                            <div class="col-xs-6">
                                <p:outputLabel for="desc" value="Descrição" />
                                <p:editor id="desc" value="#{empresaMB.produto.descricao}"/>
                            </div>
                        </div>
                    </p:tab>
                    <p:tab title="Entrega/Frete"  rendered="#{empresaMB.empresa.segmento != 'Serviços/Contato'}">
                        <div class="row">
                            <div class="col-xs-12">
                                <p:messages id="mess" closable="true" />
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                <p:outputLabel for="format" value="Formato" /><br/>
                                <p:selectOneMenu id="format" value="#{empresaMB.produto.formatoEncomenda}" required="true" requiredMessage="Informe o formato!" >
                                    <f:selectItem itemLabel="Caixa/Pacote" itemValue="1"  itemDisabled="#{empresaMB.empresa.segmento == 'Delivery'}"/>
                                    <f:selectItem itemLabel="Rolo/Prisma" itemValue="2" itemDisabled="#{empresaMB.empresa.segmento == 'Delivery'}" />
                                    <f:selectItem itemLabel="Envelope" itemValue="3" itemDisabled="#{empresaMB.empresa.segmento == 'Delivery'}" />
                                    <f:selectItem itemLabel="Entrega/Retirada" itemValue="4" itemDisabled="#{empresaMB.empresa.segmento == 'Produtos'}" />
                                    <p:ajax event="change" update="peso, altura" listener="#{empresaMB.regrasCorreios()}" />
                                </p:selectOneMenu>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2" style="display: #{empresaMB.empresa.segmento == 'Produtos' ? 'block' :'none'}">
                                <p:outputLabel for="comprimento" value="Comprimento (CM)" />
                                <p:inputText id="comprimento" value="#{empresaMB.produto.comprimentoCm}" placeholder="Informe em CM" >
                                    <p:ajax event="change" listener="#{empresaMB.validarComprimento()}" update="@this, mess" />
                                </p:inputText>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2" style="display: #{empresaMB.empresa.segmento  == 'Produtos' ? 'block' :'none'}">
                                <p:outputLabel for="altura" value="Altura (CM)" />
                                <p:inputText id="altura" value="#{empresaMB.produto.alturaCm}" placeholder="Informe em CM" >
                                    <p:ajax event="change" listener="#{empresaMB.regrasCorreiosAltura()}" update="@this, mess" />
                                </p:inputText>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2" style="display: #{empresaMB.empresa.segmento  == 'Produtos' ? 'block' :'none'}">
                                <p:outputLabel for="largura" value="Largura (CM)" />
                                <p:inputText id="largura" value="#{empresaMB.produto.larguraCm}" placeholder="Informe em CM" >
                                    <p:ajax event="change" listener="#{empresaMB.regrasCorreiosLargura()}" update="@this, mess" />
                                </p:inputText>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2" style="display: #{empresaMB.empresa.segmento  == 'Produtos' ? 'block' :'none'}">
                                <p:outputLabel for="diametro" value="Diametro (CM)" />
                                <p:inputText id="diametro" value="#{empresaMB.produto.diametroCm}" placeholder="Informe em CM" >
                                    <p:ajax event="change" listener="#{empresaMB.regrasCorreiosDiametro()}" update="@this, mess" />
                                </p:inputText>
                            </div>

                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2" style="display: #{empresaMB.empresa.segmento  == 'Produtos' ? 'block' :'none'}">
                                <p:outputLabel for="peso" value="Peso (Quilogramas)" />
                                <p:inputText id="peso" value="#{empresaMB.produto.pesoKg}" placeholder="Informe em Quilogramas. Ex: 300 Gramas 0.300"    >
                                    <p:ajax event="change" listener="#{empresaMB.regrasCorreiosPeso()}" update="@this, mess"/>
                                </p:inputText>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2" style="display: #{empresaMB.empresa.segmento  == 'Produtos' ? 'block' :'none'}">
                                <p:outputLabel for="aviso" value="Aviso Recebimento" /><br/>
                                <p:selectOneMenu id="aviso" value="#{empresaMB.produto.avisoRecebimento}" >
                                    <f:selectItem itemLabel="Sim" itemValue="S" />
                                    <f:selectItem itemLabel="Não" itemValue="N" />
                                </p:selectOneMenu>
                            </div>
                        </div>
                    </p:tab>
                    <p:tab title="Tags" rendered="false" >
                        <div class="row">
                            <div class="col-lg-4">
                                <p:outputLabel for="tag" value="Tag" />
                                <script>
                                    function inputGrp(){
                                        document.getElementById('frmCadastroProduto:tabProduto:tag:idinput').value= '';
                                        $(function(){PrimeFaces.focus('frmCadastroProduto:tabProduto:tag:idinput');});
                                    }
                                </script>
                                <ux:inputGroup id="tag"  idinput="idinput" icon="Novo" styleClass="btn btn-primary" valueInput="#{empresaMB.tag}" action="#{empresaMB.addTag()}" update=":frmCadastroProduto:tabProduto:updtTableTags, :frmCadastroProduto:tabProduto:tag" oncomplete="inputGrp()"   />
                            </div>
                            <div class="col-lg-6">
                                <p:dataTable value="#{empresaMB.produto.tagsList}" id="updtTableTags" var="tag" rowIndexVar="tagIndex" paginator="true" paginatorAlwaysVisible="false" rows="10" emptyMessage="Nenhuma tag adicionada!">
                                    <f:facet name="header">
                                        Tags
                                    </f:facet>
                                    <p:column headerText="Tag" width="80%" filterBy="#{tag.descricao}">
                                        <h:outputText value="#{tag.descricao}"  />
                                    </p:column>
                                    <p:column width="20%">
                                        <ux:actionButtons renderedEdit="false" renderedInfo="false" actionRemove="#{empresaMB.excluirTag(tag, tagIndex)}" updateRemove=":frmCadastroProduto:tabProduto:updtTableTags"  />
                                    </p:column>
                                </p:dataTable>
                            </div>
                        </div>
                    </p:tab>
                    <p:tab title="Fotos" >
                        <div class="row">
                            <div class="col-lg-12">
                                <h:outputText value="Foto Principal (400 Largura x 300 Altura)" />
                                <p:fileUpload  fileUploadListener="#{empresaMB.uploadProdutoPrincipal}" mode="advanced"
                                               update=":frmCadastroProduto:tabProduto:image" auto="true"  
                                               allowTypes="/(\.|\/)(gif|jpe?g|jpg|png)$/"  >
                                </p:fileUpload>
                                &nbsp;
                                <p:graphicImage id="image" value="/upload/Produto/#{empresaMB.getidTemp()}/#{empresaMB.produto.fotoPrincipal}" style="display: #{empresaMB.produto.fotoPrincipal != null ? 'block' : 'none'}"  alt="sem imagem" styleClass="img-responsive"  width="100" height="100" />
                            </div>
                            <div class="col-lg-6">
                                <h:outputText value="Fotos (400 Largura x 300 Altura)" />
                                <p:fileUpload  fileUploadListener="#{empresaMB.uploadFotosProdutoPrincipal}" mode="advanced"
                                               update="carrousel"  cancelLabel="Cancelar" uploadLabel="Enviar"
                                               allowTypes="/(\.|\/)(gif|jpe?g|jpg|png)$/"  multiple="true"/>
                            </div>
                            <div class="col-lg-12">
                                <p:carousel id="carrousel"  value="#{empresaMB.produto.fotoList}"   headerText="Fotos de Produtos" var="fot" >
                                    <h:panelGrid columns="2" style="width:100%;margin:10px 0px" columnClasses="label,value"  styleClass="ui-panelgrid-blank">
                                        <f:facet name="header">
                                            <h:graphicImage  value="/upload/Produto/#{empresaMB.getidTemp()}/#{fot.url}"  alt="sem imagem" width="100" height="100" />
                                        </f:facet>
                                        <center>
                                            <p:commandButton icon="Excluir" action="#{empresaMB.excluirFoto(fot)}" update="carrousel" />
                                        </center>
                                    </h:panelGrid>
                                </p:carousel>
                            </div>
                        </div>
                    </p:tab>

                </p:tabView>
                <hr/>
                <p:commandButton value="Adicionar Produto" icon="Salvar" styleClass="btn btn-success" 
                                 action="#{empresaMB.addProduto()}" update=":frmPrincipal:tab:tblProds, @form :frmPrincipal" oncomplete="if (!args.validationFailed){PF('dlgCadastroProduto').hide();}"/>
            </div>
        </h:form>
    </p:dialog>
</html>

