<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ux="http://java.sun.com/jsf/composite/ux"
      xmlns:pe="http://primefaces.org/ui/extensions">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <p:outputLabel  value="Empresa Logo (400 Largura x 300 Altura)" />
            <p:fileUpload  fileUploadListener="#{empresaMB.uploadEmpresaLogo}" mode="advanced"
                           update="logo" auto="true" 
                           allowTypes="/(\.|\/)(gif|jpe?g|jpg|png)$/"  />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <h:graphicImage id="logo" value="/upload/Empresa/#{empresaMB.getidEmpresaTemp()}/#{empresaMB.empresa.logo}" style="display: #{empresaMB.empresa.logo != null ? 'block' : 'none'}"  alt="sem imagem" width="300" height="300" styleClass="img-responsive"/>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <p:outputLabel  value="Empresa Capa (750 Largura x 255 Altura)" />
            <p:fileUpload  fileUploadListener="#{empresaMB.uploadEmpresaCapa}" mode="advanced"
                           update="capa" auto="true" 
                           allowTypes="/(\.|\/)(gif|jpe?g|jpg|png)$/"  />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <h:graphicImage id="capa" value="/upload/Empresa/#{empresaMB.getidEmpresaTemp()}/#{empresaMB.empresa.capa}" style="display: #{empresaMB.empresa.capa != null ? 'block' : 'none'}"  alt="sem imagem" width="750" height="255" styleClass="img-responsive"/>
        </div>
        <div class="col-xs-12 ">
            <p:outputLabel  value="Fotos da Empresa (400 Largura x 300 Altura)" />
            <p:fileUpload  fileUploadListener="#{empresaMB.uploadFotosEmpresa}" mode="advanced"
                           update="carrouselEmpresa" auto="true" multiple="true"
                           allowTypes="/(\.|\/)(gif|jpe?g|jpg|png)$/"  />
            <hr/>
            <p:carousel id="carrouselEmpresa"  value="#{empresaMB.empresa.fotoList}"   headerText="Fotos da Empresa" var="foto" >
                <h:panelGrid columns="2" style="width:100%;margin:10px 0px" columnClasses="label,value"  styleClass="ui-panelgrid-blank">
                    <f:facet name="header">
                        <h:graphicImage  value="/upload/Empresa/#{empresaMB.getidEmpresaTemp()}/#{foto.url}"  alt="sem imagem" width="100" height="100" />
                    </f:facet>
                    <center>
                        <p:commandButton icon="Excluir" action="#{empresaMB.excluirFotoEmpresa(foto)}" update="carrouselEmpresa" />
                    </center>
                </h:panelGrid>
            </p:carousel>
        </div>
    </div>  

</html>

