<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:ux="http://java.sun.com/jsf/composite/ux">
    <h:form id="frmPrincipal" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-12">
                <div style="float: left">
                     <p:commandButton value="Salvar" icon="Salvar"  styleClass="btn btn-success"  action="#{empresaMB.salvar()}" update="@form"  >
                        <f:param name="mode" value="true"  />
                    </p:commandButton>
                    
                    <p:commandButton value="Nova Empresa" icon="Novo" styleClass="btn btn-primary" >
                         <f:param name="mode" value="false"  />
                    </p:commandButton>
                   
                </div>
                <div style="float: right">
                    <p:commandButton value="Consultar" icon="Consultar" styleClass="btn btn-info" oncomplete="PF('dlgConsultarEmpresas').show();" update=":frmConsultar:tblEmpresas"  />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <hr/>
                <p:messages id="msgPag" closable="true" />
            </div>
            <div class="col-lg-12">
                <p:tabView id="tab" widgetVar="tabsBasica">
                    <p:tab title="Dados Básicos">
                        <ui:include src="DadosBasicos.xhtml" />
                    </p:tab>
                    <p:tab title="Fotos Empresa">
                        <ui:include src="FotosEmpresa.xhtml" />
                    </p:tab>
                    <p:tab title="Produtos" rendered="#{empresaMB.empresa.idEmpresa != null}">
                        <ui:include src="Produtos.xhtml" />
                    </p:tab>
                    <p:tab title="Comentários" rendered="#{empresaMB.empresa.idEmpresa != null and empresaMB.empresa.segmento != 'Serviços/Contato'}" >
                        <p:dataTable id="tblComentarios" value="#{empresaMB.listarComentarios()}" var="com"  emptyMessage="Nenhuma pergunta pendente!">
                            <p:column width="35%" style="font-size: 12px;">
                                <h:outputText value="#{com.comentario}" />
                            </p:column>
                            <p:column width="20%" style="font-size: 12px;">
                                <h:outputText value="#{com.idProduto.nome}" />
                            </p:column>
                            <p:column width="20%" style="font-size: 12px;">
                                <h:outputText value="#{com.idCliente.primeiroNome}" />
                            </p:column>
                            <p:column width="15%" style="font-size: 12px;">
                                <ux:outputDateTime value="#{com.dtComentario}" />
                            </p:column>
                            <p:column style="width: 94px;">
                                <p:commandButton  icon="Pergunta" title="Responder Pergunta" styleClass="btn btn-success" action="#{empresaMB.setComentario(com)}" oncomplete="PF('dlgResposta').show();" update=":frmResposta" />
                                <p:commandButton  icon="Excluir" title="Excluir Pergunta" styleClass="btn btn-warning" action="#{comentarioMB.excluirComentario(com)}" update="@form" />
                            </p:column>
                        </p:dataTable>
                    </p:tab>
                    <p:tab title="Vendas" rendered="#{empresaMB.empresa.idEmpresa != null and empresaMB.empresa.segmento != 'Serviços/Contato'}">
                        <p:dataTable  value="#{empresaMB.listarCompras()}" var="vend" id="vendas" emptyMessage="Nenhuma venda encontrada!" >
                            <p:column  style="width: 16px">
                                <p:rowToggler />
                            </p:column>
                            <p:column headerText="Pedido" width="5%" style="font-size: 10px; text-align: center;">
                                <h:outputText value="#{vend.idCompra}" />
                            </p:column>
                            <p:column headerText="Cliente" width="20%" style="font-size: 10px;">
                                <h:outputText value="#{vend.idUsuario.idCliente.primeiroNome}" />
                            </p:column>
                            <p:column headerText="Transação" width="10%" style="font-size: 10px;" styleClass="text-center">
                                <h:outputText value="#{vend.orderCode}" />
                            </p:column>
                            <p:column headerText="Data" sortBy="#{vend.dtCompra}" width="10%" style="font-size: 10px;" styleClass="text-right">
                                <ux:outputDate value="#{vend.dtCompra}" />
                            </p:column>
                            <p:column headerText="Valor"  width="10%" style="font-size: 10px;" styleClass="text-center">
                                <ux:outputMoney value="#{vend.valorTotal}"  />
                            </p:column>
                            <p:column headerText="Status"  width="10%" style="font-size: 10px;" styleClass="text-right">
                                <ux:outputMoney value="#{vend.status == 'IN_ANALISYS' ? 'Em Análise': vend.status}"  />
                            </p:column>
                            <p:column headerText="Entrega"  width="10%" style="font-size: 10px;" styleClass="text-right">
                                <ux:outputMoney value="#{vend.situacaoEntrega}"  />
                            </p:column>
                            <p:rowExpansion>
                                <ux:col xs="12">
                                    <ux:fieldset legenda="Frete / Entrega">
                                        <ux:col xs="12" sm="6" md="3" lg="4">
                                            <ux:outputInfo  label="Tipo de Frete: " value="#{vend.frete}" /><br/>
                                            <ux:outputInfo label="Valor do Frete: " value="#{sessaoMB.formatarMoedaView(vend.valorFrete)}" /><br/>
                                            <ux:outputInfo label="Responsável: " value="#{vend.responsavel}" /><br/>
                                            <ux:outputInfo label="Rastreamento: " value="#{vend.codigoRastreamentoEntrega}" /><br/>
                                            <ux:outputInfo label="Situação: " value="#{vend.situacaoEntrega}" /><br/>
                                        </ux:col>
                                        <ux:col xs="12" sm="6" md="3" lg="6">
                                            <ux:outputInfo label="Cep Entrega: " value="#{vend.cepEntrega}" /><br/>
                                            <ux:outputInfo label="Endereço Entrega: " value="#{vend.enderecoEntrega}" /><br/>
                                            <ux:outputInfo label="Nº Entrega: " value="#{vend.numeroEntrega}" /><br/>
                                            <ux:outputInfo label="Complemento: " value="#{vend.complementoEntrega}" /><br/>
                                            <ux:outputInfo label="Bairro: " value="#{vend.bairroEntrega}" /><br/>
                                            <ux:outputInfo label="Cidade: " value="#{vend.idCidadeEntrega.nome}" /><br/>
                                        </ux:col>
                                    </ux:fieldset>
                                    <ux:fieldset legenda="Produtos">
                                        <ux:col xs="4" sm="4" md="3" lg="2">
                                            <p:graphicImage value="/upload/Produto/#{vend.idProduto.idProduto}/#{vend.idProduto.fotoPrincipal}" width="150" height="150" />
                                        </ux:col>
                                        <ux:col xs="8" sm="8" md="3" lg="4">
                                            <ux:outputInfo label="Produto: " value="#{vend.idProduto.nome}" /> <br/>
                                            <ux:outputInfo label="Quantidade: " value="#{vend.quantidade}" /><br/>
                                            <ux:outputInfo label="Valor: " value="#{sessaoMB.formatarMoedaView(vend.valorCompra)}" /><br/>
                                            <ux:outputInfo label="Total Produtos: " value="#{sessaoMB.formatarMoedaView(vend.valorCompra.multiply(vend.quantidade))}" /><br/>
                                        </ux:col>
                                    </ux:fieldset>
                                    
                                    <ux:fieldset legenda="Dados Moip">
                                        <ux:col xs="12" sm="12" md="12" lg="12">
                                            <ux:outputInfo label="Forma de Pagamento: " value="#{vend.formaPagamento}" /><br/>
                                            <ux:outputInfo label="Parcelas: " value="#{vend.numParcela}" /><br/>
                                            <ux:outputInfo label="Order Moip: " value="#{vend.orderCode}" /><br/>
                                            <ux:outputInfo label="Pagamento Moip: " value="#{vend.paymentCode}" /><br/>
                                            <ux:outputInfo label="Link Boleto: " rendered="#{vend.linkBoleto != null}" value="#{vend.linkBoleto}" /><br/>
                                        </ux:col>
                                    </ux:fieldset>
                                </ux:col>
                            </p:rowExpansion>
                        </p:dataTable>

                    </p:tab>
                </p:tabView>


            </div>
        </div>
    </h:form>

    <p:dialog widgetVar="dlgResposta" modal="true" width="50%" resizable="false" draggable="false"  >
        <h:form id="frmResposta">
            <div class="col-lg-12">
                <span style="font-weight: bolder">#{empresaMB.comentario.idCliente.primeiroNome}</span>
                <br/>
                <h:outputText value="#{empresaMB.comentario.comentario}" />
            </div>
            <div class="col-lg-12">
                <hr/>
                <h:outputText value="Resposta" />
                <p:inputTextarea value="#{empresaMB.comentarioResposta.comentario}" />
            </div>
            <div class="col-lg-12">
                <hr/>
                <p:commandButton value="Enviar Resposta" oncomplete="PF('dlgResposta').hide()"  styleClass="btn btn-primary" action="#{empresaMB.enviarComentario()}" 
                                 update="@form, :frmPrincipal:tab:tblComentarios" />
            </div>
        </h:form>
    </p:dialog>
    <ui:include src="dialogCadastrarProduto.xhtml" />
    <ui:include src="dialogConsultarEmpresa.xhtml" />
</html>

