<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ux="http://java.sun.com/jsf/composite/ux"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <div class="row">
        <div class="col-lg-12">
            <p:commandButton icon="Novo"  value="Novo Produto" styleClass="btn btn-primary" update=":frmCadastroProduto" action="#{empresaMB.novoProduto()}" oncomplete="PF('dlgCadastroProduto').show();"/>
            <hr/>
            <p:dataTable value="#{empresaMB.empresa.produtoList}" id="tblProds" var="prod" paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom" emptyMessage="Nenhum produto encontrado!" >
                <p:column headerText="Produto" filterBy="#{prod.nome}" width="25%" >
                    <h:outputText value="#{prod.nome}" />
                </p:column>
                <p:column headerText="Preço"  width="10%">
                    <ux:outputMoney value="#{prod.preco}" />
                </p:column>
                <p:column headerText="Preço Prom"   width="10%">
                    <ux:outputMoney value="#{prod.precoPromocional}" />
                </p:column>
                <p:column headerText="Categoria" filterBy="#{prod.idCategoria.descricao}" width="15%" >
                    <h:outputText value="#{prod.idCategoria.descricao}" />
                </p:column>
                <p:column headerText="Sub Categoria" filterBy="#{prod.idSubCategoria.descricao}" width="15%" >
                    <h:outputText value="#{prod.idSubCategoria.descricao}" />
                </p:column>
                <p:column headerText="Disponibilidade" filterBy="#{prod.disponibilidade}" width="10%" >
                    <h:outputText value="#{prod.disponibilidade}" />
                </p:column>
                <p:column width="10%"  >
                    <ux:actionButtons renderedInfo="false" 
                                      actionEdit="#{empresaMB.setProduto(prod)}" updateEdit=":frmCadastroProduto" oncompleteEdit="PF('dlgCadastroProduto').show();"
                                      actionRemove="#{empresaMB.excluirProduto(prod)}" updateRemove="@form, :frmPrincipal:tab:tblProds"/>
                </p:column>
            </p:dataTable>
        </div>
    </div>
</html>

