<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
    <f:metadata>
        <f:viewParam name="cidade" value="#{buscaMB.cidade}" />
    </f:metadata>
    <h:form id="frmPesq">
        <div class="col-xs-12 col-sm-2 col-md-2 form">
            <div class="input text">
                <p:selectOneMenu  styleClass="form-control" value="#{buscaMB.tipo}" style="width: 100%; height: 40px;">
                    <f:selectItem itemLabel="Produtos" itemValue="produtos"/>
                    <f:selectItem itemLabel="Serviços" itemValue="servicos"/>
                    <f:selectItem itemLabel="Empresas" itemValue="empresas"/>
                    <p:ajax event="change" update="btnBusca"  />
                </p:selectOneMenu>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-5 form">
            <div class="input text">
                <p:inputText id="iptPesq" value="#{buscaMB.parametro}" styleClass="form-control" 
                             placeholder="Digite o que procura! Ex: Lanches e clique em Buscar." required="required" type="text"  >
                    <p:ajax event="keyup" update="btnBusca"  />
                </p:inputText>
                <span id="spn" style="display: none; color: red;">Digite o que você quer buscar na barra acima!</span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 form">

            <style>
                .ui-selectonemenu .ui-selectonemenu-label{
                    box-shadow: none !important;
                }
                .ui-selectonemenu .ui-selectonemenu-trigger{
                    width: 25px !important;
                    border-radius: 0px !important;
                    background: none !important;
                    border-color: #ccc !important;
                }
            </style>
            <p:selectOneMenu  value="#{buscaMB.cidade}" styleClass="form-control" style="width: 100%; height: 40px;">
                <f:selectItems value="#{buscaMB.listarCidadesParaBusca()}" var="cid"
                               itemValue="#{cid.slug}" itemLabel="#{cid.nome}" />
                <p:ajax event="change" update="btnBusca"  />
            </p:selectOneMenu>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-6 col-sm-6 col-md-6 form">
            <p:commandButton  id="btnBusca" onclick="if(f2()){location.href='#{facesContext.externalContext.request.contextPath}/busca/#{buscaMB.cidade}/#{buscaMB.tipo}/#{buscaMB.parametro}/1'}" 
                              styleClass="btn btn-primary pull-right" style="height: 40px !important; text-shadow: none !important;"  value="Buscar" />
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 form">
            <a href="/promocoes" class="btn btn-primary btn-home">Promoções</a>
        </div>
    </h:form>
</html>

