<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:ux="http://java.sun.com/jsf/composite/ux">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> 
        <i class="fa fa-shopping-cart"></i> <h:outputText value=" #{carrinhoMB.carrinho.size()} Itens" id="tot" /> 
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu dropdown-cart" role="menu">
        <h:panelGroup id="repeat" >
            <ui:repeat  value="#{carrinhoMB.carrinho}" var="prodCar">
                <li>
                    <span class="item">
                        <span class="item-left">
                            <h:graphicImage value="/upload/Produto/#{prodCar.produto.fotoPrincipal}" width="50" height="50" />
                            <span class="item-info">
                                <span>#{prodCar.produto.nome}</span>
                                <span><ux:outputMoney value="#{prodCar.produto.preco}" /></span>
                            </span>
                        </span>
                    </span>
                </li>
            </ui:repeat>
        </h:panelGroup>
        <li class="divider"></li>
        <li><a class="text-center" href="#{facesContext.externalContext.request.contextPath}/carrinho/">Ver Carrinho</a></li>
    </ul>
</html>

