<div class="col-md-6">
    <h3>Formas de Pagamentos</h3>
    <ul class="pagamentos">
        <li><img src="#{facesContext.externalContext.request.contextPath}/resources/assets/ico/pagamentos/visa.png"></img></li>
        <li><img src="#{facesContext.externalContext.request.contextPath}/resources/assets/ico/pagamentos/master.png"></img></li>
        <li><img src="#{facesContext.externalContext.request.contextPath}/resources/assets/ico/pagamentos/amex.png"></img></li>
        <li><img src="#{facesContext.externalContext.request.contextPath}/resources/assets/ico/pagamentos/diners.png"></img></li>
        <li><img src="#{facesContext.externalContext.request.contextPath}/resources/assets/ico/pagamentos/electron.png"></img></li>
        <li><img src="#{facesContext.externalContext.request.contextPath}/resources/assets/ico/pagamentos/elo.png"></img></li>
        <li><img src="#{facesContext.externalContext.request.contextPath}/resources/assets/ico/pagamentos/hiper.png"></img></li>
        <li><img src="#{facesContext.externalContext.request.contextPath}/resources/assets/ico/pagamentos/hipercard.png"></img></li>
        <li><img src="#{facesContext.externalContext.request.contextPath}/resources/assets/ico/pagamentos/boleto.png"></img></li>
    </ul>
</div>
