<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:ux="http://java.sun.com/jsf/composite/ux"
      xmlns:p="http://primefaces.org/ui">
    <div class="header">
        <nav class="navbar   navbar-site navbar-default" role="navigation">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#{facesContext.externalContext.request.contextPath}">noGlobo</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">

                    </ul>
                    <ul class="nav navbar-nav navbar-right">


                        <li class="divider-vertical"></li>
                        <h:panelGroup rendered="#{controleSessaoMB.usuarioLogado.idUsuario!=null}">
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown">Olá #{controleSessaoMB.usuarioLogado.idCliente.idCliente != null ? controleSessaoMB.usuarioLogado.idCliente.primeiroNome : controleSessaoMB.usuarioLogado.idEmpresa.nome} <strong class="caret"></strong></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#{facesContext.externalContext.request.contextPath}/#{controleSessaoMB.minhaConta()}">Minha Conta</a></li>
                                    <li><h:form>
                                            <h:commandLink action="#{controleSessaoMB.doLogout()}"  style="    display: block;
                                                           padding: 3px 20px;
                                                           clear: both;
                                                           font-weight: normal;
                                                           line-height: 1.54;
                                                           color: #616161;
                                                           white-space: nowrap;">
                                                <i class="ti ti-shift-right"></i><span>Sair</span>
                                            </h:commandLink>
                                        </h:form>
                                    </li>
                                </ul>

                            </li>
                        </h:panelGroup>


                        <h:panelGroup  rendered="#{controleSessaoMB.usuarioLogado.idUsuario==null}">
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown">Entrar <strong class="caret"></strong></a>
                                <div class="dropdown-menu" style="padding: 20px; padding-bottom: 0px; width: 250px;">
                                    <h:form   class="form-horizontal"   >
                                        <p:inputText  styleClass="form-control"  value="#{controleSessaoMB.usuario.email}"  placeholder="Email" style="margin-bottom: 15px;"/>
                                        <p:inputText   styleClass="form-control" value="#{controleSessaoMB.usuario.senha}"  placeholder="Senha" style="margin-bottom: 15px;"/>
                                        <p:commandButton value="Entrar" styleClass="btn btn-success btn-block"  update="@all" ajax="false" action="#{controleSessaoMB.vai()}" style="margin-bottom: 15px;" />
                                        <br/>
                                    </h:form>
                                </div>
                            </li>
                            <li><a href="#{facesContext.externalContext.request.contextPath}/cadastro">Registrar-se</a></li>
                        </h:panelGroup>
                        <li class="dropdown">
                            <ui:include src="carrinho.xhtml" />
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
    </div>
</html>

