<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:ux="http://java.sun.com/jsf/composite/ux"
      xmlns:p="http://primefaces.org/ui">
    <div class="col-xs-12 col-sm-3 col-md-3 no-globo " align="center">
                    <center>
                        <a href="/">
                            <h:graphicImage name="assets/img/logomarca.png" styleClass="img-responsive" alt="noGlobo.com" title="noGlobo.com" width="400" height="400" />
                        </a>
                    </center>
                </div>
</html>

