<div id="selos">
    <div class="container">
        <div class="row sem-margem">
            <div class="col-sm-4 text-center">
                <img src="resources/assets/img/Selos/SSL.png" alt="Divulgue seus produtos." title="Divulgue seus produtos." class="img-responsive" />
            </div>
            <div class="col-sm-4 text-center">
                <img src="resources/assets/img/Selos/moip.png" alt="Seja achado nos buscadores." title="Seja achado nos buscadores." class="img-responsive"/>
            </div>                                    
            <div class="col-sm-4 text-center">
                <img src="resources/assets/img/Selos/site_blindado.png" alt="Aumento o seu número de vendas." title="Aumento o seu número de vendas." class="img-responsive" />
            </div>                                
        </div>
    </div>
</div>