<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ux="http://java.sun.com/jsf/composite/ux">
    <h:body>
        <ui:composition template="WEB-INF/newTemplate.xhtml">
            <ui:define name="title">#{buscaMB.parametro != null ? buscaMB.parametro : ''} - noGlobo.com</ui:define>
            <ui:define name="content">
                <f:metadata>  
                    <f:event type="preRenderView" listener="#{buscaMB.buscar()}" />  
                </f:metadata> 
                <h:form id="resultado" rendered="#{buscaMB.parametro != null}">
                    <section id="resultado-busca">
                        <div id="menu-busca" class="col-lg-12 caixa">
                            <div class="container">
                                <div id="topo-resultados" class="col-lg-12">
                                    <div id="parametro-busca" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 sem-margem">
                                        <h2>#{buscaMB.parametro == '%' ? buscaMB.tipo : buscaMB.parametro}</h2>
                                        <div class="links-buscas-relacionada">
                                            <h:panelGrid columns="2">
                                                <span class="hidden-xs">Buscas relacionadas:</span>
                                                <ui:repeat value="#{buscaMB.buscasRelacionadas}" var="bus" >
                                                    <a href="#{facesContext.externalContext.request.contextPath}/p/patos-de-minas/produtos/#{buscaMB.retornaSlug(bus)}" title="Buscar por: #{bus}">#{buscaMB.substrRelacionada(bus)}</a>
                                                </ui:repeat>                                            
                                            </h:panelGrid>
                                        </div>                                       
                                    </div>    
                                    <div id="filtros" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <h:panelGrid id="pngFiltrosProdutos" columns="2" rendered="#{param['tipo']=='produtos' or param['tipo']=='servicos'}">
                                            <h:panelGrid columns="8" styleClass="visible-lg visible-md">
                                                <h:outputText value="Preço:"/>
                                                &nbsp;
                                                <p:inputText value="#{buscaMB.valorMin}" placeholder="Mín. R$" styleClass="form-control input-text">
                                                </p:inputText>
                                                &nbsp;
                                                <h:outputText value="até"/>
                                                &nbsp;
                                                <p:inputText value="#{buscaMB.valorMax}" placeholder="Máx. R$" styleClass="form-control input-text">
                                                </p:inputText>
                                                <p:commandButton   update="@form" actionListener="#{buscaMB.filtararProdutosPorValor()}" styleClass="form-control btn-mini" icon="filtro"/>
                                            </h:panelGrid>
                                            <h:panelGrid columns="3">
                                                <h:outputText value="Ordenar:"/>
                                                &nbsp;
                                                <p:selectOneMenu id="sonOrdenacao"  styleClass="tipos" value="#{buscaMB.ordenacaoBusca}" >
                                                    <f:selectItem itemLabel="Mais Vendidos" itemValue="MAV"/>
                                                    <f:selectItem itemLabel="Menor Preço" itemValue="MEP"/>
                                                    <f:selectItem itemLabel="Maior Preço" itemValue="MAP"/>
                                                    <p:ajax event="change" listener="#{buscaMB.ordernarLista()}" update="@form" />
                                                </p:selectOneMenu>
                                            </h:panelGrid>
                                        </h:panelGrid>
                                        <h:panelGrid id="pngFiltrosEmpresas" columns="8" rendered="#{param['tipo']=='empresas'}">
                                            <h:outputText value="Filtrar por segmento:"/>
                                            &nbsp;
                                            <p:selectOneMenu id="sonFiltroEmpresas" styleClass="tipos" 
                                                             value="#{buscaMB.segmentoBusca}" >
                                                <f:selectItem itemLabel="Aleatória" itemValue="AL"/>
                                                <f:selectItem itemLabel="Serviços/Contato" itemValue="Serviços/Contato"/>
                                                <f:selectItem itemLabel="Produtos" itemValue="Produtos"/>
                                                <f:selectItem itemLabel="Delivery" itemValue="Delivery"/>
                                                <p:ajax event="change" listener="#{buscaMB.filtararEmpresasPorSegmento()}" update="@form" />
                                            </p:selectOneMenu>
                                            &nbsp;&nbsp;
                                            <h:outputText value="Ordenar:"/>
                                            &nbsp;
                                            <p:selectOneMenu id="sonOrdenacaoEmpresas"  styleClass="tipos" value="#{buscaMB.ordenacaoBusca}" >
                                                <f:selectItem itemLabel="Aleatória" itemValue="NA"/>
                                                <f:selectItem itemLabel="Ordem A-Z" itemValue="AZ"/>
                                                <f:selectItem itemLabel="Ordem Z-A" itemValue="ZA"/>                                                    
                                                <p:ajax event="change" listener="#{buscaMB.ordernarListaEmpresas()}" update="@form" />
                                            </p:selectOneMenu>
                                        </h:panelGrid>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <div id="resultados" class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                                    <h:form id="frmResultados">
                                        <p:dataGrid var="prod" value="#{buscaMB.produtos}" columns="3" layout="grid"  currentPageReportTemplate="Mostrando {startRecord}-{endRecord} de {totalRecords} #{buscaMB.tipo}"
                                                    rows="12" paginator="true" id="produtos" rendered="#{buscaMB.produtos.size() == 0 ? 'false' : 'true'}"
                                                    paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                    rowsPerPageTemplate="12,24,48" paginatorPosition="bottom" styleClass="produtos">
                                            <div id="item">
                                                <div id="imagem">
                                                    <a href="#{facesContext.externalContext.request.contextPath}/#{buscaMB.retornaSlug(prod.idEmpresa.idCidade.nome)}/produto/#{prod.slug != null ? prod.slug : 'sem_slug'}">
                                                        <img src="#{facesContext.externalContext.request.contextPath}#{buscaMB.verificarImagem(prod.idProduto, prod.fotoPrincipal)}" id="#{prod.idProduto}"  class="img-responsive" />
                                                    </a>
                                                </div>
                                                <div id="conteudo">
                                                    <a href="#{facesContext.externalContext.request.contextPath}/#{buscaMB.retornaSlug(prod.idEmpresa.idCidade.nome)}/produto/#{prod.slug != null ? prod.slug : 'sem_slug'}" title="#{prod.nome}">
                                                        <h3>#{prod.nome.length() >= 31 ? prod.nome.substring(0, 30) : prod.nome} #{prod.nome.length() >= 31 ? "..." : ""}</h3>
                                                    </a>                                                    
                                                    <a href="#{facesContext.externalContext.request.contextPath}/empresa/#{prod.idEmpresa.slug}" title="#{prod.idEmpresa.nome}">
                                                        <h4>#{prod.idEmpresa.nome}</h4>
                                                    </a>
                                                    <h:outputText value="#{prod.comentarioList.size()} comentários" styleClass="font-size-10"/>
                                                    <hr/>
                                                    <ux:outputMoney styleClass="preco" value="#{prod.preco}" />
                                                </div>   
                                            </div>
                                        </p:dataGrid>

                                        <p:dataScroller id="empresas" value="#{buscaMB.empresas}" var="empr" chunkSize="10"
                                                        rendered="#{buscaMB.empresas.size() == 0 ? 'false' : 'true'}" styleClass="empresa" rowIndexVar="Teste">
                                            <p:panel>
                                                <h:panelGrid columns="3" style="width:100%" columnClasses="imagem-empresa, conteudo-empresa">
                                                    <a href="#{facesContext.externalContext.request.contextPath}/empresa/#{empr.slug}" title="#{empr.nome}"><img src="#{facesContext.externalContext.request.contextPath}#{buscaMB.verificarImagemEmpresa(empr.idEmpresa, empr.logo)}" id="#{empr.logo}"  class="img-responsive" /></a>
                                                    <h:panelGrid columns="1" cellpadding="5">
                                                        <a href="#{facesContext.externalContext.request.contextPath}/empresa/#{empr.slug}" title="#{empr.nome}"><h3 id="nome-empresa" title="#{empr.nome}">#{empr.nome}</h3></a>
                                                        <h4 class="slogan">#{empr.slogan == null ? empr.texto : empr.slogan}</h4>
                                                        <h:panelGrid columns="2" cellpadding="5" columnClasses="links-empresa">
                                                            <a href="#{facesContext.externalContext.request.contextPath}/empresa/#{empr.slug}">Empresa</a>
                                                            <a href="#{facesContext.externalContext.request.contextPath}/empresa/#{empr.slug}/#Produtos">Produtos</a>
                                                        </h:panelGrid>                                                        
                                                        <div id="empresa-gm" class="contato">
                                                            <hr/>
                                                            <i class="icone-social mp"></i>
                                                            <a href="http://maps.google.com/?q=#{buscaMB.retornaEndereco(empr)}" target="_blank">
                                                                <span id="endereco" title="Ir para Google Maps: #{buscaMB.retornaEndereco(empr)}">#{buscaMB.retornaEndereco(empr)}</span>
                                                            </a>
                                                        </div>
                                                        <h:panelGrid columns="6" columnClasses="contato-sociais">
                                                            <a href="tel:#{buscaMB.retornaTelefone(empr)}" title="#{buscaMB.retornaTelefone(empr)}" class="icone-social tl"><span>#{buscaMB.retornaTelefone(empr)}</span></a> 
                                                            <a href="#{empr.facebook}" title="Facebook - #{empr.nome}" class="icone-social fb" target="_blank" style="display: #{empr.facebook == null or empr.facebook == '' ? 'none' : ''}" id="fb">Facebook</a>
                                                            <a href="#{empr.googlePlus}" title="Google + - #{empr.nome}" class="icone-social gp" target="_blank" style="display: #{empr.googlePlus == null or empr.googlePlus == '' ? 'none' : ''}" id="gp">Google+</a>
                                                            <a href="#{empr.twitter}" title="Twitter - #{empr.nome}" class="icone-social tw" target="_blank" style="display: #{empr.twitter == null or empr.twitter == '' ? 'none' : ''}" id="tw">Twitter</a>
                                                            <a href="whatsapp://send?#{empr.telefoneWhatsapp}" title="WhatsApp - #{empr.nome}" class="icone-social wp" style="display: #{empr.telefoneWhatsapp == null or empr.telefoneWhatsapp == '' ? 'none' : ''}" id="tw">Whatsapp</a>
                                                            <a href="mailto:#{empr.email}" title="Email - #{empr.nome}" class="icone-social em" style="display: #{empr.email == null or empr.email == '' ? 'none' : ''}" id="fb">Email</a>                                                            
                                                        </h:panelGrid>
                                                    </h:panelGrid>                                                   
                                                </h:panelGrid>
                                            </p:panel>

                                        </p:dataScroller>
                                        <h:outputText value="Não foi encontrado nenhum resultado para a busca #{buscaMB.busca}" rendered="#{buscaMB.produtos.size() == 0 and (param['tipo'] == 'produtos' or param['tipo'] == 'servicos')}" />
                                        <h:outputText value="Não foi encontrado nenhum resultado para a busca #{buscaMB.busca}" rendered="#{buscaMB.empresas.size() == 0 and param['tipo'] == 'empresas'}" />
                                    </h:form>
                                    <div id="links-patrocinados" class="col-md-12 sem-margem">
                                        <p:panel>
                                            <i class="icone estrela"></i>
                                            <span>Patrocinado:  
                                                <a href="#{facesContext.externalContext.request.contextPath}/empresa/#{buscaMB.linksPatrocinados().slug}">
                                                    #{buscaMB.linksPatrocinados().nome} - www.noglobo.com/empresa/#{buscaMB.linksPatrocinados().slug}
                                                </a>
                                            </span>
                                        </p:panel>
                                    </div>
                                </div>
                                <div id="banners" class="col-sm-2 col-md-2 col-lg-2 hidden-xs sem-margem">
                                    <p:graphicImage value="/upload/Banners/banner_unipam.png"  styleClass="img-responsive" />
                                    <br/>
                                    <p:graphicImage value="/upload/Banners/banner_unipam.png"  styleClass="img-responsive" />
                                </div>                   
                            </div>
                        </div>
                    </section>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

