<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ux="http://java.sun.com/jsf/composite/ux">
    <ui:composition template="WEB-INF/newTemplate.xhtml">
        <ui:define name="content">
            <style>
                .ui-growl-item-container{
                    background: #4093BB !important;
                    color: white !important;
                    text-shadow: none;
                    border: none !important;
                }
            </style>
            <p:growl life="10000"  />
            <script>
                function changePic(url){
                    document.getElementById('graphicImage').src=url;
                       
                }
            </script>
            <f:metadata>  
                <f:event type="preRenderView" listener="#{buscaMB.produtoSelecionadoView()}"/>  
            </f:metadata>  
            <div class="row">
                <h:panelGroup  rendered="#{buscaMB.produtoSelecionado.idProduto == null ? 'false' : 'true'}">
                    <h:form id="frmFotos">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-5">
                            <center>
                                <h1>#{buscaMB.produtoSelecionado.nome}</h1>
                            </center>
                            <br/>
                            <div class="col-lg-8">
                                <a href="#">
                                    <img id="graphicImage" src="#{facesContext.externalContext.request.contextPath}/upload/Produto/#{buscaMB.produtoSelecionado.idProduto}/#{buscaMB.produtoSelecionado.fotoPrincipal}" class="img-responsive" alt="#{buscaMB.produtoSelecionado.slug}"  />
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <ul class="media-list main-list" >
                                    <ui:repeat value="#{buscaMB.produtoSelecionado.fotoList}" var="fot" >
                                        <li class="media"  style="width: 60px; height: 60px;">
                                            <center>
                                                <p:commandLink styleClass="pull-left" onclick="changePic('#{facesContext.externalContext.request.contextPath}/upload/Produto/#{buscaMB.produtoSelecionado.idProduto}/#{fot.url}')"   >
                                                    <h:graphicImage value="/upload/Produto/#{buscaMB.produtoSelecionado.idProduto}/#{fot.url}" styleClass="thumb img-responsive" alt="#{buscaMB.produtoSelecionado.slug}" width="80" height="80" />
                                                </p:commandLink>
                                            </center>
                                        </li>
                                    </ui:repeat>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 col-lg-3">
                            <div class="col-lg-12">
                                <ux:outputMoney value="#{buscaMB.produtoSelecionado.preco}" style=" color: #900;font-size: 16px;font-weight: bold;     font-size: 2.8em;" />	
                                <br/><br/>
                            </div>
                            <h:panelGroup  rendered="#{buscaMB.produtoSelecionado.idEmpresa.segmento == 'Produtos' or buscaMB.produtoSelecionado.idEmpresa.segmento == 'Delivery'}">
                                <h:panelGroup rendered="#{buscaMB.produtoSelecionado.idEmpresa.segmento != 'Delivery'}">
                                    <div class="col-lg-12">
                                        <p:outputLabel  value="Frete" /><br/>
                                        <h:panelGrid columns="3">
                                            <p:inputMask id="frete" mask="99999-999"  value="#{buscaMB.cepConsultar}" /> 
                                            <p:commandButton id="btnCalcular" value="Calcular" style="height: 32px !important;" action="#{buscaMB.consultarFrete()}" update="gridResult" /><br/>
                                        </h:panelGrid>
                                        <h:panelGroup id="gridResult" >
                                            <p:messages closable="true" />
                                            <p:ajaxStatus style="display:block;margin-bottom:2em;height:24px;" rendered="#{buscaMB.fretesDisponiveis.size() == 0}">
                                                <f:facet name="start">
                                                    <p:graphicImage name="/assets/img/img.GIF" />
                                                </f:facet>
                                            </p:ajaxStatus>
                                            <h:panelGrid id="grid" columns="2" styleClass="collab, colval" rendered="#{buscaMB.fretesDisponiveis.size() > 0}" style="width: 100%;">
                                                <ui:repeat value="#{buscaMB.fretesDisponiveis}" var="fre">
                                                    <h:panelGrid columns="7">
                                                        <h:outputText value="#{buscaMB.verificaTipoFrete(fre.codigo)}" style="font-weight: bolder;" /> &nbsp;&nbsp;
                                                        <ux:outputMoney value="#{fre.valor} "/> &nbsp; &nbsp;
                                                        <h:outputText style="font-weight: bolder;" value="#{fre.prazoEntrega} Dias úteis para entregar! "/>
                                                    </h:panelGrid>
                                                </ui:repeat>
                                                <hr/>
                                                <h:outputText value="#{buscaMB.endereco.tipo_logradouro} #{buscaMB.endereco.logradouro}, #{buscaMB.endereco.bairro}. #{buscaMB.endereco.cidade} - #{buscaMB.endereco.uf}" rendered="#{buscaMB.fretesDisponiveis.size() > 0}" />
                                            </h:panelGrid>
                                        </h:panelGroup>
                                        <br/>
                                    </div>
                                </h:panelGroup>
                                <h:panelGroup rendered="#{buscaMB.produtoSelecionado.idEmpresa.segmento == 'Delivery'}">
                                    <div class="col-lg-12">
                                        <p:outputLabel  value="Custo de Entrega" /><br/>
                                        <p:inputText value="#{buscaMB.produtoSelecionado.idEmpresa.valorEntrega}" readonly="true" >
                                            <f:convertNumber type="currency" />
                                        </p:inputText>
                                        <br/>
                                    </div>
                                </h:panelGroup>
                                <div class="col-lg-12">
                                    <p:outputLabel for="qntde"  value="Quantidade"   /><br/>
                                    <style>
                                        .ui-spinner-up{
                                            right: 0px !important;
                                            width: 20px !important;
                                            height: 100% !important;
                                        }
                                        .ui-spinner-down{
                                            left: 0px !important;
                                            width: 20px !important;
                                            height: 100% !important;
                                        }
                                        .ui-spinner-input{
                                            text-align: center;
                                        }
                                        .ui-spinner .ui-icon{
                                            margin-left: 5px !important;
                                        }
                                    </style>
                                    
                                    <br/><br/>
                                </div>
                                <div class="col-lg-12">
                                    <p:commandButton value="Adicionar ao Carrinho" action="#{carrinhoMB.addProdutoCarrinho(buscaMB.produtoSelecionado, buscaMB.quantidade)}"
                                                     update="gridResult, :frmGrupoo" rendered="#{buscaMB.produtoSelecionado.idEmpresa.oauth != null}"
                                                     style="height: 40px !important; background: #006dcc !important; color: white !important; text-shadow: none !important;" />
                                    <h:panelGroup rendered="#{buscaMB.produtoSelecionado.idEmpresa.oauth== null}">
                                        <div class="alert alert-warning">
                                            <strong>Atenção!</strong> No momento a empresa não está habilitada a vender seus produtos.
                                        </div>
                                    </h:panelGroup>
                                </div>
                            </h:panelGroup>

                        </div>
                        <div class="col-xs-12 col-md-4 col-lg-4">
                            <center>
                                <h2>Descrição do Produto</h2>
                                <h:outputText escape="false" value="#{buscaMB.produtoSelecionado.descricao}" />
                            </center>
                        </div>
                    </h:form>
                    <div class="col-lg-12">
                        <br/>
                        <br/>
                    </div>
                    <div class="col-lg-6">
                        <h:form>
                            <h2>Informações sobre o vendedor</h2>
                            <hr/>
                            <center>
                                <a href="#{facesContext.externalContext.request.contextPath}/empresa/#{buscaMB.produtoSelecionado.idEmpresa.slug}" style="text-decoration: none">
                                    <h2><small>#{buscaMB.produtoSelecionado.idEmpresa.nome}</small></h2>
                                </a>
                            </center>
                            <div class="well">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <center>
                                            <p:graphicImage value="/upload/Empresa/#{buscaMB.produtoSelecionado.idEmpresa.idEmpresa}/#{buscaMB.produtoSelecionado.idEmpresa.capa}" styleClass="img-responsive" />
                                        </center>
                                        <br/>
                                    </div>
                                    <div class="col-xs-8">
                                        <h2>#{buscaMB.empresaSelecionada.nome}</h2><br/>
                                        <h:panelGrid columns="2">
                                            <strong>Segmento </strong><p> #{buscaMB.produtoSelecionado.idEmpresa.segmento}</p>
                                            <strong>Telefone </strong><p> #{buscaMB.produtoSelecionado.idEmpresa.telefone}</p>
                                            <strong>Email </strong>  <p>#{buscaMB.produtoSelecionado.idEmpresa.email}</p>
                                            <strong>Site </strong> <p>#{buscaMB.produtoSelecionado.idEmpresa.site}</p>
                                            <strong>Facebook </strong> <p>#{buscaMB.produtoSelecionado.idEmpresa.site}</p>
                                        </h:panelGrid>
                                    </div>

                                </div>
                            </div>
                        </h:form>
                    </div>

                    <div class="col-lg-6">
                        <h2>Comentários e Perguntas</h2>
                        <hr/>
                        <h:form id="frmComentario">
                            <h:panelGroup id="grp" rendered="#{controleSessaoMB.usuarioLogado.idCliente.idCliente  != null}">
                                <!--<div style="height: 50px;"></div>-->
                                <center>
                                    <p:messages id="mensage" closable="true" /> 
                                    <style>
                                        .col1{
                                            width: 90%;
                                        }
                                        .col2{
                                            width: 10%;
                                        }
                                    </style>
                                    <h:panelGrid columns="2" columnClasses="col1, col2" style="width: 100%;">
                                        <p:inputText id="txtArea" value="#{buscaMB.comentario.comentario}" placeholder="Escreva sua pergunta ou faça um comentário!"   styleClass="form-control"  style="width: 100%;"/>
                                        <p:commandButton id="btnEnviar" value="Enviar" action="#{buscaMB.enviarComentario(controleSessaoMB.usuarioLogado.idCliente)}" update="@form, :frmquestions, :frmComentario:txtArea" styleClass="btn btn-primary" style="height: 34px;"/>
                                    </h:panelGrid>
                                    <hr/>
                                </center>
                            </h:panelGroup>
                        </h:form>
                        <h:panelGroup id="grp2" rendered="#{controleSessaoMB.usuarioLogado.idUsuario  == null}">
                            <div class="col-lg-12">
                                <div class="alert alert-warning" role="alert">
                                    <strong>Atenção!</strong> Você precisa estar logado para fazer um comentário! <a href="#{facesContext.externalContext.request.contextPath}/Entrar" class="alert-link">Clique aqui para entrar!</a>.
                                </div>
                            </div>
                        </h:panelGroup>
                        <div class="col-lg-12">
                            <style>
                                .post{
                                    /*background: #F1F1F1;*/
                                    padding: 15px;
                                }
                                .user, .empresa {
                                    font-weight: bolder;
                                }
                                .date{
                                    color: #999;
                                    margin-top: -10px;
                                }
                                .hrReply{
                                    margin-top: 0px;
                                    margin-bottom: 0px;
                                }
                                .replica {
                                    margin-left: 20px;
                                    background: aliceblue;
                                    padding: 5px;
                                }
                            </style>
                            <h:form id="frmquestions">
                                <p:dataScroller value="#{buscaMB.produtoSelecionado.comentarioList}" var="coment" chunkSize="7"  >
                                    <f:facet name="loader">
                                        <p:commandButton type="button" value="Ver Mais" icon="ui-icon-circle-triangle-s"/>
                                    </f:facet>
                                    <h:panelGroup rendered="#{coment.tipo=='C'}">
                                        <div class="post">
                                            <div class="user"><img src="#{facesContext.externalContext.request.contextPath}/resources/assets/ico/social/Chat.png" /> #{coment.idCliente.primeiroNome}</div>
                                            <p class="comentario">#{coment.comentario}</p> 
                                            <div class="date"><ux:outputDateTime value="#{coment.dtComentario}" /> </div>
                                            <h:panelGroup rendered="#{coment.idComentarioReplica.idComentario != null}">
                                                <i class="fa fa-level-down" style="    margin-left: 20px;"></i>
                                                <div class="replica">
                                                    <div class="empresa"><img src="#{facesContext.externalContext.request.contextPath}/resources/assets/ico/social/Chat-Reply.png" /> <a href="#{facesContext.externalContext.request.contextPath}/empresa/#{coment.idProduto.idEmpresa.slug}" >#{coment.idProduto.idEmpresa.nome}</a></div>
                                                    <p class="comentario">#{coment.idComentarioReplica.comentario}</p>
                                                    <div class="date"><ux:outputDateTime value="#{coment.idComentarioReplica.dtComentario}" /> </div>
                                                </div>
                                            </h:panelGroup>
                                        </div>
                                        <hr  class="hrReply"/>
                                    </h:panelGroup>
                                </p:dataScroller>
                            </h:form>
                        </div>
                    </div>
                    <br/>

                    <br/>
                </h:panelGroup>
                <h:panelGroup rendered="#{buscaMB.produtoSelecionado.idProduto == null ? 'true' : 'false'}">
                    <div class="col-xs-12">
                        <center>
                            <h:graphicImage name="assets/img/404-Page-Not-Found.png"/>
                        </center>
                    </div>
                </h:panelGroup>
            </div>
            <div style="height: 100px"></div>
        </ui:define>
    </ui:composition>

</html>

