.block {
    display:block;
    margin:.5rem 0
}
.card {
    background: #36aade;
    border-radius: 1rem;
    color: #f0f0f0;
    font-weight: 600;
    height: 220px;
    position: absolute;
    width: 340px
}
.card__expiration {
    font-size:1.25rem;
    left:14.5rem;
    position:absolute;
    top:8.5rem;
}
.card__expiration .card__month {
    display:inline
}
.card__expiration .card__year {
    display:inline
}
.card__little-letter {
    font-size:.75rem;
    font-weight:400;
    left:12rem;
    position:absolute;
    text-align:center;
    top:8.25rem;
    width:30px
}
.card__little-number {
    font-size:.75rem;
    font-weight:400;
    left:1.5rem;
    position:absolute;
    top:7.375rem
}
.card__name {
    font-size:1.5rem;
    left:1.5rem;
    letter-spacing:2.5px;
    position:absolute;
    text-transform:uppercase;
    top:10.5rem
}
.card__number {
    font-size:1.5rem;
    letter-spacing:2.5px;
    position:absolute;
    left:1.5rem;
    top:5.75rem
}
.card__sim {
    background:#ffce3f;
    border-radius:.5rem;
    height:3.25rem;
    left:1.5rem;
    position:absolute;
    top:2rem;
    width:3.75rem
}
.card__type {
    background:#d6d6d6;
    border-radius:.375rem;
    height:46px;
    left:14.625rem;
    position:absolute;
    top:2.25rem;
    width:73px;
}
.card__type #card__image {
    border-radius:.375rem;
    height:46px;
    width:73px
}
.card__black {
    background:#404040;
    height:3rem;
    position:absolute;
    top:2rem;
    width:100%
}
.card__cvv {
    background:#d7e7f0;
    color:#404040;
    height:2rem;
    left:16rem;
    letter-spacing:2.5px;
    line-height:2rem;
    position:absolute;
    text-align:center;
    top:6.5rem;
    width:3.5rem
}
.card__skyblue {
    background:#d7e7f0;
    height:2rem;
    left:1.5rem;
    position:absolute;
    top:6.5rem;
    width:13rem
}
.flip-container {
    margin:0 auto;
    perspective: 1000;
    width:340px
}
.flip-container.flip .flipper {
    transform:rotateY(180deg)
}
.flip-container, .front, .back {
    height:220px;
    width:340px;
}
.flip-container .flipper, .front .flipper, .back .flipper {
    position:relative;
    transition:.75s;
    transform-style:preserve-3d;
}
.flip-container .flipper .back, .front .flipper .back, .back .flipper .back, .flip-container .flipper .front, .front .flipper .front, .back .flipper .front {
    backface-visibility:hidden;
    left:0;
    position:absolute;
    top:0
}
.flip-container .flipper .back, .front .flipper .back, .back .flipper .back {
    transform:rotateY(180deg)
}
.flip-container .flipper .front, .front .flipper .front, .back .flipper .front {
    transform:rotateY(0);
    z-index:2
}