/* 
    Documento  : estilo.css
    Criado em  : 07/12/2015
    Autor      : UX Solucoes em TI
    Descricao  : CSS - Site noGlobo.com
    ---------------------------------------------

    Grade de cores utilizadas:
    
    Azul noGlobo: #000043
    Cinza       : #EDF2F4
    Azul Escuro : #2B2D42
    Vermelho    : #FB3640
    Azul Claro  : #247BA0
    Laranja     : #ff9800
*/

/* Gerais */
html {
    position: relative;
    min-height: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

.container {
    padding: 0;
}

a{
    color: #1289fe;
}

a:hover, a:active, a:focus {
    text-decoration: none;
    transition: all 0.3s ease-out;
}

h5 {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.hr-grande {
    margin-top: 10px;
    margin-bottom: 10px;
}


.btn-pequeno {
    padding: 5px 2px !important;
}

.btn-command-link {
    padding: 13px 12px !important;
    font-size: 1em !important;
}

.caixa {
    background-color: #000043; 
    height: 100%; 
    min-height: 80px;
    max-height: 150px;
    margin-bottom: 10px;
    padding-left: 0px;
    color: #FFF;
}

.sem-borda {
    border: 0 !important;
}

.azul {
    background: #000042 !important;
    color: #FFF !important;
}

.azul-claro {
    background: #1289fe !important;
    color: #FFF;
}

.vermelho {
    background: #FB3640;
}
.fonte-vermelho {
    color: #FB3640 !important;
}

.verde {
    background: #5CB85C !important;
}

.laranja {
    background: #ff9800 !important;
}

.fonte-verde {
    color: #5CB85C !important;
}

.cinza {
    background: #CCC !important;
    color: #000;
}

.cinza-claro {
    background: #EEE !important;
    color: #000 !important;
}

.fundo {
    background: rgba(247, 247, 247, 0.51);
}

.panel-fundo {
    padding: 20px 5px !important;
    background: rgba(247, 247, 247, 0.51);
}

.input {
    border-radius: 0;
    padding: 10px 10px !important;
    height: 42px !important;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 16px;
    color: #000 !important;   
    border-radius: 0px !important; 
}

.text-area {
    height: auto !important;
    font-size: 1.1em;
}

.fonte-10 {
    font-size: 0.8em;
}

.btn-normal, .btn-normal:hover {
    color: #FFF ;
    white-space: normal;
    padding: 2px 12px !important;
}

.btn-grande {   
    font-size: 1.2em;
    color: #FFF !important;
    white-space: normal;
    height: 50px;
    width: 100%;
}
.btn-shadow {
    box-shadow: 0 4px 0 #CCC;
}

.btn-shadow:hover {
    top: 4px;
    box-shadow: none;
}

.btn-link {
    color: #428bca !important;
    background: none !important;
}

.btn-link:hover {    
    border: 1px solid #CCC !important;
}

.span {
    display: block;
    font-size: 0.7em;
}

.padding-top-10 {
    padding-top: 10px !important; 
}

.margin-top-10 {
    margin-top: 10px !important;    
}
.margin-top-10-bottom-5 {
    margin-top: 10px !important;    
    margin-bottom: 5px !important;
}


.padding-top-20 {
    padding-top: 20px !important; 
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-20 {
    padding-bottom: 20px !important; 
}

.margin-top-bottom-10 {
    margin: 10px 0 !important;
}

.margin-top-bottom-20 {
    margin: 20px 0 !important;
}

.padding-top-bottom-20 {
    padding: 20px 0 !important;
}

.padding-right-left-20 {
    padding: 0 20px !important;
}

.sem-padding {
    padding: 0 !important;
}


.sem-padding-esquerdo {
    padding-left: 0 !important;
    padding-right: 2px !important;

}
.sem-padding-direito {
    padding-left: 2px !important;
    padding-right: 0 !important;
}

.block {
    display: block;
}




/* Pagina principal */
#cabecalho-home {
    width: 100%;
    display: flex;
    margin: 20px 0px;
}

#cabecalho-home #barra-navegacao-home #logo {
    padding-left: 0px; 
    display: inherit;
    margin-right: auto;
}

#barra-navegacao {
    width: 100%;
}

.sticky {
    background: #8bc34a;
    height: 50px;
}

.sem-margem {
    margin: 0;
    padding: 0;
}

.sem-margem-esquerda {
    margin-left: 0;
    padding-left: 0;
}

.sem-margem-direita {
    margin-right: 0;
    padding-right: 0;
}

#barra-navegacao #atalhos {
    text-align: left;
    /*padding-left: 60px;*/
}

#atalhos {
    text-align: center;
    padding-top: 5px;
}

.link-atalhos{
    margin-top: 10px;
    padding: 10px 15px;
    height: 25px;
    color: #000042 !important;
    border-right: 1px solid #e5e5e5;
}

.dropdown-login {
    top: 100%;
    left: 35%;
    border-radius: 0 !important;
    box-shadow: none !important;
    padding: 15px 5px;
    margin: 0;
    right: 30%;
}

.dropdown-login>li>a {
    text-align: center;
    padding: 5px 10px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    text-decoration: underline;
    color: #1289fe;
    background-color: #FFF;
}

#links a {
    color: #000042 !important;
}

#barra-navegacao #atalhos ul {
    padding-left: 0px !important;
}

#cadastro #conteudo, #login #conteudo {
    padding-bottom: 3%;
}
#login #conteudo input, #cadastro #conteudo input{
    height: 40px;
    margin-bottom: 5px;
}


#conteudo-principal{
    color: #000;
    width: 100%;
    display: flex;
    top: 0;
    padding-top: 80px;
    min-height: 600px;
}
#conteudo-principal #principal{
    padding-bottom: 35px;
}

#conteudo-principal #principal h1{
    font-size: 48px;
    text-align: center; 
    font-family: 'Raleway';
}

#frmPesq .busca input{
    padding: 10px 20px !important;
    height: 60px !important;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 24px;
    box-shadow: none;
    max-width: 800px !important;
    color: #000 !important;   
    border-radius: 0px;
    width: 300%;
    /*    border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;*/
}

#frmPesq .barra-busca {
    padding: 10px 20px !important;
    height: 60px !important;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 24px;
    box-shadow: none;
    max-width: 800px !important;
    color: #000 !important;   
    border-radius: 0px;

    /*    border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;*/
}

@media (max-width: 1000px) and (min-width: 764px){
    #barra-busca{
        margin-top: -20px;
    }
}
@media (max-width: 1200px){
    #barra-busca{
        margin-top: -20px;
    }
}
.ui-grid ,.ui-paginator.ui-paginator-bottom{
    border: none !important;
    margin-left: 20px;
}

.ui-paginator.ui-paginator-bottom {
    background: none !important;
    padding-top: 20px !important;
}

.tipos {
    font-family: 'Open Sans', sans-serif !important;
    color: #000 !important;
    border-radius: 0px;
    background: white !important; 
    background-image: none !important;   

}

.tipos .ui-selectonemenu-label {
    overflow: visible;
    padding: 5px;
}

#frmPesq .tipos {
    font-size: 18px;
    padding: 10px 20px !important;
    height: 60px !important;
}

#frmPesq .tipos .ui-selectonemenu-label{
    width: 40px !important;  
    font-size: 20px;
    font-weight: 400;
    overflow: visible;
}

#filtros table{
    float: right;
}

#resultado-busca {
    background-color: #f4f2f0;
}

#resultado-busca #filtros .tipos, #resultado:sonOrdenacao .ui-selectonemenu-panel .ui-selectonemenu-list-item{
    font-size: 12px !important;
}

#resultado-busca #filtros .ui-selectonemenu .ui-selectonemenu-trigger {
    padding: 5px 5px !important;
}

#resultado-busca #filtros .ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
    margin-top: 3px !important;
    margin-left: 2px;
}

#conteudo-principal #busca button {
    height: 60px !important;
    width: 55px;
    border-radius: 0px;
    border: 1px solid #cbc3be;
    margin-left: 0px;
}

#conteudo-principal #links {
    text-align: center;
    padding-top: 80px;
}

#conteudo-principal  #links img {
    height: 80px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.3;
}

#conteudo-principal #links img:hover {
    transition: all 1s ease-out;
    opacity: 1;
}
#localizacao {
    padding: 10px 0px;
}

#rodape-home, #rodape {
    left: 0;
    bottom: 0;
    width: 100%;
    display: block;
    background-color: #eee;
    text-align: center;
    padding-bottom: 35px;
    padding-top: 10px;
}

#rodape {
    background: #FFF;
}

#rodape h3 {
    font-size: 1em ;
    text-align: left;
}

#rodape-home #links, #rodape #links {
    padding-top: 15px;
}

#rodape-home #icones {
    padding: 10px 0px;
    padding-top: 18px;
}

#rodape #icones {    
    text-align: left;
    padding-top: 10px;
}      

#rodape #icones {
    padding-bottom:5px;
    padding-left: 0;
    margin-bottom: 5px;
}

#rodape #icones img {
    padding-right: 10px;
}

#rodape-home #icones img{
    padding: 5px 10px;
}

#rodape #termos-uso {
    font-size: 0.8em;
    text-align: left;
    margin:0;
    padding: 10px 0px 5px 0px;
}

#pagamentos {
    list-style: none;
    padding: 10px 0 0 0;
    float: left;
    margin-bottom: 10px;
}

#informacoes {
    padding-top: 10px;
}

#informacoes span {
    display: block;
    text-align: left;
    font-size: 0.8em;
}

#pagamentos li {
    display: inline;
}

#rodape #formas-pagamento h4, #rodape #sociais h4 {
    text-align: left;
    font-size: 0.8em;
    display: block;
}

/* Pagina de busca */
#pagina-404 {
    padding-top: 60px;
}
#texto-404 p{
    font-size: 24px;
}

.botao-destaque {
    background-color: #000042;
    border-color:#000042;
    color:#fff;
    border: 3px solid #000042;
    font-size: 16px;
    font-weight: 700;
    letter-spacing:0;
    margin-bottom: 50px;
    margin-top: 10px;
    padding: 25px 53px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.botao-destaque:hover, .botao-destaque:focus  {
    background-color: #000080;
    border-color:#000080;
    color:#fff;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.botao-callaction {
    color: #FB3640;
    background-color: #FFF;
    font-size: 16px;
    font-weight: 700;
    letter-spacing:0;
    margin-bottom: 50px;
    margin-top: 10px;
    padding: 25px 53px !important;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.input-text {
    border-radius: 0; 
}

#frmBarraPesq .busca input {
    padding: 10px 10px !important;
    height: 38px !important;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 16px;
    box-shadow: none;
    color: #000 !important;   
    border-radius: 0px !important;    
    width: 100% !important;

}

.clearable{
    background: #fff url(http://i.stack.imgur.com/mJotv.gif) no-repeat right -10px center;
    border: 1px solid #999;
    padding: 3px 18px 3px 4px;     /* Use the same right padding (18) in jQ! */
    border-radius: 3px;
    transition: background 0.4s;
}

#frmBarraPesq .btn-busca {
    height: 38px !important;
    width: 35px !important;
    padding: 10px 10px !important;
    border: 1px solid #CBC3BE;
}

#frmBarraPesq .btn-busca .ui-icon.pesquisar{
    margin-top: -12px !important;
    margin-left: -11px !important;
}

#resultado-busca #topo-resultados .btn-mini {
    width: 32px;
    margin-left: 2px;
}

#resultado-busca #topo-resultados .input-text {
    max-width: 80px;
}

#resultado-busca #topo-resultados {
    padding-left: 25px;
}
#resultado-busca #topo-resultados a:hover {
    text-decoration: underline;
}

#resultado-busca #topo-resultados #parametro-busca {
    margin-top: 15px;
}

#resultado-busca #topo-resultados #parametro-busca h2 {
    margin: 0;
    font-size: 24px;
    text-transform: capitalize;
}

#resultado-busca #topo-resultados #parametro-busca span {
    margin-top: 4px;
}

#resultado-busca #topo-resultados #parametro-busca .links-buscas-relacionada a {
    font-size: 1em;
    text-decoration: none;
    color: #00ADFF;
    padding-left: 5px;
}

#resultado-busca #topo-resultados #parametro-busca .links-buscas-relacionada a:hover {
    text-decoration: underline;
}

#resultado-busca #topo-resultados #filtros {
    margin-top: 24px;
}

#resultado-busca #topo-resultados #buscas-relacionadas {
    margin-top: 5px;
}

#resultado-busca #filtros {
    padding-left: 50px;
    padding-right: 0;
}

#banners {
    padding-right: 0px;
    margin-top: 3px;
}

#banner-topo {
    margin-top: 20px;
    padding-right: 0;
    padding-left: 0;
}

#resultado-busca #resultados {
    padding: 0px;
    background-color: #f4f2f0;
    padding-bottom: 10px;
}

#resultado {
    height: 100%;
}

#resultado-busca #resultados .ui-grid-row {
    padding-bottom: 5px;
    margin-left: -7px;
}

#resultado #item:hover {
    box-shadow: 0 0px 5px rgba(0,0,0,0.2);
    transition:	box-shadow 200ms ease-out;
}

#item #imagem {
    max-width: 400px;
    max-height: 250px;
    margin-bottom: 2px;
}

#item #imagem img {
    margin-left: auto;
    margin-right: auto;
    max-width: 290px;
    max-height: 225px;
}

#veja-tambem #item #imagem img {
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
    max-height: 140px;
}

#veja-tambem #conteudo h3 {
    font-size: 0.9em !important;
}

#veja-tambem #item #conteudo {
    padding: 0;
}

#item #imagem-promocao {
    max-width: 220px;
    max-height: 170px;
    margin-bottom: 2px;
}

#item #imagem-promocao img {
    margin-left: auto;
    margin-right: auto;
    max-width: 160px;
    max-height: 165px;
}

#item #conteudo {
    min-height: 90px;
    padding: 0px 5px;
}

#item #conteudo .preco {
    color: #FB3640;
    font-weight: 600;
}

#item #conteudo h3:hover, #item #conteudo h4:hover {
    text-decoration: underline;
}

#item #conteudo h3 {
    font-size: 1.1em;
    font-weight: 700;
    color: #2B2D42;
    margin: 10px 0px 3px 0px;

}
#item #conteudo h4 {
    font-size: 12px;
    color: #247BA0;
    margin-bottom: 0;
    margin-top: 5px;
}

#resultados .ui-datascroller .ui-datascroller-item {
    margin-bottom: 10px;   
}

#resultados .ui-datascroller .ui-datascroller-item:hover {
    box-shadow: 0px 1px 0 #000042;
    border: 0 !important;
}

#resultados .ui-datascroller .ui-datascroller-loading {
    background: url("#{facesContext.externalContext.request.contextPath}/resources/assets/img/loading-empresas.gif") center center no-repeat !important;
}

.imagem-empresa{
    width: 20%;
    text-align: center;
}

.imagem-empresa img{
    margin: 0;
    max-height: 150px;
}

.conteudo-empresa {
    width: 80%;
    padding-left: 10px;
}

.conteudo-empresa a:hover{
    text-decoration: none;
    color: #000;
}

.conteudo-empresa h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding-top: 10px;
}

.conteudo-empresa span {
    font-size: 12px;
    font-weight: 400;
}

.conteudo-empresa .contato-telefone, .conteudo-empresa .contato-sociais, .conteudo-empresa .contato-telefone {
    padding-top: 5px;
    padding-bottom: 5px;
}

.conteudo-empresa .contato i, .conteudo-empresa .contato-telefone i, .conteudo-empresa .contato-sociais span {
    vertical-align: middle;
}

.conteudo-empresa .contato {
    padding-top: 5px;
}

.conteudo-empresa .slogan {
    font-size: 10px;
    margin-top: 2px;
    margin-left: 1px;
    margin-bottom: 5px;
}

.conteudo-empresa .links-empresa {
    font-size: 12px;
}

.conteudo-empresa .links-empresa a {
    padding-right: 5px;
    text-decoration: underline;
    color: #428bca;
}

#resultados #links-patrocinados {
    padding-bottom: 10px;
    height: 30px;
    margin-left: -5px !important;
}

#resultados #links-patrocinados i {
    vertical-align: middle;
}

#resultados #links-patrocinados span {
    font-size: 12px;
}

.botao-mais {
    background: #000080 !important; 
    color: #FFF !important;
    border-color: #000080 !important; 

}

.botao-mais:hover, .botao-mais:focus, .botao-mais:active {
    box-shadow: 1px 1px 1px rgba(0,0,0,0.62);
}

.font-size-10 {
    font-size: 10px;
}

#QuemSomos #topo #texto h1 {
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 20px;
    padding-top: 20px;
}

#QuemSomos #topo #texto p {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 16px;
    padding-bottom: 20px;
}

#QuemSomos #indices {
    padding: 50px;
    background-color: #000042;
    color: #FFF;
    margin-bottom: 20px;
    margin-top: 50px;
}

#callaction{
    padding-top: 50px;
    background-color: #000042;
    color: #FFF;
    padding-bottom: 70px;
}

#QuemSomos #Servicos {
    padding-top: 20px;
    padding-bottom: 150px;
}

#QuemSomos #Servicos #topo h1{
    padding-bottom: 20px;
}

#callaction #botao {
    margin-top: 40px;
}

#termosUso {
    padding-bottom: 80px;
}

#privacidade p, #termosUso p{
    text-align: justify;
    padding-top: 10px;
}

#selos img {
    margin-top: 5em;
    position: relative;
    top: 50%;
    width: 150px;
    transform: translateY(-50%); 
}

#selos-pagamento img {
    width: 150px;
    transform: translateY(-50%); 
    margin: 5em auto 0;
}
#selos-pagamento {
    margin-top: 7px;
}

#contato {
    padding-top: 25px;
    height: 400px;

}

#atalhos li {
    list-style: none ;
    display: inline;
}
#atalhos li a{
    height: 35px;
}

.promocao {
    margin-top: -2px;
    margin-right: 5px;
    margin-left: -5px;
    padding-left: 0;

}

#breadcrump {
    min-height: 30px !important;
}
.breadcrumb {
    margin: 7px 0;
    padding-left: 10px;
    background: none;   
}

.breadcrumb a{
    color: #000;
    transition: none;
}
.breadcrumb a, .breadcrumb span {
    font-size: 0.9em;
    text-transform: lowercase;
}

.breadcrumb>li+li:before {
    padding: 0 3px;
    content: ">";
    font-size: 0.8em;

}

.breadcrumb a:hover {
    color:#428bca;
    text-decoration: underline;
}

.breadcrumb-branco a {
    color: #FFF;
    font-size: 1em;
}

.breadcrumb-branco a .active {
    color: #F7f7f7;
}

#conteudo {
    padding-bottom: 2.5em;
}

#conteudo #fotos {
    padding-left: 10px;
}

#conteudo #fotos .imagem {
    width: 600px;
    height: 450px;
}

#conteudo #descricao h1, #conteudo #descricao #texto span {
    margin-top: -5px;
    margin-bottom: 0;
}

#conteudo #descricao h1{
    font-size: 2.5em;
    color: #2B2D42;
    font-weight: 700;

}
#conteudo #descricao #texto {
    padding: 20px 0 0px 0 ;
}

#conteudo #descricao #codigo{
    font-size: 0.7em;
    margin-left: 2px;
    color: #000;
}

#conteudo #descricao #resumo {
    margin: 0 0 0 2px;
    padding-bottom: 20px;     
}

#conteudo #descricao #precos {
    padding: 0 0 5px;
}

#conteudo #descricao #precos #estoque {
    font-size: 0.8em;
    letter-spacing: 0.01em;
}
#conteudo #descricao #precos .disponivel {
    color: #5CB85C;
}
#conteudo #descricao #precos .indisponivel {
    color: #B5B5B5;
}

#conteudo #descricao #pagamentos, #conteudo #descricao #frete div, #conteudo #descricao #botoes  {
    padding: 0 0 10px 0;
    margin-bottom: 0;
}
#conteudo #descricao #pagamentos #pagamentos-aceitos {
    padding: 0;
}
#conteudo #descricao #precos #preco {
    font-size: 2.5em;
    color: #FB3640;
    display: block;
    font-weight: 600;
    letter-spacing: -1px;
    max-height: 45px;
}

#conteudo #descricao #frete-prazos {
    display: block;
    padding: 0 0 24px 0;
    height: 122px;
}
#conteudo #descricao #frete-prazos #calculo-frete {
    padding-bottom: 3px;
    font-size: 1.2em;
    font-weight: 600;
}


#conteudo #descricao #frete-prazos .input-frete, .input-frete {
    border-radius: 0;
    padding: 10px 10px !important;
    height: 42px !important;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 16px;
    color: #000 !important;   
    border-radius: 0px !important;    
}

#conteudo #descricao #frete-prazos .btn-frete, .btn-frete {
    height: 42px !important;
    border: 1px solid #cbc3be;
    width: 50px;

}

#conteudo #descricao #resultado-frete {
    padding-left: 2.0em;
}

#conteudo #descricao #botoes #comprar {
    text-align: right;
    float: right;
    padding: 0;
    margin: 0;
}
#conteudo #descricao #resultado-frete table {
    width: 100%;
}

#conteudo #descricao #resultado-frete th, #conteudo #descricao #resultado-frete thead th{
    background: none;
    font-size: 0.8em;
    font-weight: 600;
    color: #000043;
    padding: 4px 4px;
}

#conteudo #descricao #resultado-frete td {
    font-size: .75em;
    padding: 4px 4px;
}

#conteudo #descricao .btn-grande {
    padding: 18px 50px !important;
    font-size: 1.2em;
    color: #FFF;
    white-space: normal;
    height: 70px;
    max-width: 280px;
}

#conteudo #descricao .btn-add {
    font-size: 1em;
    font-weight: 500;
    padding: 11px 30px !important;
    background: #5CB85C;
    color: #FFF;
    box-shadow: 0 4px 0 #CCC;
}

#conteudo #descricao .btn-comprar {
    background: #000042;
    box-shadow: 0 4px 0 #CCC;
}

#conteudo #descricao .btn-grande:hover {
    top: 4px;
    box-shadow: none;
}
#veja-tambem, #detalhes {
    margin-top: 35px;
}
#detalhes {
    padding-left: 10px;
}

#detalhes .tabs-detalhes {
    border-radius: 0;
    height: 100%;
    min-height: 250px;
    border: 1px solid #CCC;
}
#detalhes .tabs-detalhes .ui-tabs-nav {
    padding: 0 !important;
}

#detalhes .ui-tabs {
    padding: 0 !important;
}
#detalhes .tabs-detalhes .ui-widget-header {
    border-bottom: 1px solid #CCC;
    background: none !important;
}

#detalhes .tabs-detalhes .ui-state-hover {
    background: #000042 !important;
    border-bottom: 1px solid #FFF !important;
}
#detalhes .tabs-detalhes .ui-state-default a{
    color: #FFF !important;
}
#detalhes .tabs-detalhes .ui-tabs-nav li {
    margin: 0 0.1em !important;
}

#detalhes .tabs-detalhes .ui-state-active, #detalhes .tabs-detalhes .ui-state-default {
    background: #000042 !important;  
    border-radius: 0;
    padding: 5px 16px;
    border: 1px solid #000;
}

#detalhes .tabs-detalhes .ui-state-active a {
    color: #000042 !important;
}

#detalhes .tabs-detalhes .ui-state-active {
    background: none !important;
    border: 0;
}

#detalhes .tabs-detalhes .ui-tabs-panel {
    padding: 1em 1em;
}
#detalhes .tabs-detalhes .ui-tabs-nav {
    border-radius: 0;
}

#detalhes .devolucao {
    font-size: 0.9em;
    text-align: justify;
    padding: 10px 20px;
}

#tags h4 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 1.2em;
    font-weight: 600;
}

#tags a {
    color: #000;
}

#tags ul {
    list-style: none;
    padding: 20px 0;
}

#tags li {
    display: inline;
    padding: 5px 15px;
    border: 1px solid #000;
}

#tags li:hover {
    background: #000042;
    color: #FFF;
}

#comentarios #inserir-comentario {
    padding: 5px 0 5px 0;
}

#comentarios #inserir-comentario #botao {
    margin: 10px 0;
    float: right;
    text-align: right;
}

#comentarios .perguntas {
    border-radius: 0;
}

.perguntas .ui-widget-content {
    border-radius: 0 !important;
    border: 1px solid #CCC;
}

.perguntas .usuario {
    font-size: 0.8em;
    padding-top: 5px;

}

.perguntas p {
    margin: 0.8em 0 0.5em;
    padding: 0.5em 1em;
    clear: both;
    font-size: 0.8em;
    color: white;
    position: relative;
    border-radius: 5px;
}

.perguntas p span {
    font-size: 0.6em;
    display: block;
    padding-top: 2px;
}

.perguntas p.texto span {
    color: #CCC;
}

.pergunta p.texto {
    float: left;
    background-color: #1289fe;
}
.pergunta p.texto::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 11px 8px;
    border-color: #1289FE transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -13px;
    top: -7px;
    left: 25px;
}

.resposta p.texto {
    float: right;
    background-color: #000042;
}
.resposta p.texto::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 8px 11px 0;
    border-color: #000042 transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -13px;
    bottom: -7px;
    right: 13px;
}
#carrinho #topo, #confirmacao-pagamento #topo {
    margin: 20px 0;
}

#carrinho #topo h3, #confirmacao-pagamento #topo h3{
    font-size: 1.5em;
    margin: 0;
}

.indicador {
    display: table;
    margin-left: 0px;
    position: relative;
    table-layout: fixed;
    vertical-align: middle;
    margin: 0 auto;
}

.indicador li {
    display: table-cell;
    float: none;
    padding: 0;
    text-align: center;
    width: 1%;    
}

.indicador li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.indicador .conector {
    height: 2px;
    background: #e0e0e0;
    width: 100%;
    margin: 0;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

#carrinho .totais .lbl-total {
    font-weight: 600;
    color: #ff9800;
}

.indicador .atual .empresa {
    font-size: 0.8em;
    font-size: 500;
    color: #000;
}

.indicador .atual span {
    font-weight: 600;
    color: #ff9800;
    font-size: 0.8em;
}

.indicador .completo span {
    font-weight: 600;
    color: #1289FE;
    font-size: 0.8em;
}

.indicador .incompleto span {
    color: #CCC;
    font-size: 0.8em;
}

#carrinho #principal {
    padding-top: 15px;
    min-height: 650px;
}

#carrinho .nome-loja {

}

#carrinho h5 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1em;
    font-weight: 600;
}

#carrinho .ui-panel {
    border: 1px solid #CCC !important;
}

#carrinho fieldset { 
    border: 1px solid #CCC;
    background: #FFF;
    padding: 15px 0;
    margin-bottom: 1.5em;
}

#carrinho fieldset legend {
    background: #000042;
    color: #fff;
    padding: 5px 20px;
    font-size: 1.3em;
    margin-left: 15px;
    width: auto;
    margin-bottom: 0;
}

#carrinho #outros {
    margin-top: 1.2em;
}

#carrinho .col {
    padding: 5px 0 !important;
}

#carrinho tbody .col-texto {
    padding: 2px 0 15px 0 !important;
}

#carrinho .tabela-carrinho td a {
    color: #00ADFF !important;
}
#carrinho .tabela-carrinho td a:hover {
    text-decoration: underline;
}

#carrinho .tabela-carrinho .excluir {
    font-size: 0.7em;
    color: red !important;
    margin-left: 2px;
}

#carrinho .tabela-carrinho .ui-datatable tbody td , #carrinho .tabela-carrinho .ui-widget-content{
    border-bottom: 1px solid #CCC;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

#carrinho .tabela-carrinho p{
    padding: 10px 5px 10px 0;
    font-size: 0.8em;
}

#carrinho .tabela-carrinho thead .ui-state-default {
    border-bottom: 1px solid #000;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    background: none !important;
    padding: 2px;
}

#carrinho .tabela-carrinho .qtd, #carrinho .tabela-carrinho .qtd input{
    width: 55px;
    padding-right: 25px;
    border-radius: 0;
}

#carrinho .tabela-carrinho .qtd .ui-spinner-button {
    background: none !important;
    padding-left: 5px !important;
    color: #000 !important;
}

#carrinho .tabela-carrinho .ui-datatable thead th {
    padding-right: 0;
}


#carrinho .tabela-carrinho .ui-datatable tbody td {
    padding: 2px 5px !important;
}

#carrinho .tabela-carrinho .ui-column-title {
    font-size: 0.8em;
    float: right;
    padding-right: 0;
}

#carrinho #frete {
    margin-top: 5px;
}

#carrinho #calculo {
    height: 120px;
}

#carrinho #frete #cep {
    height: 100px;
    padding: 5px 0px;   
}

#carrinho #frete .cep {
    height: 34px !important;
    background: #FFF !important;
}

#carrinho #frete .tipos-frete {
    margin-left: 5.2em;
}

#carrinho .totais {
    float: right;
    text-align: right;
    margin: 0 5px;    
}
#carrinho .totais .lbl {
    font-size: 0.9em;
}

#minha-conta {
    min-height: 650px;
}

#minha-conta #principal {
    padding-left: 5px;
}
#minha-conta #topo h2 {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 2em;
    margin-bottom: 2px;
}

#minha-conta h3 {
    margin-bottom: 20px !important;
}

#minha-conta #topo .span {
    font-size: 0.8em;
}

#minha-conta [input] {
    border-radius: 0 !important;
}

#minha-conta #topo #breadcrump {
    margin-top: 15px;
}

.one-menu {
    border-radius: 0 !important;
    background: none !important;    

}
.one-menu .ui-selectonemenu-item .ui-widget-content {
    background: #FFF !important;
}

.one-menu .ui-selectonemenu-panel .ui-selectonemenu-item {
    border: 0 !important;
}

.one-menu .ui-widget-content .ui-state-hover {
    background: #000042 !important;
    color: #FFF;
}

.one-menu .ui-selectonemenu-label {
    font-weight: 500 !important;
}

.one-menu.ui-selectonemenu .ui-selectonemenu-trigger {
    padding: 18px 6px 0 !important;
}


.nav-minha-conta li a {
    border-radius: 0 !important;
}    

.nav-minha-conta li.active a {
    background: #000042 !important;
}

#resumo-pagamento #botoes-pagamento {
    font-size: 0.9em;
}
#confirmacao-pagamento #principal #detalhamento {
    padding-bottom: 20px;
}

#confirmacao-pagamento #principal #compra .ui-panel{
    min-height: 600px;
    padding: 0 10px;
}

.info span a, .info .aviso a, #confirmacao-pagamento .tabela-compra .ui-widget-content a {
    color: #1289FE;
}
.info h3 {  
    font-size: 1.3em;
    font-weight: 600;   
}

.info p{
    font-size: 0.8em;
    margin: 10px 0 20px;
}

.aviso {
    font-size: 0.8em;
    line-height: 15px;
    margin-top: 10px !important;
    float: left;
}

.aviso a {
    color: #1289fe;
}

.info input{
    margin-top: 5px !important;
}

#confirmacao-pagamento .tabela-compra .ui-column-title {
    font-size: 0.8em;
    float: right;
    padding-right: 0;
}

#confirmacao-pagamento .tabela-compra .ui-state-default {
    background: none !important;
    border: 0 !important;
    padding-right: 0 !important;
}

#confirmacao-pagamento .tabela-compra .ui-widget-content {
    border-bottom: 1px solid #000;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

#confirmacao-pagamento .tabela-compra .ui-datatable tbody tr td {
    padding: 2px 5px !important;
}

#confirmacao-pagamento .labels span {
    font-size: 0.9em;
    display: block;
}
#confirmacao-pagamento .totais {
    margin-top: 5px;
}

#confirmacao-pagamento .dlg.modal {
    background-color: rgba(0,0,0,0.80) !important
}
#confirmacao-pagamento .dlg .modal-dialog {
    width: 450px !important;
    margin: 8% auto;
}

#confirmacao-pagamento .dlg .modal-content {
    border-radius: 0 !important;
}

#confirmacao-pagamento .dlg .modal-header {
    min-height: 7.5em;
    border-bottom: 0; 
}

#confirmacao-pagamento .dlg .modal-body{
    padding: 2px;
    min-height: 18em;
}

#confirmacao-pagamento .dlg .modal-footer {
    margin-top: 5px;
}
#confirmacao-pagamento .dlg #bandeiras {
    padding-bottom: 15px;
}

#confirmacao-pagamento .dlg .one-menu {
    padding: 4px;
}
#confirmacao-pagamento .dlg .one-menu .ui-selectonemenu-items {
    font-size: 0.8em !important;
}


#confirmacao-pagamento .dlg .inputs input[type="text"], #confirmacao-pagamento .dlg .inputs .one-menu{
    height: 40px !important;
    margin-bottom: 2px;
}

.destacar {
    font-weight: 700;
    color: #00ADFF !important;
}

.reset-panel {
    padding: 0 !important;
    border: 0 !important;
}

#confirmacao-pagamento #pagamento-cartao{
    position: relative;
    perspective: 800px;
    display: block;
    margin: -7em 1.6em;

}

#confirmacao-pagamento .cartao {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}

#confirmacao-pagamento .leiaute {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: 0.5s;
    background: linear-gradient(140deg, #428bca, #000042);
    border-radius: 1rem;
    color: #f0f0f0;
    font-weight: 600;
    width: 23em;  
    height: 13em; 
}

#confirmacao-pagamento .leiaute.frente {    
    transform-style: preserve-3d;
    position: absolute;
    transform: rotateY(0deg);
}

#confirmacao-pagamento .leiaute.verso {
    display: block;
    box-sizing: border-box;
    padding: 20px;
    color: white;
    text-align: left;
    background-color: #333;
    transform: rotateY(180deg); 
}

#confirmacao-pagamento .frente.girar {
    transform : rotateY(-180deg) !important;
}
#confirmacao-pagamento .verso.girar {
    transform : rotateY(0deg) !important;
}

#confirmacao-pagamento .cartao .frente:before, #confirmacao-pagamento .cartao .verso:after{
    content: '';
    width: 70%;
    position: absolute;
    height: 100%;
    top: 2px;
    left: 20px;
    background: url("http://cdn.flaticon.com/svg/44/44386.svg") no-repeat center;
    background-size: cover;
    opacity: .05;
}

#confirmacao-pagamento .cartao .frente #banco {
    margin-top: 5px;
    height: 40px;
    text-align: right;
    font-size: 1em !important;
}

#confirmacao-pagamento .cartao .frente #campos {
    margin-left: 0;
    padding-left: 0;
    margin-top: 0;
}
#confirmacao-pagamento .cartao .frente #campos #numero-cartao {
    margin-bottom: 40px;
}

#confirmacao-pagamento .cartao .frente #campos input[type="text"], #confirmacao-pagamento .cartao .verso input[type="text"] {
    background: transparent;
    border: 0;
    font-family: inherit;
}

#confirmacao-pagamento .cartao .frente #campos #numero-cartao {
    font-size: 1.5em;
}

#confirmacao-pagamento .dlg .inputs .pequenos {
    width: 50px !important;
}

#confirmacao-pagamento .cartao #campos #datas input[type="text"]{
    max-width: 40px !important;
}

#confirmacao-pagamento .cartao .frente #campos #datas span {
    font-size: 0.5em;
    color: #999;
}

#confirmacao-pagamento .cartao .frente #campos input[type="text"]:focus {
    background: #FFF;
    color: #000;
}

#confirmacao-pagamento .cartao .frente #bandeira {
    margin-top: 125px;
}

#confirmacao-pagamento .cartao .verso .tarja {    
    background: #000;
    position: absolute;
    width: 100%;
    height: 50px;
    top: 30px;
    left: 0;
}
#confirmacao-pagamento .cartao .verso .ccv {
    text-align: right;
    height: 36px;
    background: #fff;
    width: 91%;
    border-radius: 5px;
    top: 90px;
    left: 0;
    right: 0;
    position: absolute;
    margin: 0 auto;
    color: #000;
    padding: 10px;
}

#confirmacao-pagamento .cartao .verso .ccv input[type="text"] {
    text-align: right;
}

/* -------------------------------------------------------------------------------- */
/* Media queries */
@media(min-width: 1300px){
    #center {
        text-align: left !important;
    }    
    #conteudo-principal #busca {
        margin-left: 15px;
    }

    #conteudo-principal{
        padding-top: 150px;
        min-height: 710px;
    }

    #conteudo {
        padding: 0;
    }

    #carrinho .col-15 {
        width: 15%;
    }

}

@media(max-width: 1200px){

    #rodape-home{
        padding-top: 20px;
        height: 250px;
    }

    #frmPesq .busca input {
        /*max-width: 500px !important;*/
        width: 100%;
    }    

    #barra-busca {
        margin-top: 10px;  
    }

    #item #imagem img {
        max-width: 100%;
        max-height: 100%;
    }

    #resultado-busca #filtros {
        padding-left: 0;
    }

    #atalhos {
        margin-top: 10px;
        text-align: center !important;
    }

    #conteudo {
        padding: 0;
    }

    #detalhes, #veja-tambem {
        padding-top: 15px;
    }

    #veja-tambem #item #imagem img {
        max-width: 100%;
        max-height: 100%;
    }

    #conteudo #descricao #botoes #comprar {
        text-align: center;
        float: none;
    }
    #conteudo #descricao .btn-grande {
        width: 100% !important;
        max-width: 100% !important;

    }

    #carrinho #frete .tipos-frete {
        margin-left: 4.2em;
    }

    #detalhes .tabs-detalhes .ui-tabs-nav {
        font-size: 0.6em;
    }

    #detalhes .tabs-detalhes .ui-state-default a {
        color: #000 !important;
    }

    #detalhes .tabs-detalhes .ui-state-active {
        border-bottom: 0 !important;
    }


    #detalhes .tabs-detalhes .ui-state-default {
        background: none !important;
        border-bottom: 2px solid #000042;
        border-top: 0;
        border-right: 0;
        border-left: 0;
    }
    #comentarios .perguntas {
        margin-top: 150px;
    }

    #comentarios #inserir-comentario #botao {
        text-align: right;
        float: right;
    }

    #conteudo #descricao #botoes #comprar {
        padding-right: 15px;
    }    

    #carrinho .totais {
        padding: 5px 0 !important;
    }
    #carrinho #principal {
        min-height: 500px;
    }

    #carrinho #veja-tambem {
        padding-top: 0;
    }

    #carrinho #veja-tambem #item {
        text-align: center;
    }

    #carrinho #veja-tambem #item #imagem img {
        max-width: 250px;
        max-height: 130px;       
    }

    #carrinho .tabela-carrinho .ui-column-title {
        float: none;
        text-align: center;
    }

    .sem-margem-esquerda {
        padding: 0 !important;
    }

    .sem-padding-direito {
        padding-left: 0 !important;
    }
    .sem-padding-esquerdo {
        padding-right: 0 !important;
    }   

    #login, #cadastro {
        margin-bottom: 10px;
    }

}

@media(min-width: 1001px) and (max-width: 1199px) {
    #carrinho .col-15 {
        width: 15%;
        text-align: center;
    }
}

@media(max-width: 1000px) and (min-width: 764px){
    #cabecalho-home{
        padding: 0px;
        padding-top: 10px;        
    }

    #frmPesq .tipos {
        padding: 10px 30px 10px 10px !important;
    }

    #frmPesq .busca input {
        width: 100%;
    }

    #barra-busca{
        padding-top: 25px;  
    }

    #frmBarraPesq .busca input {
        /*width: 150%;*/
    }

    #conteudo-principal #busca {
        margin-left: 20px;
    }

    .ui-paginator .ui-paginator-pages {
        display: none !important;
    }


    #item #conteudo h3 {
        font-size: 0.9em;
    }
}

@media(max-width: 820px){
    #cabecalho {
        padding: 30px 10px;
    }

    #cabecalho-home{
        padding: 0px;
        padding-top: 10px;        
    }

    #barra-navegacao-home {
        margin-top: 0px;
    }

    #cabecalho-home #barra-navegacao-home #atalhos ul {
        padding-left: 0px;
    }

    #cabecalho-home #barra-navegacao-home #logo img {
        margin-left: auto;
        margin-right: auto;
    }

    #barra-navegacao #atalhos, #barra-busca, #logo{
        text-align: center;
    }
    #atalhos{
        margin-top: 5px;
    }

    #barra-busca {
        padding-top: 40px;  
    }
    #frmPesq .tipos .ui-selectonemenu-label{
        width: 60px !important;
    }

    #conteudo-principal  #links img{
        height: auto;
    }
    #barra-navegacao {
        padding: 0px;
    }
    #conteudo-principal {
        padding-top: 100px; 
    }
    #rodape-home{
        padding-top: 20px;
        height: 250px;
    }
    #callaction, #privacidade, #termosUso {
        padding-bottom: 250px;
    }

    #item #imagem img {
        max-width: 100%;
        max-height: 100%;
    }

    #resultado-busca #filtros {
        padding-left: 0;
    }

    #comentarios .perguntas {
        margin-top: 60px;
    }

}

@media(max-width: 550px){
    #cabecalho-home{
        padding: 0px;
        padding-top: 10px;        
    }

    #conteudo-principal, #conteudo-t {
        padding-top: 0px;
        min-height: 650px;
    }

    #resultado {
        padding-bottom: 20px;
    }

    #frmPesq .busca input {
        width: 100%;
    }

    #barra-navegacao-home {
        padding: 5px;
    }
    #atalhos {
        padding-top: 20px;
        margin-left: -10px;
        font-size: 12px;
        font-weight: 600;
    }
    #barra-busca{
        padding-top: 40px;  
    }

    #barra-navegacao #atalhos, #barra-busca, #logo{
        text-align: center;
    }

    #conteudo-principal #links {
        padding-top: 100px;
    }


    #conteudo-principal #busca input{
        font-size: 18px;
    }
    #rodape-home{
        padding-top: 45px;
        height: 350px;
    }   
    #rodape-home #sociais{
        padding-top: 25px;
    }
    /*    #rodape-home #links {
            display: none;
        }*/
    h1 {
        font-size: 24px !important;
    }

    #callaction, #privacidade, #termosUso {
        padding-bottom: 350px;
    }

    .imagem-empresa {
        width: 30%
    }
    .conteudo-empresa {
        width: 70%;
    }

    #topo-resultados {
        padding: 0;
        padding-left: 5px !important;
    }

    #resultado-busca #filtros {
        padding: 0;
        padding-left: 0;
    }

    #item #imagem img {
        max-width: 100%;
        max-height: 100%;
    }

    .caixa {
        height: 120px;
        padding-left: 15px;
    }

    .breadcrumb {
        padding-left: 14px;
    }

    .breadcrumb>li{
        display: block;
    }

    #conteudo #fotos {
        padding-left: 0;
        padding-bottom: 15px;
    }
    #conteudo #descricao {
        margin-top: 15px;
        padding: 0 0.8em;

    }

    #comentarios .perguntas {
        margin-top: 60px;
    }

    #detalhes .tabs-detalhes .ui-tabs-nav {
        font-size: 0.6em;
    }

    #detalhes .tabs-detalhes .ui-state-default a {
        color: #000 !important;
    }

    #detalhes .tabs-detalhes .ui-state-active {
        border-bottom: 0 !important;
    }


    #detalhes .tabs-detalhes .ui-state-default {
        background: none !important;
        border-bottom: 2px solid #000042;
        border-top: 0;
        border-right: 0;
        border-left: 0;
    }

    #conteudo #descricao #resultado-frete {
        padding-left: 10px;
        padding: 0;       
        margin-bottom: 5px;
    }

    #conteudo #descricao #botoes #comprar {
        text-align: center;
        float: none;
    }

    #conteudo #descricao .btn-grande {
        width: 100%;
        max-width: 100%;
    }

    #resultado-busca #topo-resultados #parametro-busca .links-buscas-relacionada a {
        padding-left: 0;
        letter-spacing: 0.02em;
    }

    #filtros table{
        float: left;
    }

    #resultado-busca #topo-resultados #filtros {
        margin-top: 15px;
        padding-bottom: 10px;
        margin-left: 0;
    }
    #veja-tambem {
        padding-top: 20px;
    }
    #formas-pagamento {
        padding: 0;
    }

    #conteudo #fotos .imagem {
        min-width: 300px;
        max-width: 100%;
        height: 300px;;
    }

    #conteudo #descricao #botoes #comprar {
        padding-right: 0;
        margin-left: 0;
    }

    .indicador {
        padding: 0;
        margin-top: 15px;
    }

    .indicador span {
        font-size: 0.7em !important;
    }

    #carrinho fieldset legend {
        font-size: 0.8em;
        margin: 0 auto;
    }

    .ui-datatable tbody td {
        padding: 2px 0 !important;
    }

    #carrinho .tabela-carrinho td a {
        font-size: 0.9em;
    }
    #carrinho .tabela-carrinho td span {
        font-size: 0.8em !important;
    }
    #carrinho .tabela-carrinho .excluir {
        margin-top: 10px;
        padding: 0;
    }

    #carrinho #frete #cep {
        height: 130px;
    }

    #carrinho #frete .cep {
        width: 99%;
    }
    #carrinho #frete .tipos-frete {
        margin-left: 0;
    }

    #carrinho .totais {
        margin-right: 0;
        margin-bottom: 30px;
    }
    #carrinho .botoes {
        margin-bottom: 30px;
    }
    .btn-grande {
        font-size: 0.8em !important;
    }

    #carrinho .tabela-carrinho .ui-column-title {
        float: none;
    }

    #carrinho #total-geral {
        margin-top: 20px;
    }

    #carrinho #selos-pagamento img {
        margin: 0;
    }

    #confirmacao-pagamento #principal .ui-panel {
        min-height: 100%;
        margin-bottom: 20px;
    }

    #confirmacao-pagamento #principal .ui-panel .ui-panel-content {
        padding-bottom: 20px !important;
    }

    #confirmacao-pagamento .dlg .modal-dialog {
        width: 100% !important;
    }

    #confirmacao-pagamento .leiaute {
        width: 100%;
    }

    #frmPagamentoCartao .modal-header {
        padding: 0;
    }

    #confirmacao-pagamento .dlg .modal-dialog {
        margin: 29% auto;
    }

    #confirmacao-pagamento #numero-cartao input{
        font-size: 0.8em !important;
    }

    #confirmacao-pagamento #principal #detalhamento {
        padding-bottom: 0;
    }

}




/*  Substituições CSS do Primefaces UI */
.ui-selectonemenu label.ui-selectonemenu-label{
    border: none !important;
    letter-spacing: 0.01em;
    font-weight: 600;
    font-size: 14px;
}
.ui-selectonemenu{
    height: 34px !important;
}
.ui-selectonemenu-panel, .ui-shadow{
    font-size: 18px;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-radius: 0px;
}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield{
    -webkit-box-shadow: none !important;
    border-radius: 0 !important;
}

.ui-selectonemenu-item ui-selectonemenu-row ui-widget-content ui-state-hover{
    background-color: #cccccc !important;
    color: white !important;
    font-weight: bolder !important;
}

.tipos.ui-selectonemenu .ui-selectonemenu-trigger {
    padding: 29px 6px !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
    padding: 15px 6px !important;
    width: 30px !important;
    border-radius: 0px !important;
}
.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon{
    margin-top: -10px !important;
}
.ui-selectonemenu-trigger{
    background: #eee !important;
}
.ui-selectonemenu{
    width: 100% !important;
}
.ui-selectonemenu .ui-selectonemenu-label{
    margin-bottom: 10px !important;
}

.ui-widget {
    font-family: 'Open Sans', sans-serif !important;
}

ui-selectonemenu-items ui-selectonemenu-list {
    background-color: #428bca !important;
    color: #8bc34a;
}

.ui-button, .btn {
    border-radius: 0px !important;
}

.ui-autocomplete{
    width: 100% !important;
}

.ui-autocomplete-item:hover, .ui-autocomplete-item:focus , .ui-autocomplete-item:target, .ui-selectonemenu-list-item:hover, .ui-selectonemenu-list-item:focus, .ui-selectonemenu-list-item:target {
    background: #000042 !important;
    color: #FFF;
}

.ui-autocomplete-panel .ui-autocomplete-list-item, .ui-selectonemenu-panel .ui-selectonemenu-list-item {
    border-radius: 0;
    font-size: 14px;
    letter-spacing: 0.01em;
}

.ui-state-highlight {
    background: #EEE !important;
}

.ui-panel .ui-panel-titlebar {
    border: none !important;
    background: none !important;
    border-bottom: 1px solid #E7E7E7 !important;
    font-size: 20px !important;
}

.form-control{
    border-radius: 0 !important;
}

.form-control:focus {
    box-shadow: none;
}

.ui-panel{
    border-radius: 0;
}
.ui-panel .ui-panel-content {
    padding: 0 !important;
}

.empresa .ui-datascroller-content {
    border: 0;
    background-color: #f4f2f0;
}

.empresa .ui-datascroller-loader {    
    padding: 0 !important;   
}

.produtos .ui-grid {
    background: #F4F2F0;
}

.produtos #item {
    padding: 5px;
    background: #FFF;
}

.produtos .ui-datagrid-column {
    padding: 5px !important;
}

.produtos .ui-state-default {
    border: 0 !important;
    background: none !important;
}

.produtos .ui-state-active {
    color: #FFF;
    background-color: #000080 !important;
    font-weight: 500;
    border: 1px solid #000 !important;
    border-radius: 0 !important;
}

.produtos .ui-paginator-rpp-options {    
    color: #000080 !important;
    font-weight: 500;
    border: 1px solid #000 !important;
    border-radius: 0 !important;

}
.produtos .ui-paginator .ui-paginator-pages, .produtos .ui-paginator .ui-paginator-page{
    padding: 2px 10px !important;
}

.produtos .ui-paginator.ui-paginator-bottom {
    padding-top: 0px !important;
    padding-bottom: 15px !important;
    margin-left: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.empresa .ui-datascroller .ui-datascroller-content {
    padding: 0 !important;
    margin-top: 2px !important;
}

.owl-wrapper.grabbing { 
    cursor: url("#{facesContext.externalContext.request.contextPath}/resources/assets/css/owl-carousel/grabbing.png") 8 8, move !important;
}

.ui-messages-info {
    border-radius: 0 !important;
    color: #000 !important;
    background: none !important;
    font-family: "Open Sans", sans-serif;
}

.ui-datatable tbody td {
    border: 0 !important;
    border-width: 0 !important;
}

.ui-messages-error, .alert {
    border-radius: 0 !important;
    background: none !important;
}

.ui-messages-error-icon {
    background: url("#{facesContext.externalContext.request.contextPath}/resources/assets/ico/mensagens/error.png") no-repeat !important;
    margin-top: 0 !important;
}

.alert-link {
    color: #000 !important;
}

.ui-selectoneradio label {
    font-size: 0.8em;
    font-weight: 500;
    margin-left: 5px;
}

.ui-radiobutton-icon {
    margin-left: -0.5px !important;
    margin-top: -1.5px;
}

.ui-chkbox .ui-chkbox-box {
    border-radius: 0 !important;
    background: none !important;
}

.ui-icon-check {
    margin-top: -2px;
}

.ui-selectonemenu-panel .ui-selectonemenu-table td{
    border: 0 !important;
}

.ui-state-highlight {
    border-color: #CCC !important;
}

