/* 
    Documento  : fonts.css
    Criado em  : 07/12/2015
    Autor      : UX Solucoes em TI
    Descricao  : CSS - Arquivo de mapeamento de fontes - Site noGlobo.com
*/

@font-face {
    font-family: "Josefin Sans";
    src: url("#{facesContext.externalContext.request.contextPath}/resources/assets/fonts/JosefinSans-Regular.ttf");
}

@font-face {
    font-family: "Josefin Sans Bold";
    src: url("#{facesContext.externalContext.request.contextPath}/resources/assets/fonts/JosefinSans-Bold.ttf");
}
@font-face {
    font-family: "Raleway";
    src: url("#{facesContext.externalContext.request.contextPath}/resources/assets/fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: "Raleway Bold";
    src: url("#{facesContext.externalContext.request.contextPath}/resources/assets/fonts/Raleway-Bold.ttf");
}

@font-face {
    font-family: "Overpass Light Italic";
    src: url("#{facesContext.externalContext.request.contextPath}/resources/assets/fonts/Overpass_Light_Italic.ttf");
}
@font-face {
    font-family: "Overpass Regular";
    src: url("#{facesContext.externalContext.request.contextPath}/resources/assets/fonts/Overpass_Regular.ttf");
}
@font-face {
    font-family: "Open Sans";
    src: url("#{facesContext.externalContext.request.contextPath}/resources/assets/fonts/OpenSans-Regular.ttf");
}