/* 
    Documento : icones.css
    Criado em : 07/12/2015
    Autor     : UX Solucoes em TI
    Descricao : CSS - Arquivo de mapeamento de icones - Site noGlobo.com
*/

/* Ícones para botões */

.ui-icon.pesquisar{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/assets/ico/botoes/pesquisar.png");
    width: 24px;
    height: 24px;
    margin-left: -10px !important;
    margin-top: -10px !important;
    top: 45%;
}

.ui-icon.pesquisar2{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/assets/ico/botoes/pesquisar.png");
    width: 24px;
    height: 24px;
    margin-top: -10px !important;
    top: 45%;
}
.ui-icon.filtro {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/assets/ico/botoes/filtro.png");
    width: 16px;
    height: 16px;    
    top: 45%;    
}

.ui-icon.confirmar{
    background: url("#{facesContext.externalContext.request.contextPath}/resources/assets/ico/diversos/confirmar.png") no-repeat 0 0 transparent;    
}

.ui-icon.comprar{
    width: 24px;
    height: 24px;
    margin-left: 8px !important;
    margin-top: -14px !important;
    background: url("#{facesContext.externalContext.request.contextPath}/resources/assets/ico/ecommerce/cesta-branca.png") no-repeat 0 0 transparent;    
}

.ui-icon.pagar{
    width: 24px;
    height: 24px;
    margin-left: 10px !important;
    margin-top: -8px !important;
    background: url("#{facesContext.externalContext.request.contextPath}/resources/assets/ico/diversos/pagamento.png") no-repeat 0 0 transparent;    
}

.ui-icon.pagar16{
    width: 16px;
    height: 16px;
    margin-left: 10px !important;
    margin-top: -8px !important;
    background: url("#{facesContext.externalContext.request.contextPath}/resources/assets/ico/diversos/pagamento16x16.png") no-repeat 0 0 transparent;    
}

.ui-icon.cartao16{
    width: 16px;
    height: 16px;
    margin-left: 10px !important;
    margin-top: -8px !important;
    background: url("#{facesContext.externalContext.request.contextPath}/resources/assets/ico/diversos/cartao2.png") no-repeat 0 0 transparent;    
}

.ui-icon.barcode16{
    width: 16px;
    height: 16px;
    margin-left: 10px !important;
    margin-top: -8px !important;
    background: url("#{facesContext.externalContext.request.contextPath}/resources/assets/ico/diversos/barcode.png") no-repeat 0 0 transparent;    
}

.ui-icon.add-cesta{
    width: 24px;
    height: 24px;
    margin-left: 8px !important;
    margin-top: -14px !important;
    background: url("#{facesContext.externalContext.request.contextPath}/resources/assets/ico/ecommerce/cesta-add.png") no-repeat 0 0 transparent;    
}
.ui-icon.add-cesta-azul{
    width: 24px;
    height: 24px;
    margin-left: 8px !important;
    margin-top: -14px !important;
    background: url("#{facesContext.externalContext.request.contextPath}/resources/assets/ico/ecommerce/cesta-add-azul.png") no-repeat 0 0 transparent;    
}


/* Ícones para redes sociais */

.icone-social {
    text-indent: -999px;
    display:inline-block;
    width:24px;
    height:24px;
}

.icone-social.fb {
    background: url("#{facesContext.externalContext.request.contextPath}/resources/assets/ico/sociais-empresa/facebook.png") no-repeat 0 0 transparent;    
}

.icone-social.gp {
    background: url("#{facesContext.externalContext.request.contextPath}/resources/assets/ico/sociais-empresa/google-plus.png") no-repeat 0 0 transparent;    
}

.icone-social.tw {
    background: url("#{facesContext.externalContext.request.contextPath}/resources/assets/ico/sociais-empresa/twitter.png") no-repeat 0 0 transparent;    
}

.icone-social.em {
    background: url("#{facesContext.externalContext.request.contextPath}/resources/assets/ico/sociais-empresa/email.png") no-repeat 0 0 transparent;    
}

.icone-social.wp{
    background: url("#{facesContext.externalContext.request.contextPath}/resources/assets/ico/sociais-empresa/whatsapp.png") no-repeat 0 0 transparent;    
}

.icone-social.tl{
    text-indent: 28px;
    min-width: 130px;
    background: url("#{facesContext.externalContext.request.contextPath}/resources/assets/ico/sociais-empresa/telefone.png") no-repeat 0 0 transparent;    
}
.icone-social.mp{
    background: url("#{facesContext.externalContext.request.contextPath}/resources/assets/ico/sociais-empresa/maps.png") no-repeat 0 0 transparent;    
}

/* Ícones individuais */
.icone {
    width:24px;
    height:24px;
    display:inline-block;
}

.icone.estrela{
    background: url("#{facesContext.externalContext.request.contextPath}/resources/assets/ico/diversos/estrela.png") no-repeat 0 0 transparent;    
}

.icone.warning{
    background: url("#{facesContext.externalContext.request.contextPath}/resources/assets/ico/mensagens/warning.png") no-repeat 0 0 transparent;    
}


