<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ux="http://java.sun.com/jsf/composite/ux">

    <body>

        <ui:composition template="./../../WEB-INF/Template-ADMIN.xhtml">

            <ui:define name="conteudo">
                <p:panel header="Banners">
                    <h:form id="frmBanner">
                        <div class="row">
                            <div class="col-lg-12">
                                <div style="float: left">
                                    <p:commandButton value="Salvar" icon="Salvar"  styleClass="btn btn-success" action="#{bannerMB.salvar()}" update=":frmBanner, :frmConsultar">
                                        <f:param name="mode" value="true" />
                                    </p:commandButton>
                                    <p:commandButton value="Limpar" icon="Excluir" styleClass="btn btn-danger" >
                                        <p:ajax update="@form, :frmBanner" listener="#{bannerMB.novo()}"  resetValues="true"  />
                                    </p:commandButton>
                                </div>
                                <div style="float: right">
                                    <p:commandButton value="Consultar" icon="Consultar" styleClass="btn btn-info" oncomplete="PF('dlgConsulta').show()"/>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <hr/>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                <p:outputLabel  value="Banner" />
                                <p:fileUpload  fileUploadListener="#{bannerMB.upload}" mode="advanced"
                                               update="image" auto="true"  label="Escolha"
                                               allowTypes="/(\.|\/)(gif|jpe?g|png)$/" sizeLimit="10000000" />
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <p:outputLabel  value="Banner Enviado" />
                                <h:graphicImage id="image" value="/upload/Banner/#{bannerMB.verificaIdImage()}/#{bannerMB.banner.banner}" style="display: #{bannerMB.banner.banner!= null ? 'block' : 'none'}"  alt="sem imagem" width="150" height="150"/>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                <p:outputLabel for="link" value="Link" />
                                <p:inputText id="link" value="#{bannerMB.banner.link}" />
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                <p:outputLabel for="pos" value="Posição" />
                                <p:selectOneMenu id="pos" value="#{bannerMB.banner.posicao}" >
                                    <f:selectItem itemLabel="Topo Promoção" itemValue="Topo" />
                                    <f:selectItem itemLabel="Lateral Promoção 1" itemValue="Lateral1" />
                                    <f:selectItem itemLabel="Lateral Promoção 2" itemValue="Lateral2" />
                                    <f:selectItem itemLabel="Busca 1" itemValue="Busca1" />
                                    <f:selectItem itemLabel="Busca 2" itemValue="Busca2" />
                                </p:selectOneMenu>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                <p:outputLabel for="ativo" value="Ativo" /><br/>
                                <p:selectBooleanCheckbox id="ativo" value="#{bannerMB.banner.ativo}" />
                            </div>
                        </div>
                    </h:form>

                    <p:dialog widgetVar="dlgConsulta" modal="true" header="Consulta de Banners" width="60%" resizable="false" position="center top" >
                        <p:messages id="msg2" closable="true"/>
                        <h:form id="frmConsultar">
                            <p:dataTable id="banners" value="#{bannerMB.listarBanner()}" var="banner" paginator="true" rows="10" paginatorAlwaysVisible="false" 
                                         paginatorPosition="bottom" emptyMessage="Nenhum registro encontrado!">
                                <f:facet name="header">
                                    Banners
                                </f:facet>
                                <f:facet name="footer">
                                    #{bannerMB.listarBanner().size()} Registros encontrados.
                                </f:facet>

                                <p:column headerText="Código" filterBy="#{banner.idBanner}" width="8%" sortBy="#{banner.idBanner}">
                                    <center>
                                        <h:outputText value="#{banner.idBanner}" />
                                    </center>
                                </p:column>
                                <p:column headerText="Imagem"  width="20%">
                                    <h:graphicImage id="image" value="/upload/Banner/#{banner.idBanner}/#{banner.banner}"  alt="sem imagem" width="150" height="150"/>
                                </p:column>
                                <p:column headerText="Link" filterBy="#{banner.link}" width="20%"  sortBy="#{banner.link}" filterMatchMode="contains">
                                    <h:outputText value="#{banner.link}" />
                                </p:column>
                                <p:column headerText="Posição" filterBy="#{banner.posicao}" width="20%"  sortBy="#{banner.posicao}" filterMatchMode="contains">
                                    <h:outputText value="#{banner.posicao}" />
                                </p:column>
                                <p:column headerText="Controle" width="10%" >
                                    <ux:actionButtons renderedInfo="false" actionEdit="#{bannerMB.setBanner(banner)}" updateEdit=":frmBanner" oncompleteEdit="PF('dlgConsulta').hide();"
                                                      actionRemove="#{bannerMB.setBanner(banner)}"  oncompleteRemove="PF('dlgConfirm').show();" updateRemove=":frmConfirm2:frmConfirm"/>
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </p:dialog>
                    <ux:confirm widgetVar="dlgConfirm" id="frmConfirm2"  mensagem="#{bannerMB.banner.link}" actionRemove="#{bannerMB.excluir()}" updateRemove=":frmConsultar"/>
                </p:panel>
            </ui:define>

        </ui:composition>

    </body>
</html>
