<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ux="http://java.sun.com/jsf/composite/ux"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <body>

        <ui:composition template="./../WEB-INF/Template-ADMIN.xhtml">
            <ui:define name="conteudo">
                <f:metadata>  
                    <f:event type="preRenderComponent" listener="#{empresaMB.verificarCadastroMoip(controleSessaoMB.usuarioLogado.idEmpresa)}" />  
                </f:metadata> 
                <p:panel header="Dashboard" rendered="#{controleSessaoMB.usuarioLogado.idPerfil.descricao == 'Empresa'}"  >
                    <div class="row">
                        <div class="col-lg-12">
                            <p:messages id="msg" closable="true" />
                        </div>
                        <div class="col-lg-12">
                            <h:form id="frmPerguntas">
                                <p:dataTable value="#{comentarioMB.comentariosSemResposta(controleSessaoMB.usuarioLogado.idEmpresa)}" var="com"  emptyMessage="Nenhuma pergunta pendente!">
                                    <f:facet name="header">
                                        <i class="ti ti-email"></i> Comentários à serem respondidas
                                    </f:facet>
                                    <p:column width="30%" style="font-size: 11px;">
                                        <h:outputText value="#{com.comentario}" />
                                    </p:column>
                                    <p:column width="20%" style="font-size: 11px;">
                                        <h:outputText value="#{com.idProduto.nome}" />
                                    </p:column>
                                    <p:column width="20%" style="font-size: 11px;">
                                        <h:outputText value="#{com.idCliente.primeiroNome}" />
                                    </p:column>
                                    <p:column width="20%" style="font-size: 11px;">
                                        <ux:outputDateTime value="#{com.dtComentario}" />
                                    </p:column>
                                    <p:column style="width: 94px;">
                                        <p:commandButton  icon="Pergunta" title="Responder Pergunta" styleClass="btn btn-success" action="#{comentarioMB.selecionarComentario(com)}" oncomplete="PF('dlgResposta').show();" update=":frmResposta" />
                                        <p:commandButton  icon="Excluir" title="Excluir Pergunta" styleClass="btn btn-warning" action="#{comentarioMB.excluirComentario(com)}" update="@form, :msg" />
                                    </p:column>
                                </p:dataTable>
                            </h:form>

                            <p:dialog widgetVar="dlgResposta" modal="true" width="50%" resizable="false" draggable="false"  >
                                <h:form id="frmResposta">
                                    <div class="col-lg-12">
                                        <span style="font-weight: bolder">#{comentarioMB.comentario.idCliente.primeiroNome}</span>
                                        <br/>
                                        <h:outputText value="#{comentarioMB.comentario.comentario}" />
                                    </div>
                                    <div class="col-lg-12">
                                        <hr/>
                                        <h:outputText value="Resposta" />
                                        <p:inputTextarea value="#{comentarioMB.comentarioResposta.comentario}" />
                                    </div>
                                    <div class="col-lg-12">
                                        <hr/>
                                        <p:commandButton value="Enviar Resposta" oncomplete="PF('dlgResposta').hide()" action="#{comentarioMB.enviarComentario()}" update="@form, :frmPerguntas, :msg " />
                                    </div>
                                </h:form>
                            </p:dialog>
                        </div>
                    </div>
                    <div class="row">
                        <ux:blocker type="blocker-primary" icon="ti-tag" label="Produtos" value="#{controleSessaoMB.empresaLogada.produtoList.size()}"/>
                        <ux:blocker type="blocker-success" icon="ti ti-dropbox" label="Vendas" value="#{vendasMB.totalDeVendas(controleSessaoMB.usuarioLogado.idEmpresa)}"/>
                        <ux:blocker type="blocker-warning" icon="ti-email" label="Mensagens" value="#{comentarioMB.comentariosSemResposta(controleSessaoMB.usuarioLogado.idEmpresa).size()}"/>
                        <ux:blocker type="blocker-danger" icon="ti-truck" label="Envios Pendentes" value="#{vendasMB.totalComprasAguardandoEnvio(controleSessaoMB.empresaLogada)}"/>
                        <ux:blocker type="blocker-blue" icon="ti-car" label="Retiradas Pendentes" value="#{vendasMB.totalComprasAguardandoRetirada(controleSessaoMB.empresaLogada)}"/>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <script>
                                function updateTable(){
                                    location.reload();
                                }
                            </script>
                            <h:form id="frmPedidos" rendered="#{controleSessaoMB.usuarioLogado.idEmpresa.segmento == 'Delivery'}">
                                <p:poll async="true" update="tblPedidos"  global="false" interval="60"  />
                                <p:messages closable="true" />
                                <p:dataTable id="tblPedidos" value="#{deliveryMB.listarPedisoAbertos(controleSessaoMB.usuarioLogado.idEmpresa)}"  var="ped"  emptyMessage="Nenhum pedido aguardando!"  >
                                    <f:facet name="header">
                                        <i class="ti ti-list"></i> Fila de Pedidos
                                    </f:facet>
                                    <p:column style="width:28px">
                                        <p:rowToggler />
                                    </p:column>
                                    <p:column headerText="Pedido"  style="width: 100px; font-size: 10px" filterBy="#{ped.lote}" filterMatchMode="contains">
                                        <h:outputText value="...#{ped.lote.substring(ped.lote.length()-4, ped.lote.length())}" />
                                    </p:column>
                                    <p:column headerText="Cliente" width="25%" style="font-size: 10px" filterBy="#{ped.usuario.idCliente.primeiroNome} #{ped.usuario.idCliente.sobrenome}" filterMatchMode="contains">
                                        <h:outputText value="#{ped.usuario.idCliente.primeiroNome} #{ped.usuario.idCliente.sobrenome}" />
                                    </p:column>
                                    <p:column  width="10%" style="font-size: 10px" >
                                        <f:facet name="header">
                                            <h:outputText value="Telefone" styleClass="tete" /> 
                                        </f:facet>
                                        <h:outputText value="#{ped.telefone} " />
                                    </p:column>
                                    <p:column  width="15%" style="font-size: 10px">
                                        <f:facet name="header">
                                            <h:outputText value="Data" styleClass="tete" /> 
                                        </f:facet>
                                        <ux:outputDate value="#{ped.dt_venda}" />
                                    </p:column>
                                    <p:column  width="15%" style="font-size: 10px" >
                                        <f:facet name="header">
                                            <h:outputText value="Valor" styleClass="tete" /> 
                                        </f:facet>
                                        <ux:outputMoney value="#{ped.valor}" />
                                    </p:column>
                                    <p:column  width="10%" style="font-size: 10px" >
                                        <f:facet name="header">
                                            <h:outputText value="Status" styleClass="tete" /> 
                                        </f:facet>
                                        <ux:outputMoney value="#{ped.status}" styleClass="#{ped.verificaSituacao()}"/>
                                    </p:column>
                                    <p:column  width="15%" style="font-size: 10px" >
                                        <f:facet name="header">
                                            <h:outputText value="Entrega" styleClass="tete" /> 
                                        </f:facet>
                                        <ux:outputMoney value="#{ped.situacaoEntrega}" styleClass="#{ped.verificaEntrega()}" />
                                    </p:column>
                                    <p:column headerText="Codigo Ret." width="10%" style="font-size: 10px" filterBy="#{ped.codRetirada}" filterMatchMode="contains">
                                        <ux:outputMoney value="#{ped.codRetirada}" />
                                    </p:column>
                                    <p:column  style="width: 80px" >
                                        <p:commandButton icon="Sucesso" styleClass="btn btn-primary btn-sm" title="Confirmar envio/retirada" update="@form" action="#{deliveryMB.confirmarPedido(ped)}" />
                                        <p:commandButton icon="Excluir"  disabled="true" styleClass="btn btn-warning btn-sm" title="Cancelar"/>
                                    </p:column>
                                    <p:rowExpansion>
                                        <h2>Produtos</h2>
                                        <hr/>
                                        <p:dataTable value="#{deliveryMB.listarComprasPorLote(ped.lote)}" var="prod">
                                            <p:column headerText="Produto" width="35%">
                                                <table>
                                                    <tr >
                                                        <td style="border: none !important; width: 120px;"><p:graphicImage value="/upload/Produto/#{prod.idProduto.idProduto}/#{prod.idProduto.fotoPrincipal}"  styleClass="img-responsive" style="width: 100px; height: 100px;" /></td>
                                                        <td style="border: none !important;"><h:outputText value="#{prod.idProduto.nome}" /></td>
                                                    </tr>
                                                </table>
                                            </p:column>
                                            <p:column headerText="Quantidade"  width="10%" styleClass="text-center">
                                                <h:outputText value="#{prod.quantidade}" />
                                            </p:column>
                                            <p:column  headerText="Valor" width="10%" styleClass="text-center">
                                                <h:outputText value="#{prod.valorCompra}" />
                                            </p:column>
                                            <p:column headerText="Total" width="10%"  styleClass="text-center">
                                                <h:outputText value="#{prod.valorCompra.multiply(prod.quantidade)}" />
                                            </p:column>
                                        </p:dataTable>
                                    </p:rowExpansion>
                                </p:dataTable>
                            </h:form>
                        </div>
                    </div>

                    <p:dialog widgetVar="dlgPasso1" header="Aguardando Confirmação Cadastro Moip"  modal="true" closable="false" >
                        <h:form>
                            <center>
                                <h1>Aguardando a finalização do cadastro!</h1>
                                <p:commandButton styleClass="btn btn-primary" value="Confirmar" action="#{empresaMB.passo1()}" onclick="this.form.target='_blank'" />
                            </center>
                        </h:form>
                    </p:dialog>

                </p:panel>
                <p:panel header="Dashboard" rendered="#{controleSessaoMB.usuarioLogado.idPerfil.descricao == 'Administrador'}"  >
                    <div class="row">
                        <div class="col-lg-12">
                           
                        </div>
                    </div>
                </p:panel>
                <h:form>
                    <p:commandButton value="Corrigir index das imagens" action="#{empresaMB.corrigirArquivosIndex()}" rendered="false" />
                </h:form>
            </ui:define>
        </ui:composition>

    </body>
</html>
