<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core" lang="pt-br">
    <body>
        <ui:composition template="./../WEB-INF/newTemplate.xhtml">
            <ui:define name="content">
                <h:form id="resultado">
                    <section id="contato" >
                        <div class="col-lg-4 col-md-offset-2">
                            <p:inputText placeholder="Nome" styleClass="form-control" /><br/>
                            <p:inputText placeholder="Email" styleClass="form-control" /><br/>
                            <p:inputText placeholder="Telefone" styleClass="form-control" /><br/>
                        </div>
                        <div class="col-lg-4 ">
                            <p:inputTextarea placeholder="Mensagem" styleClass="form-control" rows="6"/>
                        </div>

                        <div class="col-lg-8 col-md-offset-2">
                            <p:commandButton value="Enviar Mensagem" styleClass="btn btn-primary btn-block" />
                        </div>
                    </section>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>