<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core" lang="pt-br">
    <body>
        <ui:composition template="./../WEB-INF/newTemplate.xhtml">
            <ui:define name="content">
                <h:form id="resultado">
                    <section id="QuemSomos">
                        <div id="topo">
                            <div class="container">
                                <div class="row">
                                    <div id="topo" class="col-md-12 text-center">
                                        <h:graphicImage name="assets/img/lupa.png" alt="noGlobo.com" title="noGlobo.com" />
                                        <div id="texto">
                                            <h1>Quem Somos</h1>
                                            <p>
                                                O Site de busca www.noglobo.com tem a finalidade de facilita a busca por produtos e serviços na Cidade de Patos de Minas, 
                                                atualmente contamos com mais de 300 Empresas parceiras e mais de 5 mil produtos e serviços a disposição da população Patense e passante.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="Valores">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-4 text-center">
                                        <div class="">
                                            <h:graphicImage name="assets/img/QuemSomos/missao.png" alt="Missão" title="O que fazemos?" />
                                            <h2>Missão</h2>
                                            <p>Facilitar para que o consumidor possa realizar a melhor busca de um produto desejado no comércio local, otimizando seu tempo.</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 text-center">
                                        <div class="">
                                            <h:graphicImage name="assets/img/QuemSomos/visao.png" alt="Visão" title="Para onde estamos caminhando?" />
                                            <h2>Visão</h2>
                                            <p>Ser o melhor Site de Busca de produtos locais em todo Território nacional.</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 text-center">
                                        <div class="">
                                            <h:graphicImage name="assets/img/QuemSomos/valor.png" alt="Valores" title="Amamos fazer o que fazemos! Com isso, sempre conservamos nossos valores." />
                                            <h2>Valores</h2>
                                            <p> Liderança: A coragem de construir um futuro melhor.
                                                Paixão: Comprometidos no coração e na mente.
                                                Integridade: Seja real.
                                                Prestação de contas: Se é para ser, cabe a mim.
                                                Colaboração: Gênio Alavancagem coletiva.
                                                Inovação: Buscar, imaginar, criar, encantar.
                                                Qualidade: O que fazemos, fazemos bem.
                                                Somos guiados por sonhos, queremos e  vamos viver como uma empresa e como indivíduos.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="indices">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-3 text-center">
                                        <h1>+300</h1>   
                                        <h3>Empresas Cadastradas</h3>
                                    </div>
                                    <div class="col-sm-3 text-center">
                                        <h1>+5000</h1>   
                                        <h3>Produtos e Serviços</h3>
                                    </div>
                                    <div class="col-sm-3 text-center">
                                        <h1>+500</h1>   
                                        <h3>Itens em promoção</h3>
                                    </div>
                                    <div class="col-sm-3 text-center">
                                        <h1>+432</h1>   
                                        <h3>Copos de Café</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="Servicos">
                            <div class="container">
                                <div class="row">
                                    <div id="topo" class="col-sm-12 text-center">
                                        <h1>Nossos serviços</h1>
                                        <p>
                                            O Site de busca www.noglobo.com tem a finalidade de facilita a busca por produtos e serviços na Cidade de Patos de Minas, 
                                            atualmente contamos com mais de 300 Empresas parceiras e mais de 15 mil produtos e serviços a disposição da população Patense e passante.
                                        </p>
                                    </div>
                                    <div class="col-sm-4 text-center">
                                        <h:graphicImage name="assets/img/Servicos/empresa.png" alt="Divulgue seus produtos." title="Divulgue seus produtos." />
                                        <p>Divulgue seus produtos e serviços pela internet. Ser visto é ser lembrado!</p>

                                    </div>
                                    <div class="col-sm-4 text-center">
                                        <h:graphicImage name="assets/img/Servicos/busca.png" alt="Seja achado nos buscadores." title="Seja achado nos buscadores." />
                                        <p>Seja encontrado no Google, Bing, Yahoo e demais buscadores. Colocamos sua página lá em cima.</p>
                                    </div>                                    
                                    <div class="col-sm-4 text-center">
                                        <h:graphicImage name="assets/img/Servicos/renda.png" alt="Aumento o seu número de vendas." title="Aumento o seu número de vendas." />
                                        <p>Mais buscas, mais resultados. Seu faturamento aumenta, o cliente te encontra com mais facilidade. Todos saem ganhando.</p>

                                    </div>                                
                                </div>
                            </div>
                        </div>
                        <ui:include src="../WEB-INF/elements/callaction.xhtml" />
                    </section>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
