<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ux="http://java.sun.com/jsf/composite/ux">

    <body>

        <ui:composition template="./../../WEB-INF/Template-ADMIN.xhtml">

            <ui:define name="conteudo">
                <p:panel header="Status">
                    <h:form id="frmStatus">
                        <div class="row">
                            <div class="col-lg-12">
                                <div style="float: left">
                                    <p:commandButton value="Salvar" icon="Salvar"  styleClass="btn btn-success" action="#{statusMB.salvar()}" update=":frmStatus,:frmConsultar">
                                        <f:param name="mode" value="true"  />
                                    </p:commandButton>
                                    <p:commandButton value="Novo Status" icon="Novo" styleClass="btn btn-primary" >
                                        <p:ajax update="@form, :frmStatus" listener="#{statusMB.novo()}"  resetValues="true"  />
                                    </p:commandButton>
                                </div>
                                <div style="float: right">
                                    <p:commandButton value="Consultar" icon="Consultar" styleClass="btn btn-info"  oncomplete="PF('dlgConsulta').show()" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
                                <p:outputLabel value="Value" for="value"/>
                                <h:inputText   value="#{statusMB.status.value}" id="value" required="true" requiredMessage="Informe o Value!"/>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
                                <p:outputLabel value="Label" for="label"/>
                                <h:inputText   value="#{statusMB.status.label}" id="label" required="true" requiredMessage="Informe o Label!"/>
                            </div>
                        </div>

                    </h:form>
                    <p:dialog widgetVar="dlgConsulta" modal="true" header="Consulta de Categorias" width="60%" resizable="false" position="center top" >
                        <p:messages id="msg2" closable="true"/>
                        <h:form id="frmConsultar">

                            <p:dataTable id="categorias" value="#{statusMB.listarStatus()}" var="status" paginator="true" rows="10" paginatorAlwaysVisible="false" 
                                         paginatorPosition="bottom" emptyMessage="Nenhum registro encontrado!"
                                         rowKey="#{status.idStatus}" selection="#{statusMB.status}" selectionMode="single">
                                <f:facet name="header">
                                    Status
                                </f:facet>
                                <f:facet name="footer">
                                    #{statusMB.listarStatus().size()} Registros encontrados.
                                </f:facet>

                                <p:column headerText="Código" filterBy="#{status.idStatus}" width="8%" sortBy="#{status.idStatus}">
                                    <center>
                                        <h:outputText value="#{status.idStatus}" />
                                    </center>
                                </p:column>
                                <p:column headerText="Value" filterBy="#{status.value}" width="20%" sortBy="#{status.value}">
                                    <h:outputText value="#{status.value}" />
                                </p:column>
                                <p:column headerText="Label" filterBy="#{status.label}" width="20%" sortBy="#{status.label}">
                                    <h:outputText value="#{status.label}" />
                                </p:column>
                                <p:column headerText="Controle" width="10%" >
                                    <ux:actionButtons renderedInfo="false" actionEdit="#{statusMB.setStatus(status)}" updateEdit=":frmStatus" oncompleteEdit="PF('dlgConsulta').hide();"
                                                      actionRemove="#{statusMB.setStatus(status)}"  oncompleteRemove="PF('dlgConfirm').show();" updateRemove=":frmConfirm2:frmConfirm"/>
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </p:dialog>
                    <ux:confirm widgetVar="dlgConfirm" id="frmConfirm2"  mensagem="#{statusMB.status.value}" actionRemove="#{statusMB.exlcuir()}" updateRemove=":frmConsultar"/>
                </p:panel>
            </ui:define>

        </ui:composition>

    </body>
</html>
