<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ux="http://java.sun.com/jsf/composite/ux"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:x="http://xpert.com/faces">

    <body>

        <ui:composition template="./../../WEB-INF/Template-ADMIN.xhtml">
            <ui:define name="conteudo">
                <p:panel header="Empresas eCommerce">
                    <h:form id="frmResultado">
                        <div class="row">
                            <div class="col-lg-12">
                                <p:dataTable value="#{adminMB.listarEcommerces()}" var="ee" >
                                    <p:column style="width:16px">
                                        <p:rowToggler />
                                    </p:column>
                                    <p:column headerText="Empresa">
                                        <h:outputText value="#{ee.nome}"  />
                                    </p:column>
                                    <p:column headerText="CNPJ">
                                        <h:outputText value="#{ee.cnpj}"  />

                                    </p:column>
                                    <p:rowExpansion>
                                        <hr/>
                                        <div class="col-lg-12">
                                            <div class="col-lg-4">
                                                <p:outputLabel value="Vendas Por Ano" />
                                                <p:selectOneMenu  value="#{adminMB.ano}">
                                                    <f:selectItems value="#{adminMB.anosComMovimentacao()}" var="ano" itemLabel="#{ano}" itemValue="#{ano}" />                                           
                                                    <p:ajax update="tblSub, blocker" />
                                                </p:selectOneMenu>
                                                <br/>
                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="col-lg-12">
                                            <p:dataTable id="tblSub" value="#{adminMB.listarComprasPagasPorEmpresa(ee)}" var="venda">
                                                <p:column headerText="Código" >
                                                    <h:outputText value="#{venda.lote}" />
                                                </p:column>
                                                <p:column headerText="Data"  style="text-align: right">
                                                    <ux:outputDate value="#{venda.dtCompra}" />
                                                </p:column>
                                                <p:column headerText="Valor" style="text-align: center">
                                                    <ux:outputMoney value="#{venda.valorTotal}" />
                                                </p:column>
                                                <p:column headerText="Frete" style="text-align: center">
                                                    <ux:outputMoney value="#{venda.valorFrete}" />
                                                </p:column>
                                                <p:column headerText="Status" style="text-align: right" >
                                                    <ux:outputMoney value="#{venda.status}" />
                                                </p:column>
                                                <p:column headerText="Situacao"  style="text-align: right">
                                                    <ux:outputMoney value="#{venda.situacao}" />
                                                </p:column>
                                            </p:dataTable>
                                        </div>
                                        <div class="col-lg-12">

                                            <style>
                                                table > tbody > tr > td{
                                                    border: none !important;
                                                }
                                            </style>
                                            <h:panelGrid columns="2" style="border: none!important;">
                                                <h:outputText value="Faturamento: "/>
                                                <h:outputText id="blocker" value="#{x:sum(adminMB.listarComprasPagasPorEmpresa(ee), 'valorTotal')}" style="font-weight: bolder" >
                                                    <f:convertNumber type="currency" />
                                                </h:outputText>
                                            </h:panelGrid>
                                        </div>
                                    </p:rowExpansion>
                                </p:dataTable>
                            </div>
                        </div>
                    </h:form>
                </p:panel>
            </ui:define>
        </ui:composition>

    </body>
</html>
