<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ux="http://java.sun.com/jsf/composite/ux">

    <body>

        <ui:composition template="./../../WEB-INF/Template-ADMIN.xhtml">

            <ui:define name="conteudo">
                <p:panel header="Profile">
                    <h:form id="frmProfile">

                        <p:tabView>
                            <p:tab  title="Dados Básicos">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
                                        <p:outputLabel value="E-mail" for="email"/>
                                        <h:inputText   value="" id="email" required="true" requiredMessage="Informe o Nome!" readonly="true"/>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                        <p:outputLabel for="senha" value="Senha" />
                                        <p:inputText id="senha" value="" type="password" required="true" requiredMessage="Informe a senha do usuário" />
                                    </div>
<!--                                    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-2">
                                        <p:outputLabel value="Telefone 1" for="tel1"/>
                                        <h:inputText   value="" id="tel1" required="true" requiredMessage="Informe o Telefone!"/>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-2">
                                        <p:outputLabel value="Telefone 2" for="tel2"/>
                                        <h:inputText   value="" id="tel2" />
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-2">
                                        <p:outputLabel value="Whats app" for="wapp" />
                                        <h:inputText   value="" id="wapp" />
                                    </div>-->
                                    
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                            <p:outputLabel  value="Imagem" />
                                            <p:fileUpload  fileUploadListener="#" mode="advanced"
                                                           update="image" auto="true" 
                                                           allowTypes="/(\.|\/)(gif|jpe?g|png)$/" sizeLimit="100000" />
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                            <h:graphicImage id="image" value="#" style="#"  alt="sem imagem" width="150" height="150"/>
                                        </div>
                                    </div>
                                </div>
                            </p:tab>
<!--                            <p:tab title="Endereço">
                                <div class="row">
                                   <div class="col-xs-12 col-sm-6 col-md-5 col-lg-2">
                                        <p:outputLabel value="Tipo Logradouro" for="tp"/>
                                        <h:inputText   value="" id="tp" required="true" requiredMessage="Informe o Tipo de Logradouro!"/>
                                    </div> 
                                   <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
                                        <p:outputLabel value="Logradouro" for="logradouro"/>
                                        <h:inputText   value="" id="logradouro" required="true" requiredMessage="Informe o Logradouro!"/>
                                    </div> 
                                   <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
                                        <p:outputLabel value="Bairro" for="bairro"/>
                                        <h:inputText   value="" id="bairro" required="true" requiredMessage="Informe o Bairro!"/>
                                    </div> 
                                   <div class="col-xs-12 col-sm-6 col-md-5 col-lg-1">
                                        <p:outputLabel value="Nº" for="numero"/>
                                        <h:inputText   value="" id="numero" required="true" requiredMessage="Informe o Número!"/>
                                    </div> 
                                   <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
                                        <p:outputLabel value="CEP" for="cep"/>
                                        <h:inputText   value="" id="cep" required="true" requiredMessage="Informe o CEP!"/>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
                                        <p:outputLabel value="Cidade" for="cidade"/>
                                        <h:inputText   value="" id="cidade" />
                                    </div> 
                                    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
                                        <p:outputLabel value="Complemento" for="complemento"/>
                                        <h:inputText   value="" id="complemento" />
                                    </div> 
                                </div>
                            </p:tab>-->
                        </p:tabView>
                        <br/>
                        <div class="row">
                            <div class="col-md-12">
                                <p:commandButton  value="Atualizar"  action="#" styleClass="btn btn-success" update="@form"  icon="Salvar" />
                                <p:commandButton  value="Cancelar"  action="#" styleClass="btn btn-danger" update="@form"  icon="Excluir" />
                                <hr/>
                            </div>
                        </div>

                    </h:form>
                </p:panel>
            </ui:define>

        </ui:composition>

    </body>
</html>
