@font-face {
	font-family: Themify;
	src:url('../../../../resources/admin-assets/fonts/themify-icons/fonts/themify.eot?-fvbane');
	src:url('../../../../resources/admin-assets/fonts/themify-icons/fonts/themify.eot?#iefix-fvbane') format('embedded-opentype'),
		url('../../../../resources/admin-assets/fonts/themify-icons/fonts/themify.woff?-fvbane') format('woff'),
		url('../../../../resources/admin-assets/fonts/themify-icons/fonts/themify.ttf?-fvbane') format('truetype'),
		url('../../../../resources/admin-assets/fonts/themify-icons/fonts/themify.svg?-fvbane#themify') format('svg');
	font-weight: normal;
	font-style: normal;
}

.ti {
	font-family: Themify;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: inherit;
	/*line-height: 1;*/

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ti.ti-wand:before {content: "\e600";}
.ti.ti-volume:before {content: "\e601";}
.ti.ti-user:before {content: "\e602";}
.ti.ti-unlock:before {content: "\e603";}
.ti.ti-unlink:before {content: "\e604";}
.ti.ti-trash:before {content: "\e605";}
.ti.ti-thought:before {content: "\e606";}
.ti.ti-target:before {content: "\e607";}
.ti.ti-tag:before {content: "\e608";}
.ti.ti-tablet:before {content: "\e609";}
.ti.ti-star:before {content: "\e60a";}
.ti.ti-spray:before {content: "\e60b";}
.ti.ti-signal:before {content: "\e60c";}
.ti.ti-shopping-cart:before {content: "\e60d";}
.ti.ti-shopping-cart-full:before {content: "\e60e";}
.ti.ti-settings:before {content: "\e60f";}
.ti.ti-search:before {content: "\e610";}
.ti.ti-zoom-in:before {content: "\e611";}
.ti.ti-zoom-out:before {content: "\e612";}
.ti.ti-cut:before {content: "\e613";}
.ti.ti-ruler:before {content: "\e614";}
.ti.ti-ruler-pencil:before {content: "\e615";}
.ti.ti-ruler-alt:before {content: "\e616";}
.ti.ti-bookmark:before {content: "\e617";}
.ti.ti-bookmark-alt:before {content: "\e618";}
.ti.ti-reload:before {content: "\e619";}
.ti.ti-plus:before {content: "\e61a";}
.ti.ti-pin:before {content: "\e61b";}
.ti.ti-pencil:before {content: "\e61c";}
.ti.ti-pencil-alt:before {content: "\e61d";}
.ti.ti-paint-roller:before {content: "\e61e";}
.ti.ti-paint-bucket:before {content: "\e61f";}
.ti.ti-na:before {content: "\e620";}
.ti.ti-mobile:before {content: "\e621";}
.ti.ti-minus:before {content: "\e622";}
.ti.ti-medall:before {content: "\e623";}
.ti.ti-medall-alt:before {content: "\e624";}
.ti.ti-marker:before {content: "\e625";}
.ti.ti-marker-alt:before {content: "\e626";}
.ti.ti-arrow-up:before {content: "\e627";}
.ti.ti-arrow-right:before {content: "\e628";}
.ti.ti-arrow-left:before {content: "\e629";}
.ti.ti-arrow-down:before {content: "\e62a";}
.ti.ti-lock:before {content: "\e62b";}
.ti.ti-location-arrow:before {content: "\e62c";}
.ti.ti-link:before {content: "\e62d";}
.ti.ti-layout:before {content: "\e62e";}
.ti.ti-layers:before {content: "\e62f";}
.ti.ti-layers-alt:before {content: "\e630";}
.ti.ti-key:before {content: "\e631";}
.ti.ti-import:before {content: "\e632";}
.ti.ti-image:before {content: "\e633";}
.ti.ti-heart:before {content: "\e634";}
.ti.ti-heart-broken:before {content: "\e635";}
.ti.ti-hand-stop:before {content: "\e636";}
.ti.ti-hand-open:before {content: "\e637";}
.ti.ti-hand-drag:before {content: "\e638";}
.ti.ti-folder:before {content: "\e639";}
.ti.ti-flag:before {content: "\e63a";}
.ti.ti-flag-alt:before {content: "\e63b";}
.ti.ti-flag-alt-2:before {content: "\e63c";}
.ti.ti-eye:before {content: "\e63d";}
.ti.ti-export:before {content: "\e63e";}
.ti.ti-exchange-vertical:before {content: "\e63f";}
.ti.ti-desktop:before {content: "\e640";}
.ti.ti-cup:before {content: "\e641";}
.ti.ti-crown:before {content: "\e642";}
.ti.ti-comments:before {content: "\e643";}
.ti.ti-comment:before {content: "\e644";}
.ti.ti-comment-alt:before {content: "\e645";}
.ti.ti-close:before {content: "\e646";}
.ti.ti-clip:before {content: "\e647";}
.ti.ti-angle-up:before {content: "\e648";}
.ti.ti-angle-right:before {content: "\e649";}
.ti.ti-angle-left:before {content: "\e64a";}
.ti.ti-angle-down:before {content: "\e64b";}
.ti.ti-check:before {content: "\e64c";}
.ti.ti-check-box:before {content: "\e64d";}
.ti.ti-camera:before {content: "\e64e";}
.ti.ti-announcement:before {content: "\e64f";}
.ti.ti-brush:before {content: "\e650";}
.ti.ti-briefcase:before {content: "\e651";}
.ti.ti-bolt:before {content: "\e652";}
.ti.ti-bolt-alt:before {content: "\e653";}
.ti.ti-blackboard:before {content: "\e654";}
.ti.ti-bag:before {content: "\e655";}
.ti.ti-move:before {content: "\e656";}
.ti.ti-arrows-vertical:before {content: "\e657";}
.ti.ti-arrows-horizontal:before {content: "\e658";}
.ti.ti-fullscreen:before {content: "\e659";}
.ti.ti-arrow-top-right:before {content: "\e65a";}
.ti.ti-arrow-top-left:before {content: "\e65b";}
.ti.ti-arrow-circle-up:before {content: "\e65c";}
.ti.ti-arrow-circle-right:before {content: "\e65d";}
.ti.ti-arrow-circle-left:before {content: "\e65e";}
.ti.ti-arrow-circle-down:before {content: "\e65f";}
.ti.ti-angle-double-up:before {content: "\e660";}
.ti.ti-angle-double-right:before {content: "\e661";}
.ti.ti-angle-double-left:before {content: "\e662";}
.ti.ti-angle-double-down:before {content: "\e663";}
.ti.ti-zip:before {content: "\e664";}
.ti.ti-world:before {content: "\e665";}
.ti.ti-wheelchair:before {content: "\e666";}
.ti.ti-view-list:before {content: "\e667";}
.ti.ti-view-list-alt:before {content: "\e668";}
.ti.ti-view-grid:before {content: "\e669";}
.ti.ti-uppercase:before {content: "\e66a";}
.ti.ti-upload:before {content: "\e66b";}
.ti.ti-underline:before {content: "\e66c";}
.ti.ti-truck:before {content: "\e66d";}
.ti.ti-timer:before {content: "\e66e";}
.ti.ti-ticket:before {content: "\e66f";}
.ti.ti-thumb-up:before {content: "\e670";}
.ti.ti-thumb-down:before {content: "\e671";}
.ti.ti-text:before {content: "\e672";}
.ti.ti-stats-up:before {content: "\e673";}
.ti.ti-stats-down:before {content: "\e674";}
.ti.ti-split-v:before {content: "\e675";}
.ti.ti-split-h:before {content: "\e676";}
.ti.ti-smallcap:before {content: "\e677";}
.ti.ti-shine:before {content: "\e678";}
.ti.ti-shift-right:before {content: "\e679";}
.ti.ti-shift-left:before {content: "\e67a";}
.ti.ti-shield:before {content: "\e67b";}
.ti.ti-notepad:before {content: "\e67c";}
.ti.ti-server:before {content: "\e67d";}
.ti.ti-quote-right:before {content: "\e67e";}
.ti.ti-quote-left:before {content: "\e67f";}
.ti.ti-pulse:before {content: "\e680";}
.ti.ti-printer:before {content: "\e681";}
.ti.ti-power-off:before {content: "\e682";}
.ti.ti-plug:before {content: "\e683";}
.ti.ti-pie-chart:before {content: "\e684";}
.ti.ti-paragraph:before {content: "\e685";}
.ti.ti-panel:before {content: "\e686";}
.ti.ti-package:before {content: "\e687";}
.ti.ti-music:before {content: "\e688";}
.ti.ti-music-alt:before {content: "\e689";}
.ti.ti-mouse:before {content: "\e68a";}
.ti.ti-mouse-alt:before {content: "\e68b";}
.ti.ti-money:before {content: "\e68c";}
.ti.ti-microphone:before {content: "\e68d";}
.ti.ti-menu:before {content: "\e68e";}
.ti.ti-menu-alt:before {content: "\e68f";}
.ti.ti-map:before {content: "\e690";}
.ti.ti-map-alt:before {content: "\e691";}
.ti.ti-loop:before {content: "\e692";}
.ti.ti-location-pin:before {content: "\e693";}
.ti.ti-list:before {content: "\e694";}
.ti.ti-light-bulb:before {content: "\e695";}
.ti.ti-Italic:before {content: "\e696";}
.ti.ti-info:before {content: "\e697";}
.ti.ti-infinite:before {content: "\e698";}
.ti.ti-id-badge:before {content: "\e699";}
.ti.ti-hummer:before {content: "\e69a";}
.ti.ti-home:before {content: "\e69b";}
.ti.ti-help:before {content: "\e69c";}
.ti.ti-headphone:before {content: "\e69d";}
.ti.ti-harddrives:before {content: "\e69e";}
.ti.ti-harddrive:before {content: "\e69f";}
.ti.ti-gift:before {content: "\e6a0";}
.ti.ti-game:before {content: "\e6a1";}
.ti.ti-filter:before {content: "\e6a2";}
.ti.ti-files:before {content: "\e6a3";}
.ti.ti-file:before {content: "\e6a4";}
.ti.ti-eraser:before {content: "\e6a5";}
.ti.ti-envelope:before {content: "\e6a6";}
.ti.ti-download:before {content: "\e6a7";}
.ti.ti-direction:before {content: "\e6a8";}
.ti.ti-direction-alt:before {content: "\e6a9";}
.ti.ti-dashboard:before {content: "\e6aa";}
.ti.ti-control-stop:before {content: "\e6ab";}
.ti.ti-control-shuffle:before {content: "\e6ac";}
.ti.ti-control-play:before {content: "\e6ad";}
.ti.ti-control-pause:before {content: "\e6ae";}
.ti.ti-control-forward:before {content: "\e6af";}
.ti.ti-control-backward:before {content: "\e6b0";}
.ti.ti-cloud:before {content: "\e6b1";}
.ti.ti-cloud-up:before {content: "\e6b2";}
.ti.ti-cloud-down:before {content: "\e6b3";}
.ti.ti-clipboard:before {content: "\e6b4";}
.ti.ti-car:before {content: "\e6b5";}
.ti.ti-calendar:before {content: "\e6b6";}
.ti.ti-book:before {content: "\e6b7";}
.ti.ti-bell:before {content: "\e6b8";}
.ti.ti-basketball:before {content: "\e6b9";}
.ti.ti-bar-chart:before {content: "\e6ba";}
.ti.ti-bar-chart-alt:before {content: "\e6bb";}
.ti.ti-back-right:before {content: "\e6bc";}
.ti.ti-back-left:before {content: "\e6bd";}
.ti.ti-arrows-corner:before {content: "\e6be";}
.ti.ti-archive:before {content: "\e6bf";}
.ti.ti-anchor:before {content: "\e6c0";}
.ti.ti-align-right:before {content: "\e6c1";}
.ti.ti-align-left:before {content: "\e6c2";}
.ti.ti-align-justify:before {content: "\e6c3";}
.ti.ti-align-center:before {content: "\e6c4";}
.ti.ti-alert:before {content: "\e6c5";}
.ti.ti-alarm-clock:before {content: "\e6c6";}
.ti.ti-agenda:before {content: "\e6c7";}
.ti.ti-write:before {content: "\e6c8";}
.ti.ti-window:before {content: "\e6c9";}
.ti.ti-widgetized:before {content: "\e6ca";}
.ti.ti-widget:before {content: "\e6cb";}
.ti.ti-widget-alt:before {content: "\e6cc";}
.ti.ti-wallet:before {content: "\e6cd";}
.ti.ti-video-clapper:before {content: "\e6ce";}
.ti.ti-video-camera:before {content: "\e6cf";}
.ti.ti-vector:before {content: "\e6d0";}
.ti.ti-themify-logo:before {content: "\e6d1";}
.ti.ti-themify-favicon:before {content: "\e6d2";}
.ti.ti-themify-favicon-alt:before {content: "\e6d3";}
.ti.ti-support:before {content: "\e6d4";}
.ti.ti-stamp:before {content: "\e6d5";}
.ti.ti-split-v-alt:before {content: "\e6d6";}
.ti.ti-slice:before {content: "\e6d7";}
.ti.ti-shortcode:before {content: "\e6d8";}
.ti.ti-shift-right-alt:before {content: "\e6d9";}
.ti.ti-shift-left-alt:before {content: "\e6da";}
.ti.ti-ruler-alt-2:before {content: "\e6db";}
.ti.ti-receipt:before {content: "\e6dc";}
.ti.ti-pin2:before {content: "\e6dd";}
.ti.ti-pin-alt:before {content: "\e6de";}
.ti.ti-pencil-alt2:before {content: "\e6df";}
.ti.ti-palette:before {content: "\e6e0";}
.ti.ti-more:before {content: "\e6e1";}
.ti.ti-more-alt:before {content: "\e6e2";}
.ti.ti-microphone-alt:before {content: "\e6e3";}
.ti.ti-magnet:before {content: "\e6e4";}
.ti.ti-line-double:before {content: "\e6e5";}
.ti.ti-line-dotted:before {content: "\e6e6";}
.ti.ti-line-dashed:before {content: "\e6e7";}
.ti.ti-layout-width-full:before {content: "\e6e8";}
.ti.ti-layout-width-default:before {content: "\e6e9";}
.ti.ti-layout-width-default-alt:before {content: "\e6ea";}
.ti.ti-layout-tab:before {content: "\e6eb";}
.ti.ti-layout-tab-window:before {content: "\e6ec";}
.ti.ti-layout-tab-v:before {content: "\e6ed";}
.ti.ti-layout-tab-min:before {content: "\e6ee";}
.ti.ti-layout-slider:before {content: "\e6ef";}
.ti.ti-layout-slider-alt:before {content: "\e6f0";}
.ti.ti-layout-sidebar-right:before {content: "\e6f1";}
.ti.ti-layout-sidebar-none:before {content: "\e6f2";}
.ti.ti-layout-sidebar-left:before {content: "\e6f3";}
.ti.ti-layout-placeholder:before {content: "\e6f4";}
.ti.ti-layout-menu:before {content: "\e6f5";}
.ti.ti-layout-menu-v:before {content: "\e6f6";}
.ti.ti-layout-menu-separated:before {content: "\e6f7";}
.ti.ti-layout-menu-full:before {content: "\e6f8";}
.ti.ti-layout-media-right-alt:before {content: "\e6f9";}
.ti.ti-layout-media-right:before {content: "\e6fa";}
.ti.ti-layout-media-overlay:before {content: "\e6fb";}
.ti.ti-layout-media-overlay-alt:before {content: "\e6fc";}
.ti.ti-layout-media-overlay-alt-2:before {content: "\e6fd";}
.ti.ti-layout-media-left-alt:before {content: "\e6fe";}
.ti.ti-layout-media-left:before {content: "\e6ff";}
.ti.ti-layout-media-center-alt:before {content: "\e700";}
.ti.ti-layout-media-center:before {content: "\e701";}
.ti.ti-layout-list-thumb:before {content: "\e702";}
.ti.ti-layout-list-thumb-alt:before {content: "\e703";}
.ti.ti-layout-list-post:before {content: "\e704";}
.ti.ti-layout-list-large-image:before {content: "\e705";}
.ti.ti-layout-line-solid:before {content: "\e706";}
.ti.ti-layout-grid4:before {content: "\e707";}
.ti.ti-layout-grid3:before {content: "\e708";}
.ti.ti-layout-grid2:before {content: "\e709";}
.ti.ti-layout-grid2-thumb:before {content: "\e70a";}
.ti.ti-layout-cta-right:before {content: "\e70b";}
.ti.ti-layout-cta-left:before {content: "\e70c";}
.ti.ti-layout-cta-center:before {content: "\e70d";}
.ti.ti-layout-cta-btn-right:before {content: "\e70e";}
.ti.ti-layout-cta-btn-left:before {content: "\e70f";}
.ti.ti-layout-column4:before {content: "\e710";}
.ti.ti-layout-column3:before {content: "\e711";}
.ti.ti-layout-column2:before {content: "\e712";}
.ti.ti-layout-accordion-separated:before {content: "\e713";}
.ti.ti-layout-accordion-merged:before {content: "\e714";}
.ti.ti-layout-accordion-list:before {content: "\e715";}
.ti.ti-ink-pen:before {content: "\e716";}
.ti.ti-info-alt:before {content: "\e717";}
.ti.ti-help-alt:before {content: "\e718";}
.ti.ti-headphone-alt:before {content: "\e719";}
.ti.ti-hand-point-up:before {content: "\e71a";}
.ti.ti-hand-point-right:before {content: "\e71b";}
.ti.ti-hand-point-left:before {content: "\e71c";}
.ti.ti-hand-point-down:before {content: "\e71d";}
.ti.ti-gallery:before {content: "\e71e";}
.ti.ti-face-smile:before {content: "\e71f";}
.ti.ti-face-sad:before {content: "\e720";}
.ti.ti-credit-card:before {content: "\e721";}
.ti.ti-control-skip-forward:before {content: "\e722";}
.ti.ti-control-skip-backward:before {content: "\e723";}
.ti.ti-control-record:before {content: "\e724";}
.ti.ti-control-eject:before {content: "\e725";}
.ti.ti-comments-smiley:before {content: "\e726";}
.ti.ti-brush-alt:before {content: "\e727";}
.ti.ti-youtube:before {content: "\e728";}
.ti.ti-vimeo:before {content: "\e729";}
.ti.ti-twitter:before {content: "\e72a";}
.ti.ti-time:before {content: "\e72b";}
.ti.ti-tumblr:before {content: "\e72c";}
.ti.ti-skype:before {content: "\e72d";}
.ti.ti-share:before {content: "\e72e";}
.ti.ti-share-alt:before {content: "\e72f";}
.ti.ti-rocket:before {content: "\e730";}
.ti.ti-pinterest:before {content: "\e731";}
.ti.ti-new-window:before {content: "\e732";}
.ti.ti-microsoft:before {content: "\e733";}
.ti.ti-list-ol:before {content: "\e734";}
.ti.ti-linkedin:before {content: "\e735";}
.ti.ti-layout-sidebar-2:before {content: "\e736";}
.ti.ti-layout-grid4-alt:before {content: "\e737";}
.ti.ti-layout-grid3-alt:before {content: "\e738";}
.ti.ti-layout-grid2-alt:before {content: "\e739";}
.ti.ti-layout-column4-alt:before {content: "\e73a";}
.ti.ti-layout-column3-alt:before {content: "\e73b";}
.ti.ti-layout-column2-alt:before {content: "\e73c";}
.ti.ti-instagram:before {content: "\e73d";}
.ti.ti-google:before {content: "\e73e";}
.ti.ti-github:before {content: "\e73f";}
.ti.ti-flickr:before {content: "\e740";}
.ti.ti-facebook:before {content: "\e741";}
.ti.ti-dropbox:before {content: "\e742";}
.ti.ti-dribbble:before {content: "\e743";}
.ti.ti-apple:before {content: "\e744";}
.ti.ti-android:before {content: "\e745";}
.ti.ti-save:before {content: "\e746";}
.ti.ti-save-alt:before {content: "\e747";}
.ti.ti-yahoo:before {content: "\e748";}
.ti.ti-wordpress:before {content: "\e749";}
.ti.ti-vimeo-alt:before {content: "\e74a";}
.ti.ti-twitter-alt:before {content: "\e74b";}
.ti.ti-tumblr-alt:before {content: "\e74c";}
.ti.ti-trello:before {content: "\e74d";}
.ti.ti-stack-overflow:before {content: "\e74e";}
.ti.ti-soundcloud:before {content: "\e74f";}
.ti.ti-sharethis:before {content: "\e750";}
.ti.ti-sharethis-alt:before {content: "\e751";}
.ti.ti-reddit:before {content: "\e752";}
.ti.ti-pinterest-alt:before {content: "\e753";}
.ti.ti-microsoft-alt:before {content: "\e754";}
.ti.ti-linux:before {content: "\e755";}
.ti.ti-jsfiddle:before {content: "\e756";}
.ti.ti-joomla:before {content: "\e757";}
.ti.ti-html5:before {content: "\e758";}
.ti.ti-flickr-alt:before {content: "\e759";}
.ti.ti-email:before {content: "\e75a";}
.ti.ti-drupal:before {content: "\e75b";}
.ti.ti-dropbox-alt:before {content: "\e75c";}
.ti.ti-css3:before {content: "\e75d";}
.ti.ti-rss:before {content: "\e75e";}
.ti.ti-rss-alt:before {content: "\e75f";}
