<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="WEB-INF/newTemplate.xhtml">
            <ui:define name="content">
                <h:form id="resultado">
                    <section id="pagina-404">
                        <div class="row">
                            <div id="imagem-404" class="col-lg-12">
                                <center>
                                    <h:graphicImage name="assets/img/erro-404.png" />
                                </center>
                            </div>
                            <div id="texto-404" class="col-lg-12">
                                <center>
                                    <p>PÁGINA NÃO ENCONTRADA<br/>
                                        A página que você está procurando pode ter sido removida ou teve seu nome alterado.</p>
                                    <p:button id="btnInicio" value="Voltar ao Ínicio" styleClass="btn btn-primary botao-destaque" href="/index.xhtml"/>
                                </center>
                            </div>
                        </div>
                    </section>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
