<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ux="http://java.sun.com/jsf/composite/ux">
    <ui:composition template="WEB-INF/newTemplate.xhtml">
        <ui:define name="content">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <h:form>
                        <p:messages id="msg" closable="true" />
                        <h2>Alterar Senha</h2>
                        <p:outputLabel for="senhaAtu" value="Digite sua senha atual" />
                        <p:password id="senhaAtu" styleClass="form-control" value="#{controleSessaoMB.senhaAtual}" >
                            <p:ajax update="btnConfirmar,msg" listener="#{controleSessaoMB.verificarSenhaAtualComDigitada()}" />
                        </p:password>
                        <hr/>
                        <p:outputLabel for="senhanova" value="Digite sua nova senha" />
                        <p:password id="senhanova" styleClass="form-control" value="#{controleSessaoMB.novaSenha}"  required="true" requiredMessage="Informe a sua nova senha!" />
                        <br/>
                        <br/>
                        <p:commandButton id="btnConfirmar" value="Alterar Senha"  action="#{controleSessaoMB.alterarSenha()}" update="@form" disabled="#{controleSessaoMB.senhaAtual != '1'}" />
                    </h:form>
                </div>
            </div>
        </ui:define>
    </ui:composition>


</html>

