<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ux="http://java.sun.com/jsf/composite/ux">
    <h:head>
        <title>noGlobo - Sua Busca Local</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <h:outputStylesheet name="assets/bootstrap/css/bootstrap.min.css" />
        <h:outputStylesheet name="assets/css/style.css" />
        <h:outputStylesheet name="assets/css/owl.carousel.css" />
        <h:outputStylesheet name="assets/css/owl.theme.css" />
        <h:outputStylesheet name="assets/css/longshadow.css" />
        <h:outputStylesheet name="assets/css/fontello.css" />
        <script>
            paceOptions = {
                elements: true
            };
        </script>
        <h:outputScript  name="assets/js/pace.min.js"/>
    </h:head>
    <h:body>

        <div id="wrapper">
            <ui:include src="/WEB-INF/elements/header.xhtml" />

            <div class="row search-row animated fadeInUp">
                <ui:include src="WEB-INF/elements/busca.xhtml" />
            </div>
            <div class="facebook">
                <center>
                    <div class="fb-like fb_iframe_widget" data-href="https://www.facebook.com/noglobo" data-layout="button" data-action="like" data-show-faces="true" data-share="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=1411960965720538&amp;container_width=1140&amp;href=https%3A%2F%2Fwww.facebook.com%2Fnoglobo&amp;layout=button&amp;locale=pt_BR&amp;sdk=joey&amp;share=false&amp;show_faces=true"><span style="vertical-align: bottom; width: 55px; height: 20px;"><iframe name="f2cf7dbf24" width="1000px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" src="http://www.facebook.com/v2.3/plugins/like.php?action=like&amp;app_id=1411960965720538&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2Fjb3BUxkAISL.js%3Fversion%3D41%23cb%3Df1cdab7838%26domain%3Dnoglobo.com.br%26origin%3Dhttp%253A%252F%252Fnoglobo.com.br%252Ff8ad28b5%26relation%3Dparent.parent&amp;container_width=1140&amp;href=https%3A%2F%2Fwww.facebook.com%2Fnoglobo&amp;layout=button&amp;locale=pt_BR&amp;sdk=joey&amp;share=false&amp;show_faces=true" style="border: none; visibility: visible; width: 55px; height: 20px;" class=""></iframe></span></div>
                </center>

            </div>
            <br/>
            <f:metadata>  
                <f:event type="preRenderView" listener="#{buscaMB.buscar()}"/>  
            </f:metadata>  
            <div class="row">
                <div class="col-lg-12">
                    <h:form id="frmList">
                        <ui:repeat  value="#{buscaMB.produtos}" var="prod" rendered="#{buscaMB.produtos.size()==0?'false':'true'}">
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <a href="#{facesContext.externalContext.request.contextPath}/produto/#{prod.slug != null ? prod.slug : 'sem_slug'}" class="thumbnail">
                                    <p:graphicImage value="/upload/Produto/#{prod.idProduto}/#{prod.fotoPrincipal}"  styleClass="img-responsive" />
                                    <hr/>
                                    #{prod.slug}
                                    <center><h2>#{prod.nome}</h2></center>
                                    <center><ux:outputMoney value="#{prod.preco}" styleClass="h3" /></center>
                                </a>
                            </div>
                        </ui:repeat>
                        <ui:repeat  value="#{buscaMB.empresas}" var="emp" rendered="#{buscaMB.empresas.size()==0?'false':'true'}">
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <a href="#{facesContext.externalContext.request.contextPath}/empresa/#{emp.slug != null ? emp.slug : 'sem_slug'}" class="thumbnail">
                                    <p:graphicImage value="/upload/Empresa/#{emp.logo}"  styleClass="img-responsive" />
                                    <hr/>
                                    <center><h2>#{emp.nome}</h2></center>
                                </a>
                            </div>
                        </ui:repeat>

                    </h:form>
                    <h:outputText value="Não foi encontrado nenhum resultado para a busca #{param['q']}" rendered="#{buscaMB.produtos.size()==0 and (param['tipo']=='produtos' or param['tipo']=='servicos' ) }" />
                    <h:outputText value="Não foi encontrado nenhum resultado para a busca #{param['q']}" rendered="#{buscaMB.empresas.size()==0 and param['tipo']=='empresas' }" />
                </div>
                <div class="col-lg-12">
                    <center>
                        <ul class = "pagination pagination-lg">
                            <li class="#{param['pag']=='1' ? 'disabled':'' }"><a href = "#{facesContext.externalContext.request.contextPath}/p/#{param['cidade']}/#{param['tipo']}/#{param['q']}/1" >&laquo;</a></li>
                            <ui:repeat value="#{buscaMB.inteiros()}" var="int">
                                <li><a href = "#{facesContext.externalContext.request.contextPath}/p/#{param['cidade']}/#{param['tipo']}/#{param['q']}/#{int}">#{int}</a></li>
                            </ui:repeat>
                            <li class="#{buscaMB.produtos.size()==0 or buscaMB.empresas.size()==0 ? 'disabled':'' }"><a href = "#{facesContext.externalContext.request.contextPath}/p/#{param['cidade']}/#{param['tipo']}/#{param['q']}/#{buscaMB.totalProdutos()}">&raquo;</a></li>
                        </ul>
                        <hr/>
                        <span>Total de #{buscaMB.totalProdutos()} Registros encontrados! </span>
                    </center>

                </div>
            </div>



            <ui:include src="/WEB-INF/elements/footer.xhtml" />

        </div>



        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"> </script>-->
        <h:outputScript name="assets/bootstrap/js/bootstrap.min.js" />
        <!--        <h:outputScript name="assets/js/owl.carousel.min.js" />
                <h:outputScript name="assets/js/jquery.matchHeight-min.js" />-->
        <h:outputScript name="assets/js/hideMaxListItem.js" />
        <h:outputScript name="assets/plugins/jquery.fs.scroller/jquery.fs.scroller.js" />
        <h:outputScript name="assets/plugins/jquery.fs.selecter/jquery.fs.selecter.js" />
        <h:outputScript name="assets/js/script.js" />
        <h:outputScript name="assets/plugins/autocomplete/jquery.mockjax.js" />
        <h:outputScript name="assets/plugins/autocomplete/jquery.autocomplete.js" />
        <h:outputScript name="assets/plugins/autocomplete/usastates.js" />
        <h:outputScript name="assets/plugins/autocomplete/autocomplete-demo.js" />

    </h:body>
</html>

