<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ux="http://java.sun.com/jsf/composite/ux">
    <h:body>
        <ui:composition template="WEB-INF/newTemplate.xhtml">
            <ui:define name="content">
                <div id="cadastro">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <p:panel id="conteudo" styleClass="fundo" >
                                <h:form id="frmCompra">
                                    <center>
                                        <h3>Cadastro</h3>
                                        <h:graphicImage name="assets/img/lupa.png" alt="noGlobo.com" title="noGlobo.com" class=""/>
                                    </center> 
                                    <div id="campos" style="padding: 50px 20px;">
                                        <div class="col-xs-12 col-md-6 sem-padding-esquerdo">
                                            <p:inputMask id="cpfCadastro" value="#{usuarioMB.cliente.cpfcnpj}" styleClass="form-control" mask="999.999.999-99"
                                                         placeholder="CPF" required="true" requiredMessage="Informe o CPF" >
                                            </p:inputMask>
                                        </div>
                                        <div class="col-xs-12 col-md-6 sem-padding-direito">                                                                    
                                            <p:inputMask id="telefoneCadastro" value="#{usuarioMB.cliente.telefone}" styleClass="form-control" placeholder="Telefone" 
                                                         required="true" requiredMessage="Informe o telefone" mask="(99) ?999999999"/>
                                        </div>
                                        <div class="col-xs-12 col-md-6 sem-padding-esquerdo">
                                            <p:inputText id="nomeCadastro" value="#{usuarioMB.cliente.primeiroNome}" styleClass="form-control" 
                                                         placeholder="Nome" required="true" requiredMessage="Informe o nome"  />
                                        </div>
                                        <div class="col-xs-12 col-md-6 sem-padding-direito">
                                            <p:inputText id="sobrenomeCadastro" value="#{usuarioMB.cliente.sobrenome}" styleClass="form-control" placeholder="Sobrenome" 
                                                         required="true" requiredMessage="Informe o sobrenome" />
                                        </div>

                                        <div class="col-xs-12 sem-padding">
                                            <p:inputText id="emailCadastro" value="#{usuarioMB.cliente.email}"  styleClass="form-control" placeholder="Email" 
                                                         required="true" requiredMessage="Informe o email" />
                                        </div>                                                                
                                        <div class="col-xs-12 col-md-6 sem-padding-esquerdo">
                                            <p:password id="senha1" value="#{usuarioMB.senha}" match="senha2" required="true" 
                                                        styleClass="form-control" requiredMessage="Informe a senha" validatorMessage="Senhas não conferem." placeholder="Senha" />
                                        </div>
                                        <div class="col-xs-12 col-md-6 sem-padding-direito">
                                            <p:password id="senha2" value="#{usuarioMB.senha}" required="true" requiredMessage="Repita a senha para continuar."
                                                        validatorMessage="Senhas não conferem." styleClass="form-control" placeholder="Repetir senha" />
                                        </div>
                                        <div class="col-lg-12 sem-margem padding-top-10">
                                            <p:outputLabel value="Endereço de entrega"/>
                                        </div> 
                                        <div class="row sem-margem">
                                            <div class="col-xs-12 col-md-6 sem-padding">
                                                <h:panelGrid columns="2" width="100%">
                                                    <p:inputMask id="cepCadastro" value="#{usuarioMB.cliente.cep}" styleClass="form-control" placeholder="CEP" 
                                                                 required="true" requiredMessage="Informe o CEP" mask="99999-999" onblur="consultaCep(this.value)"/>
                                                </h:panelGrid>
                                            </div>
                                            <div class="col-xs-12 col-md-6 sem-padding-direito">                                                                    
                                                <p:inputText id="cidadeCadastro" value="#{usuarioMB.cidade}" widgetVar="cidade"
                                                             styleClass="form-control" placeholder="Cidade" 
                                                             required="true" requiredMessage="Informe o cidade" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2 sem-padding-esquerdo">
                                            <p:inputText id="tipo" value="#{usuarioMB.cliente.tipoLogradouro}" styleClass="form-control" placeholder="Rua.." >
                                            </p:inputText> 
                                        </div>
                                        <div class="col-xs-12 col-md-8 sem-padding-esquerdo">                                                                    
                                            <p:inputText id="logradouroCadastro" value="#{usuarioMB.cliente.logradouro}" widgetVar="logradouro"
                                                         styleClass="form-control" placeholder="Logradouro" 
                                                         required="true" requiredMessage="Informe o logradouro" />
                                        </div>
                                        <div class="col-xs-12 col-md-2 sem-padding-direito">                                                                    
                                            <p:inputText id="numeroCadastro" value="#{usuarioMB.cliente.numero}" widgetVar="numero"
                                                         styleClass="form-control" placeholder="numero" 
                                                         required="true" requiredMessage="Informe o numero" />
                                        </div>
                                        <div class="col-xs-12 col-md-6 sem-padding-esquerdo">                                                                    
                                            <p:inputText id="bairroCadastro" value="#{usuarioMB.cliente.bairro}" widgetVar="bairro"
                                                         styleClass="form-control" placeholder="Bairro" 
                                                         required="true" requiredMessage="Informe o bairro" />
                                        </div>
                                        <div class="col-xs-12 col-md-6 sem-padding-esquerdo">                                                                    
                                            <p:inputText id="complementoCadastro" value="#{usuarioMB.cliente.complemento}" widgetVar="complemento"
                                                         styleClass="form-control" placeholder="Complemento" />
                                        </div>

                                    </div>
                                    <div class="row">   
                                        <div class="col-md-12">
                                            <h:panelGroup rendered="#{controleSessaoMB.usuarioLogado.idCliente.idCliente == null}">
                                                <p class="aviso" style="margin-top: 0px !important;"> Ao cadastrar-me, declaro que sou maior de idade e aceito a 
                                                    <a target="_blank" href="#" title="Política de Privacidade">
                                                        Política de privacidade
                                                    </a> e os 
                                                    <a target="_blank" href="#" title="Termos e Condições">
                                                        Termos e condições
                                                    </a>do noGlobo.com.
                                                </p>
                                            </h:panelGroup>
                                            <p:commandButton action="#{usuarioMB.cadastrarUsuario()}" update="@form"
                                                             value="Salvar meus dados" styleClass="btn btn-grande sem-borda laranja " >
                                                <f:param name="par" value="true" />
                                            </p:commandButton>
                                        </div>
                                    </div>

                                </h:form>
                            </p:panel>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>


</html>

