<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ux="http://java.sun.com/jsf/composite/ux">
    <ui:composition template="WEB-INF/newTemplate.xhtml">
        <ui:define name="content">
            <f:metadata>
                <f:event type="preRenderView" listener="#{carrinhoMB.preCarregarUsuario(controleSessaoMB.usuarioLogado)}"/>
            </f:metadata>

            <div class="row">
                <div class="col-lg-12"><p:messages  id="msgsss" closable="true" /></div> 
                <div class="col-lg-8"> 
                    <style>
                        .colone{
                            width: 15%;
                        }
                        .coltwo{
                            width: 85%;
                        }
                        tr.ui-widget-content.ui-datatable-even {
                            width: 90%;
                        }
                    </style>
                    <ui:repeat  id="rptt" value="#{carrinhoMB.itensDoCarrinhoPorEmpresa}" var="cars" varStatus="iin"  >
                        <center>
                            <h2>Checkout #{cars.empresa.nome}</h2>
                        </center>
                        <h:form id="frmCompra">
                            <p:dataTable id="tblCarrinho" value="#{cars.carrinhos}" var="car"  rowIndexVar="riv">
                                <p:column  width="40%" style="border: none!important;">

                                    <h:panelGrid columns="2" style="border: 1px solid white;" columnClasses="colone, coltwo">
                                        <h:graphicImage value="/upload/Produto/#{car.produto.idProduto}/#{car.produto.fotoPrincipal}" width="50" height="50" />
                                        <h:panelGrid columns="1" style="border: 1px solid white;">
                                            <a href="" style="font-weight: bolder;">#{car.produto.nome}</a>
                                        </h:panelGrid>
                                        <h:commandLink value="Remover" style="color: red;" action="#{carrinhoMB.removerItemCarrinho(riv, iin.index, car)}" immediate="true"  />
                                    </h:panelGrid>
                                </p:column>
                                <p:column  width="10%" headerText="Quantidade" style="border: none!important;" >
                                    <p:inputText value="#{car.quantidade}" styleClass="form-control"   style="text-align: center;" >
                                        <p:ajax update="tblCarrinho" event="blur" />
                                    </p:inputText>
                                </p:column>
                                <p:column width="10%" headerText="Valor Uitário" style="border: none!important;">
                                    <ux:outputMoney value="#{car.produto.preco}" />
                                </p:column>
                                <p:column width="10%" headerText="Sub Total" style="border: none!important;">
                                    <ux:outputMoney value="#{car.produto.preco.multiply(car.quantidade)}" />
                                </p:column>
                            </p:dataTable>

                            <hr/>
                            <div class="col-lg-9" >
                                <h:outputLabel value="Digite o CEP!" /><br/>
                                <p:inputMask value="#{cars.cep}" mask="99999-999"  required="#{carrinhoMB.totalFrete((cars.carrinhos)) > 0 ?'false':'true'}" requiredMessage="Informe o CEP!" >
                                    <p:ajax event="blur" listener="#{carrinhoMB.consultarFreteCarrinho(cars.carrinhos, cars.cep)}" update="@all" />
                                </p:inputMask> 
                                <h:panelGroup id="grpFretesSelecionaveis">
                                    <p:selectOneRadio  layout="grid" columns="1" id="grpFretes"  value="#{carrinhoMB.freteSelecionado}" rendered="#{carrinhoMB.fretesDisponiveis.size()>0}" converter="Converter" label="Fretes Disponíveis" required="true" requiredMessage="Selecione o tipo de frete!" >
                                        <f:selectItems value="#{carrinhoMB.fretesDisponiveis}" var="free"
                                                       itemLabel="#{carrinhoMB.verificaTipoFrete(free.codigo)} - #{free.valor}. Entrega em #{free.prazoEntrega} dias úteis!" itemValue="#{free}" />
                                        <p:ajax event="change" update="grpTotais, grpTotal" />
                                    </p:selectOneRadio  >
                                </h:panelGroup>
                                <p:ajaxStatus >
                                    <f:facet name="start">
                                        <p:graphicImage name="assets/img/img.GIF" />
                                    </f:facet>
                                </p:ajaxStatus>
                            </div>

                            <div class="col-lg-3" >
                                <center><h2>Total</h2></center>
                                <h:panelGroup id="grpTotais">
                                    <h:panelGrid  columns="2" style="width: 100%; ">
                                        <span><strong>Sub-total:</strong><ux:outputMoney value="#{carrinhoMB.subTotal(cars.carrinhos)}" /></span>
                                        <span><strong>Frete:</strong><ux:outputMoney value="#{carrinhoMB.freteSelecionado.valor}" /></span>
                                    </h:panelGrid>
                                </h:panelGroup>
                                <h:panelGroup id="grpTotal">
                                    <h:panelGrid  columns="2" style="width: 100%; background: #ccc; " >
                                        <strong>Total:</strong>
                                        <ux:outputMoney  id="vlrFinal" value="#{carrinhoMB.totalFinal((cars.carrinhos))}" />
                                    </h:panelGrid>
                                </h:panelGroup>
                                <br/>
                                <p:commandButton value="Continuar Compra" action="#{carrinhoMB.carregarItensComprar(inn.index)}" styleClass="btn btn-success btn-block" style="text-shadow: none !important;"/>
                            </div>

                            <div class="col-lg-12" >
                                <hr/>
                            </div>
                        </h:form>
                    </ui:repeat>
                </div>
                <div class="col-lg-4">

                </div>
            </div>
        </ui:define>
    </ui:composition>


</html>

