<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ux="http://java.sun.com/jsf/composite/ux"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:pe="http://primefaces.org/ui/extensions">
    <ui:composition template="WEB-INF/newTemplate.xhtml">
        <ui:define name="content">
            <f:metadata>
                <f:event type="preRenderView" listener="#{carrinhoMB.preCarregarUsuario(controleSessaoMB.usuarioLogado)}"/>
z            </f:metadata>
            <div class="container">
                <div id="carrinho" class="col-md-12">
                    <h:panelGroup rendered="#{carrinhoMB.itensDoCarrinhoPorEmpresa.size() == 0}">
                        <div class="col-lg-12 caixa">
                            <div id="qtdResultados" >
                                <center style="padding-top: 25px;">
                                    <h:outputText value="Você não possui nenhum item adicionado à seu carrinho!"/>
                                </center>
                            </div>
                        </div>
                    </h:panelGroup>
                    <p:panel style="background: rgba(247, 247, 247, 0.51)" rendered="#{carrinhoMB.itensDoCarrinhoPorEmpresa.size() != 0 }" >
                        <div id="topo" class="row">
                            <div class="col-md-12 sem-margem">
                                <div class="col-md-2 sem-margem-direita">
                                    <h3>Você esta:</h3>
                                </div>
                                <div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1">
                                    <ol class="indicador">
                                        <li class="atual">
                                            <div id="passo">
                                                <h:graphicImage value="/resources/assets/img/carrinho/ativadas/carrinho.png"  />
                                            </div>
                                            <span class="">Confirmação e entrega</span>
                                        </li>
                                        <li>
                                            <div class="conector"></div>
                                        </li>
                                        <li class="incompleto">
                                            <div id="passo">
                                                <h:graphicImage value="/resources/assets/img/carrinho/desativadas/pagamento.png"  />
                                            </div>
                                            <span class="">Identificação e pagamento</span>
                                        </li>
                                        <li>
                                            <div class="conector"></div>
                                        </li>
                                        <li class="incompleto">
                                            <div id="passo">
                                                <h:graphicImage value="/resources/assets/img/carrinho/desativadas/concluido.png"  />
                                            </div>
                                            <span class="">Obrigado!</span>
                                        </li>


                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div id="principal" class="row">
                            <div id="detalhamento" class="col-xs-12 col-sm-12 col-md-12 col-lg-9 sem-margem">
                                <div class="row">
                                    <ui:repeat value="#{carrinhoMB.itensDoCarrinhoPorEmpresa}" id="rptt" var="cars" 
                                               varStatus="inn">
                                        <h:panelGroup>
                                            <fieldset>
                                                <legend>
                                                    #{cars.empresa.nome}
                                                </legend>
                                                <h:form id="frmCompra">
                                                    <div id="tabela-produtos" class="row">
                                                        <div class="col-md-12 text-center">
                                                            <h5>Resumo desta loja</h5>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <p:dataTable id="tblCarrinho" value="#{cars.carrinhos}" var="car" 
                                                                         rowIndexVar="riv" styleClass="tabela-carrinho" rowStyleClass="item">
                                                                <p:column id="foto" width="8%" styleClass="col visible-sm visible-md visible-lg">
                                                                    <h:graphicImage value="/upload/Produto/#{car.produto.idProduto}/#{car.produto.fotoPrincipal}" width="50" height="50" />
                                                                    <i class="ui-icon ui-icon-trash" style="display: table-column !important"></i>
                                                                    <h:commandLink value="Remover" styleClass="excluir" title="Remover este item deste carrinho?"
                                                                                   action="#{carrinhoMB.removerItemCarrinho(riv, iin.index, car)}" immediate="true"  />
                                                                </p:column>  
                                                                <p:column id="descricao" styleClass="">
                                                                    <a href="#{facesContext.externalContext.request.contextPath}/#{buscaMB.retornaSlug(car.produto.idEmpresa.idCidade.nome)}/produto/#{car.produto.slug != null ? car.produto.slug : 'sem_slug'}">
                                                                        #{car.produto.nome}
                                                                    </a>
                                                                    <h:commandLink value="Remover" styleClass="excluir visible-xs" title="Remover este item deste carrinho?"
                                                                                   action="#{carrinhoMB.removerItemCarrinho(riv, iin.index, car)}" immediate="true"  />

                                                                    <p class="visible-md visible-lg">#{car.produto.resumo}</p>
                                                                    <h:panelGroup rendered="#{!cars.empresa.segmento.equals('Delivery')}">
                                                                        <span class="span visible-md visible-lg" title="Medidas para entrega. Comprimento x Largura x Altura">CxLxA: #{car.produto.comprimentoCm}cm x #{car.produto.alturaCm}cm x #{car.produto.larguraCm}cm</span>
                                                                    </h:panelGroup>
                                                                </p:column>                                                        
                                                                <p:column headerText="Quantidade" styleClass="col-15">
                                                                    <center>
                                                                        <p:spinner id="qtd" value="#{car.quantidade}" min="1" max="10" maxlength="1" styleClass="qtd" >
                                                                            <pe:keyFilter regEx="/(\-)?[\d\.,]/" />
                                                                            <p:ajax update="@form" event="change"/>
                                                                        </p:spinner> 
                                                                    </center>
                                                                </p:column>

                                                                <p:column headerText="Valor Unit." styleClass="visible-sm visible-md visible-lg text-right col-15">
                                                                    <ux:outputMoney value="#{car.produto.preco}" style="font-size: 0.9em;"/>
                                                                </p:column>
                                                                <p:column headerText="Total" styleClass=" text-right col-15">
                                                                    <ux:outputMoney value="#{car.produto.preco.multiply(car.quantidade)}" style="font-size: 0.9em;"/>
                                                                </p:column>
                                                            </p:dataTable>
                                                        </div>
                                                    </div>
                                                    <div id="frete" >
                                                        <div class="row">
                                                            <div id="calculo" class="col-lg-7 col-sm-6 ">

                                                                <!-- Entrega de Produtos -->

                                                                <h:panelGroup id="cep" rendered="#{cars.empresa.segmento == 'Produtos'}">
                                                                    <div id="cep" >
                                                                        <h:panelGrid columns="5" >
                                                                            <p:outputLabel for="cep1" value="Informe o CEP:" style="font-size: 0.7em;" indicateRequired="false"/>
                                                                            &nbsp;
                                                                            <p:inputMask id="cep1" value="#{cars.cep}" mask="99999-999"  required="true" requiredMessage="Informe o CEP!" 
                                                                                         styleClass="input-frete cep"  style="vertical-align: middle;" >
                                                                                <p:ajax event="click" update="@form, grpTotais" listener="#{carrinhoMB.atualizarTelaLimpaFrete(cars.cep)}"/>
                                                                            </p:inputMask> 
                                                                            <p:commandButton id="btnCalcular" icon="confirmar" styleClass="btn btn-frete cep" 
                                                                                             action="#{carrinhoMB.consultarFreteCarrinho2(cars.carrinhos, cars.cep)}" 
                                                                                             update="@form, :rptt:#{iin.index == null ? 0 : iin.index}:frmCompra:grpTotais" />
                                                                            <p:ajaxStatus >
                                                                                <f:facet name="start">
                                                                                    <p:graphicImage name="assets/img/img.GIF" />
                                                                                </f:facet>
                                                                            </p:ajaxStatus>
                                                                        </h:panelGrid>
                                                                        <p:selectOneRadio  layout="grid" columns="1" id="grpFretes"  value="#{carrinhoMB.freteSelecionado}"
                                                                                           rendered="#{carrinhoMB.fretesDisponiveis.size() > 0}" converter="Converter" label="Fretes Disponíveis" 
                                                                                           required="true" requiredMessage="Selecione o tipo de frete!" styleClass="tipos-frete">
                                                                            <f:selectItems value="#{carrinhoMB.fretesDisponiveis}" var="free"
                                                                                           itemLabel="#{carrinhoMB.verificaTipoFrete(free.codigo)} - R$ #{free.valor}. Entrega em #{free.prazoEntrega > 1 ? free.prazoEntrega.concat(' dias úteis') : free.prazoEntrega.concat(' dia útil')}" itemValue="#{free}" />
                                                                            <p:ajax event="change" update="grpTotais" />
                                                                        </p:selectOneRadio  >
                                                                    </div>
                                                                </h:panelGroup>

                                                                <!-- Delivery -->

                                                                <h:panelGroup rendered="#{cars.empresa.segmento == 'Delivery'}">
                                                                    <p:selectBooleanCheckbox value="#{cars.retirada}" >
                                                                        <p:ajax update="@form, @this, grpTotais" 
                                                                                listener="#{carrinhoMB.ThisIsRetirada(cars.carrinhos, cars.retirada, cars)}"/>
                                                                    </p:selectBooleanCheckbox>
                                                                    <span>Retirar no local?</span>

                                                                    <div class="padding-top-10">
                                                                        <h:panelGroup id="grpRetirada">
                                                                            <div style="display: #{cars.retirada == true ? 'none' : 'block'}" >
                                                                                <h:panelGrid columns="5">
                                                                                    <p:inputMask id="cepto" value="#{cars.cep}" mask="99999-999" 
                                                                                                 required="true" rendered="#{!cars.retirada}" 
                                                                                                 styleClass="input-frete cep" placeholder="CEP">
                                                                                        <p:ajax event="click" listener="#{carrinhoMB.atualizarTelaLimpaFrete()}" 
                                                                                                update="@this, grpRetirada, grpTotais"/>
                                                                                    </p:inputMask>
                                                                                    <p:commandButton id="btnCalcular2" icon="confirmar" styleClass="btn btn-frete cep" 
                                                                                                     action="#{carrinhoMB.consultarFreteDelivery(cars.carrinhos, cars.cep, cars.empresa)}" 
                                                                                                     update="@form, :rptt:#{iin.index == null ? 0 : iin.index}:frmCompra:grpTotais" />
                                                                                    <p:ajaxStatus >
                                                                                        <f:facet name="start">
                                                                                            <p:graphicImage name="assets/img/img.GIF" />
                                                                                        </f:facet>
                                                                                    </p:ajaxStatus>
                                                                                </h:panelGrid>
                                                                                <span style="">Taxa de Entrega: R$ #{cars.empresa.valorEntrega}</span>
                                                                            </div>
                                                                        </h:panelGroup>
                                                                        <h:panelGroup id="endereco" rendered="#{cars.retirada}">
                                                                            <div >
                                                                                <span class="span">O Endereço de retirada é: (Veja no Maps)</span>
                                                                                <a href="http://maps.google.com/?q=#{buscaMB.retornaEndereco(cars.empresa)}" target="_blank" style="color: #428bca;">
                                                                                    <span id="endereco" title="Ver no Google Maps">#{buscaMB.retornaEndereco(cars.empresa)}</span>
                                                                                </a>
                                                                            </div>
                                                                        </h:panelGroup>
                                                                    </div> 
                                                                </h:panelGroup>
                                                                <hr class="visible-xs visible-sm"/>
                                                            </div>
                                                            <div id="total-geral" class="col-xs-12 col-sm-6 col-lg-5">
                                                                <h:panelGrid id="grpTotais" columns="2"  styleClass="totais">
                                                                    <span class="lbl">Sub total desta loja:</span>
                                                                    &nbsp;
                                                                    <ux:outputMoney value="#{carrinhoMB.subTotal(cars.carrinhos)}" />

                                                                    <span class="lbl">Frete:</span>
                                                                    &nbsp;
                                                                    <ux:outputMoney value="#{cars.empresa.segmento.equals('Delivery') and cars.retirada != true ? cars.empresa.valorEntrega : carrinhoMB.freteSelecionado.valor}" />      

                                                                    <span class="lbl-total">Total desta loja:</span>
                                                                    &nbsp;

                                                                    <ux:outputMoney id="vlrFinal" styleClass="lbl-total" value="#{carrinhoMB.totalFinal(cars.carrinhos)}" />
                                                                </h:panelGrid>
                                                                <br/>
                                                                <script>
                                                                    function validando(){
                                                                        alert(document.getElementById('rptt:#{iin.index}:frmCompra:cepto').value);
                                                                        if(document.getElementById('rptt:#{iin.index}:frmCompra:cepto').value == '_____-___'){
                                                                            alert("O Cep é obrigatório!");
                                                                        }else{
                                                                            location.href = 'compra';
                                                                        }
                                                                        //                                       
                                                                    }
                                                                </script>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12 col-sm-6 col-lg-6">
                                                                <p:commandButton value="Escolher mais produtos" update="@form" icon="add-cesta-azul"
                                                                                 action="#{carrinhoMB.redirecionar('promocoes')}"
                                                                                 styleClass="hidden-xs btn btn-grande btn-shadow btn-link"  
                                                                                 style="text-shadow: none !important;" immediate="true"/>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-6 col-lg-6 botoes">
                                                                <p:commandButton value="Confirmar e Pagar" update="@form" icon="pagar"
                                                                                 action="#{carrinhoMB.carregarItensComprar(inn.index)}" styleClass="btn btn-grande verde btn-shadow"  
                                                                                 style="text-shadow: none !important;"/>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </h:form>
                                            </fieldset>
                                        </h:panelGroup>
                                    </ui:repeat>
                                </div>
                                <div class="row">
                                    <div id="selos-pagamento">
                                        <div class="row">
                                            <div class="col-xs-4 col-md-4 col-lg-4">
                                                <img src="resources/assets/img/Selos/SSL.png" alt="Certificado SSL - Segurança em Dados" 
                                                     title="Secure Socket Layer (SSL) é um padrão global em tecnologia de segurança. Seus dados são cripgrafados e protegidos contra roubo de informações." class="img-responsive" />
                                            </div>
                                            <div class="col-xs-4 col-md-4">
                                                <img src="resources/assets/img/Selos/moip.png" alt="MOIP Pagamentos S/A" 
                                                     title="O Moip é uma das primeiras soluções de pagamentos do Brasil a conseguir a certificação máxima do PCI – DSS." class="img-responsive"/>
                                            </div>                                    
                                            <div class="col-xs-4 col-md-4">
                                                <img src="resources/assets/img/Selos/site_blindado.png" alt="Aumento o seu número de vendas." 
                                                     title="Todos os dados do site e da empresa identificados foram verificados pela Site Blindado S/A." class="img-responsive" />
                                            </div>                                
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div id="outros" class="hidden-xs col-sm-12 col-lg-3 sem-margem">
                                <p:panel>
                                    <div class="row">
                                        <div id="veja-tambem" class="col-xs-12">
                                            <div class="col-md-12 text-center">
                                                <h5>Talvez você goste disso...</h5>
                                                <br/>
                                            </div>

                                            <ui:repeat value="#{carrinhoMB.produtosVejaTambem}" var="prod" >
                                                <div id="item" class="col-sm-6 col-lg-12">
                                                    <div id="imagem">
                                                        <a href="#{facesContext.externalContext.request.contextPath}/#{buscaMB.retornaSlug(prod.idEmpresa.idCidade.nome)}/produto/#{prod.slug != null ? prod.slug : 'sem_slug'}">
                                                            <img src="#{facesContext.externalContext.request.contextPath}#{buscaMB.verificarImagem(prod.idProduto, prod.fotoPrincipal)}" id="#{prod.idProduto}"  class="img-responsive" />
                                                        </a>
                                                    </div>
                                                    <div id="conteudo">
                                                        <a href="#{facesContext.externalContext.request.contextPath}/#{buscaMB.retornaSlug(prod.idEmpresa.idCidade.nome)}/produto/#{prod.slug != null ? prod.slug : 'sem_slug'}" title="#{prod.nome}">
                                                            <h3>#{prod.nome.length() >= 34 ? prod.nome.substring(0, 33) : prod.nome} #{prod.nome.length() >= 33 ? "..." : ""}</h3>
                                                        </a>                                                    
                                                        <a href="#{facesContext.externalContext.request.contextPath}/empresa/#{prod.idEmpresa.slug}" title="#{prod.idEmpresa.nome}">
                                                            <h4>#{prod.idEmpresa.nome}</h4>
                                                        </a>
                                                        <h:outputText value="#{prod.comentarioList.size()} comentários" styleClass="font-size-10"/>
                                                        <hr/>
                                                        <ux:outputMoney styleClass="preco" value="#{prod.preco}" />
                                                    </div>   
                                                </div>
                                            </ui:repeat>
                                        </div>

                                    </div>
                                </p:panel>
                            </div>


                        </div>
                    </p:panel>
                </div>
            </div>
        </ui:define>
    </ui:composition>


</html>

