<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ux="http://java.sun.com/jsf/composite/ux">
    <ui:composition template="WEB-INF/newTemplate.xhtml">
        <ui:define name="content">
            <f:metadata>
                <f:event type="preRenderView" listener="#{carrinhoMB.carregarUsuario(controleSessaoMB.usuarioLogado)}"/>  
            </f:metadata>
            <div class="container">
                <div id="confirmacao-pagamento" class="col-md-12">
                    <h:panelGroup rendered="#{carrinhoMB.itensDoCarrinhoPorEmpresa.size() == 0}">
                        <div class="col-lg-12 caixa">
                            <div id="qtdResultados" >
                                <center style="padding-top: 25px;">
                                    <h:outputText value="Você não possui nenhum item adicionado à seu carrinho!"/>
                                </center>
                            </div>
                        </div>
                    </h:panelGroup>
                    <p:panel rendered="#{carrinhoMB.itensDoCarrinhoPorEmpresa.size() != 0}" styleClass="fundo" >
                        <div id="topo" class="row">
                            <div class="col-md-12 sem-margem">
                                <div class="col-md-2 sem-margem-direita">
                                    <h3>Você esta:</h3>
                                </div>
                                <div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1">
                                    <ol class="indicador">
                                        <li class="completo">
                                            <div id="passo">
                                                <h:graphicImage value="/resources/assets/img/carrinho/concluidas/carrinho.png"  />
                                            </div>
                                            <span class="">Confirmação e entrega</span>
                                        </li>
                                        <li>
                                            <div class="conector azul-claro"></div>
                                        </li>

                                        <li class="atual">
                                            <div id="passo">
                                                <h:graphicImage value="/resources/assets/img/carrinho/ativadas/pagamento.png"  />
                                            </div>
                                            <span class="">Identificação e pagamento</span>
                                            <span class="empresa">#{carrinhoMB.itemComprando.empresa.nome}</span>
                                        </li>
                                        <li>
                                            <div class="conector"></div>
                                        </li>
                                        <li class="incompleto">
                                            <div id="passo">
                                                <h:graphicImage value="/resources/assets/img/carrinho/desativadas/concluido.png"  />
                                            </div>
                                            <span class="">Obrigado!</span>
                                        </li>

                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div id="principal" class="row">
                            <div id="detalhamento" class="col-xs-12 sem-margem" >
                                <div class="row">
                                    <div class="col-md-12 sem-margem">
                                        <h:form id="frmCompra" >
                                            <div id="compra">
                                                <p:focus context="frmCompra" />
                                                <h:panelGroup >
                                                    <div class="col-lg-6 sem-margem-esquerda info" >
                                                        <p:panel>
                                                            <div class="row">
                                                                <div id="info" class="col-md-12 sem-margem-esquerda info">
                                                                    <h:panelGroup rendered="#{usuarioMB.inserindo and controleSessaoMB.usuarioLogado.idCliente.idCliente == null}">
                                                                        <h3>Login</h3>
                                                                        <span class="span">Ao fazer login, você está concordando com nossos <a href="#{facesContext.externalContext.request.contextPath}/Termos" title="Termos de Uso - noGlobo.com" target="_blank">Termos de Uso.</a> </span>
                                                                        <span class="span">Todas as informações são armazenadas em ambiente seguro e criptogrado. </span>
                                                                        <hr class="margin-top-bottom-10"/>
                                                                    </h:panelGroup>
                                                                    <h:panelGroup rendered="#{!usuarioMB.inserindo}">
                                                                        <h3>Cadastro</h3>
                                                                        <span class="span">Ao se cadastrar, você está concordando com nossos <a href="#{facesContext.externalContext.request.contextPath}/Termos" title="Termos de Uso - noGlobo.com" target="_blank">Termos de Uso.</a> </span>
                                                                        <span class="span">Não se preocupe. Não iremos enviar span! <a href="#{facesContext.externalContext.request.contextPath}/Privacidade" title="Política de Privacidade" target="_blank">Política de Privacidade.</a></span>
                                                                        <hr class="margin-top-bottom-10"/>
                                                                    </h:panelGroup>

                                                                </div>
                                                                <div class="col-xs-12 col-md-12 sem-padding">
                                                                    <p:messages id="msg" closable="true" autoUpdate="true" />
                                                                </div>
                                                                <h:panelGroup rendered="#{usuarioMB.inserindo and controleSessaoMB.usuarioLogado.idCliente.idCliente == null}">
                                                                    <div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1 sem-padding">
                                                                        <div style="padding: 20px 0 25px;">
                                                                            <center>
                                                                                <h:graphicImage name="assets/img/lupa.png" alt="noGlobo.com" title="noGlobo.com" class=""/>
                                                                            </center>
                                                                        </div>
                                                                        <p:inputText id="emailLogin" styleClass="form-control"  value="#{controleSessaoMB.usuario.email}" 
                                                                                     requiredMessage="Informe o email" placeholder="Email" required="true"/>
                                                                        <p:inputText id="senhaLogin" styleClass="form-control" type="password" value="#{controleSessaoMB.usuario.senha}"
                                                                                     requiredMessage="Informe a senha" placeholder="Senha" required="true" />

                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <center>
                                                                                    <a href="recuperar" style="color: #1289fe" class="span">Esqueceu a senha?</a>
                                                                                </center>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-12 sem-margem">
                                                                            <hr class="hr-grande"/>
                                                                        </div>
                                                                        <div class="col-xs-12 col-lg-12 sem-padding-direito padding-bottom-10">
                                                                            <p:commandButton value="Entrar" styleClass="btn btn-grande sem-borda laranja" type="submit" tabindex="3" action="#{controleSessaoMB.loginPagamento()}" ajax="false" >
                                                                                <f:param name="par" value="false" />
                                                                            </p:commandButton>
                                                                        </div>
                                                                        <div class="col-xs-12 col-lg-12 sem-padding-esquerdo padding-bottom-10">
                                                                            <div class="col-xs-12 col-lg-12 sem-padding-esquerdo padding-bottom-10 text-center">
                                                                                <p:commandLink action="#{usuarioMB.cadastrarUsuario()}" update="@form, :frmCompra:cadastro" rendered="#{usuarioMB.inserindo}" style="color: #1289fe;" tabindex="2" value="Cadastrar" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </h:panelGroup>
                                                                <h:panelGroup id="cadastro" rendered="#{!usuarioMB.inserindo}">
                                                                    <div id="cadastro">
                                                                        <div class="col-xs-12 col-md-6 sem-padding-esquerdo">
                                                                            <p:inputMask id="cpfCadastro" value="#{usuarioMB.cliente.cpfcnpj}" styleClass="form-control" mask="999.999.999-99"
                                                                                         placeholder="CPF" required="true" requiredMessage="Informe o CPF" >
                                                                            </p:inputMask>
                                                                        </div>
                                                                        <div class="col-xs-12 col-md-6 sem-padding-direito">                                                                    
                                                                            <p:inputMask id="telefoneCadastro" value="#{usuarioMB.cliente.telefone}" styleClass="form-control" placeholder="Telefone" 
                                                                                         required="true" requiredMessage="Informe o telefone" mask="(99) ?999999999"/>
                                                                        </div>
                                                                        <div class="col-xs-12 col-md-6 sem-padding-esquerdo">
                                                                            <p:inputText id="nomeCadastro" value="#{usuarioMB.cliente.primeiroNome}" styleClass="form-control" 
                                                                                         placeholder="Nome" required="true" requiredMessage="Informe o nome"  />
                                                                        </div>
                                                                        <div class="col-xs-12 col-md-6 sem-padding-direito">
                                                                            <p:inputText id="sobrenomeCadastro" value="#{usuarioMB.cliente.sobrenome}" styleClass="form-control" placeholder="Sobrenome" 
                                                                                         required="true" requiredMessage="Informe o sobrenome" />
                                                                        </div>

                                                                        <div class="col-xs-12 sem-padding">
                                                                            <p:inputText id="emailCadastro" value="#{usuarioMB.cliente.email}"  styleClass="form-control" placeholder="Email" 
                                                                                         required="true" requiredMessage="Informe o email" />
                                                                        </div>                                                                
                                                                        <div class="col-xs-12 col-md-6 sem-padding-esquerdo">
                                                                            <p:password id="senha1" value="#{usuarioMB.senha}" match="senha2" required="true" 
                                                                                        styleClass="form-control" requiredMessage="Informe a senha" validatorMessage="Senhas não conferem." placeholder="Senha" />
                                                                        </div>
                                                                        <div class="col-xs-12 col-md-6 sem-padding-direito">
                                                                            <p:password id="senha2" value="#{usuarioMB.senha}" required="true" requiredMessage="Repita a senha para continuar."
                                                                                        validatorMessage="Senhas não conferem." styleClass="form-control" placeholder="Repetir senha" />
                                                                        </div>
                                                                        <div class="col-lg-12 sem-margem padding-top-10">
                                                                            <p:outputLabel value="Endereço de entrega"/>
                                                                        </div> 
                                                                        <div class="row sem-margem">
                                                                            <div class="col-xs-12 col-md-6 sem-padding">
                                                                                <h:panelGrid columns="2" width="100%">
                                                                                    <p:inputMask id="cepCadastro" value="#{usuarioMB.cliente.cep}" styleClass="form-control" placeholder="CEP" 
                                                                                                 required="true" requiredMessage="Informe o CEP" mask="99999-999" onblur="consultaCep(this.value)"/>
                                                                                </h:panelGrid>
                                                                            </div>
                                                                            <div class="col-xs-12 col-md-6 sem-padding-direito">                                                                    
                                                                                <p:inputText id="cidadeCadastro" value="#{usuarioMB.cidade}" widgetVar="cidade"
                                                                                             styleClass="form-control" placeholder="Cidade" 
                                                                                             required="true" requiredMessage="Informe o cidade" />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-12 col-md-2 sem-padding-esquerdo">
                                                                            <p:inputText id="tipo" value="#{usuarioMB.cliente.tipoLogradouro}" styleClass="form-control" placeholder="Rua.." >
                                                                            </p:inputText> 
                                                                        </div>
                                                                        <div class="col-xs-12 col-md-8 sem-padding-esquerdo">                                                                    
                                                                            <p:inputText id="logradouroCadastro" value="#{usuarioMB.cliente.logradouro}" widgetVar="logradouro"
                                                                                         styleClass="form-control" placeholder="Logradouro" 
                                                                                         required="true" requiredMessage="Informe o logradouro" />
                                                                        </div>
                                                                        <div class="col-xs-12 col-md-2 sem-padding-direito">                                                                    
                                                                            <p:inputText id="numeroCadastro" value="#{usuarioMB.cliente.numero}" widgetVar="numero"
                                                                                         styleClass="form-control" placeholder="numero" 
                                                                                         required="true" requiredMessage="Informe o numero" />
                                                                        </div>
                                                                        <div class="col-xs-12 col-md-6 sem-padding-esquerdo">                                                                    
                                                                            <p:inputText id="bairroCadastro" value="#{usuarioMB.cliente.bairro}" widgetVar="bairro"
                                                                                         styleClass="form-control" placeholder="Bairro" 
                                                                                         required="true" requiredMessage="Informe o bairro" />
                                                                        </div>
                                                                        <div class="col-xs-12 col-md-6 sem-padding-esquerdo">                                                                    
                                                                            <p:inputText id="complementoCadastro" value="#{usuarioMB.cliente.complemento}" widgetVar="complemento"
                                                                                         styleClass="form-control" placeholder="Complemento" />
                                                                        </div>

                                                                    </div>
                                                                    <h:panelGroup rendered="#{controleSessaoMB.usuarioLogado.idCliente.idCliente == null}">
                                                                        <p class="aviso"> Ao cadastrar-me, declaro que sou maior de idade e aceito a 
                                                                            <a target="_blank" href="#" title="Política de Privacidade">
                                                                                Política de privacidade
                                                                            </a> e os 
                                                                            <a target="_blank" href="#" title="Termos e Condições">
                                                                                Termos e condições
                                                                            </a>do noGlobo.com.
                                                                        </p>
                                                                    </h:panelGroup>
                                                                    <div class="col-xs-12 sem-margem">
                                                                        <hr class="hr-grande"/>
                                                                    </div>
                                                                    <p:commandButton action="#{usuarioMB.cadastrarUsuario()}" update="@form, :frmCompra:msg" disabled="#{!usuarioMB.salvar}" rendered="#{!usuarioMB.inserindo}"
                                                                                     value="Salvar meus dados" styleClass="btn btn-grande sem-borda laranja " >
                                                                        <f:param name="par" value="true" />
                                                                    </p:commandButton>
                                                                </h:panelGroup>
                                                                <h:panelGroup rendered="#{controleSessaoMB.usuarioLogado.idCliente.idCliente != null}">
                                                                    <h:panelGroup >
                                                                        <h3>Confirmação dos dados cadastrados</h3>
                                                                        <span class="span">Ao atualizar estes dados, você está concordando com nossos <a href="#{facesContext.externalContext.request.contextPath}/Termos" title="Termos de Uso - noGlobo.com" target="_blank">Termos de Uso.</a> </span>
                                                                        <span class="span">Não se preocupe. Não iremos enviar span! <a href="#{facesContext.externalContext.request.contextPath}/Privacidade" title="Política de Privacidade" target="_blank">Política de Privacidade.</a></span>
                                                                        <hr class="margin-top-bottom-10"/>
                                                                    </h:panelGroup>
                                                                    <div id="confirmacao">

                                                                        <div class="col-xs-12 col-md-12 sem-padding">
                                                                            <p:inputMask id="cpf" value="#{controleSessaoMB.usuarioLogado.idCliente.cpfcnpj}" styleClass="form-control" mask="999.999.999-99"
                                                                                         placeholder="CPF" required="true" requiredMessage="Informe o CPF"  />
                                                                        </div>
                                                                        <div class="col-xs-12 col-md-6 sem-padding-esquerdo">
                                                                            <p:inputText id="nome" value="#{controleSessaoMB.usuarioLogado.idCliente.primeiroNome}" styleClass="form-control" 
                                                                                         placeholder="Nome" autocomplete="false" required="true" requiredMessage="Informe o nome"  />
                                                                        </div>
                                                                        <div class="col-xs-12 col-md-6 sem-padding-direito">
                                                                            <p:inputText id="sobrenome" value="#{controleSessaoMB.usuarioLogado.idCliente.sobrenome}" styleClass="form-control" placeholder="Sobrenome" 
                                                                                         required="true" autocomplete="false" requiredMessage="Informe o sobrenome" />
                                                                        </div>

                                                                        <div class="col-xs-12 sem-padding">
                                                                            <p:inputText id="email" value="#{controleSessaoMB.usuarioLogado.idCliente.email}"  styleClass="form-control" placeholder="Email" 
                                                                                         required="true" requiredMessage="Informe o email" />
                                                                        </div>                                                                
                                                                        <div class="col-lg-12 sem-margem padding-top-10">
                                                                            <p:outputLabel value="Endereço de entrega"/>
                                                                        </div>                                                                    
                                                                        <div class="col-xs-12 col-md-6 sem-padding-esquerdo">
                                                                            <p:inputMask id="cep" value="#{controleSessaoMB.usuarioLogado.idCliente.cep}" styleClass="form-control" placeholder="CEP" 
                                                                                         required="true" requiredMessage="Informe o CEP" mask="99999-999" />
                                                                        </div>
                                                                        <div class="col-xs-12 col-md-6 sem-padding-direito">                                                                    
                                                                            <p:inputMask id="telefone" value="#{controleSessaoMB.usuarioLogado.idCliente.telefone}" styleClass="form-control" placeholder="Telefone" 
                                                                                         required="true" requiredMessage="Informe o telefone" mask="(99) ?999999999"/>
                                                                        </div>
                                                                        <div class="col-xs-12 col-md-3 sem-padding-esquerdo">
                                                                            <p:inputText id="tipoLogradouro" value="#{controleSessaoMB.usuarioLogado.idCliente.tipoLogradouro}" styleClass="form-control" placeholder="Rua.." >
                                                                            </p:inputText> 
                                                                        </div>
                                                                        <div class="col-xs-12 col-md-7 sem-padding-esquerdo">                                                                    
                                                                            <p:inputText id="logradouro" value="#{controleSessaoMB.usuarioLogado.idCliente.logradouro}" styleClass="form-control" placeholder="Logradouro" 
                                                                                         required="true" requiredMessage="Informe o logradouro" />
                                                                        </div>
                                                                        <div class="col-xs-12 col-md-2 sem-padding-direito">                                                                    
                                                                            <p:inputText id="numero" value="#{controleSessaoMB.usuarioLogado.idCliente.numero}" styleClass="form-control" placeholder="numero" 
                                                                                         required="true" requiredMessage="Informe o numero" />
                                                                        </div>
                                                                        <div class="col-xs-12 col-md-6 sem-padding-esquerdo">                                                                    
                                                                            <p:inputText id="complemento" value="#{controleSessaoMB.usuarioLogado.idCliente.complemento}" styleClass="form-control" placeholder="Complemento" />
                                                                        </div>
                                                                        <div class="col-xs-12 col-md-6 sem-padding-direito">                                                                    
                                                                            <p:inputText id="cidade" value="#{controleSessaoMB.usuarioLogado.idCliente.idCidade.nome}" styleClass="form-control" placeholder="Cidade" 
                                                                                         required="true" requiredMessage="Informe o cidade" />
                                                                        </div>
                                                                    </div>
                                                                    <h:panelGroup rendered="#{controleSessaoMB.usuarioLogado.idCliente.idCliente != null}">
                                                                        <p class="aviso"> Ao atualizar ou utilizar estes dados, declaro que sou maior de idade e aceito a 
                                                                            <a target="_blank" href="#{facesContext.externalContext.request.contextPath}/Privacidade" title="Política de Privacidade">
                                                                                Política de privacidade
                                                                            </a> e os 
                                                                            <a target="_blank" href="#{facesContext.externalContext.request.contextPath}/Termos" title="Termos de Uso">
                                                                                Termos de Uso
                                                                            </a>do noGlobo.com.
                                                                        </p>
                                                                    </h:panelGroup>
                                                                </h:panelGroup>
                                                            </div>
                                                        </p:panel>
                                                    </div>

                                                    <div id="resumo-pagamento" class="col-lg-6 sem-margem">
                                                        <p:panel>
                                                            <div class="row">
                                                                <div id="info" class="col-md-12 sem-margem info">
                                                                    <h3>Você está pagando: </h3>
                                                                    <h4>#{carrinhoMB.itemComprando.empresa.nome}</h4>
                                                                    <span class="span">CNPJ: #{carrinhoMB.itemComprando.empresa.cnpj} - IE: #{carrinhoMB.itemComprando.empresa.ie == '' ? 'ISENTO' : carrinhoMB.itemComprando.empresa.ie}</span>
                                                                    <span class="span">#{buscaMB.retornaEndereco(carrinhoMB.itemComprando.empresa)}</span>
                                                                    <span class="span">#{carrinhoMB.itemComprando.empresa.telefone} - #{carrinhoMB.itemComprando.empresa.email}</span>
                                                                    <hr class="margin-top-bottom-10"/>
                                                                </div>
                                                                <div class="col-md-12 sem-margem">
                                                                    <p:dataTable id="tblCarrinho" value="#{carrinhoMB.itemComprando.carrinhos}" var="car" 
                                                                                 styleClass="tabela-compra" >
                                                                        <p:column style="padding-left: 0 !important">
                                                                            <a href="#{facesContext.externalContext.request.contextPath}/#{buscaMB.retornaSlug(car.produto.idEmpresa.idCidade.nome)}/produto/#{car.produto.slug != null ? car.produto.slug : 'sem_slug'}">
                                                                                #{car.produto.nome}
                                                                            </a>
                                                                            <span class="span">Quantidade: #{car.quantidade}</span>
                                                                        </p:column>
                                                                        <p:column width="30%" headerText="Total" style="padding-right: 0 !important" styleClass="text-right">
                                                                            <ux:outputMoney value="#{car.produto.preco.multiply(car.quantidade)}" styleClass="fonte-vermelho"/>
                                                                        </p:column>
                                                                    </p:dataTable>
                                                                    <div class="col-lg-12 sem-margem" >
                                                                        <h:panelGroup id="grpTotais">
                                                                            <h:panelGrid columns="2" style="width: 100%;" styleClass="totais">
                                                                                <h:panelGrid columns="1" style="width: 100%;" styleClass="labels">
                                                                                    <span>Total: </span>
                                                                                    <span>Frete (#{buscaMB.verificaTipoFrete(carrinhoMB.freteSelecionado.codigo)} - #{carrinhoMB.freteSelecionado.prazoEntrega > 1 ? carrinhoMB.freteSelecionado.prazoEntrega.concat(' dias úteis') : carrinhoMB.freteSelecionado.prazoEntrega.concat(' dia útil')}): </span>
                                                                                    <span style="font-weight: 700;">Total: </span>
                                                                                </h:panelGrid>
                                                                                <h:panelGrid  columns="1" style="width: 100%;" styleClass="valores text-right">
                                                                                    <ux:outputMoney value="#{carrinhoMB.subTotal(carrinhoMB.itemComprando.carrinhos)}" />
                                                                                    <h:outputText value="R$ #{carrinhoMB.freteSelecionado.valor}" styleClass="fonte-verde">
                                                                                        <f:convertNumber type="currency"/>
                                                                                    </h:outputText>
                                                                                    <ux:outputMoney id="vlrFinal" styleClass="fonte-vermelho" value="#{carrinhoMB.totalFinal(carrinhoMB.itemComprando.carrinhos)}" style="font-weight: 700;"/>
                                                                                </h:panelGrid>
                                                                            </h:panelGrid>
                                                                        </h:panelGroup>
                                                                    </div>
                                                                    <div class="col-xs-12 sem-margem">
                                                                        <hr class="hr-grande"/>
                                                                    </div>
                                                                    <div id="botoes-pagamento" class="col-xs-12 sem-padding margin-top-10-bottom-5">
                                                                        <div class="col-xs-12 col-lg-6 sem-padding-esquerdo padding-bottom-10">  
                                                                            <p:commandButton value="Pagar com cartão" styleClass="btn btn-grande sem-borda azul" 
                                                                                             action="#{usuarioMB.verificarLogin(controleSessaoMB.usuarioLogado.idCliente)}"
                                                                                             ajax="true" update=":frmCompra:msg, :frmPagamentoCartao" icon="cartao16" oncomplete="setTimeout(function() { $('#frmCompra\\:msg').html(''); }, 10000);">
                                                                            </p:commandButton>
                                                                        </div>
                                                                        <div class="col-xs-12 col-lg-6 sem-padding-direito">
                                                                            <p:commandButton value="Pagar com Boleto" styleClass="btn btn-grande sem-borda verde" 
                                                                                             onclick="" immediate="true" icon="barcode16" action="#{carrinhoMB.pagarComBoleto(carrinhoMB.itemComprando.carrinhos, iin.index)}" update="@all">
                                                                            </p:commandButton>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </p:panel>
                                                    </div>
                                                </h:panelGroup>
                                            </div>
                                        </h:form>

                                        <div id="dlgPagamentos" class="modal fade dlg" tabindex="-1" role="dialog">
                                            <div class="modal-dialog" >
                                                <div class="modal-content"> 
                                                    <h:form id="frmPagamentoCartao" >
                                                        <div class="modal-header">
                                                            <div class="row">
                                                                <div class="col-lg-12 sem-margem">
                                                                    <div id="pagamento-cartao" onclick="girarCartao();">
                                                                        <div class="cartao">
                                                                            <div class="leiaute frente">
                                                                                <div class="row">
                                                                                    <div id="banco" class="col-lg-12">
                                                                                        <img id="bandeira" />
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div id="campos" class="col-lg-10 sem-margem">
                                                                                        <h:panelGroup id="campos">
                                                                                            <div id="numero-cartao" class="row">
                                                                                                <div class="col-lg-12">
                                                                                                    <input id="tNumeroCartao" type="text" 
                                                                                                           value="#{carrinhoMB.creditCard.number == '                   ' or carrinhoMB.creditCard.number == '' ? 'XXXX XXXX XXXX XXXX' : carrinhoMB.creditCard.number}" readonly="true"></input>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div id="datas" class="row">
                                                                                                <div class="col-lg-4">
                                                                                                    <span>Válido até</span>
                                                                                                    <h:panelGrid columns="3">
                                                                                                        <h:panelGrid columns="1" >
                                                                                                            <input id="tMes" type="text" style="width: 20px;" value="#{carrinhoMB.creditCard.expirationMonth == '  ' or carrinhoMB.creditCard.expirationMonth == '' ? 'XX' : carrinhoMB.creditCard.expirationMonth}" readonly="true"></input>
                                                                                                        </h:panelGrid>
                                                                                                        <h:panelGrid columns="1">
                                                                                                            /    
                                                                                                        </h:panelGrid>
                                                                                                        <h:panelGrid columns="1">
                                                                                                            <input id="tAno" type="text" style="width: 40px;" value="#{carrinhoMB.creditCard.expirationYear == '    '  or carrinhoMB.creditCard.expirationYear == '' ? 'XXXX' : carrinhoMB.creditCard.expirationYear}" readonly="true"></input>
                                                                                                        </h:panelGrid>                                                                                                            
                                                                                                    </h:panelGrid>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div id="nome" class="row">
                                                                                                <div class="col-lg-12">
                                                                                                    <input id="tTitular" type="text" value="#{carrinhoMB.creditCard.fullname == '' ? 'TITULAR DO CARTÃO' : carrinhoMB.creditCard.fullname}" readonly="true"></input>
                                                                                                </div>
                                                                                            </div>
                                                                                        </h:panelGroup>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="leiaute verso">
                                                                                <div class="margin-top-10">
                                                                                    <div class="row">
                                                                                        <div class="col-lg-12 tarja"></div>
                                                                                    </div>                                            
                                                                                    <div class="row">
                                                                                        <h:panelGroup id="cvv">
                                                                                            <div class="col-lg-12 ccv">
                                                                                                <input id="tCVV" type="text" value="#{carrinhoMB.creditCard.cvc == null or carrinhoMB.creditCard.cvc == '' ? 'XXX' : carrinhoMB.creditCard.cvc}"
                                                                                                       readonly="true" class="text-right"></input>
                                                                                            </div>
                                                                                        </h:panelGroup>
                                                                                    </div>
                                                                                </div>
                                                                            </div>                                        
                                                                        </div>
                                                                    </div>  
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row">
                                                                <div class="col-lg-12 sem-margem">
                                                                    <p:panel id="camposInput" styleClass="reset-panel">
                                                                        <div class="row inputs">
                                                                            <div class="col-lg-12">
                                                                                <p:messages id="msg" autoUpdate="true" closable="true"/>
                                                                            </div>
                                                                            <div class="col-lg-12">
                                                                                <p:outputLabel value="Pagamento" /><br/>
                                                                                <p:selectOneMenu value="#{carrinhoMB.numeroParcelas}" styleClass="one-menu" appendTo="@this"> 
                                                                                    <f:selectItems value="#{carrinhoMB.listarParcelas()}" var="par"
                                                                                                   itemLabel="#{par} X #{sessaoMB.formatarMoedaView(carrinhoMB.totalFinal(carrinhoMB.itemComprando.carrinhos) / (par))} #{par > 1 ? '+ 2,99% am' : ''} " itemValue="#{par}" />
                                                                                </p:selectOneMenu>
                                                                            </div>
                                                                            <div class="col-lg-12">
                                                                                <p:outputLabel id="lNumeroCartao" for="iNumeroCartao" value="Número do cartão" />
                                                                                <p:inputMask id="iNumeroCartao" mask="9999 9999 9999 9999" value="#{carrinhoMB.creditCard.number}" slotChar=" " styleClass="form-control" 
                                                                                             onfocus="destacar(this.id);"
                                                                                             onkeyup="mudarBandeira('', this.value)" onblur="if(verificarBandeira(trim(this.value)) != '') {PF('bandeira').selectValue(verificarBandeira(trim(this.value)))} else {PF('bandeira').selectValue('selecione')}">                                                                                    
                                                                                    <p:ajax update="campos" event="keyup"/>
                                                                                </p:inputMask>
                                                                            </div>
                                                                            <div class="col-lg-12">
                                                                                <p:outputLabel id="lTitular" for="iTitular" value="Nome impresso no cartão"/>
                                                                                <p:inputText id="iTitular" styleClass="form-control" value="#{carrinhoMB.creditCard.fullname}" onfocus="destacar(this.id);">
                                                                                    <p:ajax update="campos" event="keyup"/>
                                                                                </p:inputText>
                                                                            </div>

                                                                            <div class="col-xs-6 col-lg-9">
                                                                                <div class="col-lg-6 sem-margem-esquerda">
                                                                                    <p:outputLabel id="lBandeira" for="iBandeira" value="Bandeira"/>
                                                                                    <p:selectOneMenu id="iBandeira" value="#{carrinhoMB.creditCard.brand}" var="band" widgetVar="bandeira" 
                                                                                                     styleClass="one-menu" 
                                                                                                     onchange="mudarBandeira('select', this.value.toString().toLowerCase())" appendTo="@this">
                                                                                        <f:selectItem itemValue="selecione" itemLabel="Selecione" />
                                                                                        <f:selectItem itemValue="visa" itemLabel="Visa"/>
                                                                                        <f:selectItem itemValue="mastercard" itemLabel="Master Card"/>
                                                                                        <f:selectItem itemValue="amex" itemLabel="AMEX"/>
                                                                                        <f:selectItem itemValue="diners" itemLabel="Diners"/>
                                                                                        <f:selectItem itemValue="elo" itemLabel="Elo"/>
                                                                                        <f:selectItem itemValue="hipercard" itemLabel="Hipercard"/>
                                                                                    </p:selectOneMenu>
                                                                                </div>
                                                                                <div id="datas" class="col-lg-6 sem-margem">
                                                                                    <p:outputLabel id="lMes" for="iMes" value="Validade"/>
                                                                                    <h:panelGrid columns="3">
                                                                                        <p:inputMask id="iMes" mask="99" maxlength="2" styleClass="form-control pequenos" slotChar=" " value="#{carrinhoMB.creditCard.expirationMonth}" 
                                                                                                     onfocus="destacar(this.id);">
                                                                                            <p:ajax update="campos" event="keyup"/>
                                                                                        </p:inputMask>
                                                                                        &nbsp;
                                                                                        <p:inputMask id="iAno" mask="9999" maxlength="4" styleClass="form-control " slotChar=" " value="#{carrinhoMB.creditCard.expirationYear}" onfocus="destacar(this.id);">
                                                                                            <p:ajax update="campos" event="keyup"/>
                                                                                        </p:inputMask>
                                                                                    </h:panelGrid>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-6 col-lg-3">
                                                                                <p:outputLabel id="lCVV" for="iCVV" value="CVV"/>
                                                                                <p:inputText id="iCVV" styleClass="form-control" value="#{carrinhoMB.creditCard.cvc}" maxlength="4" onfocus="destacar(this.id);" onblur="destacar(this.id);">
                                                                                    <p:ajax update="cvv" event="keyup"/>
                                                                                </p:inputText> 
                                                                            </div>
                                                                        </div>
                                                                    </p:panel>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <p:blockUI block=":frmPagamentoCartao:camposInput" trigger="btnPagarCartao"/>                                                               
                                                            <p:commandButton value="Fechar" onclick="$('#dlgPagamentos').modal('hide');" immediate="true" 
                                                                             styleClass="btn btn-normal cinza-claro">
                                                            </p:commandButton>
                                                            <p:commandButton id="btnPagarCartao" styleClass="btn btn-normal azul" icon="pagar16" action="#{carrinhoMB.pagarComCartaoCredito(carrinhoMB.itemComprando.carrinhos, iin.index)}"
                                                                             value="Pagar R$ #{carrinhoMB.totalFinal(carrinhoMB.itemComprando.carrinhos)}" update=":frmPagamentoCartao:msg" />
                                                        </div>
                                                    </h:form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="selos-pagamento">
                                    <div class="row">
                                        <div class="col-xs-4 col-md-4 col-lg-4">
                                            <img src="resources/assets/img/Selos/SSL.png" alt="Certificado SSL - Segurança em Dados" 
                                                 title="Secure Socket Layer (SSL) é um padrão global em tecnologia de segurança. Seus dados são cripgrafados e protegidos contra roubo de informações." class="img-responsive" />
                                        </div>
                                        <div class="col-xs-4 col-md-4">
                                            <img src="resources/assets/img/Selos/moip.png" alt="MOIP Pagamentos S/A" 
                                                 title="O Moip é uma das primeiras soluções de pagamentos do Brasil a conseguir a certificação máxima do PCI – DSS." class="img-responsive"/>
                                        </div>                                    
                                        <div class="col-xs-4 col-md-4">
                                            <img src="resources/assets/img/Selos/site_blindado.png" alt="Aumento o seu número de vendas." 
                                                 title="Todos os dados do site e da empresa identificados foram verificados pela Site Blindado S/A." class="img-responsive" />
                                        </div>                                
                                    </div>
                                </div>

                            </div>
                        </div>
                    </p:panel>
                </div>
            </div>
        </ui:define>
    </ui:composition>
</html>

