<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ux="http://java.sun.com/jsf/composite/ux">
    <ui:composition template="WEB-INF/newTemplate.xhtml">
        <ui:define name="content">
            <f:metadata>
                <f:event type="preRenderView" listener="#{carrinhoMB.carregarUsuario(controleSessaoMB.usuarioLogado)}"/>  
            </f:metadata>
            <div class="row">
                <div class="col-lg-12"><p:messages  id="msgsss" closable="true" /></div> 
                <h:panelGroup rendered="#{carrinhoMB.itemComprando.carrinhos.size() > 0}" >
                    <h:panelGroup rendered="#{carrinhoMB.itemComprando.empresa.segmento == 'Produtos'}" >
                        <div class="col-lg-8"> 
                            <center>
                                <h2>Checkout #{carrinhoMB.itemComprando.empresa.nome} </h2>
                            </center>

                            <h:form id="frmCompra" >
                                <p:tabView  id="wizard"    >
                                    <p:tab>
                                        <f:facet name="title">
                                            <center>
                                                <i class="fa fa-shopping-cart fa-3x "></i>
                                                <br/>
                                                <strong>
                                                    <span>Confirmação</span>
                                                </strong>
                                            </center>
                                        </f:facet>
                                        <div class="row">
                                            <p:dataTable id="tblCarrinho" value="#{carrinhoMB.itemComprando.carrinhos}" var="car"  >
                                                <p:column  width="40%" style="border: none!important;">
                                                    <style>
                                                        .colone{
                                                            width: 15%;
                                                        }
                                                        .coltwo{
                                                            width: 85%;
                                                        }
                                                    </style>
                                                    <h:panelGrid columns="2" style="border: 1px solid white;" columnClasses="colone, coltwo">
                                                        <h:graphicImage value="/upload/Produto/#{car.produto.idProduto}/#{car.produto.fotoPrincipal}" width="50" height="50" />
                                                        <h:panelGrid columns="1" style="border: 1px solid white;">
                                                            <a href="" style="font-weight: bolder;">#{car.produto.nome}</a>
                                                        </h:panelGrid>
                                                        <h:commandLink value="Remover" style="color: red;" />
                                                    </h:panelGrid>
                                                </p:column>
                                                <p:column  width="10%" headerText="Quantidade" style="border: none!important;" >
                                                    <p:inputText value="#{car.quantidade}" styleClass="form-control"   style="text-align: center;" readonly="#{carrinhoMB.itemComprando.cep != null}" >
                                                        <p:ajax update="tblCarrinho" event="blur" />
                                                    </p:inputText>
                                                </p:column>
                                                <p:column width="10%" headerText="Valor Uitário" style="border: none!important;">
                                                    <ux:outputMoney value="#{car.produto.preco}" />
                                                </p:column>
                                                <p:column width="10%" headerText="Sub Total" style="border: none!important;">
                                                    <ux:outputMoney value="#{car.produto.preco.multiply(car.quantidade)}" />
                                                </p:column>
                                            </p:dataTable>
                                            <hr/>
                                            <center><h2>Simulador de Frete</h2></center>
                                            <div class="col-lg-9" >
                                                <h:panelGrid columns="1">
                                                    <p:outputLabel value="CEP" />
                                                    <p:inputMask value="#{carrinhoMB.itemComprando.cep}" mask="99999-999"  required="#{param['par']}" requiredMessage="Informe o CEP!" >
                                                        <p:ajax event="blur" listener="#{carrinhoMB.consultarFreteCarrinho2(carrinhoMB.itemComprando.carrinhos, carrinhoMB.itemComprando.cep)}" update="grpTotais,grpFretes, tblCarrinho, grpEndereco, grpPagamentos" />
                                                    </p:inputMask>
                                                </h:panelGrid>
                                                <hr/>
                                                <p:ajaxStatus >
                                                    <f:facet name="start">
                                                        <p:graphicImage name="assets/img/img.GIF" />
                                                    </f:facet>
                                                </p:ajaxStatus>
                                                <p:selectOneRadio  layout="grid" columns="1" id="grpFretes"  value="#{carrinhoMB.freteSelecionado}" 
                                                                   rendered="#{carrinhoMB.fretesDisponiveis.size()>0}" converter="Converter" label="Fretes Disponíveis" 
                                                                   required="true" requiredMessage="Selecione o tipo de frete!" >
                                                    <f:selectItems value="#{carrinhoMB.fretesDisponiveis}" var="free"
                                                                   itemLabel="#{carrinhoMB.verificaTipoFrete(free.codigo)} - #{free.valor}. Entrega em #{free.prazoEntrega} dias úteis!" itemValue="#{free}" />
                                                    <p:ajax event="change" update="grpTotais,  grpEndereco, grpPagamentos" />
                                                </p:selectOneRadio  >
                                            </div>

                                            <div class="col-lg-3" >
                                                <center><h2>Total</h2></center>
                                                <h:panelGroup id="grpTotais">
                                                    <h:panelGrid  columns="2" style="width: 100%; ">
                                                        <span><strong class="text-right">Sub-total: </strong><ux:outputMoney value="#{carrinhoMB.subTotal(carrinhoMB.itemComprando.carrinhos)}" /></span>
                                                        <span><strong class="text-right">Frete: </strong> <ux:outputMoney value="#{carrinhoMB.freteSelecionado.valor}" /></span>
                                                        <span style="font-size: 20px;" class="text-right">Total: <ux:outputMoney style="font-size: 20px;" id="vlrFinal" value="#{carrinhoMB.totalFinal(carrinhoMB.itemComprando.carrinhos)}" /></span>
                                                    </h:panelGrid>
                                                </h:panelGroup>

                                            </div>
                                        </div>
                                    </p:tab>
                                    <p:tab>
                                        <f:facet name="title">
                                            <center>
                                                <i class="fa fa-truck fa-3x"></i>
                                                <br/>
                                                <strong>
                                                    <span>Entrega</span>
                                                </strong>
                                            </center>
                                        </f:facet>
                                        <div class="row">
                                            <h:panelGroup id="grpEndereco" >
                                                <div class="col-lg-6" >
                                                    <p:outputLabel for="rua" value="Rua" />
                                                    <p:inputText value="#{carrinhoMB.enderecoEntrega.logradouro}" id="rua" readonly="true" styleClass="form-control"/>
                                                </div>
                                                <div class="col-lg-2" >
                                                    <p:outputLabel for="num" value="Nº" />
                                                    <p:inputText id="num" value="#{carrinhoMB.enderecoEntrega.numero}" required="#{param['par']}" requiredMessage="Informe o nº de entrega!" styleClass="form-control"/>
                                                </div>
                                                <div class="col-lg-4" >
                                                    <p:outputLabel for="compl" value="Complemento" />
                                                    <p:inputText id="compl" value="#{carrinhoMB.enderecoEntrega.complemento}" styleClass="form-control"/>
                                                </div>
                                                <div class="col-lg-4" >
                                                    <p:outputLabel for="bair" value="Bairro" />
                                                    <p:inputText id="bair" value="#{carrinhoMB.enderecoEntrega.bairro}" readonly="true" styleClass="form-control"/>
                                                </div>
                                                <div class="col-lg-4" >
                                                    <p:outputLabel for="cid" value="Cidade" />
                                                    <p:inputText id="cid" value="#{carrinhoMB.enderecoEntrega.cidade}" readonly="true" styleClass="form-control"/>
                                                </div>
                                                <div class="col-lg-4" >
                                                    <p:outputLabel for="est" value="Estado" />
                                                    <p:inputText id="est" value="#{carrinhoMB.enderecoEntrega.uf}" readonly="true" styleClass="form-control"/>
                                                </div>
                                                <div class="col-lg-4" >
                                                    <p:outputLabel for="cep" value="CEP" />
                                                    <p:inputText id="cep" value="#{carrinhoMB.enderecoEntrega.cep}" readonly="true" styleClass="form-control"/>
                                                </div>
                                                <div class="col-lg-12" >
                                                    <span style="color: red;">Caso seja em um endereço diferente clique na aba confirmação e atualize o CEP!</span>
                                                </div>
                                                <div class="col-lg-12" >
                                                    <hr/>
                                                </div>
                                            </h:panelGroup>
                                        </div>
                                    </p:tab>
                                    <p:tab>
                                        <f:facet name="title">
                                            <center>
                                                <i class="fa fa-credit-card fa-3x"></i>
                                                <br/>
                                                <strong>
                                                    <span>Pagamento</span>
                                                </strong>
                                            </center>
                                        </f:facet>
                                        <div class="row">
                                            <h:panelGroup rendered="#{controleSessaoMB.usuarioLogado.idCliente.idCliente != null and controleSessaoMB.usuarioLogado.idCliente.cpfcnpj != null}" >
                                                <div class="col-lg-12">
                                                    <div style="width: 100%; background: #f4f4f4; border-radius: 5px; padding: 5px;" >
                                                        <h:panelGroup id="grpPagamentos">
                                                            <h:panelGrid columns="4"  >
                                                                <h:graphicImage name="assets/img/secure.png" />
                                                                &nbsp;&nbsp;
                                                                <h:panelGrid columns="1">
                                                                    <strong>Resumo da Compra</strong><br/>
                                                                    <span>Compra #{carrinhoMB.subTotal(carrinhoMB.itemComprando.carrinhos)} + Frete (#{carrinhoMB.verificaTipoFrete(carrinhoMB.freteSelecionado.codigo)}) #{carrinhoMB.freteSelecionado.valor}</span><br/>
                                                                    <span>Total #{carrinhoMB.totalFinal(carrinhoMB.itemComprando.carrinhos)}</span>
                                                                </h:panelGrid>
                                                            </h:panelGrid>
                                                        </h:panelGroup>
                                                        <p:tabView id="tbView" >
                                                            <p:tab title="Cartão de Crédito " >
                                                                <div class="row">
                                                                    <div class="col-lg-12">
                                                                        <div class="col-lg-12">

                                                                            <p:selectOneRadio id="customRadio" value="#{carrinhoMB.creditCard.brand}" layout="custom">
                                                                                <f:selectItem itemLabel="VISA" itemValue="VISA"  />
                                                                                <f:selectItem itemLabel="MASTERCARD" itemValue="MASTERCARD" />
                                                                                <f:selectItem itemLabel="AMEX" itemValue="AMEX" />
                                                                                <f:selectItem itemLabel="DINERS" itemValue="DINERS" />
                                                                                <f:selectItem itemLabel="ELO" itemValue="ELO" />
                                                                                <f:selectItem itemLabel="HIPERCARD" itemValue="HIPERCARD" />
                                                                            </p:selectOneRadio>

                                                                            <p:radioButton id="opt1" for="customRadio"  itemIndex="0" />
                                                                            <h:graphicImage  name="assets/img/visa.png" width="50" height="50" title="VISA" />
                                                                            &nbsp;
                                                                            <p:radioButton id="opt2" for="customRadio" itemIndex="1" />
                                                                            <h:graphicImage  name="assets/img/mastercard.png" width="50" height="50" title="mastercard" />
                                                                            &nbsp;
                                                                            <p:radioButton id="opt3" for="customRadio" itemIndex="2" />
                                                                            <h:graphicImage  name="assets/img/Amex.png" width="50" height="50" title="American Express" />
                                                                            &nbsp;
                                                                            <p:radioButton id="opt4" for="customRadio" itemIndex="3" />
                                                                            <h:graphicImage  name="assets/img/diners.png" width="50" height="50" title="Dinners Club" />
                                                                            &nbsp;
                                                                            <p:radioButton id="opt5" for="customRadio" itemIndex="4" />
                                                                            <h:graphicImage  name="assets/img/elo.jpg" width="50" height="50" title="Elo" />
                                                                            &nbsp;
                                                                            <p:radioButton id="opt6" for="customRadio" itemIndex="5" />
                                                                            <h:graphicImage   name="assets/img/hipercard.png" width="50" height="50" title="Hipercard" />
                                                                        </div>
                                                                        <hr/>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <div class="col-lg-12">
                                                                            <p:outputLabel value="Nº Cartão" /><br/>
                                                                            <p:inputText styleClass="form-control" value="#{carrinhoMB.creditCard.number}"  />
                                                                        </div>
                                                                        <div class="col-lg-6">
                                                                            <p:outputLabel value="Mês Exp" /><br/>
                                                                            <p:inputText styleClass="form-control" value="#{carrinhoMB.creditCard.expirationMonth}" maxlength="2" />
                                                                        </div>
                                                                        <div class="col-lg-6">
                                                                            <p:outputLabel value="Ano Exp" /><br/>
                                                                            <p:inputText styleClass="form-control" value="#{carrinhoMB.creditCard.expirationYear}" maxlength="4" />
                                                                        </div>
                                                                        <div class="col-lg-12">
                                                                            <p:outputLabel value="Codigo de Seguranção (CSC)" /><br/>
                                                                            <p:inputText  styleClass="form-control"  value="#{carrinhoMB.creditCard.cvc}"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <div class="col-lg-12">
                                                                            <p:outputLabel value="Nome do titular (como escrito no cartão)" /><br/>
                                                                            <p:inputText styleClass="form-control"   value="#{carrinhoMB.creditCard.fullname}"/>
                                                                        </div>
                                                                        <div class="col-lg-12">
                                                                            <p:outputLabel value="Data de nascimento do titular (AAAA-MM-dd)" /><br/>
                                                                            <p:inputMask mask="9999-99-99"   styleClass="form-control" value="#{carrinhoMB.creditCard.birthdate}" />
                                                                        </div>
                                                                        <div class="col-lg-12">
                                                                            <p:outputLabel value="Número de telefone" /><br/>
                                                                            <p:inputMask styleClass="form-control"  value="#{carrinhoMB.creditCard.phone}" mask="9999999999"/>
                                                                        </div>
                                                                        <div class="col-lg-12">
                                                                            <p:outputLabel value="CPF do titular (apenas numeros)" /><br/>
                                                                            <p:inputMask mask="99999999999" styleClass="form-control" value="#{carrinhoMB.creditCard.taxDocument}"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-12">
                                                                        <p:outputLabel value="Pagamento" /><br/>
                                                                        <p:selectOneRadio value="#{carrinhoMB.numeroParcelas}" layout="grid" columns="3" >
                                                                            <f:selectItems value="#{carrinhoMB.listarParcelas()}" var="par"
                                                                                           itemLabel="#{par} X #{sessaoMB.formatarMoedaView(carrinhoMB.totalFinal(carrinhoMB.itemComprando.carrinhos) / (par))} #{par >1 ? '+ 2,99% am' : ''} " itemValue="#{par}" />
                                                                        </p:selectOneRadio>
                                                                    </div>
                                                                    <div class="col-lg-12">
                                                                        <hr/>
                                                                        <p:commandButton id="btnComprarCredito" value="Pagar com Cartão de Crédito" 
                                                                                         action="#{carrinhoMB.pagarComCartaoCredito(carrinhoMB.itemComprando.carrinhos, iin.index)}" update="@all"  >
                                                                            <f:param name="par" value="true" />
                                                                        </p:commandButton>
                                                                    </div>
                                                                    <p:blockUI block="tbView" trigger="btnComprarCredito" >
                                                                        Pagamento está sendo executado! Aguarde até o processamento.
                                                                        <br/>
                                                                        <h:graphicImage name="assets/img/img.GIF" />
                                                                    </p:blockUI>
                                                                </div>
                                                            </p:tab>
                                                            <p:tab title="Boleto" >
                                                                <div class="row">
                                                                    <div class="col-lg-12">
                                                                        <p:commandButton id="btnComprar" action="#{carrinhoMB.pagarComBoleto(carrinhoMB.itemComprando.carrinhos, iin.index)}" update="@all" value="Pàgar com Boleto"  >
                                                                            <f:param name="par" value="true" />
                                                                        </p:commandButton>
                                                                        <hr/>
                                                                    </div>
                                                                </div>
                                                                <p:blockUI block="tbView" trigger="btnComprar" >
                                                                    <h:graphicImage name="assets/img/img.GIF" />
                                                                </p:blockUI>
                                                            </p:tab>
                                                        </p:tabView>
                                                    </div>
                                                </div>
                                            </h:panelGroup>
                                            <h:panelGroup rendered="#{controleSessaoMB.usuarioLogado.idCliente.idCliente == null}" >
                                                <div class="col-lg-6">
                                                    <center><h4>Faça o login</h4></center>
                                                    <h:form   class="form-horizontal"   >
                                                        <p:inputText  styleClass="form-control"  value="#{controleSessaoMB.usuario.email}" required="#{!param['par']}" requiredMessage="Informe o email" placeholder="Email" style="margin-bottom: 15px;"/>
                                                        <p:inputText   styleClass="form-control" value="#{controleSessaoMB.usuario.senha}"  required="#{!param['par']}" requiredMessage="Informe a senha" placeholder="Senha" style="margin-bottom: 15px;"/>
                                                        <p:commandButton value="Entrar" styleClass="btn btn-success btn-block" action="#{controleSessaoMB.loginPagamento()}" ajax="false" style="margin-bottom: 15px;" >
                                                            <f:param name="par" value="false" />
                                                        </p:commandButton>
                                                        <br/>
                                                    </h:form>
                                                </div>
                                                <div class="col-lg-6">
                                                    <center><h4>Você é novo?</h4></center>
                                                    <p:messages closable="true" />
                                                    <p:inputText id="nome"  value="#{usuarioMB.cliente.primeiroNome}" styleClass="form-control" placeholder="Nome" required="#{param['par']}" requiredMessage="Informe o nome" style="margin-bottom: 15px;" />
                                                    <p:inputText id="sobrenome" value="#{usuarioMB.cliente.sobrenome}"  styleClass="form-control" placeholder="Sobrenome" required="#{param['par']}" requiredMessage="Informe o sobrenome" style="margin-bottom: 15px;"/>
                                                    <p:inputText id="email" value="#{usuarioMB.usuario.email}"  styleClass="form-control" placeholder="Email" required="#{param['par']}" requiredMessage="Informe o email" style="margin-bottom: 15px;" />
                                                    <p:inputText id="reEmail" value="#{usuarioMB.usuario.email}" styleClass="form-control" placeholder="Repetir Email" required="#{param['par']}" requiredMessage="Informe a repetição do email" style="margin-bottom: 15px;"/>
                                                    <p:inputText id="telefone" value="#{usuarioMB.cliente.telefone}" styleClass="form-control" placeholder="Telefone" required="#{param['par']}" requiredMessage="Informe o telefone" style="margin-bottom: 15px;"/>
                                                    <p:inputText id="senha" value="#{usuarioMB.usuario.senha}" styleClass="form-control" placeholder="Senha" type="password" required="#{param['par']}" requiredMessage="Informe a senha" style="margin-bottom: 15px;"/>
                                                    <style>
                                                        .p-tip-legales {
                                                            margin-top: -10px;
                                                            font-size: 11px;
                                                            margin-bottom: 10px;
                                                            font-size: 11px;
                                                            color: #999;
                                                            margin: 0;
                                                        }
                                                    </style>
                                                    <p class="p-tip-legales"> Ver o <a target="_blank" class="a-tip-legales" href="#">Sumário do contrato</a> do noGlobo.com </p>
                                                    <hr/>
                                                    <p:commandButton action="#{usuarioMB.cadastrarUsuario()}" update="@form, :msgsss" value="Cadastrar-me" >
                                                        <f:param name="par" value="true" />
                                                    </p:commandButton>
                                                    <br/>
                                                    <style>
                                                        .tycFoot {
                                                            width: 375px;
                                                            font-size: 11px;
                                                            color: #999;
                                                            line-height: 15px;
                                                            margin-top: 10px;
                                                            float: left;
                                                        }
                                                    </style>
                                                    <p class="tycFoot"> Ao cadastrar-me, declaro que sou maior de idade e aceito a 
                                                        <a target="_blank" href="#" title="Leia política de privacidade">
                                                            Política de privacidade</a> e os 
                                                        <a target="_blank" href="#" title="Leia os termos e condições">
                                                            Termos e condições do noGlobo.com</a>
                                                        e do
                                                        <a target="_blank" href="#" title="Leia os termos e condições">noGlobo.com
                                                        </a>
                                                    </p>
                                                    <br/>
                                                </div>
                                            </h:panelGroup>
                                            <h:panelGroup rendered="#{controleSessaoMB.usuarioLogado.idUsuario != null and controleSessaoMB.usuarioLogado.idCliente.cpfcnpj== null }" >
                                                <div class="col-lg-6">
                                                    <center><h4>Complete o seu cadastro!  </h4></center>
                                                    <h:form   class="form-horizontal"   >
                                                        <p:outputLabel for="cpf" value="CPF" /><br/>
                                                        <p:inputText  styleClass="form-control"  value="#{controleSessaoMB.usuarioLogado.idCliente.cpfcnpj}" id="cpf"   placeholder="Informe seu CPF para continuar comprando." />
                                                        <hr/>
                                                        <p:commandButton value="Atualizar Cadastro" styleClass="btn btn-success btn-block" action="#{controleSessaoMB.atualizarDados()}" ajax="false" style="margin-bottom: 15px;" />
                                                        <br/>
                                                    </h:form>
                                                </div>
                                            </h:panelGroup>
                                        </div>
                                    </p:tab>
                                </p:tabView>

                            </h:form>
                        </div>
                    </h:panelGroup>
                    
                                        
                    <h:panelGroup rendered="#{carrinhoMB.itemComprando.empresa.segmento == 'Delivery'}" >
                        <div class="col-lg-8"> 
                            <center>
                                <h2>Checkout #{carrinhoMB.itemComprando.empresa.nome} </h2>
                            </center>
                            <h:form id="frmCompraDelivery" >
                                <p:tabView  id="wizard"    >
                                    <p:tab>
                                        <f:facet name="title">
                                            <center>
                                                <i class="fa fa-shopping-cart fa-3x "></i>
                                                <br/>
                                                <strong>
                                                    <span>Confirmação</span>
                                                </strong>
                                            </center>
                                        </f:facet>
                                        <div class="row">
                                            <p:dataTable id="tblCarrinho" value="#{carrinhoMB.itemComprando.carrinhos}" var="car"  >
                                                <p:column  width="40%" style="border: none!important;">
                                                    <style>
                                                        .colone{
                                                            width: 15%;
                                                        }
                                                        .coltwo{
                                                            width: 85%;
                                                        }
                                                    </style>
                                                    <h:panelGrid columns="2" style="border: 1px solid white;" columnClasses="colone, coltwo">
                                                        <h:graphicImage value="/upload/Produto/#{car.produto.idProduto}/#{car.produto.fotoPrincipal}" width="50" height="50" />
                                                        <h:panelGrid columns="1" style="border: 1px solid white;">
                                                            <a href="" style="font-weight: bolder;">#{car.produto.nome}</a>
                                                        </h:panelGrid>
                                                    </h:panelGrid>
                                                </p:column>
                                                <p:column  width="10%" headerText="Quantidade" style="border: none!important;" >
                                                    <p:inputText value="#{car.quantidade}" styleClass="form-control"   style="text-align: center;" readonly="#{carrinhoMB.itemComprando.cep != null}" >
                                                        <p:ajax update="@form" event="blur" />
                                                    </p:inputText>
                                                </p:column>
                                                <p:column width="10%" headerText="Valor Uitário" style="border: none!important;">
                                                    <ux:outputMoney value="#{car.produto.preco}" />
                                                </p:column>
                                                <p:column width="10%" headerText="Sub Total" style="border: none!important;">
                                                    <ux:outputMoney value="#{car.produto.preco.multiply(car.quantidade)}" />
                                                </p:column>
                                            </p:dataTable>
                                            <hr/>
                                            <h:panelGroup rendered="#{!carrinhoMB.itemComprando.retirada}" >
                                                <center><h2>Dados da Entrega</h2></center>
                                                <div class="col-lg-9" >
                                                    <h:panelGroup id="grpEndereco" >
                                                        <div class="col-lg-6" >
                                                            <p:outputLabel for="rua" value="Rua" />
                                                            <p:inputText value="#{carrinhoMB.enderecoEntrega.logradouro}" id="rua" readonly="true" styleClass="form-control"/>
                                                        </div>
                                                        <div class="col-lg-2" >
                                                            <p:outputLabel for="num" value="Nº" />
                                                            <p:inputText id="num" value="#{carrinhoMB.enderecoEntrega.numero}" required="#{param['par']}" requiredMessage="Informe o nº de entrega!" styleClass="form-control"/>
                                                        </div>
                                                        <div class="col-lg-4" >
                                                            <p:outputLabel for="compl" value="Complemento" />
                                                            <p:inputText id="compl" value="#{carrinhoMB.enderecoEntrega.complemento}" styleClass="form-control"/>
                                                        </div>
                                                        <div class="col-lg-4" >
                                                            <p:outputLabel for="bair" value="Bairro" />
                                                            <p:inputText id="bair" value="#{carrinhoMB.enderecoEntrega.bairro}" readonly="true" styleClass="form-control"/>
                                                        </div>
                                                        <div class="col-lg-4" >
                                                            <p:outputLabel for="cid" value="Cidade" />
                                                            <p:inputText id="cid" value="#{carrinhoMB.enderecoEntrega.cidade}" readonly="true" styleClass="form-control"/>
                                                        </div>
                                                        <div class="col-lg-4" >
                                                            <p:outputLabel for="est" value="Estado" />
                                                            <p:inputText id="est" value="#{carrinhoMB.enderecoEntrega.uf}" readonly="true" styleClass="form-control"/>
                                                        </div>
                                                        <div class="col-lg-4" >
                                                            <p:outputLabel for="cep" value="CEP" />
                                                            <p:inputText id="cep" value="#{carrinhoMB.enderecoEntrega.cep}" readonly="true" styleClass="form-control"/>
                                                        </div>
                                                        <div class="col-lg-12" >
                                                            <span style="color: red;">Caso seja em um endereço diferente clique na aba confirmação e atualize o CEP!</span>
                                                        </div>
                                                        <div class="col-lg-12" >
                                                            <hr/>
                                                        </div>
                                                        <div class="col-lg-4" >
                                                            <p:outputLabel  value="Informe seu telefone" />
                                                            <p:inputText value="#{carrinhoMB.telefone}"   required="true" requiredMessage="Informe seu telefone" />
                                                        </div>
                                                    </h:panelGroup>
                                                </div>
                                            </h:panelGroup>
                                            <h:panelGroup rendered="#{carrinhoMB.itemComprando.retirada}" >
                                                <center><h2>Dados do Local de Retirada</h2></center>
                                                <div class="col-lg-8" >
                                                    <h:panelGroup id="grpEndereco2" >
                                                        <div class="col-lg-12" >
                                                            <strong>#{carrinhoMB.itemComprando.empresa.tipoLogradouro} #{carrinhoMB.itemComprando.empresa.logradouro}, #{carrinhoMB.itemComprando.empresa.numero}, #{carrinhoMB.itemComprando.empresa.bairro} - #{carrinhoMB.itemComprando.empresa.idCidade.nome} / #{carrinhoMB.itemComprando.empresa.idEstado.sigla}</strong>
                                                        </div>
                                                        <div class="col-lg-12" >
                                                            <strong>#{carrinhoMB.itemComprando.empresa.tempoEntrega}</strong>
                                                        </div>
                                                        <div class="col-lg-12" >
                                                            <hr/>
                                                        </div>
                                                        <div class="col-lg-4" >
                                                            <p:outputLabel  value="Informe seu telefone" />
                                                            <p:inputText value="#{carrinhoMB.telefone}"   required="true" requiredMessage="Informe seu telefone" />
                                                        </div>
                                                    </h:panelGroup>
                                                </div>
                                            </h:panelGroup>


                                            <div class="col-lg-4" >
                                                <center><h2>Total</h2></center>
                                                <h:panelGroup id="grpTotais">
                                                    <h:panelGrid  columns="2" style="width: 100%; ">
                                                        <span><strong class="text-right">Sub-total: </strong><ux:outputMoney value="#{carrinhoMB.subTotal(carrinhoMB.itemComprando.carrinhos)}" /></span>
                                                        <span><strong class="text-right">Custo Entrega: </strong> <ux:outputMoney value="#{carrinhoMB.itemComprando.retirada == false ? carrinhoMB.itemComprando.empresa.valorEntrega : 'R$ 0,00'} " /></span>
                                                        <span style="font-size: 20px;" class="text-right">Total: <ux:outputMoney style="font-size: 20px;" id="vlrFinal" value="#{carrinhoMB.totalFinal(carrinhoMB.itemComprando.carrinhos,carrinhoMB.itemComprando.empresa)}" /></span>
                                                    </h:panelGrid>
                                                </h:panelGroup>

                                            </div>
                                        </div>
                                    </p:tab>
                                    <p:tab>
                                        <f:facet name="title">
                                            <center>
                                                <i class="fa fa-credit-card fa-3x"></i>
                                                <br/>
                                                <strong>
                                                    <span>Pagamento</span>
                                                </strong>
                                            </center>
                                        </f:facet>
                                        <div class="row">
                                            <h:panelGroup rendered="#{controleSessaoMB.usuarioLogado.idCliente.idCliente != null and controleSessaoMB.usuarioLogado.idCliente.cpfcnpj != null}" >
                                                <div class="col-lg-12">
                                                    <div style="width: 100%; background: #f4f4f4; border-radius: 5px; padding: 5px;" >
                                                        <h:panelGroup id="grpPagamentos">
                                                            <h:panelGrid columns="4"  >
                                                                <h:graphicImage name="assets/img/secure.png" />
                                                                &nbsp;&nbsp;
                                                                <h:panelGrid columns="1">
                                                                    <strong>Resumo da Compra</strong><br/>
                                                                    <span>Compra #{carrinhoMB.subTotal(carrinhoMB.itemComprando.carrinhos)} + Frete (#{carrinhoMB.verificaTipoFrete(carrinhoMB.freteSelecionado.codigo)}) #{carrinhoMB.freteSelecionado.valor}</span><br/>
                                                                    <span>Total #{carrinhoMB.totalFinal(carrinhoMB.itemComprando.carrinhos)}</span>
                                                                </h:panelGrid>
                                                            </h:panelGrid>
                                                        </h:panelGroup>
                                                        <p:tabView id="tbView" >
                                                            <p:tab title="Cartão de Crédito " >
                                                                <div class="row">
                                                                    <div class="col-lg-12">
                                                                        <div class="col-lg-12">

                                                                            <p:selectOneRadio id="customRadio" value="#{carrinhoMB.creditCard.brand}" layout="custom">
                                                                                <f:selectItem itemLabel="VISA" itemValue="VISA"  />
                                                                                <f:selectItem itemLabel="MASTERCARD" itemValue="MASTERCARD" />
                                                                                <f:selectItem itemLabel="AMEX" itemValue="AMEX" />
                                                                                <f:selectItem itemLabel="DINERS" itemValue="DINERS" />
                                                                                <f:selectItem itemLabel="ELO" itemValue="ELO" />
                                                                                <f:selectItem itemLabel="HIPERCARD" itemValue="HIPERCARD" />
                                                                            </p:selectOneRadio>

                                                                            <p:radioButton id="opt1" for="customRadio"  itemIndex="0" />
                                                                            <h:graphicImage  name="assets/img/visa.png" width="50" height="50" title="VISA" />
                                                                            &nbsp;
                                                                            <p:radioButton id="opt2" for="customRadio" itemIndex="1" />
                                                                            <h:graphicImage  name="assets/img/mastercard.png" width="50" height="50" title="mastercard" />
                                                                            &nbsp;
                                                                            <p:radioButton id="opt3" for="customRadio" itemIndex="2" />
                                                                            <h:graphicImage  name="assets/img/Amex.png" width="50" height="50" title="American Express" />
                                                                            &nbsp;
                                                                            <p:radioButton id="opt4" for="customRadio" itemIndex="3" />
                                                                            <h:graphicImage  name="assets/img/diners.png" width="50" height="50" title="Dinners Club" />
                                                                            &nbsp;
                                                                            <p:radioButton id="opt5" for="customRadio" itemIndex="4" />
                                                                            <h:graphicImage  name="assets/img/elo.jpg" width="50" height="50" title="Elo" />
                                                                            &nbsp;
                                                                            <p:radioButton id="opt6" for="customRadio" itemIndex="5" />
                                                                            <h:graphicImage   name="assets/img/hipercard.png" width="50" height="50" title="Hipercard" />
                                                                        </div>
                                                                        <hr/>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <div class="col-lg-12">
                                                                            <p:outputLabel value="Nº Cartão" /><br/>
                                                                            <p:inputText styleClass="form-control" value="#{carrinhoMB.creditCard.number}"  />
                                                                        </div>
                                                                        <div class="col-lg-6">
                                                                            <p:outputLabel value="Mês Exp" /><br/>
                                                                            <p:inputText styleClass="form-control" value="#{carrinhoMB.creditCard.expirationMonth}" maxlength="2" />
                                                                        </div>
                                                                        <div class="col-lg-6">
                                                                            <p:outputLabel value="Ano Exp" /><br/>
                                                                            <p:inputText styleClass="form-control" value="#{carrinhoMB.creditCard.expirationYear}" maxlength="4" />
                                                                        </div>
                                                                        <div class="col-lg-12">
                                                                            <p:outputLabel value="Codigo de Seguranção (CSC)" /><br/>
                                                                            <p:inputText  styleClass="form-control"  value="#{carrinhoMB.creditCard.cvc}"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <div class="col-lg-12">
                                                                            <p:outputLabel value="Nome do titular (como escrito no cartão)" /><br/>
                                                                            <p:inputText styleClass="form-control"   value="#{carrinhoMB.creditCard.fullname}"/>
                                                                        </div>
                                                                        <div class="col-lg-12">
                                                                            <p:outputLabel value="Data de nascimento do titular (AAAA-MM-dd)" /><br/>
                                                                            <p:inputMask mask="9999-99-99"   styleClass="form-control" value="#{carrinhoMB.creditCard.birthdate}" />
                                                                        </div>
                                                                        <div class="col-lg-12">
                                                                            <p:outputLabel value="Número de telefone" /><br/>
                                                                            <p:inputText styleClass="form-control"  value="#{carrinhoMB.creditCard.phone}"/>
                                                                        </div>
                                                                        <div class="col-lg-12">
                                                                            <p:outputLabel value="CPF do titular (apenas numeros)" /><br/>
                                                                            <p:inputMask mask="99999999999" styleClass="form-control" value="#{carrinhoMB.creditCard.taxDocument}"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-12">
                                                                        <p:outputLabel value="Pagamento" /><br/>
                                                                        <p:selectOneRadio value="#{carrinhoMB.numeroParcelas}" layout="grid" columns="3" >
                                                                            <f:selectItems value="#{carrinhoMB.listarParcelas()}" var="par"
                                                                                           itemLabel="#{par} X #{sessaoMB.formatarMoedaView(carrinhoMB.totalFinal(carrinhoMB.itemComprando.carrinhos) / (par))} #{par >1 ? '+ 2,99% am' : ''} " itemValue="#{par}" />
                                                                        </p:selectOneRadio>
                                                                    </div>
                                                                    <div class="col-lg-12">
                                                                        <hr/>
                                                                        <p:commandButton id="btnComprarCredito" value="Pagar com Cartão de Crédito" action="#{carrinhoMB.pagarComCartaoCredito(carrinhoMB.itemComprando.carrinhos, iin.index)}" update="@all"  >
                                                                            <f:param name="par" value="true" />
                                                                        </p:commandButton>
                                                                        <br/>
                                                                        <h:outputText value="Após a confirmação do pagamento você receberá um código de retirada!" rendered="#{carrinhoMB.itemComprando.retirada==true}" />
                                                                    </div>
                                                                    <p:blockUI block="tbView" trigger="btnComprarCredito" >
                                                                        Pagamento está sendo executado! Aguarde até o processamento.
                                                                        <br/>
                                                                        <h:graphicImage name="assets/img/img.GIF" />
                                                                    </p:blockUI>
                                                                </div>
                                                            </p:tab>
                                                        </p:tabView>
                                                    </div>
                                                </div>
                                            </h:panelGroup>
                                            <h:panelGroup rendered="#{controleSessaoMB.usuarioLogado.idCliente.idCliente == null}" >
                                                <div class="col-lg-6">
                                                    <center><h4>Faça o login</h4></center>
                                                    <h:form   class="form-horizontal"   >
                                                        <p:inputText  styleClass="form-control"  value="#{controleSessaoMB.usuario.email}" required="#{!param['par']}" requiredMessage="Informe o email" placeholder="Email" style="margin-bottom: 15px;"/>
                                                        <p:inputText   styleClass="form-control" value="#{controleSessaoMB.usuario.senha}"  required="#{!param['par']}" requiredMessage="Informe a senha" placeholder="Senha" style="margin-bottom: 15px;"/>
                                                        <p:commandButton value="Entrar" styleClass="btn btn-success btn-block" action="#{controleSessaoMB.loginPagamento()}" ajax="false" style="margin-bottom: 15px;" >
                                                            <f:param name="par" value="false" />
                                                        </p:commandButton>
                                                        <br/>
                                                    </h:form>
                                                </div>
                                                <div class="col-lg-6">
                                                    <center><h4>Você é novo?</h4></center>
                                                    <p:messages closable="true" />
                                                    <p:inputText id="nome"  value="#{usuarioMB.cliente.primeiroNome}" styleClass="form-control" placeholder="Nome" required="#{param['par']}" requiredMessage="Informe o nome" style="margin-bottom: 15px;" />
                                                    <p:inputText id="sobrenome" value="#{usuarioMB.cliente.sobrenome}"  styleClass="form-control" placeholder="Sobrenome" required="#{param['par']}" requiredMessage="Informe o sobrenome" style="margin-bottom: 15px;"/>
                                                    <p:inputText id="email" value="#{usuarioMB.usuario.email}"  styleClass="form-control" placeholder="Email" required="#{param['par']}" requiredMessage="Informe o email" style="margin-bottom: 15px;" />
                                                    <p:inputText id="reEmail" value="#{usuarioMB.usuario.email}" styleClass="form-control" placeholder="Repetir Email" required="#{param['par']}" requiredMessage="Informe a repetição do email" style="margin-bottom: 15px;"/>
                                                    <p:inputText id="telefone" value="#{usuarioMB.cliente.telefone}" styleClass="form-control" placeholder="Telefone" required="#{param['par']}" requiredMessage="Informe o telefone" style="margin-bottom: 15px;"/>
                                                    <p:inputText id="senha" value="#{usuarioMB.usuario.senha}" styleClass="form-control" placeholder="Senha" type="password" required="#{param['par']}" requiredMessage="Informe a senha" style="margin-bottom: 15px;"/>
                                                    <style>
                                                        .p-tip-legales {
                                                            margin-top: -10px;
                                                            font-size: 11px;
                                                            margin-bottom: 10px;
                                                            font-size: 11px;
                                                            color: #999;
                                                            margin: 0;
                                                        }
                                                    </style>
                                                    <p class="p-tip-legales"> Ver o <a target="_blank" class="a-tip-legales" href="#">Sumário do contrato</a> do noGlobo.com </p>
                                                    <hr/>
                                                    <p:commandButton action="#{usuarioMB.cadastrarUsuario()}" update="@form, :msgsss" value="Cadastrar-me" >
                                                        <f:param name="par" value="true" />
                                                    </p:commandButton>
                                                    <br/>
                                                    <style>
                                                        .tycFoot {
                                                            width: 375px;
                                                            font-size: 11px;
                                                            color: #999;
                                                            line-height: 15px;
                                                            margin-top: 10px;
                                                            float: left;
                                                        }
                                                    </style>
                                                    <p class="tycFoot"> Ao cadastrar-me, declaro que sou maior de idade e aceito a 
                                                        <a target="_blank" href="#" title="Leia política de privacidade">
                                                            Política de privacidade</a> e os 
                                                        <a target="_blank" href="#" title="Leia os termos e condições">
                                                            Termos e condições do noGlobo.com</a>
                                                        e do
                                                        <a target="_blank" href="#" title="Leia os termos e condições">noGlobo.com
                                                        </a>
                                                    </p>
                                                    <br/>
                                                </div>
                                            </h:panelGroup>
                                            <h:panelGroup rendered="#{controleSessaoMB.usuarioLogado.idUsuario != null and controleSessaoMB.usuarioLogado.idCliente.cpfcnpj== null }" >
                                                <div class="col-lg-6">
                                                    <center><h4>Complete o seu cadastro!  </h4></center>
                                                    <h:form   class="form-horizontal"   >
                                                        <p:outputLabel for="cpf" value="CPF" /><br/>
                                                        <p:inputText  styleClass="form-control"  value="#{controleSessaoMB.usuarioLogado.idCliente.cpfcnpj}" id="cpf"   placeholder="Informe seu CPF para continuar comprando." />
                                                        <hr/>
                                                        <p:commandButton value="Atualizar Cadastro" styleClass="btn btn-success btn-block" action="#{controleSessaoMB.atualizarDados()}" ajax="false" style="margin-bottom: 15px;" />
                                                        <br/>
                                                    </h:form>
                                                </div>
                                            </h:panelGroup>
                                        </div>
                                    </p:tab>
                                </p:tabView>

                            </h:form>
                        </div>
                    </h:panelGroup>
                    <div class="col-lg-4">

                    </div>
                </h:panelGroup>
            </div>
            <div style="height: 100px;"></div>
        </ui:define>
    </ui:composition>
</html>

