<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ux="http://java.sun.com/jsf/composite/ux">


    <ui:composition template="WEB-INF/newTemplate.xhtml">
        <ui:define name="content">
            <f:metadata>  
                <f:event type="preRenderView" listener="#{buscaMB.empresaSelecionadaView()}"/> 
                <f:viewParam name="partela" value="#{buscaMB.empresaSelecionada.nome}" />
            </f:metadata>  

            <h:panelGroup rendered="#{buscaMB.empresaSelecionada.idEmpresa  == null ? 'false' : 'true'}"> 
                <div class="col-md-8 col-md-offset-2">
                    <div class="well">
                        <div class="row">
                            <div class="col-xs-12">
                                <center>
                                    <p:graphicImage value="/upload/Empresa/#{buscaMB.empresaSelecionada.idEmpresa}/#{buscaMB.empresaSelecionada.capa}" styleClass="img-responsive" />
                                </center>
                                <br/>
                            </div>
                            <div class="col-xs-8">
                                <h2>#{buscaMB.empresaSelecionada.nome}</h2><br/>
                                <h:panelGrid columns="2">
                                    <strong>Segmento </strong><p> #{buscaMB.empresaSelecionada.segmento}</p>
                                    <strong>Telefone </strong><p> #{buscaMB.empresaSelecionada.telefone}</p>
                                    <strong>Email </strong>  <p>#{buscaMB.empresaSelecionada.email}</p>
                                    <strong>Site </strong> <p>#{buscaMB.empresaSelecionada.site}</p>
                                    <strong>Facebook </strong> <p>#{buscaMB.empresaSelecionada.site}</p>
                                </h:panelGrid>


                            </div>

                        </div>
                    </div>
                </div>
            </h:panelGroup>

            <h:panelGroup rendered="#{buscaMB.empresaSelecionada.idEmpresa  == null ? 'true' : 'false'}">
                <div class="col-xs-12">
                    <center>
                        <h:graphicImage name="assets/img/404-Page-Not-Found.png"/>
                    </center>
                </div>
            </h:panelGroup>

        </ui:define>
    </ui:composition>


</html>

