<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ux="http://java.sun.com/jsf/composite/ux">
    <h:body>
        <ui:composition template="WEB-INF/newTemplate.xhtml">            
            <ui:define name="content">
                <div class="container">
                    <div class="col-md-12">
                        <p:panel styleClass="panel-fundo" >
                            <div class="row">
                                <div class="col-md-12 sem-margem">    
                                    <div id="login" class="col-sm-12 col-md-12 col-lg-5 sem-margem-esquerda">
                                        <p:panel>
                                            <div class="row">
                                                <h:form id="frmLogin">
                                                    <p:focus context="frmLogin"/>
                                                    <div id="info" class="col-md-12 info">
                                                        <h3>Login</h3>
                                                        <span class="span">Ao fazer login, você está concordando com nossos <a href="#{facesContext.externalContext.request.contextPath}/Termos" title="Termos de Uso - noGlobo.com" target="_blank">Termos de Uso.</a> </span>
                                                        <span class="span">Todas as informações são armazenadas em ambiente seguro e criptogrado. </span>
                                                        <hr class="margin-top-bottom-10"/>
                                                    </div>
                                                    <div id="conteudo">                                        
                                                        <div class="col-md-12">
                                                            <div style="padding: 18px 0;">
                                                                <center>
                                                                    <h:graphicImage name="assets/img/lupa.png" alt="noGlobo.com" title="noGlobo.com" class=""/>
                                                                </center>
                                                            </div>
                                                            <div class="col-xs-12 col-md-12 sem-padding">
                                                                <p:messages id="msgLogin" closable="true" autoUpdate="true" for="login"/>
                                                            </div>
                                                            <p:inputText id="emailLogin"  styleClass="form-control" value="#{controleSessaoMB.usuario.email}"
                                                                         required="true" placeholder="Email" requiredMessage="Informe o email."/>
                                                            <p:inputText id="senha" styleClass="form-control" value="#{controleSessaoMB.usuario.senha}" 
                                                                         required="true" type="password" placeholder="Senha" requiredMessage="Informe o senha." />
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <center>
                                                                        <a href="recuperar" style="color: #006dcc;" class="span">Esqueceu a senha?</a>
                                                                    </center>
                                                                </div>
                                                            </div>
                                                            <br/>
                                                            <hr class="hr-grande"/>
                                                            <p:commandButton value="Entrar" styleClass="btn btn-grande sem-bordas laranja"  
                                                                             update="msgLogin" ajax="false" action="#{controleSessaoMB.vai()}" style="margin-bottom: 15px;" />

                                                        </div>
                                                    </div>
                                                </h:form>
                                            </div>
                                        </p:panel>
                                    </div>
                                    <div id="cadastro" class="col-sm-12 col-md-12 col-lg-7 sem-margem">
                                        <p:panel id="conteudo">
                                            <div id="info" class="col-md-12 info">
                                                <h3>Cadastro</h3>
                                                <span class="span">Ao se cadastrar, você está concordando com nossos <a href="#{facesContext.externalContext.request.contextPath}/Termos" title="Termos de Uso - noGlobo.com" target="_blank">Termos de Uso.</a> </span>
                                                <span class="span">Não se preocupe. Não iremos enviar span! <a href="#{facesContext.externalContext.request.contextPath}/Privacidade" title="Política de Privacidade" target="_blank">Política de Privacidade.</a></span>

                                                <hr class="margin-top-bottom-10"/>
                                            </div>
                                            <h:form id="frmCompra">
                                                <div class="col-xs-12 col-md-12">
                                                    <p:messages id="msgCadastro" closable="true" autoUpdate="true" />
                                                </div>
                                                <div id="campos" style="padding: 50px 15px;">
                                                    <div class="col-xs-12 col-md-6 sem-padding-esquerdo">
                                                        <p:inputMask id="cpfCadastro" value="#{usuarioMB.cliente.cpfcnpj}" styleClass="form-control" mask="999.999.999-99"
                                                                     placeholder="CPF" required="true" requiredMessage="Informe o CPF" >
                                                        </p:inputMask>
                                                    </div>
                                                    <div class="col-xs-12 col-md-6 sem-padding-direito">                                                                    
                                                        <p:inputMask id="telefoneCadastro" value="#{usuarioMB.cliente.telefone}" styleClass="form-control" placeholder="Telefone" 
                                                                     required="true" requiredMessage="Informe o telefone" mask="(99) ?999999999"/>
                                                    </div>
                                                    <div class="col-xs-12 col-md-6 sem-padding-esquerdo">
                                                        <p:inputText id="nomeCadastro" value="#{usuarioMB.cliente.primeiroNome}" styleClass="form-control" 
                                                                     placeholder="Nome" required="true" requiredMessage="Informe o nome"  />
                                                    </div>
                                                    <div class="col-xs-12 col-md-6 sem-padding-direito">
                                                        <p:inputText id="sobrenomeCadastro" value="#{usuarioMB.cliente.sobrenome}" styleClass="form-control" placeholder="Sobrenome" 
                                                                     required="true" requiredMessage="Informe o sobrenome" />
                                                    </div>

                                                    <div class="col-xs-12 sem-padding">
                                                        <p:inputText id="emailCadastro" value="#{usuarioMB.cliente.email}"  styleClass="form-control" placeholder="Email" 
                                                                     required="true" requiredMessage="Informe o email" />
                                                    </div>                                                                
                                                    <div class="col-xs-12 col-md-6 sem-padding-esquerdo">
                                                        <p:password id="senha1" value="#{usuarioMB.senha}" match="senha2" required="true" 
                                                                    styleClass="form-control" requiredMessage="Informe a senha" validatorMessage="Senhas não conferem." placeholder="Senha" />
                                                    </div>
                                                    <div class="col-xs-12 col-md-6 sem-padding-direito">
                                                        <p:password id="senha2" value="#{usuarioMB.senha}" required="true" requiredMessage="Repita a senha para continuar."
                                                                    validatorMessage="Senhas não conferem." styleClass="form-control" placeholder="Repetir senha" />
                                                    </div>
                                                    <div class="col-xs-12 sem-margem padding-top-10">
                                                        <p:outputLabel value="Endereço de entrega"/>
                                                    </div> 
                                                    <div class="row sem-margem">
                                                        <div class="col-xs-12 col-md-6 sem-padding">
                                                            <h:panelGrid columns="2" width="100%">
                                                                <p:inputMask id="cepCadastro" value="#{usuarioMB.cliente.cep}" styleClass="form-control" placeholder="CEP" 
                                                                             required="true" requiredMessage="Informe o CEP" mask="99999-999" onblur="consultaCep(this.value)"/>
                                                            </h:panelGrid>
                                                        </div>
                                                        <div class="col-xs-12 col-md-6 sem-padding-direito">                                                                    
                                                            <p:inputText id="cidadeCadastro" value="#{usuarioMB.cidade}" widgetVar="cidade"
                                                                         styleClass="form-control" placeholder="Cidade" 
                                                                         required="true" requiredMessage="Informe o cidade" />
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-md-2 sem-padding-esquerdo">
                                                        <p:inputText id="tipo" value="#{usuarioMB.cliente.tipoLogradouro}" styleClass="form-control" placeholder="Rua.." >
                                                        </p:inputText> 
                                                    </div>
                                                    <div class="col-xs-12 col-md-8 sem-padding-esquerdo">                                                                    
                                                        <p:inputText id="logradouroCadastro" value="#{usuarioMB.cliente.logradouro}" widgetVar="logradouro"
                                                                     styleClass="form-control" placeholder="Logradouro" 
                                                                     required="true" requiredMessage="Informe o logradouro" />
                                                    </div>
                                                    <div class="col-xs-12 col-md-2 sem-padding-direito">                                                                    
                                                        <p:inputText id="numeroCadastro" value="#{usuarioMB.cliente.numero}" widgetVar="numero"
                                                                     styleClass="form-control" placeholder="numero" 
                                                                     required="true" requiredMessage="Informe o numero" />
                                                    </div>
                                                    <div class="col-xs-12 col-md-6 sem-padding-esquerdo">                                                                    
                                                        <p:inputText id="bairroCadastro" value="#{usuarioMB.cliente.bairro}" widgetVar="bairro"
                                                                     styleClass="form-control" placeholder="Bairro" 
                                                                     required="true" requiredMessage="Informe o bairro" />
                                                    </div>
                                                    <div class="col-xs-12 col-md-6 sem-padding-direito">                                                                    
                                                        <p:inputText id="complementoCadastro" value="#{usuarioMB.cliente.complemento}" widgetVar="complemento"
                                                                     styleClass="form-control" placeholder="Complemento" />
                                                    </div>

                                                </div>
                                                <div class="row">   
                                                    <div class="col-md-12">
                                                        <h:panelGroup rendered="#{controleSessaoMB.usuarioLogado.idCliente.idCliente == null}">
                                                            <p class="aviso" style="margin-top: 0px !important;"> Ao cadastrar-me, declaro que sou maior de idade e aceito a 
                                                                <a target="_blank" href="#{facesContext.externalContext.request.contextPath}/Privacidade" title="Política de Privacidade">
                                                                    Política de privacidade
                                                                </a> e os 
                                                                <a target="_blank" href="#{facesContext.externalContext.request.contextPath}/Termos" title="Termos de Uso">
                                                                    Termos de Uso
                                                                </a>do noGlobo.com.
                                                            </p>
                                                        </h:panelGroup>
                                                        <div class="col-md-12 sem-margem">
                                                            <hr class="hr-grande"/>
                                                        </div>
                                                        <p:commandButton action="#{usuarioMB.cadastrarUsuario()}" update=":frmCompra, :frmCompra:msgCadastro"
                                                                         value="Cadastrar" styleClass="btn btn-grande sem-borda laranja " onclick="setTimeout(function() { $('#frmCompra\\:msgCadastro').html(''); }, 5000);">
                                                            <f:param name="par" value="true" />
                                                        </p:commandButton>
                                                    </div>
                                                </div>

                                            </h:form>
                                        </p:panel>
                                    </div>

                                </div>
                            </div>
                        </p:panel>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

