<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core" lang="pt-br" id="pagina-principal"
      xmlns:ux="http://java.sun.com/jsf/composite/ux">
    <h:head>
        <meta charset="UTF-8"/>
        <title>noGlobo - Sua Busca Local</title>
        <link rel="canonical" href="http://noglobo.com/" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
        <meta name="description" content="A Sua Busca Local"/>
        <meta name="robots" content="index, follow"/>
        <meta name="keywords" content="noglobo, noglobo.com, patos de minas, sua busca local, telefone, preço, endereco, lojas, promocoes"/>        
        <meta name="author" content="UX Soluções em TI"/>
        <meta name="reply-to" content="noglobo@noglobo.com"/>

        <link href="#{facesContext.externalContext.request.contextPath}/favicon.ico" type="image/x-icon" rel="shortcut icon"/>
        <link href="#{facesContext.externalContext.request.contextPath}/favicon.ico" type="image/x-icon" rel="icon"/>

        <h:outputStylesheet name="assets/css/dataurl.css" />
        <h:outputStylesheet name="assets/bootstrap/css/bootstrap.min.css" />
        <h:outputStylesheet name="assets/css/estilo.css" />        
        <h:outputStylesheet name="assets/css/fonts.css" />
        <h:outputStylesheet name="assets/css/icones.css" />
        <script type="text/javascript" src="//kit.glyphs.co/3b7t3a.js"></script>

    </h:head>
    <h:body>  
        <f:metadata>
            <f:event type="preRenderView" listener="#{controleSessaoMB.logarUsuarioOauth()}"/>
        </f:metadata>
        <section id="topo">
            <div class="container">
                <nav id="cabecalho-home">
                    <div id="barra-navegacao-home" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div id="logo" class="col-xs-12 col-sm-6 col-md-5 col-lg-6">
                            <a href="#{facesContext.externalContext.request.contextPath}">
                                <h:graphicImage name="assets/img/logo-menor.png" alt="noGlobo.com" class="img-responsive" title="noGlobo.com" />
                            </a>
                        </div>
                        <div id="atalhos" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">     
                            <h:form id="frmGrupoo">
                                <ul>
                                    <li>                        
                                        <a title="Promoções" id="btnPromocoes" href="#{facesContext.externalContext.request.contextPath}/promocoes" class="link-atalhos">Promoções</a>
                                    </li>
                                    <li>
                                        <h:panelGroup id="grpCarrinho">
                                            <a href="#{facesContext.externalContext.request.contextPath}/carrinho" class="link-atalhos"> 
                                                <h:graphicImage name="assets/ico/ecommerce/cesta.png" /> 
                                                <span id="qtdItensCarrinho" class="badge verde" style="margin-left: -15px;">#{carrinhoMB.carrinho.size()}</span>
                                            </a>
                                        </h:panelGroup>
                                    </li>

                                    <li>
                                        <h:panelGroup rendered="#{controleSessaoMB.usuarioLogado.idUsuario==null}">
                                            <a title="Usuário" id="btnLogin" href="#{facesContext.externalContext.request.contextPath}/entrar" class="link-atalhos" style="border-right: none !important;">
                                                Entrar
                                            </a>
                                        </h:panelGroup>
                                        <h:panelGroup rendered="#{controleSessaoMB.usuarioLogado.idUsuario!=null}">
                                            <a href="#" class="dropdown dropdown-toggle link-atalhos" data-toggle="dropdown" role="button" aria-expanded="false" style="border-right: none !important;"> 
                                                <span>Olá #{controleSessaoMB.usuarioLogado.idCliente.idCliente != null ? controleSessaoMB.usuarioLogado.idCliente.primeiroNome : controleSessaoMB.usuarioLogado.idEmpresa.nome != null ? controleSessaoMB.usuarioLogado.idEmpresa.nome : controleSessaoMB.usuarioLogado.email} <strong class="caret"></strong></span>
                                            </a>
                                            <ul class="dropdown-menu dropdown-login" role="menu">
                                                <li><a href="#{facesContext.externalContext.request.contextPath}/#{controleSessaoMB.minhaConta()}">Minha Conta</a></li>
                                                <li><a href="#{facesContext.externalContext.request.contextPath}/alterarsenha">Alterar Senha</a></li>
                                                <li class="divider"></li>
                                                <li>
                                                    <h:commandLink action="#{controleSessaoMB.doLogout()}"  style="display: block;
                                                                   padding: 3px 20px;
                                                                   clear: both;
                                                                   font-weight: normal;
                                                                   line-height: 1.54;
                                                                   color: #616161;
                                                                   white-space: nowrap;">
                                                        <i class="ti ti-shift-right"></i><span>Sair</span>
                                                    </h:commandLink>
                                                </li>
                                            </ul>
                                        </h:panelGroup>
                                    </li>
                                </ul>
                            </h:form>
                        </div>
                    </div>
                </nav>
            </div>
        </section>
        <section id="conteudo-principal">
            <div class="container">
                <div id="principal" class="col-md-12">
                    <h1>Sua Busca Local de  <span id="texto-principal"></span></h1>
                </div>
                <div id="busca" class="col-md-12">
                    <h:form id="frmPesq">
                        <center>
                            <h:panelGrid columns="3" width="100%" cellpadding="0">
                                <p:selectOneMenu id="sonTipo" styleClass="tipos hidden-xs" value="#{buscaMB.tipo}">
                                    <f:selectItem itemLabel="Produtos" itemValue="produtos"/>
                                    <f:selectItem itemLabel="Serviços" itemValue="servicos"/>
                                    <f:selectItem itemLabel="Empresas" itemValue="empresas"/>
                                    <p:ajax update="frmPesq:btnBusca, frmPesq:btnBuscaEmpresa"/>
                                </p:selectOneMenu>
                                <p:autoComplete id="iptPesq" value="#{buscaMB.busca}" styleClass="busca"  minQueryLength="2" maxResults="10"
                                                completeMethod="#{buscaMB.autoCompleteBusca}" >
                                    <f:param id="q" name="q" value="#{buscaMB.busca}" />
                                    <f:param id="qO" name="queryOriginal" value="#{buscaMB.busca}" />
                                    <f:param id="pag" name="pag" value="1" />
                                    <p:ajax event="blur" update="btnBusca" listener="#{buscaMB.carregarParametro()}" />
                                    <p:ajax event="itemSelect" update="btnBusca" listener="#{buscaMB.direcionar()}" />
                                </p:autoComplete>
                                <p:commandButton id="btnBusca" icon="pesquisar" rendered="#{buscaMB.tipo == 'produtos'}"
                                                 onclick="if(f2()){location.href='#{facesContext.externalContext.request.contextPath}/@/#{buscaMB.cidade == null ? 'patos-de-minas' : buscaMB.cidade}/#{buscaMB.tipo == null ? 'produtos' : buscaMB.tipo}/#{buscaMB.parametro}'}" 
                                                 styleClass="btn btn-default" >
                                </p:commandButton>
                                <p:commandButton id="btnBuscaEmpresa" icon="pesquisar" rendered="#{buscaMB.tipo == 'empresas'}"
                                                 onclick="if(f2()){location.href='#{facesContext.externalContext.request.contextPath}/@/#{buscaMB.cidade == null ? 'patos-de-minas' : buscaMB.cidade}/#{buscaMB.parametro}'}" 
                                                 styleClass="btn btn-primary" >
                                </p:commandButton>
                            </h:panelGrid>
                            <span id="spn" style="display: none; color: red;">Hãn?</span>
                        </center>
                    </h:form>
                </div>

                <div id="links" class="col-md-12">
                    <br/>
                    <div class="col-xs-12 col-md-12">
                        <div class="col-xs-3 col-md-3">
                            <a href="#">
                                <h:graphicImage name="assets/img/foto1.gif" class="img-responsive" />
                            </a>
                        </div>
                        <div class="col-xs-3 col-md-3">
                            <a href="#">
                                <h:graphicImage name="assets/img/foto2.png" class="img-responsive"  />
                            </a>
                        </div>
                        <div class="col-xs-3 col-md-3">
                            <a href="#">
                                <h:graphicImage name="assets/img/foto3.png" class="img-responsive" />
                            </a>
                        </div>
                        <div class="col-xs-3 col-md-3">
                            <a href="#">
                                <h:graphicImage name="assets/img/foto4.jpg" class="img-responsive"  />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer id="rodape-home">
            <div class="row">
                <div id="links" class="col-xs-12 col-md-12">
                    <div class="row">
                        <div class="container">
                            <div class="col-xs-12 col-md-3">
                                <a href="QuemSomos">
                                    <h5>Quem somos</h5>
                                </a>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <a href="Privacidade">
                                    <h5>Privacidade</h5>
                                </a>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <a href="Termos">
                                    <h5>Termos de Uso</h5>
                                </a>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <a href="Contato">
                                    <h5>Contato</h5>
                                </a>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="sociais" class="col-xs-12 col-md-12">
                    <div class="row">
                        <div class="container">
                            <div id="icones" class="col-xs-12 col-md-12">
                                <p:commandLink title="Facebook" id="btnFacebook">
                                    <h:graphicImage name="assets/ico/social/facebook.png" />
                                </p:commandLink>
                                <p:commandLink title="Google+" id="btnGooglePlus">
                                    <h:graphicImage name="assets/ico/social/googleplus.png" />
                                </p:commandLink>
                                <p:commandLink title="Instagram" id="btnInstagram">
                                    <h:graphicImage name="assets/ico/social/instagram.png" />
                                </p:commandLink>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <h:outputScript name="assets/bootstrap/js/bootstrap.min.js" />
        <h:outputScript  name="assets/js/pace.min.js"/>
        <h:outputScript  name="assets/js/app.js"/>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-59256355-1', 'auto');
            ga('send', 'pageview');
        </script>
    </h:body>
</html>

