<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ux="http://java.sun.com/jsf/composite/ux">

    <ui:composition template="WEB-INF/newTemplate.xhtml">
        <ui:define name="content">
            <div id="minha-conta">
                <div class="col-lg-12 caixa">
                    <div class="container">
                        <div id="topo" class="row">
                            <div class="col-md-6">
                                <h2>Minha Conta</h2>
                                <span class="span">Seus pedidos e comentários.</span>
                            </div>
                            <div class="col-md-6 sem-margem-direita text-right">
                                <div id="breadcrump" class="col-md-12 sem-margem">
                                    <ol class="breadcrumb breadcrumb-branco">
                                        <li class="active">
                                            <a href="#{facesContext.externalContext.request.contextPath}">Início </a>
                                        </li>
                                        <li class="active">
                                            <span>Minha conta</span>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="container">
                        <div class="row">
                            <div id="principal" class="col-xs-12">
                                <div class="col-lg-10 sem-margem-esquerda" >
                                    <p:messages id="msg" closable="true" globalOnly="true" />
                                    <div class="tab-content">
                                        <div id="meus-dados" class="tab-pane fade">
                                            <h:form id="frmMeusDados">
                                                <div class="padding-bottom-10">
                                                    <h3>Meus Dados</h3>
                                                    <p>Dados apenas informativos para entrega. Não enviaremos spam!</p>
                                                    <p:messages id="msg" closable="true" globalOnly="true" />
                                                </div>
                                                <div class="col-lg-12 sem-margem">
                                                    <div class="col-lg-6 sem-margem-esquerda">
                                                        <p:outputLabel for="firstName" value="Primeiro Nome" />
                                                        <p:inputText id="firstName" value="#{controleSessaoMB.usuarioLogado.idCliente.primeiroNome}" styleClass="form-control" />
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <p:outputLabel for="secName" value="Sobrenome" />
                                                        <p:inputText id="secName" value="#{controleSessaoMB.usuarioLogado.idCliente.sobrenome}" styleClass="form-control" />
                                                    </div>
                                                    <div class="col-lg-6 col-offset-6 sem-margem-esquerda">
                                                        <p:outputLabel for="email" value="Email" />
                                                        <p:inputText id="email" value="#{controleSessaoMB.usuarioLogado.email}" styleClass="form-control" readonly="true" />
                                                    </div>

                                                    <div class="col-lg-3">
                                                        <p:outputLabel for="tel" value="Telefone" />
                                                        <p:inputMask id="tel" value="#{controleSessaoMB.usuarioLogado.idCliente.telefone}" mask="(99) ?999999999" styleClass="form-control" />
                                                    </div>
                                                    <div class="col-lg-3 sem-margem-esquerda">
                                                        <p:outputLabel for="sex" value="Sexo" />
                                                        <p:selectOneMenu id="sex" value="#{controleSessaoMB.usuarioLogado.idCliente.sexo}" styleClass="one-menu" style="width: 100% !important;">
                                                            <f:selectItem itemLabel="Masculino" itemValue="Masculino" />
                                                            <f:selectItem itemLabel="Feminino" itemValue="Feminino" />
                                                        </p:selectOneMenu>
                                                    </div>
                                                    <div class="col-lg-2 sem-margem-esquerda">
                                                        <p:outputLabel for="tipoLogradouro" value="Tipo Logradouro" />
                                                        <p:selectOneMenu value="#{controleSessaoMB.usuarioLogado.idCliente.tipoLogradouro}" styleClass="one-menu" 
                                                                         id="tipoLogradouro"  filter="true" filterMatchMode="contains" >
                                                            <f:selectItem itemLabel="" itemValue="" />
                                                            <f:selectItem itemLabel="Avenida" itemValue="Avenida" />
                                                            <f:selectItem itemLabel="Beco" itemValue="Beco" />
                                                            <f:selectItem itemLabel="Estrada" itemValue="Estrada" />
                                                            <f:selectItem itemLabel="Outros" itemValue="Outros" />
                                                            <f:selectItem itemLabel="Praça" itemValue="Praça" />
                                                            <f:selectItem itemLabel="Rua" itemValue="Rua" />
                                                            <f:selectItem itemLabel="Travessa" itemValue="Travessa" />
                                                        </p:selectOneMenu>
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <p:outputLabel for="log" value="Logradouro" />
                                                        <p:inputText id="log" value="#{controleSessaoMB.usuarioLogado.idCliente.logradouro}"  styleClass="form-control"/>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <p:outputLabel for="num" value="Nº" />
                                                        <p:inputText id="num" value="#{controleSessaoMB.usuarioLogado.idCliente.numero}" styleClass="form-control" />
                                                    </div>
                                                    <div class="col-lg-3 sem-margem-esquerda">
                                                        <p:outputLabel for="bai" value="Bairro" />
                                                        <p:inputText id="bai" value="#{controleSessaoMB.usuarioLogado.idCliente.bairro}" styleClass="form-control"/>
                                                    </div>
                                                    <div class="col-lg-4 sem-margem-esquerda">
                                                        <p:outputLabel for="compl" value="Complemento" />
                                                        <p:inputText id="compl" value="#{controleSessaoMB.usuarioLogado.idCliente.complemento}" styleClass="form-control"/>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <p:outputLabel for="cid" value="Cidade" />
                                                        <p:selectOneMenu id="cid" value="#{controleSessaoMB.usuarioLogado.idCliente.idCidade}" filter="true" filterMatchMode="contains"
                                                                         converter="Converter" styleClass="one-menu">
                                                            <f:selectItems value="#{controleSessaoMB.usuarioLogado.idCliente.idEstado.cidadeList}" var="city" 
                                                                           itemLabel="#{city.nome}" itemValue="#{city}" />
                                                        </p:selectOneMenu>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <p:outputLabel for="est" value="Estado" />
                                                        <p:selectOneMenu id="est" value="#{controleSessaoMB.usuarioLogado.idCliente.idEstado}" filter="true" 
                                                                         filterMatchMode="contains" converter="Converter"  styleClass="one-menu">
                                                            <f:selectItems value="#{estadoMB.listarEstados()}" var="uf" 
                                                                           itemLabel="#{uf.nome}" itemValue="#{uf}" />
                                                            <p:ajax event="change" update="cid" />
                                                        </p:selectOneMenu>
                                                    </div>
                                                    <div class="col-xs-12 text-right sem-margem-esquerda">
                                                        <hr class="margin-top-bottom-20"/>
                                                        <p:commandButton action="#{controleSessaoMB.atualizarDadosMinhaConta()}" update="@form" value="Atualizar Dados" 
                                                                         styleClass="btn btn-success" style="margin-right: -5px !important;"/>
                                                        <br/>
                                                    </div>
                                                </div>
                                            </h:form>
                                        </div>
                                        <div id="meus-pedidos" class="tab-pane fade in active">
                                            <div class="padding-bottom-10">
                                                <h3>Olá #{controleSessaoMB.usuarioLogado.idCliente.primeiroNome}</h3>
                                                <p>A partir deste painel você pode visualizar um instantâneo das atividades recentes da conta e atualizar suas informações pessoais.</p>
                                            </div>
                                            <div class="padding-bottom-10">
                                                <h3>Meus pedidos</h3>
                                                <p:dataTable value="#{controleSessaoMB.listarComprasUsuario()}" var="cmp" paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom" rows="5"  reflow="true" tableStyleClass="ui-table-columntoggle">
                                                    <p:column width="15%" style="width: 11px;">
                                                        <h:panelGrid columns="1" style="border: transparent !important;">
                                                            <a style="font-weight: bolder;" href="#{facesContext.externalContext.request.contextPath}/empresa/#{cmp.idProduto.idEmpresa.slug}" >#{cmp.idProduto.idEmpresa.nome}</a>
                                                            <h:outputText style="color: #999;" value="#{cmp.idProduto.idEmpresa.telefone}"  />
                                                            <h:outputText style="color: #999; font-size: 10px;" value="#{cmp.idProduto.idEmpresa.email}"  />
                                                        </h:panelGrid>
                                                    </p:column>
                                                    <p:column width="50%" style="width: 11px;">
                                                        <style>
                                                            .colone{
                                                                width: 15%;
                                                            }
                                                            .coltwo{
                                                                width: 85%;
                                                            }
                                                            .colone1{
                                                                width: 30%;
                                                            }
                                                            .coltwo2{
                                                                width: 70%;
                                                            }
                                                        </style>
                                                        <h:panelGrid columns="2" style="border: 1px solid white;" columnClasses="colone, coltwo">
                                                            <h:graphicImage value="/upload/Produto/#{cmp.idProduto.idProduto}/#{cmp.idProduto.fotoPrincipal}" width="50" height="50" />
                                                            <h:panelGrid columns="1" style="border: transparent !important;">
                                                                <a href="produto/#{cmp.idProduto.slug}" style="font-weight: bolder;">#{cmp.idProduto.nome}</a>
                                                                <h:outputText style="color: #999;" value="#{sessaoMB.formatarMoedaView(cmp.idProduto.preco)} x #{cmp.quantidade} Unidade" />
                                                            </h:panelGrid>
                                                        </h:panelGrid>
                                                    </p:column>
                                                    <p:column width="10%" style="width: 11px;">
                                                        <ux:outputDate value="#{cmp.dtCompra}" />
                                                    </p:column>
                                                    <p:column width="10%" style="width: 11px;">
                                                        <h:outputText value="#{controleSessaoMB.subString(cmp.lote)}" />
                                                    </p:column>
                                                    <p:column width="20%" style="width: 11px;">
                                                        <h:panelGrid columns="1" style="border: transparent !important;">
                                                            <h:outputText value="#{cmp.status == 'IN_ANALYSIS' ? 'Em Análise' : cmp.status}"  style="font-weight: bolder;" />
                                                            <h:outputText value="#{cmp.situacaoEntrega}"  style="font-weight: bolder;" />
                                                        </h:panelGrid>
                                                    </p:column>
                                                    <p:column style="width: 40px" styleClass="text-center" >
                                                        <p:rowToggler />
                                                    </p:column>
                                                    <p:rowExpansion>
                                                        <ux:col xs="12">
                                                            <ux:fieldset legenda="Frete / Entrega">
                                                                <ux:col xs="12" sm="6" md="4" lg="4">
                                                                    <ux:outputInfo  label="Tipo de Frete: " value="#{cmp.frete}" /><br/>
                                                                    <ux:outputInfo label="Valor do Frete: " value="#{sessaoMB.formatarMoedaView(cmp.valorFrete)}" /><br/>
                                                                    <ux:outputInfo label="Responsável: " value="#{cmp.responsavel}" /><br/>
                                                                    <ux:outputInfo label="Rastreamento: " value="#{cmp.codigoRastreamentoEntrega}" /><br/>
                                                                    <ux:outputInfo label="Situação: " value="#{cmp.situacaoEntrega}" /><br/>
                                                                </ux:col>
                                                                <ux:col xs="12" sm="6" md="6" lg="6">
                                                                    <ux:outputInfo label="Cep Entrega: " value="#{cmp.cepEntrega}" /><br/>
                                                                    <ux:outputInfo label="Endereço Entrega: " value="#{cmp.enderecoEntrega}" /><br/>
                                                                    <ux:outputInfo label="Nº Entrega: " value="#{cmp.numeroEntrega}" /><br/>
                                                                    <ux:outputInfo label="Complemento: " value="#{cmp.complementoEntrega}" /><br/>
                                                                    <ux:outputInfo label="Bairro: " value="#{cmp.bairroEntrega}" /><br/>
                                                                    <ux:outputInfo label="Cidade: " value="#{cmp.idCidadeEntrega.nome}" /><br/>
                                                                </ux:col>
                                                            </ux:fieldset>
                                                            <ux:fieldset legenda="Pagamento">
                                                                <ux:col xs="12" sm="6" md="6" lg="6">
                                                                    <ux:outputInfo label="Forma: " value="#{cmp.formaPagamento}" /><br/>
                                                                    <ux:outputInfo label="Nº Parcelas: " value="#{cmp.numParcela}X"  rendered="#{empty cmp.linkBoleto}"/><br/>
                                                                    <ux:link href="#{cmp.linkBoleto}/print" value="Imprimir Boleto" styleClass="btn btn-primary" rendered="#{not empty cmp.linkBoleto }" />
                                                                </ux:col>
                                                            </ux:fieldset>
                                                        </ux:col>
                                                    </p:rowExpansion>
                                                </p:dataTable>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 sem-margem">
                                    <h3>Menu</h3>
                                    <ul class="nav nav-pills nav-stacked nav-minha-conta">
                                        <li class="active">
                                            <a data-toggle="tab" href="#meus-pedidos">Meus pedidos</a>
                                        </li> 
                                        <li >
                                            <a data-toggle="tab" href="#meus-dados">Meus dados</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ui:define>
    </ui:composition>


</html>

