<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ux="http://java.sun.com/jsf/composite/ux">
    <h:body>
        <ui:composition template="WEB-INF/newTemplate.xhtml">
            <ui:define name="content">
                <h:form id="resultado" >
                    <section id="resultado-busca">
                        <div class="container">                           
                            <div class="row">
                                <div id="banner-topo" class="col-md-12 hidden-xs">
                                    <p:graphicImage value="/upload/Banners/banner_K12.png"  styleClass="img-responsive" />
                                    <br/>
                                </div>
                            </div>
                            <div class="row">
                                <div id="produtos" class="col-lg-10 promocao">
                                    <h:form id="frmResultados">
                                        <p:dataGrid var="prod" value="#{buscaMB.listarProdutosPromocao()}" columns="4" layout="grid" currentPageReportTemplate="Mostrando {startRecord}-{endRecord} de {totalRecords} #{buscaMB.tipo}"
                                                    rows="50" paginator="true" id="produtos" rendered="#{buscaMB.listarProdutosPromocao().size() == 0 ? 'false' : 'true'}"
                                                    paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                    rowsPerPageTemplate="50,100,200" paginatorPosition="bottom" styleClass="produtos">
                                            <div id="item">
                                                <div id="imagem-promocao">
                                                    <a href="#{facesContext.externalContext.request.contextPath}/#{prod.idEmpresa.idCidade.slug}/produto/#{prod.slug != null ? prod.slug : 'sem_slug'}">
                                                        <img src="#{facesContext.externalContext.request.contextPath}#{buscaMB.verificarImagem(prod.idProduto, prod.fotoPrincipal)}" id="#{prod.idProduto}"  class="img-responsive" />
                                                    </a>
                                                </div>
                                                <div id="conteudo">
                                                    <a href="#{facesContext.externalContext.request.contextPath}/produto/#{prod.slug != null ? prod.slug : 'sem_slug'}" title="#{prod.nome}">
                                                        <h3>#{prod.nome.length() >= 41 ? prod.nome.substring(0, 40) : prod.nome} #{prod.nome.length() >= 41 ? "..." : ""}</h3>
                                                    </a>                                                    
                                                    <a href="#{facesContext.externalContext.request.contextPath}/empresa/#{prod.idEmpresa.slug}" title="Entrar na loja #{prod.idEmpresa.nome}">
                                                        <h4>#{prod.idEmpresa.nome}</h4>
                                                    </a>
                                                    <h:outputText value="#{prod.comentarioList.size()} comentários" styleClass="font-size-10"/>
                                                    <hr/>
                                                    <ux:outputMoney styleClass="preco" value="#{prod.preco}" />
                                                </div>   
                                            </div>
                                        </p:dataGrid>
                                    </h:form>
                                    <h:outputText value="Não foi encontrado nenhum resultado para a busca #{buscaMB.busca}" rendered="#{buscaMB.produtos.size() == 0 and (param['tipo'] == 'produtos' or param['tipo'] == 'servicos')}" />
                                    <h:outputText value="Não foi encontrado nenhum resultado para a busca #{buscaMB.busca}" rendered="#{buscaMB.empresas.size() == 0 and param['tipo'] == 'empresas'}" />
                                </div>
                                <div id="banners" class="col-sm-2 col-md-2 col-lg-2 hidden-xs sem-margem">
                                    <p:graphicImage value="/upload/Banners/banner_unipam.png"  styleClass="img-responsive" />
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </section>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

