<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ux="http://java.sun.com/jsf/composite/ux">
    <h:body>
        <ui:composition template="WEB-INF/newTemplate.xhtml">
            <ui:define name="content">
                <div class="col-md-4 col-md-offset-4">
                    <h:form id="frmRec">
                        <p:messages closable="true" />
                        <h2>Recuperar Senha</h2>
                        <p:outputLabel for="email" value="Email ou nick:" />
                        <p:inputText id="email"  styleClass="form-control"  value="#{controleSessaoMB.usuario.email}" required="true" placeholder="Email" requiredMessage="Informe o email referente a conta que deseja recuperar!" />

                        <br/>
                        <br/>
                        <p:commandButton id="btnRec" value="Recuperar" styleClass="btn btn-primary"  update="@all"  action="#{controleSessaoMB.recuperarSenha()}"  />
                        <hr/>
                        <span>Você receberá uma senha provisória no email cadastrado!<br/> Atenção, após recuperar a senha altere-a.</span>
                    </h:form>
                </div>
                <p:blockUI block="frmRec" trigger=":frmRec:btnRec">
                    Aguarde enquanto sua senha é recuperada<br />
                    <p:graphicImage name="assets/img/img.GIF"/>
                </p:blockUI>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

