<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ux="http://java.sun.com/jsf/composite/ux">
    <h:body>
        <ui:composition template="WEB-INF/newTemplate.xhtml">
            <ui:define name="content">
                <section>
                    <div class="container">
                        <div id="div-teste" class="row">
                            
                        </div>
                        
                    </div>
                </section>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

