<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ux="http://java.sun.com/jsf/composite/ux">
    <ui:composition template="WEB-INF/newTemplate.xhtml">
        <ui:define name="title">#{buscaMB.produtoSelecionado.nome} - noGlobo.com</ui:define>
        <ui:define name="keywords">
            <meta name="keywords" content="#{buscaMB.produtoSelecionado.metaTag.concat(buscaMB.produtoSelecionado.idEmpresa.tagKeywords)}"/>
        </ui:define>
        <ui:define name="description">
            <meta name="description" content="#{buscaMB.produtoSelecionado.resumo}"/>
        </ui:define>
        <ui:define name="content">
            <f:metadata>  
                <f:event type="preRenderView" listener="#{buscaMB.produtoSelecionadoView()}"/>  
            </f:metadata>
            <script>
                function changePic(url){
                    document.getElementById('graphicImage').src=url;
                }
            </script>
            <section id="produto-selecionado" idp="#{buscaMB.produtoSelecionado.idProduto}">
                <div class="container">
                    <div class="row">
                        <div id="breadcrump" class="col-md-12 sem-margem">
                            <ol class="breadcrumb">
                                <li>
                                    <a href="#{facesContext.externalContext.request.contextPath}">Início </a>
                                </li>
                                <li>
                                    <a href="#{facesContext.externalContext.request.contextPath}/@/#{buscaMB.retornaSlug(buscaMB.produtoSelecionado.idEmpresa.idCidade.nome)}">#{buscaMB.produtoSelecionado.idEmpresa.idCidade.nome}</a>
                                </li>
                                <li>
                                    <a href="#{facesContext.externalContext.request.contextPath}/empresa/#{buscaMB.produtoSelecionado.idEmpresa.slug}" title="#{buscaMB.produtoSelecionado.idEmpresa.nome}">
                                        #{buscaMB.produtoSelecionado.idEmpresa.nome}
                                    </a>
                                </li>
                                <li class="active">
                                    <span>#{buscaMB.produtoSelecionado.nome}</span>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="row">
                        <div id="conteudo" class="col-xs-12 col-sm-12 col-md-12">
                            <div id="fotos" class="col-xs-12 col-md-6 sem-margem">
                                <div id="slider-fotos" class="owl-carousel owl-theme">
                                    <img id="graphicImage" 
                                         src="#{facesContext.externalContext.request.contextPath}/upload/Produto/#{buscaMB.produtoSelecionado.idProduto}/#{buscaMB.produtoSelecionado.fotoPrincipal}" 
                                         class="img-responsive imagem" data-zoom-image="#{facesContext.externalContext.request.contextPath}/upload/Produto/#{buscaMB.produtoSelecionado.idProduto}/#{buscaMB.produtoSelecionado.fotoPrincipal}"
                                         alt="#{buscaMB.produtoSelecionado.slug}"  />
                                    <ui:repeat value="#{buscaMB.produtoSelecionado.fotoList}" var="fot" >
                                        <div class="item">
                                            <img id="graphicImage"
                                                 src="#{facesContext.externalContext.request.contextPath}/upload/Produto/#{buscaMB.produtoSelecionado.idProduto}/#{fot.url}"
                                                 class="img-responsive imagem" 
                                                 data-zoom-image="#{facesContext.externalContext.request.contextPath}/upload/Produto/#{buscaMB.produtoSelecionado.idProduto}/#{fot.url}"
                                                 alt="#{buscaMB.produtoSelecionado.slug}"/>
                                        </div>
                                    </ui:repeat>
                                </div>
                            </div>
                            <div id="descricao" class="col-xs-12 col-md-6 sem-margem-direita">
                                <h1 id="nome">#{buscaMB.produtoSelecionado.nome}</h1> 
                                <span id="codigo">Cód.: #{buscaMB.retornaCodigoProduto(buscaMB.produtoSelecionado.idProduto, 6, '0')}</span>
                                <div id="texto" class="col-md-12">
                                    <p id="resumo">#{buscaMB.produtoSelecionado.resumo}</p>
                                </div>
                                <div id="precos" class="col-md-12">
                                    <h:outputText id="preco" value="#{buscaMB.produtoSelecionado.preco}">
                                        <f:convertNumber type="currency"/>
                                    </h:outputText>
                                    <span id="estoque" class="#{buscaMB.produtoSelecionado.disponibilidade == 'Indisponível' ? 'indisponivel' : 'disponivel'}">
                                        #{buscaMB.produtoSelecionado.disponibilidade == 'Disponível' ? 
                                          'Disponível em estoque.' : buscaMB.produtoSelecionado.disponibilidade == 'Sob Demanda' ?
                                          'Tempo de entrega: '.concat(buscaMB.produtoSelecionado.idEmpresa.tempoEntrega) :
                                          buscaMB.produtoSelecionado.disponibilidade}
                                    </span>
                                </div>
                                <div id="pagamentos" class="col-md-12" style="#{buscaMB.produtoSelecionado.idEmpresa.oauth == null and !buscaMB.produtoSelecionado.idEmpresa.ecommerce ? 'display: none' : ''}"> 
                                    <ul id="pagamentos-aceitos">
                                        <li><img src="#{facesContext.externalContext.request.contextPath}/resources/assets/ico/pagamentos/visa.png" alt="Visa" title="Visa"></img></li>
                                        <li><img src="#{facesContext.externalContext.request.contextPath}/resources/assets/ico/pagamentos/master.png" alt="Master Card" title="Master Card"></img></li>
                                        <li><img src="#{facesContext.externalContext.request.contextPath}/resources/assets/ico/pagamentos/amex.png" alt="Amex" title="American Express"></img></li>
                                        <li><img src="#{facesContext.externalContext.request.contextPath}/resources/assets/ico/pagamentos/diners.png" alt="Diners Club" title="Diners"></img></li>
                                        <li><img src="#{facesContext.externalContext.request.contextPath}/resources/assets/ico/pagamentos/electron.png" alt="Visa Electron" title="Visa"></img></li>
                                        <li><img src="#{facesContext.externalContext.request.contextPath}/resources/assets/ico/pagamentos/elo.png" alt="Elo" title="Elo"></img></li>
                                        <li><img src="#{facesContext.externalContext.request.contextPath}/resources/assets/ico/pagamentos/hiper.png" alt="Hiper" title="Hiper"></img></li>
                                        <li><img src="#{facesContext.externalContext.request.contextPath}/resources/assets/ico/pagamentos/hipercard.png" alt="Hipercard" title="Hipercard"></img></li>
                                        <li style="#{buscaMB.produtoSelecionado.idEmpresa.segmento == 'Delivery' ? 'display: none' : ''}"><img src="#{facesContext.externalContext.request.contextPath}/resources/assets/ico/pagamentos/boleto.png" alt="Boleto" title="Boleto Bancário"></img></li>
                                    </ul>
                                </div>
                                <h:form id="frmFrete" rendered="#{buscaMB.produtoSelecionado.idEmpresa.oauth != null and buscaMB.produtoSelecionado.idEmpresa.ecommerce}">
                                    <div id="frete-prazos" class="col-xs-6 col-sm-7 col-md-6">
                                        <div id="calculo-frete">
                                            <span>#{buscaMB.produtoSelecionado.idEmpresa.segmento != 'Delivery' ? "Frete e Prazo:" : "Custo de Entrega:"} </span>
                                            <p:inputText styleClass="input-frete" style="display: block" value="#{buscaMB.produtoSelecionado.idEmpresa.valorEntrega}"
                                                         rendered="false" readonly="true" >
                                                <f:convertNumber type="currency" />
                                            </p:inputText>
                                            <br/>
                                            <p:commandLink value="Consulte aqui!" style="color: #5CB85C !important;" onclick="PF('dlgTaxas').show();" rendered="#{buscaMB.produtoSelecionado.idEmpresa.segmento == 'Delivery'}" />
                                            <p:dialog widgetVar="dlgTaxas" modal="true" header="Taxas" width="50%" position="top center" >
                                                <p:dataTable value="#{entregaMB.listarEntregas(buscaMB.produtoSelecionado.idEmpresa)}" var="tax" >
                                                    <p:column headerText="Bairros"  >
                                                        <h:outputText value="#{tax.bairro}"  style="font-size: 12px; "  />
                                                    </p:column>
                                                    <p:column headerText="Taxa" width="25%">
                                                        <ux:outputMoney value="#{tax.custo}" style="text-align: center" />
                                                    </p:column>
                                                </p:dataTable>
                                            </p:dialog>
                                        </div>

                                        <h:panelGrid columns="5" cellpadding="5" rendered="#{buscaMB.produtoSelecionado.idEmpresa.segmento != 'Delivery'}">    
                                            <p:inputMask id="frete" mask="99999-999" styleClass="input-frete" value="#{buscaMB.cepConsultar}" /> 
                                            <p:commandButton id="btnCalcular" icon="confirmar" styleClass="btn btn-frete" action="#{buscaMB.consultarFrete()}" 
                                                             update="@form" />

                                            <p:ajaxStatus style="display:block; margin-bottom: 1em; height:24px;" >
                                                <f:facet name="start">
                                                    <p:graphicImage name="/assets/img/img.GIF" />
                                                </f:facet>
                                            </p:ajaxStatus>
                                        </h:panelGrid> 
                                        <h:panelGroup id="pnlEndereco" rendered="#{buscaMB.fretesDisponiveis.size() != 0}" >
                                            <h:outputText id="endereco" style="font-size: 0.7em; display: block;"
                                                          rendered="#{buscaMB.endereco.tipo_logradouro != null}"
                                                          value="#{buscaMB.endereco.tipo_logradouro} #{buscaMB.endereco.logradouro}, #{buscaMB.endereco.bairro}." />
                                            <h:outputText id="cidade" style="font-size: 0.7em;"
                                                          rendered="#{buscaMB.endereco.tipo_logradouro != null}"
                                                          value="#{buscaMB.endereco.cidade} - #{buscaMB.endereco.uf}" />
                                        </h:panelGroup>

                                    </div>
                                    <div id="resultado-frete" class="col-xs-12 col-sm-5 col-md-6">
                                        <p:dataTable id="dtlFrete" value="#{buscaMB.fretesDisponiveis}" emptyMessage="Não foi possível calcular o frete para essa região." 
                                                     var="frete" rendered="#{buscaMB.fretesDisponiveis.size() != 0 }" sortBy="#{frete.valor}" >
                                            <p:column headerText="tipo" width="25%" >
                                                <h:outputText styleClass="tabela" value="#{buscaMB.verificaTipoFrete(frete.codigo)}"/> 
                                            </p:column>
                                            <p:column headerText="tempo (até) " >
                                                <h:outputText value="#{frete.prazoEntrega} dias úteis"/>
                                            </p:column>
                                            <p:column headerText="valor">
                                                <h:outputText value="R$ #{frete.valor} ">
                                                    <f:convertNumber type="currency"/>
                                                </h:outputText> 
                                            </p:column>                                                    
                                        </p:dataTable>
                                    </div>
                                </h:form>
                                <div id="botoes" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sem-margem" style="#{buscaMB.produtoSelecionado.idEmpresa.oauth == null and !buscaMB.produtoSelecionado.idEmpresa.ecommerce ? 'display: none' : ''}">
                                    <div id="continuar-comprando" class="hidden-xs hidden-sm hidden-md col-lg-6 sem-margem-esquerda">
                                        <p:commandButton id="btnAddCarrinho" value="Adicionar a cesta e continuar comprando" action="#{carrinhoMB.addProdutoCarrinho(buscaMB.produtoSelecionado, buscaMB.quantidade)}"
                                                         update=":frmFrete:dtlFrete, :frmGrupoo" icon="add-cesta" 
                                                         styleClass="btn btn-grande btn-add" oncomplete="$('html, body').animate({scrollTop:0}, 'slow'); $('#qtdItensCarrinho').effect('highlight','slow'); $('#qtdItensCarrinho').effect('highlight','slow');" >
                                            <f:param name="redirecionar" value="N"/>
                                        </p:commandButton>
                                    </div>
                                    <div id="comprar" class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                        <p:commandButton value="Comprar" action="#{carrinhoMB.addProdutoCarrinho(buscaMB.produtoSelecionado, buscaMB.quantidade)}"
                                                         update=":frmFrete:dtlFrete, :frmGrupoo" icon="comprar" 
                                                         styleClass="btn btn-grande btn-comprar" >
                                            <f:param name="redirecionar" value="S"/>
                                        </p:commandButton>

                                        <h:panelGroup rendered="#{buscaMB.produtoSelecionado.idEmpresa.oauth == null and !buscaMB.produtoSelecionado.idEmpresa.ecommerce}">
                                            <div class="alert alert-info">
                                                <strong>Atenção!</strong> No momento a empresa não está habilitada a vender seus produtos.
                                            </div>
                                        </h:panelGroup>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="detalhes" class="col-xs-12 col-md-10">
                            <p:tabView dynamic="true" cache="true" styleClass="tabs-detalhes">
                                <p:tab title="Descrição" >                                    
                                    <h:outputText escape="false" value="#{buscaMB.produtoSelecionado.descricao}" />
                                </p:tab>
                                <p:tab title="Devolução" rendered="#{buscaMB.produtoSelecionado.idEmpresa.oauth != null and buscaMB.produtoSelecionado.idEmpresa.ecommerce}">
                                    <p class="devolucao">
                                        #{buscaMB.produtoSelecionado.idEmpresa.textoDevolucao}
                                    </p>
                                </p:tab>
                                <p:tab title="Contato" >

                                </p:tab>
                            </p:tabView>
                            <div id="tags" class="col-xs-12 col-md-12 sem-margem">
                                <h4>Tags</h4>
                                <ul>
                                    <ui:repeat value="#{buscaMB.retornaTags(buscaMB.produtoSelecionado.metaTag)}" var="st">
                                        <a href="#{facesContext.externalContext.request.contextPath}/@/patos-de-minas/produtos/#{buscaMB.retornaSlug(st)}" 
                                           title="Buscar por: #{st}"><li>#{st}</li></a>
                                    </ui:repeat>
                                </ul>
                            </div>
                            <div id="comentarios" class="col-xs-12 col-md-12 sem-margem" style="#{buscaMB.produtoSelecionado.idEmpresa.oauth == null and !buscaMB.produtoSelecionado.idEmpresa.ecommerce ? 'display: none' : ''}">
                                <div id="inserir-comentario" class="col-md-12 sem-margem">
                                    <p:messages id="mensage" closable="true" /> 
                                    <h:form id="frmComentario" rendered="#{controleSessaoMB.usuarioLogado.idCliente.idCliente  != null}">

                                        <p:inputTextarea id="txtArea" style="width: 100%" 
                                                         value="#{buscaMB.comentario.comentario}" required="true" requiredMessage="Digite primeiro seu comentário ou pergunta."
                                                         placeholder="Escreva sua pergunta ou faça um comentário!" 
                                                         styleClass="input text-area">
                                            <p:ajax event="blur" listener="#{configuracaoMB.verificarOfensa(buscaMB.comentario.comentario)}" update=":mensage, btnEnviar" />
                                        </p:inputTextarea>
                                        <div id="botao" class="col-xs-12 col-sm-12 col-md-12 col-lg-3 sem-margem">
                                            <div class="col-xs-12 sem-margem" >
                                                <p:commandButton id="btnEnviar" disabled="#{configuracaoMB.verificarOfensa(buscaMB.comentario.comentario)}"
                                                                 value="Enviar" 
                                                                 action="#{buscaMB.enviarComentario(controleSessaoMB.usuarioLogado.idCliente)}" 
                                                                 update=":mensage, @form, :frmPerguntas, :frmComentario:txtArea" styleClass="btn"/>
                                            </div>
                                        </div>           
                                    </h:form>
                                </div>

                                <div class="col-lg-12" style="padding: 0;">
                                    <h:panelGroup id="grp2" rendered="#{controleSessaoMB.usuarioLogado.idUsuario  == null}">
                                        <div class="alert alert-warning" role="alert">
                                            <strong >Você precisa estar logado para fazer um comentário! <a href="#{facesContext.externalContext.request.contextPath}/entrar" class="alert-link">Entrar</a></strong>
                                        </div>
                                    </h:panelGroup>
                                    <h:form id="frmPerguntas">
                                        <p:dataScroller value="#{buscaMB.produtoSelecionado.comentarioList}" 
                                                        var="coment" chunkSize="50" styleClass="perguntas" >
                                            <h:panelGroup rendered="#{coment.tipo == 'C'}">
                                                <div class="row">
                                                    <div id="item" >
                                                        <div class="pergunta">
                                                            <div class="col-xs-12 col-md-12 sem-margem">
                                                                <div class="col-xs-4 col-md-2 sem-margem usuario text-left" >
                                                                    <span>#{coment.idCliente.primeiroNome}</span>                                                                    
                                                                </div>
                                                                <div class="col-xs-12 col-md-12 sem-margem">
                                                                    <p class="texto">
                                                                        #{coment.comentario}
                                                                        <span><ux:outputDateTime value="#{coment.dtComentario}"/></span>
                                                                    </p>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <h:panelGroup rendered="#{coment.idComentarioReplica.idComentario != null}">
                                                            <div class="resposta">
                                                                <div class="col-xs-12 col-md-12 sem-margem">
                                                                    <div class="col-xs-12 col-md-12 sem-margem ">
                                                                        <p class="texto">
                                                                            #{coment.idComentarioReplica.comentario}
                                                                            <span title="Hora do envio da mensagem">
                                                                                <ux:outputDateTime value="#{coment.idComentarioReplica.dtComentario}"/>
                                                                            </span>
                                                                        </p>

                                                                    </div>
                                                                    <div class="col-xs-6 col-xs-push-6 col-md-4 col-md-push-8 sem-margem-direita usuario text-right" >
                                                                        <span>#{coment.idProduto.idEmpresa.nome}</span>                                                                        
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </h:panelGroup>

                                                    </div>  
                                                </div>
                                                <hr/>
                                            </h:panelGroup>
                                        </p:dataScroller>
                                    </h:form>
                                </div>
                            </div>
                        </div>
                        <div id="veja-tambem" class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-2 col-md-offset-0 col-lg-2">
                            <ui:repeat value="#{buscaMB.produtosVejaTambem}" var="prod" >
                                <div id="item" class="col-xs-12 col-sm-4  col-md-12">
                                    <div id="imagem">
                                        <a href="#{facesContext.externalContext.request.contextPath}/#{buscaMB.retornaSlug(prod.idEmpresa.idCidade.nome)}/produto/#{prod.slug != null ? prod.slug : 'sem_slug'}">
                                            <img src="#{facesContext.externalContext.request.contextPath}#{buscaMB.verificarImagem(prod.idProduto, prod.fotoPrincipal)}" id="#{prod.idProduto}"  class="img-responsive" />
                                        </a>
                                    </div>
                                    <div id="conteudo">
                                        <a href="#{facesContext.externalContext.request.contextPath}/#{buscaMB.retornaSlug(prod.idEmpresa.idCidade.nome)}/produto/#{prod.slug != null ? prod.slug : 'sem_slug'}" title="#{prod.nome}">
                                            <h3>#{prod.nome.length() >= 34 ? prod.nome.substring(0, 33) : prod.nome} #{prod.nome.length() >= 33 ? "..." : ""}</h3>
                                        </a>                                                    
                                        <a href="#{facesContext.externalContext.request.contextPath}/empresa/#{prod.idEmpresa.slug}" title="#{prod.idEmpresa.nome}">
                                            <h4>#{prod.idEmpresa.nome}</h4>
                                        </a>
                                        <h:outputText value="#{prod.comentarioList.size()} comentários" styleClass="font-size-10"/>
                                        <hr/>
                                        <ux:outputMoney styleClass="preco" value="#{prod.preco}" />
                                    </div>   
                                </div>
                            </ui:repeat>
                        </div>
                    </div>
                    <div class="row">

                    </div>
                </div>
            </section>            
        </ui:define>
    </ui:composition>

</html>

