<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <header id="topnav"  class="navbar">
        <div class="logo-area">
            <span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg">
                <a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar">
                    <span class="icon-bg">
                        <i class="ti ti-shift-left"></i>
                    </span>
                </a>
            </span>
            <a class="navbar-brand" href="#">
                <h:graphicImage name="admin-assets/img/noGlobo.png"/>
            </a>
        </div>
        <ul class="nav navbar-nav toolbar pull-right">
            <li class="dropdown toolbar-icon-bg">
                <a href="#" id="navbar-links-toggle" data-toggle="collapse" data-target="header>.navbar-collapse">
                    <span class="icon-bg">
                        <i class="ti ti-more"></i>
                    </span>
                </a>
            </li>
            <li>
                <div style="margin-top: 18px;">
                    <p:clock />
                </div>                
            </li>

            <li class="toolbar-icon-bg hidden-xs" id="trigger-fullscreen">
                <a href="#" class="toggle-fullscreen"><span class="icon-bg"><i class="ti ti-fullscreen"></i></span></a>
            </li>

            <li class="dropdown toolbar-icon-bg hidden-xs" style="display: #{controleSessaoMB.usuarioLogado.idPerfil.descricao == 'Empresa' ? 'block' : 'none'}">
                <a href="#" class="hasnotifications dropdown-toggle" data-toggle='dropdown'><span class="icon-bg"><i class="ti ti-email"></i></span><span
                        class="badge badge-deeporange">#{comentarioMB.comentariosSemResposta(controleSessaoMB.usuarioLogado.idEmpresa).size()}</span></a>
                <div class="dropdown-menu notifications arrow">
                    <div class="topnav-dropdown-header">
                        <span>Mensagens</span>
                    </div>
                    <div class="scroll-pane">
                        <ul class="media-list scroll-content">
                            <ui:repeat value="#{comentarioMB.comentariosSemResposta(controleSessaoMB.usuarioLogado.idEmpresa)}" var="mes">
                                <li class="media notification-message">
                                    <a href="#">
                                        <div class="media-body">
                                            <h4 class="notification-heading"><strong>#{mes.idCliente.primeiroNome}</strong> <span class="text-gray">‒ #{comentarioMB.subMensagem(mes.comentario)}</span></h4>
                                            <span class="notification-time">#{comentarioMB.calcularDiferencaPostagem(mes.dtComentario)}</span>
                                        </div>
                                    </a>
                                </li>
                            </ui:repeat>
                        </ul>
                    </div>
                </div>
            </li>

            <li class="dropdown toolbar-icon-bg" style="display: #{controleSessaoMB.usuarioLogado.idPerfil.descricao == 'Empresa' ? 'block' : 'none'}">
                <a href="#" class="hasnotifications dropdown-toggle" data-toggle='dropdown'>
                    <span class="icon-bg"><i class="ti ti-bell"></i></span>
                    <span class="badge badge-deeporange">#{vendasMB.listarVendasAguardandoEnvio().size()}</span>
                </a>
                <div class="dropdown-menu notifications arrow">
                    <div class="topnav-dropdown-header">
                        <span>Notificações</span>
                    </div>
                    <div class="scroll-pane">

                        <ul class="media-list scroll-content">
                            <ui:repeat value="#{vendasMB.listarVendasAguardandoEnvio()}" var="vv" >
                                <li class="media notification-info">
                                    <a href="#">
                                        <div class="media-left">
                                            <span class="notification-icon"><i class="ti ti-check"></i></span>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="notification-heading">Aguardando envio!</h4>
                                            <span class="notification-time">Pedido #{vv.idCompra}</span>
                                        </div>
                                    </a>
                                </li>
                            </ui:repeat>
                        </ul>
                    </div>
                </div>
            </li>

            <li class="dropdown toolbar-icon-bg">
                <a href="#" class="dropdown-toggle" data-toggle='dropdown'><span class="icon-bg"><i class="ti ti-user"></i></span></a>
                <ul class="dropdown-menu userinfo arrow">
                    <li><a href="#{facesContext.externalContext.request.contextPath}/minhaconta/"><i class="ti ti-user"></i><span>Perfil</span></a></li>
                    <!--                    <li><a href="#"><i class="ti ti-settings"></i><span>Settings</span></a></li>
                                        <li><a href="#"><i class="ti ti-help-alt"></i><span>Help</span></a></li>-->
                    <li class="divider"></li>
                    <!--                    <li><a href="#"><i class="ti ti-view-list-alt"></i><span>Statement</span></a></li>
                                        <li><a href="#"><i class="ti ti-stats-up"></i><span>Earnings</span></a></li>
                                        <li><a href="#"><i class="ti ti-money"></i><span>Withdrawals</span></a></li>
                                        <li class="divider"></li>-->
                    <li>
                        <h:form>
                            <h:commandLink action="#{controleSessaoMB.doLogout()}"  style="    display: block;
                                           padding: 3px 15px;
                                           clear: both;
                                           font-weight: normal;
                                           line-height: 2.5;
                                           color: #616161;
                                           white-space: nowrap;">
                                <i class="ti ti-shift-right" style="margin-right: 15px;"></i><span>Sair</span>
                            </h:commandLink>
                        </h:form>
                    </li>
                </ul>
            </li>

        </ul>
    </header>
</html>