<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core" lang="pt-br"
      xmlns:ux="http://java.sun.com/jsf/composite/ux">
    <h:head>
        <meta charset="UTF-8"/>
        <title><ui:insert name="title">noGlobo.com - Sua Busca Local</ui:insert></title>
        <link rel="canonical" href="http://noglobo.com/" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
        <ui:insert name="description">
            <meta name="description" content="A Sua Busca Local"/>
        </ui:insert>        
        <meta name="robots" content="index, follow"/>
        <ui:insert name="keywords">
            <meta name="keywords" content="noglobo, noglobo.com, patos de minas, sua busca local, telefone, preço, endereco, lojas, promocoes"/>
        </ui:insert>
        <meta name="author" content="UX Soluções em TI"/>
        <meta name="reply-to" content="noglobo@noglobo.com"/>
        <link href="#{facesContext.externalContext.request.contextPath}/favicon.ico" type="image/x-icon" rel="shortcut icon"/>
        <link href="#{facesContext.externalContext.request.contextPath}/favicon.ico" type="image/x-icon" rel="icon"/>
        <h:outputStylesheet name="assets/css/dataurl.css" />
        <h:outputStylesheet name="assets/bootstrap/css/bootstrap.min.css" />
        <h:outputStylesheet name="assets/css/estilo.css" />  
        <h:outputStylesheet name="assets/css/fonts.css" />
        <h:outputStylesheet name="assets/css/icones.css" />
        <h:outputStylesheet name="assets/css/owl-carousel/owl.carousel.css" />
        <h:outputStylesheet name="assets/css/owl-carousel/owl.theme.css" />
        <script>
            PrimeFaces.locales['pt'] = {  
                closeText: 'Fechar',  
                prevText: 'Anterior',  
                nextText: 'Próximo',  
                currentText: 'Começo',  
                monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],  
                monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun', 'Jul','Ago','Set','Out','Nov','Dez'],  
                dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],  
                dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb'],  
                dayNamesMin: ['D','S','T','Q','Q','S','S'],  
                weekHeader: 'Semana',  
                firstDay: 1,  
                isRTL: false,  
                showMonthAfterYear: false,  
                yearSuffix: '',  
                timeOnlyTitle: 'Só Horas',  
                timeText: 'Tempo',  
                hourText: 'Hora',  
                minuteText: 'Minuto',  
                secondText: 'Segundo',  
                currentText: 'Data Atual',  
                ampm: false,  
                month: 'Mês',  
                week: 'Semana',  
                day: 'Dia',  
                allDayText : 'Todo Dia'  
            };  
        </script>
        <script>
            function imageExists(image_url){
                var http = new XMLHttpRequest();
                http.open('HEAD', image_url, false);
                http.send();
                return http.status != 404;
            }
        </script>
    </h:head>
    <h:body id="geral">
        <f:metadata>
            <f:event type="preRenderView" listener="#{controleSessaoMB.logarUsuarioOauth()}"/>
        </f:metadata>
        <section id="cabecalho-t">
            <ui:insert name="top">
                <div class="container">
                    <nav id="cabecalho-home">
                        <div id="barra-navegacao" >
                            <div id="logo" class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                                <center>
                                    <a href="#{facesContext.externalContext.request.contextPath}">
                                        <h:graphicImage name="assets/img/logo-menor.png" alt="noGlobo.com" class="img-responsive" title="noGlobo.com" />
                                    </a>
                                </center>
                            </div>
                            <div id="barra-busca" class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-5 col-lg-offset-0">
                                <h:form id="frmBarraPesq">
                                    <div class="input-group">
                                        <p:autoComplete id="iptPesq" value="#{buscaMB.busca}" styleClass="busca"  style="width: 100% !important;" minQueryLength="2" maxResults="10"
                                                        completeMethod="#{buscaMB.autoCompleteBusca}">
                                            <f:param id="q" name="q" value="#{buscaMB.busca}" />
                                            <f:param id="qO" name="queryOriginal" value="#{buscaMB.busca}" />
                                            <p:ajax event="itemSelect" update="btnBusca" listener="#{buscaMB.direcionar()}" />
                                        </p:autoComplete>    
                                        <span class="input-group-btn">
                                            <p:commandButton id="btnBusca" icon="pesquisar" type="button"
                                                             onclick="if(verificarCampo()){location.href='#{facesContext.externalContext.request.contextPath}/@/#{buscaMB.cidade == null ? 'patos-de-minas' : buscaMB.cidade}/#{buscaMB.tipo == null ? 'produtos' : buscaMB.tipo}/#{buscaMB.parametro}'}" 
                                                             styleClass="btn btn-busca" />
                                        </span>
                                    </div>
                                </h:form>

                            </div>
                            <div id="atalhos" class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-0">     
                                <h:form id="frmGrupoo">
                                    <ul>
                                        <li>                        
                                            <a title="Promoções" id="btnPromocoes" href="#{facesContext.externalContext.request.contextPath}/promocoes" class="link-atalhos">Promoções</a>
                                        </li>
                                        <li>
                                            <h:panelGroup id="grpCarrinho">
                                                <a href="#{facesContext.externalContext.request.contextPath}/Carrinho" class="link-atalhos"> 
                                                    <h:graphicImage name="assets/ico/ecommerce/cesta.png" /> 
                                                    <span id="qtdItensCarrinho" class="badge verde" style="margin-left: -15px;">#{carrinhoMB.carrinho.size()}</span>
                                                </a>
                                            </h:panelGroup>
                                        </li>

                                        <li>
                                            <h:panelGroup rendered="#{controleSessaoMB.usuarioLogado.idUsuario==null}">
                                                <a title="Usuário" id="btnLogin" href="#{facesContext.externalContext.request.contextPath}/entrar" class="link-atalhos" style="border-right: none !important;">
                                                    Entrar
                                                </a>
                                            </h:panelGroup>
                                            <h:panelGroup rendered="#{controleSessaoMB.usuarioLogado.idUsuario!=null}">
                                                <a href="#" class="dropdown dropdown-toggle link-atalhos" data-toggle="dropdown" role="button" aria-expanded="false" style="border-right: none !important;"> 
                                                    <span>Olá #{controleSessaoMB.usuarioLogado.idCliente.idCliente != null ? controleSessaoMB.usuarioLogado.idCliente.primeiroNome : controleSessaoMB.usuarioLogado.idEmpresa.nome != null ? controleSessaoMB.usuarioLogado.idEmpresa.nome : controleSessaoMB.usuarioLogado.email} <strong class="caret"></strong></span>
                                                </a>
                                                <ul class="dropdown-menu dropdown-login" role="menu">
                                                    <li>
                                                        <a href="#{facesContext.externalContext.request.contextPath}/#{controleSessaoMB.minhaConta()}">Minha Conta</a>
                                                    </li>
                                                    <li>
                                                        <a href="#{facesContext.externalContext.request.contextPath}/alterarsenha">Alterar Senha</a>
                                                    </li>
                                                    <li>
                                                        <h:commandLink action="#{controleSessaoMB.doLogout()}">
                                                           <span>Sair</span>
                                                        </h:commandLink>
                                                    </li>
                                                </ul>
                                            </h:panelGroup>
                                        </li>
                                    </ul>
                                </h:form>
                            </div>
                        </div>
                    </nav>
                </div>
            </ui:insert>
        </section>
        <section id="conteudo-t">
            <ui:insert name="content">


            </ui:insert>
        </section>

        <section id="rodape-t">
            <ui:insert name="bottom">
                <footer id="rodape">
                    <div class="row">
                        <div class="container">
                            <div class="col-md-12">
                                <div id="termos" class="col-xs-12 col-sm-6 col-md-4 col-lg-4 sem-margem-esquerda">
                                    <h:panelGroup rendered="#{buscaMB.produtoSelecionado.idProduto == null}">
                                        <h3>Termos de Uso</h3>
                                        <p id="termos-uso">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                        </p>
                                    </h:panelGroup>
                                    <h:panelGroup rendered="#{buscaMB.produtoSelecionado.idProduto != null}">
                                        <h3>Sobre esta empresa</h3>
                                        <div id="informacoes">
                                            <span id="razao-social"><a href="#{facesContext.externalContext.request.contextPath}/empresa/#{buscaMB.produtoSelecionado.idEmpresa.slug}">#{buscaMB.produtoSelecionado.idEmpresa.nome}</a> - CNPJ: #{buscaMB.produtoSelecionado.idEmpresa.cnpj}</span>
                                            <span id="endereco">#{buscaMB.retornaEndereco(buscaMB.produtoSelecionado.idEmpresa)}</span>
                                            <span id="email">#{buscaMB.produtoSelecionado.idEmpresa.email}</span>
                                        </div>
                                    </h:panelGroup>
                                </div>
                                <div id="formas-pagamento" class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
                                    <h3>Formas de Pagamento</h3>
                                    <div class="col-xs-12 sem-margem">
                                        <ul id="pagamentos">
                                            <li><img src="#{facesContext.externalContext.request.contextPath}/resources/assets/ico/pagamentos/visa.png" alt="Visa" title="Visa"></img></li>
                                            <li><img src="#{facesContext.externalContext.request.contextPath}/resources/assets/ico/pagamentos/master.png" alt="Master Card" title="Master Card"></img></li>
                                            <li><img src="#{facesContext.externalContext.request.contextPath}/resources/assets/ico/pagamentos/amex.png" alt="Amex" title="American Express"></img></li>
                                            <li><img src="#{facesContext.externalContext.request.contextPath}/resources/assets/ico/pagamentos/diners.png" alt="Diners Club" title="Diners"></img></li>
                                            <li><img src="#{facesContext.externalContext.request.contextPath}/resources/assets/ico/pagamentos/electron.png" alt="Visa Electron" title="Visa Electron"></img></li>
                                            <li><img src="#{facesContext.externalContext.request.contextPath}/resources/assets/ico/pagamentos/elo.png" alt="Elo" title="Elo"></img></li>
                                            <li><img src="#{facesContext.externalContext.request.contextPath}/resources/assets/ico/pagamentos/hiper.png" alt="Hiper" title="Hiper"></img></li>
                                            <li><img src="#{facesContext.externalContext.request.contextPath}/resources/assets/ico/pagamentos/hipercard.png" alt="Hipercard" title="Hipercard"></img></li>
                                            <li style="#{buscaMB.produtoSelecionado.idEmpresa.segmento == 'Delivery' ? 'display: none' : ''}"><img src="#{facesContext.externalContext.request.contextPath}/resources/assets/ico/pagamentos/boleto.png" alt="Boleto Bancário" title="Boleto Bancário"></img></li>
                                        </ul>
                                    </div>
                                    <h4>Parcelamos em até 12x nos cartões de crédito.</h4>
                                </div>
                                <div id="sociais" class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-3 col-md-offset-0 sem-margem col-lg-4 col-lg-offset-0">
                                    <h3 class="hidden-xs">Redes sociais</h3>
                                    <div id="icones" class="col-xs-12 col-md-12">
                                        <p:commandLink title="Facebook" id="btnFacebook" target="_blank" action="#{controleSessaoMB.configuracao.facebook}">
                                            <h:graphicImage name="assets/ico/social/facebook.png" />
                                        </p:commandLink>
                                        <p:commandLink title="Google+" id="btnGooglePlus" target="_blank" action="#{controleSessaoMB.configuracao.googlePlus}">
                                            <h:graphicImage name="assets/ico/social/googleplus.png" />
                                        </p:commandLink>
                                        <p:commandLink title="Instagram" id="btnInstagram" target="_blank" action="#{controleSessaoMB.configuracao.instagram}">
                                            <h:graphicImage name="assets/ico/social/instagram.png" />
                                        </p:commandLink>
                                    </div> 
                                    <h4>Siga-nos e receba novidades.</h4>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div id="links" class="col-xs-12 col-md-12">
                            <div class="container">
                                <div class="col-md-12">
                                    <hr/>
                                </div>
                                <div class="col-xs-12 col-md-3">
                                    <a href="#{facesContext.externalContext.request.contextPath}/QuemSomos">
                                        <h5>Quem somos</h5>
                                    </a>
                                </div>
                                <div class="col-xs-12 col-md-3">
                                    <a href="#{facesContext.externalContext.request.contextPath}/Privacidade">
                                        <h5>Privacidade</h5>
                                    </a>
                                </div>
                                <div class="col-xs-12 col-md-3">
                                    <a href="#{facesContext.externalContext.request.contextPath}/Termos">
                                        <h5>Termos de Uso</h5>
                                    </a>
                                </div>
                                <div class="col-xs-12 col-md-3">
                                    <a href="#{facesContext.externalContext.request.contextPath}/Contato">
                                        <h5>Contato</h5>
                                    </a>
                                </div>
                            </div>   
                        </div>
                    </div>
                </footer>
            </ui:insert>
        </section>
        <h:outputScript name="assets/bootstrap/js/bootstrap.min.js" />
        <h:outputScript name="assets/js/pace.min.js"/>
        <h:outputScript name="assets/js/app.js"/>
        <h:outputScript name="assets/js/jquery.nicescroll.min.js"/>
        <h:outputScript name="assets/js/owl.carousel.js"/>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-59256355-1', 'auto');
            ga('send', 'pageview');
        </script>

    </h:body>
</html>
