<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>noGlobo - Administrativo</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
         <link rel="canonical" href="http://noglobo.com/" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
        <meta name="description" content="A Sua Busca Local"/>
        <meta name="robots" content="index, follow"/>
        <meta name="keywords" content="noglobo, noglobo.com, patos de minas, sua busca local, telefone, preço, endereco, lojas, promocoes"/>        
        <meta name="author" content="UX Soluções em TI"/>
        <meta name="reply-to" content="noglobo@noglobo.com"/>
        <link href="#{facesContext.externalContext.request.contextPath}/favicon.ico" type="image/x-icon" rel="shortcut icon"/>
        <link href="#{facesContext.externalContext.request.contextPath}/favicon.ico" type="image/x-icon" rel="icon"/>


        <!--<link type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600' rel='stylesheet'/>-->
        <h:outputStylesheet name="admin-assets/fonts/font-awesome/css/font-awesome.min.css" />
        <h:outputStylesheet name="admin-assets/fonts/themify-icons/themify-icons.css" />
        <h:outputStylesheet name="admin-assets/fonts/weather-icons/css/weather-icons.min.css" />
        <h:outputStylesheet name="admin-assets/css/styles-alternative.css" />
        <h:outputStylesheet name="admin-assets/css/styles.css" />
        <h:outputStylesheet name="admin-assets/plugins/codeprettifier/prettify.css" />
        <h:outputStylesheet name="admin-assets/plugins/iCheck/skins/minimal/blue.css" />
        <h:outputStylesheet name="admin-assets/css/styles-blessed3.css" />
        <h:outputStylesheet name="admin-assets/css/styles-blessed2.css" />
        <h:outputStylesheet name="admin-assets/css/styles-blessed1.css" />

        <h:outputStylesheet name="admin-assets/css/styles-alternative-blessed3.css" />
        <h:outputStylesheet name="admin-assets/css/styles-alternative-blessed2.css" />
        <h:outputStylesheet name="admin-assets/css/styles-alternative-blessed1.css" />
        <h:outputStylesheet name="admin-assets/css/custom.css" />
        <h:outputStylesheet name="admin-assets/css/icons.css" />


        <!--[if lt IE 10]>
            <h:outputScript name="admin-assets/js/media.match.min.js" />
            <h:outputScript name="admin-assets/js/respond.min.js" />
            <h:outputScript name="admin-assets/js/placeholder.min.js" />
        <![endif]-->

        <h:outputScript library="primefaces" name="jquery/jquery.js" target="head" />
        <!--<h:outputScript name="admin-assets/js/jquery-1.10.2.min.js" />-->

        <!--<h:outputScript name="admin-assets/js/jqueryui-1.10.3.min.js" />-->
        <h:outputScript name="admin-assets/js/bootstrap.min.js" />
        <h:outputScript name="admin-assets/js/enquire.min.js" />

        <h:outputScript name="admin-assets/plugins/velocityjs/velocity.min.js" />
        <h:outputScript name="admin-assets/plugins/velocityjs/velocity.ui.min.js" />

        <h:outputScript name="admin-assets/plugins/wijets/wijets.js" />

        <h:outputScript name="admin-assets/plugins/codeprettifier/prettify.js" />
        <h:outputScript name="admin-assets/plugins/bootstrap-switch/bootstrap-switch.js" />

        <h:outputScript name="admin-assets/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js" />

        <h:outputScript name="admin-assets/plugins/iCheck/icheck.min.js" />

        <h:outputScript name="admin-assets/plugins/nanoScroller/js/jquery.nanoscroller.min.js" />
        <h:outputScript name="admin-assets/plugins/jquery-mousewheel/jquery.mousewheel.min.js" />

        <h:outputScript name="admin-assets/plugins/sparklines/jquery.sparklines.min.js" />

        <h:outputScript name="admin-assets/js/application.js" />
        <h:outputScript name="admin-assets/demo/demo.js" />
        <h:outputScript name="admin-assets/demo/demo-switcher.js" />
        <h:outputScript name="admin-assets/js/custom.js" />
        <h:outputScript name="admin-assets/js/jquery.maskMoney.js" />

        <script>
            PrimeFaces.locales['pt'] = {  
                closeText: 'Fechar',  
                prevText: 'Anterior',  
                nextText: 'Próximo',  
                currentText: 'Começo',  
                monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],  
                monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun', 'Jul','Ago','Set','Out','Nov','Dez'],  
                dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],  
                dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb'],  
                dayNamesMin: ['D','S','T','Q','Q','S','S'],  
                weekHeader: 'Semana',  
                firstDay: 1,  
                isRTL: false,  
                showMonthAfterYear: false,  
                yearSuffix: '',  
                timeOnlyTitle: 'Só Horas',  
                timeText: 'Tempo',  
                hourText: 'Hora',  
                minuteText: 'Minuto',  
                secondText: 'Segundo',  
                currentText: 'Data Atual',  
                ampm: false,  
                month: 'Mês',  
                week: 'Semana',  
                day: 'Dia',  
                allDayText : 'Todo Dia'  
            };  
            $(function(){
                
                var rx = /INPUT|SELECT|TEXTAREA/i;

                $(document).bind("keydown keypress", function(e){
                    if( e.which == 8 ){ // 8 == backspace
                        if(!rx.test(e.target.tagName) || e.target.disabled || e.target.readOnly ){
                            e.preventDefault();
                        }
                    }
                });
            });
            
            $(function() {
              $(".money").maskMoney({prefix:'R$ ', allowNegative: true, thousands:'.', decimal:',', affixesStay: false});
            });
        </script>

    </h:head>

    <h:body onload="initial('theme.css', 'css')" >
        <ui:include src="header.xhtml" />
        <ui:param  name="usuarioLogado" value="#{controleSessaoMB.usuarioLogado.email}"  />
        <div id="wrapper">
            <div id="layout-static">
                <ui:include src="sidebar.xhtml" />
                <div class="static-content-wrapper">
                    <div class="static-content">
                        <div class="page-content">
                            <ol class="breadcrumb">
                                <li><a href="#{facesContext.externalContext.request.contextPath}/Restrito/">Inicio</a></li>
                                <ui:insert name="breadCrump">
                                    <li class="active"><a href="">#{sessaoMB.applicationUri()}</a></li>
                                </ui:insert>
                            </ol>
                            <style>
                                .banner-float {
                                    position: absolute;
                                    left: 75%;
                                    top: 5px;
                                }
                            </style>
                            <div class="banner-float">
                                <p:ajaxStatus  >
                                    <f:facet name="start">
                                        <h:graphicImage name="admin-assets/icons/loading.GIF" />
                                    </f:facet>
                                </p:ajaxStatus>
                            </div>
                            <div class="container-fluid">

                                <div class="row">
                                    <div class="col-md-12">
                                        <ui:insert name="conteudo">

                                        </ui:insert>
                                    </div>
                                </div>

                            </div> 
                        </div> 
                    </div>
                    <footer>
                        <div class="clearfix">
                            <ul class="list-unstyled list-inline pull-left">
                                <li><h6 style="margin: 0;">&copy; 2016 UX Soluções em TI</h6></li>
                            </ul>
                            <button class="pull-right btn btn-link btn-xs hidden-print" id="back-to-top"><i class="ti ti-arrow-up"></i></button>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </h:body>

</html>
