<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ux="http://java.sun.com/jsf/composite/ux">

    <body>

        <ui:composition template="./../../WEB-INF/Template-ADMIN.xhtml">


            <ui:define name="conteudo">
                <p:panel header="Controle de Usuários" >
                    <h:form id="frmPrincipal">
                        <div class="row">
                            <div class="col-lg-12">
                                <div style="float: left">
                                     <p:commandButton value="Salvar" icon="Salvar"  styleClass="btn btn-success"  update="@form" action="#{usuarioMB.salvar()}" >
                                        <f:param name="mode" value="true"  />
                                    </p:commandButton>
                                    <p:commandButton value="Novo Usuário" icon="Novo" styleClass="btn btn-primary" update="@form" action="#{usuarioMB.novo()}" >
                                        <f:param name="mode" value="false"  />
                                    </p:commandButton>
                                   
                                </div>
                                <div style="float: right">
                                    <p:commandButton value="Consultar" icon="Consultar" styleClass="btn btn-info" oncomplete="PF('dlgConsultar').show();" update=":frmConsultarUsuarios" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <hr/>
                                <p:messages id="msgPag" closable="true" />
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
                                <p:outputLabel for="email" value="Email"/>
                                <p:inputText id="email" value="#{usuarioMB.usuario.email}"  required="#{param['mode']==null ? 'true' : param['mode']}" requiredMessage="Informe o email!" >
                                    <p:ajax update="msgPag" event="change" listener="#{usuarioMB.verificarEmailExiste()}" />
                                </p:inputText>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                <p:outputLabel for="senha" value="Senha"/>
                                <p:inputText id="senha" value="#{usuarioMB.usuario.senha}" type="password"  required="#{param['mode']==null ? 'true' : param['mode']}" requiredMessage="Informe a senha!" />
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                                <p:outputLabel for="perfil" value="Perfil"/>
                                <p:selectOneMenu id="perfil" value="#{usuarioMB.usuario.idPerfil}" converter="Converter"   required="#{param['mode']==null ? 'true' : param['mode']}" requiredMessage="Informe o perfil!">
                                    <f:selectItem itemLabel="" itemValue="" />
                                    <f:selectItems value="#{usuarioMB.listaPerfis()}" var="per"
                                                   itemLabel="#{per.descricao}" itemValue="#{per}"  />
                                </p:selectOneMenu>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                                <p:outputLabel for="empresa" value="Empresa"/>
                                <p:selectOneMenu id="empresa" value="#{usuarioMB.usuario.idEmpresa}" filter="true" filterMatchMode="contains" converter="Converter" >
                                    <f:selectItem itemLabel="" itemValue="" />
                                    <f:selectItems value="#{empresaMB.listarEmpresas()}" var="emp"
                                                   itemLabel="#{emp.nome}" itemValue="#{emp}"  />
                                </p:selectOneMenu>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                                <p:outputLabel for="inativo" value="Inativo"/><br/>
                                <p:selectBooleanCheckbox id="inativo" value="#{usuarioMB.usuario.inativo}"  />
                            </div>
                            <div class="col-xs-12">
                                <hr/>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <p:outputLabel  value="Imagem" />
                                <p:fileUpload  fileUploadListener="#{usuarioMB.upload}" mode="advanced"
                                               update="image" auto="true" 
                                               allowTypes="/(\.|\/)(gif|jpe?g|png)$/" sizeLimit="100000" />

                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                <h:graphicImage id="image" value="/upload/Usuario/#{usuarioMB.verificaIdImage()}/#{usuarioMB.usuario.imagem}" style="display: #{usuarioMB.usuario.imagem != null ? 'block' : 'none'}"  alt="sem imagem" width="150" height="150"/>
                            </div>
                        </div>
                    </h:form>
                    <p:dialog widgetVar="dlgConsultar" header="Consulta de Usuários" modal="true" resizable="false" width="80%">
                        <h:form id="frmConsultarUsuarios">
                            <p:dataTable value="#{usuarioMB.listarUsuarios()}" var="usu" paginator="true" paginatorPosition="bottom" paginatorAlwaysVisible="false" rows="8" >
                                <p:column width="8%" filterBy="#{usu.idUsuario}" headerText="ID">
                                    <h:outputText value="#{usu.idUsuario}"  />
                                </p:column>
                                <p:column width="17%" filterBy="#{usu.email}" headerText="Email">
                                    <h:outputText value="#{usu.email}"  />
                                </p:column>
                                <p:column width="10%" filterBy="#{usu.idPerfil.descricao}" headerText="Perfil">
                                    <h:outputText value="#{usu.idPerfil.descricao}"  />
                                </p:column>
                                <p:column width="5%"  >
                                    <f:facet name="header">
                                        <h:outputText value="Inativo" styleClass="tete" /> 
                                    </f:facet>
                                    <h:outputText value="#{usu.inativo == false ? 'Não' : 'Sim'}"  />
                                </p:column>
                                <p:column width="8%" filterBy="#{usu.idEmpresa.nome != null ? usu.idEmpresa.nome : usu.idCliente.primeiroNome}" headerText="Emp/Clie">
                                    <h:outputText value="#{usu.idEmpresa.nome != null ? usu.idEmpresa.nome : usu.idCliente.primeiroNome}"  />
                                </p:column>
                                <p:column width="5%">
                                    <ux:actionButtons renderedInfo="false" renderedRemove="false" actionEdit="#{usuarioMB.setUsuario(usu)}" oncompleteEdit="PF('dlgConsultar').hide();" updateEdit=":frmPrincipal" />
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </p:dialog>

                </p:panel>
            </ui:define>

        </ui:composition>

    </body>
</html>
