<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="actionInfo"   method-signature="void method(javax.faces.event.ActionEvent)"  />
        <cc:attribute name="updateInfo"    />
        <cc:attribute name="oncompleteInfo"     />
        <cc:attribute name="renderedInfo" type="java.lang.Boolean"   default="true" />

        <cc:attribute name="actionEdit" method-signature="void method(javax.faces.event.ActionEvent)"  />
        <cc:attribute name="updateEdit" />
        <cc:attribute name="oncompleteEdit" />
        <cc:attribute name="renderedEdit" type="java.lang.Boolean"   default="true" />

        <cc:attribute name="actionRemove" method-signature="void method(javax.faces.event.ActionEvent)" />
        <cc:attribute name="updateRemove" />
        <cc:attribute name="oncompleteRemove" />
        <cc:attribute name="renderedRemove" type="java.lang.Boolean"  default="true"   />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:commandButton  icon="Info"  title="Informativo" rendered="#{cc.attrs.renderedInfo}" actionListener="#{cc.attrs.actionInfo}" update="#{cc.attrs.updateInfo}" oncomplete="#{cc.attrs.oncompleteInfo}" styleClass="btn btn-info btn-sm" />
        <p:commandButton  icon="Editar"  title="Editar" rendered="#{cc.attrs.renderedEdit}" actionListener="#{cc.attrs.actionEdit}" update="#{cc.attrs.updateEdit}" oncomplete="#{cc.attrs.oncompleteEdit}" styleClass="btn btn-success btn-sm" >
            <f:param name="mode" value="false"  />
        </p:commandButton>
        <p:commandButton  icon="Excluir"  title="Excluir" rendered="#{cc.attrs.renderedRemove}" actionListener="#{cc.attrs.actionRemove}" update="#{cc.attrs.updateRemove}" oncomplete="#{cc.attrs.oncompleteRemove}" styleClass="btn btn-warning btn-sm" />
    </cc:implementation>
</html>