<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="widgetVar"/>
        <cc:attribute name="idForm"/>
        <cc:attribute name="mensagem"/>
        <cc:attribute name="actionRemove" method-signature="void method(javax.faces.event.ActionEvent)"/>
        <cc:attribute name="updateRemove"/>
        <cc:attribute name="disabledRemove"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:dialog  widgetVar="#{cc.attrs.widgetVar}" header="Confirmação de Exclusão" modal="true" closeOnEscape="true" closable="true" resizable="false">
            <h:form id="frmConfirm">
                <h:panelGrid columns="2">
                    <h:outputText value="Você confirma a exclusão do registro #{cc.attrs.mensagem} " />
                </h:panelGrid>
                <hr/>
                <center>
                    <h:panelGrid columns="2">
                        <p:commandButton value="Sim" icon="confirmar" styleClass="btn btn-success" 
                                         action="#{cc.attrs.actionRemove}" update="#{cc.attrs.updateRemove}" 
                                         oncomplete="PF('#{cc.attrs.widgetVar}').hide()" disabled="#{cc.attrs.disabledRemove}"/>
                        <p:commandButton value="Cancelar"  icon="Excluir" styleClass="btn btn-danger"  oncomplete="PF('#{cc.attrs.widgetVar}').hide()"  />
                    </h:panelGrid>
                </center>
            </h:form>
        </p:dialog>
    </cc:implementation>
</html>