<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="valueInput" />
        <cc:attribute name="placehold" />
        <cc:attribute name="valueButton" />
        <cc:attribute name="action" method-signature="void method(javax.faces.event.ActionEvent)" />
        <cc:attribute name="icon" />
        <cc:attribute name="styleClass" />
        <cc:attribute name="update" />
        <cc:attribute name="oncomplete" />
        <cc:attribute name="idinput" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <style>
            .col1{
                width: 90%;
            }
            .col2{
                width: 10%;
            }
        </style>
        <h:panelGrid columns="2" columnClasses="col1,col2">
            <p:inputText value="#{cc.attrs.valueInput}"  id="#{cc.attrs.idinput}" placeholder="#{cc.attrs.placehold}" style="border-bottom-right-radius: 0px!important; border-top-right-radius: 0px !important;"  />
            <p:commandButton value="#{cc.attrs.valueButton}" action="#{cc.attrs.action}" icon="#{cc.attrs.icon}" styleClass="#{cc.attrs.styleClass}" update="#{cc.attrs.update}" style="height: 34px;"  oncomplete="#{cc.attrs.oncomplete}"/>
        </h:panelGrid>
    </cc:implementation>
</html>