<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <!-- INTERFACE -->
    <cc:interface>
       <cc:attribute name="label" />
        <cc:attribute name="href" />
        <cc:attribute name="valueHref" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
       <h:panelGroup rendered="#{cc.attrs.rendered}">
            <style>
                .lab{
                    font-size: 13px;
                    font-weight: 500;
                    margin-bottom: 0;
                    margin-top: 5px;
                    font-family: 'Titillium Web',Helvetica,Arial,sans-serif;
                }
                .val{
                    color: #999999;
                    font-weight: 600;
                }

            </style>

            <span id="#{cc.attrs.id}">
                <span class="lab" >#{cc.attrs.label}</span>  <a class="val" href="#{cc.attrs.value}">#{cc.attrs.valueHref}</a>
            </span>
        </h:panelGroup>
    </cc:implementation>
</html>