<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="value" />
        <cc:attribute name="styleClass" />
        <cc:attribute name="style" />
        <cc:attribute name="id" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:outputText id="#{cc.attrs.id}" value="#{cc.attrs.value}"  styleClass="#{cc.attrs.styleClass}" style="#{cc.attrs.style}">
            <f:convertNumber type="currency" />
        </h:outputText>
    </cc:implementation>
</html>